﻿@using EduErp.Mvc.Utilities
@using EduErp.BO
@model EduErp.Web.Models.SessionVm

<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update Session </span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Session", null, FormMethod.Post, new {data_validate = "parsley", @autocomplete = "off", @id = "editsession"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div style="padding-top: 5px">
                        <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
                        </p>
                    </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="form-group col-md-12">
                                @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(u => u.Name, new {@id="Name",@class = "form-control", maxlength = "50", data_parsley_required = "true", data_parsley_error_message = "Please enter session name"})
                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("From Date")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(u => u.FromDate,"{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy", data_parsley_required = "true", data_parsley_error_message = "Please enter From Date"})
                            </div>
                            <div class="form-group col-md-6">
                                @Html.Label("From To")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(u => u.ToDate,"{0:dd-MMM-yyyy}" ,new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy", data_parsley_required = "true", data_parsley_error_message = "Please enter To Date"})
                            </div>
                            @if (SessionItems.IsSuperAdmin)
                            {
                                <div class="form-group col-md-12">
                                     @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                                    @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), new {@class = "form-control chosen-select", data_parsley_required = "true", data_parsley_error_message = "Please enter To Date"})
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-12">
                                     @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(m => Model.ListOfSchools.FirstOrDefault(a => a.Value == SessionItems.SchoolId.ToString()).Text, new {@class = "form-control", @readonly = "readonly", data_parsley_required = "true", data_parsley_error_message = "Please enter school"})
                                    @Html.HiddenFor(m => m.SchoolId)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddSession" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" validateForm(); ">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({
            search_contains: true
        });
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        //$(".datepicker-input").val('');
        //$("#Name").blur(function () {
        //    debugger;
        //    var res = is_int($("#Name").val());
        //    if (res) {
        //        return true;
        //    } else {
        //        toastr.error("Please enter only integer");
        //        return false;
        //    }
        //});
        //$("#Name").blur(function () {
        //    debugger;
        //    if ($("#Name").val() != "") {
        //        var res = is_int($("#Name").val());
        //        if (res) {
        //            return true;
        //        } else {
        //            toastr.error("Please enter only integer");
        //            return false;
        //        }
        //    }
        //});
    });

    function validateForm() {
        $('#editsession').parsley().validate();
        if ($('#editsession').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Session")',
                data: $("#editsession").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Session")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
