﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<SessionMaster>
@{
    ViewBag.Title = PageTitle.Create("Session");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}
<header class="panel-heading font-bold b-light">
    Sessions
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Session) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
    {
        <a href="@Url.Action("Add", "Session")" class="btn-sm btn-primary pull-right" ajax-modal="ajaxModal"><i class="fa fa-plus"></i>&nbsp;Add Session</a>
    }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped" title="Sessions" exportcolumn="0,1,2,3,4" visiblecolumn="0,1,2,3,4,5,6" lastunsortcount="2">
                        <thead class="bg-primary">
                            <tr class="active text-white">
                                <th class="text-center" title="Name">Name
                                </th>
                                <th class="text-center" title="From Date">From Date
                                </th>
                                <th class="text-center" title="To Date">To Date
                                </th>
                                <th class="text-center" title="Created On">Created On
                                </th>
                                <th class="text-center" title="Status">Status
                                </th>
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Session) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                    <th class="text-center" title="Action">
                                        Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td class="text-center">
                                        @item.Name
                                    </td>
                                    <td class="text-center">
                                        @item.FromDate.ToFormattedDate()
                                    </td>
                                    <td class="text-center">
                                        @item.ToDate.ToFormattedDate()
                                    </td>
                                    <td class="text-center">
                                        @item.CreatedOn.ToFormattedDate()
                                    </td>
                                    <td class="text-center">
                                        <span class="hidden">@item.StatusId</span>
                                        <div id="btn_@item.Id">
                                            <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active " : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                    id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.StatusId == (int)UserStatus.Active ? "Deactivate Session" : "Activate Session ?")', '@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to Deactivate session ?" : "Are you sure you want to Activate session ?")', '@item.Id', '@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                                <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </div>
                                    </td>

                                    @*<td class="text-center">
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Session) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                         {
                                             <a href="@Url.Action("Edit", "Session", new {@id = item.Id})" id="btnModalOpen" title="Edit" data-placement="top" data-container="body" ajax-modal="ajaxModal">
                                                 <i class="fa fa-edit icon"></i>&nbsp;Edit
                                             </a>
                                         }
                                    </td>
                                    <td class="text-center">
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Session) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                         {
                                             <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int) UserStatus.Deleted)') ">
                                                 <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                             </a>
                                         }
                                    </td>*@
                                    <td class="text-center">
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Session) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                         {
                                             <a href="@Url.Action("Edit", "Session", new {@id = item.Id})" id="btnModalOpen" title="Edit" data-placement="top" data-container="body" ajax-modal="ajaxModal">
                                                 <i class="fa fa-edit icon"></i>
                                             </a>
                                             
                                         }
                                        &nbsp;
                                        @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Session) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                         {
                                             <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int) UserStatus.Deleted)') ">
                                                 <i class="fa fa-trash-o text-danger"></i>
                                             </a>
                                         }
                                    </td>
                                    
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<link href="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, statusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "Session")',
            data: { sessionId: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                if (data.isErr) {
                    toastr.error(data.errMsg);
                    return false;
                }                
                location.reload();
            }
        });
    }
</script>
