﻿@model EduErp.BO.NotificationBo
<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">
                ×
            </button>
            <h4 class="modal-title">
                <span id="franchiseModalTitle">Update Notification </span>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Edit", "Notification", null, FormMethod.Post, new {data_validate = "parsley", @autocomplete = "off", @id = "editnotice"}))
            {
                @Html.AntiForgeryToken()
                ;
                <div class="panel-body">
                    <div class=" pull-in clearfix">
                        <div class="form-group col-md-6">
                            @Html.Label("Subject")
                            @Html.TextBoxFor(u => u.Subject, new {@class = "form-control", maxlength = "50"})
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Notification Type")
                            @Html.DropDownListFor(m => m.NoticeTypeId, new SelectList(Model.ListOfNotifications, "Id", "Name"),"Please Select", new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Description")
                            @Html.TextAreaFor(m=>m.Description,new{@class="form-control"})
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAddSession" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" validateForm(); ">
                        <i class="fa fa-save"></i>&nbsp;Update
                    </button>
                    <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>
                </div>
            }
        </div>
    </div>
    <!-- /.modal-content -->
</div>
    </div>

<script>

    function validateForm() {
        debugger;
        $('#editnotice').parsley().validate();
        if ($('#editnotice').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Notification")',
                data: $("#editnotice").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Notification")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
