﻿@using EduErp.Mvc.Utilities
@using EduErp.BO
@model EduErp.BO.AccountDetailBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add AccountDetail
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "AccountDetail", FormMethod.Post, new {enctype = "multipart/form-data", data_validate = "parsley", id = "addAccountDetailForm"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>

        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-3 col-sm-3">
                            @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                            @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), "Please Select", new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Due Date")
                            @Html.TextBoxFor(m => m.DueDate, new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy"})
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Next Payment tDate")
                            @Html.TextBoxFor(m => m.NextPaymentDate, new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy "})
                        </div>
                         <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("App Start Date")
                            @Html.TextBoxFor(m => m.AppStartDate, new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Plan")
                            @Html.DropDownListFor(m => m.PlanId, new SelectList(Model.ListOfPlans, "Id", "Name"), "Please Select", new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Left Student")
                            @Html.TextBoxFor(m => m.LeftStudentCount, new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Left Message")
                            @Html.TextBoxFor(m => m.LeftMessageCount, new {@class = "form-control"})
                        </div>
                         <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Left User")
                            @Html.TextBoxFor(m => m.LeftUserCount, new {@class = "form-control"})
                        </div>
                    </div>
                </div>

                 <div class="form-group col-md-12  col-sm-12 col-xs-12">
                                    <div class="btn-group" style="padding-top: 20px">
                                        <label class="btn btn-default">
                                            <span>
                                                <input type="checkbox" id="allcheck">
                                            </span>
                                        </label>
                                        <label class="[ btn btn-primary active ]">
                                            @Html.Label("Select All Weekly Holiyays")
                                        </label>
                                        <br/>
                                    </div>
                                </div>
                                @for (var i = 0; i < Model.ListOfDays.Count; i++)
                                {
                                    var mid = "ListOfDays_" + i + "__Selected";
                                    //var ddid = "ListOfMonths_" + i + "__MonthId";

                                    <div class="form-group col-md-4">
                                        @Html.HiddenFor(m => Model.ListOfDays[i].DayId)
                                        @Html.HiddenFor(m => Model.ListOfDays[i].Selected)
                                        @Html.HiddenFor(m => Model.ListOfDays[i].DayName)
                                        @*<input id="@t.Id fancy-checkbox-default" name="@t.Name fancy-checkbox-default" type="checkbox" value="@t.Name" autocomplete="off"/>*@
                                        <div class="btn-group">
                                            <label class="btn btn-default">
                                                <span>
                                                    <input id="@mid" class="checkitem" name="@mid" type="checkbox" value="@Model.ListOfDays[i].Selected" @(Model.ListOfDays[i].Selected ? "checked='checked'" : "") autocomplete="off"/>
                                                </span>
                                            </label>
                                            <label class="btn btn-primary active">
                                                @Model.ListOfDays[i].DayName
                                            </label>
                                            <br/>
                                        </div>
                                       </div>
                                }
            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddAccountDetail" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "AccountDetail")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
    $(document).ready(function () {
        $("input:checkbox.checkitem").click(function () {
            debugger;
            if ($(this).is(':checked')) {
                $("#" + $(this).attr('id')).val(true);
                if ($(".checkitem:checked").length === $('input:checkbox.checkitem').length) {
                    $("#allcheck").prop("checked", true);
                }
            } else {
                $("#" + $(this).attr('id')).val(false);
                $("#allcheck").prop("checked", false);
            }
        });

        $("#allcheck").change(function () {
            $(".checkitem").each(function (index) {
                debugger;
                $(".checkitem").prop("checked", $("#allcheck").prop("checked"));
                $("#" + $(this).attr('id')).val($("#allcheck").prop("checked"));
            });
            });

        $('.chosen-select').chosen({
            search_contains: true
        });
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');


    });

    function saveForm() {
        debugger;
        $('#addAccountDetailForm').parsley().validate();
        if ($('#addAccountDetailForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "AccountDetail")',
                data: $("#addAccountDetailForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "AccountDetail")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>