﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.AccountDetailBo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Edit AccountDetail
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "AccountDetail", FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "editAccountDetailForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>

        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-3 col-sm-3">
                            @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                            @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), "Please Select", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Due Date")
                            @Html.TextBoxFor(m => m.DueDate, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy" })
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Next Payment tDate")
                            @Html.TextBoxFor(m => m.NextPaymentDate, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy " })
                        </div>
                         <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("App Start Date")
                              @Html.TextBoxFor(m => m.AppStartDate, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Plan")
                            @Html.DropDownListFor(m => m.PlanId, new SelectList(Model.ListOfPlans, "Id", "Name"), "Please Select", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Left Student")
                            @Html.TextBoxFor(m => m.LeftStudentCount, new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Left Message")
                            @Html.TextBoxFor(m => m.LeftMessageCount, new {@class = "form-control"})
                        </div>
                         <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Left User")
                            @Html.TextBoxFor(m => m.LeftUserCount, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
                </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddAccountDetail" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" validateForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "AccountDetail")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({
            search_contains: true
        });
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
       // $(".datepicker-input").val('');


    });

    function validateForm() {
        debugger;
        $('#editAccountDetailForm').parsley().validate();
        if ($('#editAccountDetailForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "AccountDetail")',
                data: $("#editAccountDetailForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "AccountDetail")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>