﻿@using EduErp.Mvc.Utilities
@model EduErp.BO.HolidayBo

<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update Holiday </span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Holiday", null, FormMethod.Post, new {data_validate = "parsley", @autocomplete = "off", @id = "editholiday"}))
                {
                    @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                          <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required. </p>
                        </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                           @* <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("Session")&nbsp;<span class="text-danger">*</span>
                                @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.SessionList, "Id", "Name"), new {@class = "form-control",data_parsley_required = "true", data_parsley_error_message = "Please Select Session"})
                            </div>*@
                            
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(u => u.Name, new {@class = "form-control hname", maxlength = "100", data_parsley_required = "true", data_parsley_error_message = "Please enter name"})
                            </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                  @Html.Label("Description")
                                @Html.TextAreaFor(m => m.Description, new {@class = "form-control ",maxlength="250"}) 
                            </div>              
                           <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("From Date")
                                @Html.TextBoxFor(u => u.FromDateStr,"{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy", data_parsley_required = "true", data_parsley_error_message = "Please enter To Date"})
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("To Date")
                                @Html.TextBoxFor(u => u.ToDateStr,"{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy", data_parsley_required = "true", data_parsley_error_message = "Please enter To Date"})
                            </div>

                            <div class="form-group col-md-12 col-sm-6 col-xs-6">
                               
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btneditHoliday" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" validateForm(); ">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
    var currentDate = getFormattedDate(new Date());
    $('.datepicker-input').datepicker({
        format: CURRENT_DATEFORMAT,
        //startDate: currentDate,
        autoclose: true
    }).on('changeDate', function (ev) {
        if ($(".datepicker-input").hasClass("parsley-error")) {
            $(".datepicker-input").parsley().reset();
        }
    });
   // $(".datepicker-input").val('');
    $('.hname').keypress(function (key) {
        if ((key.charCode < 97 || key.charCode > 122) && (key.charCode < 65 || key.charCode > 90) && (key.charCode !== 32)) return false;
    });

    function validateForm() {
        debugger;
        $('#editholiday').parsley().validate();
        if ($('#editholiday').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Holiday")',
                data: $("#editholiday").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Holiday")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>


