﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.QuestionAnswerMappingBo

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add QuestionAnswer Mapping
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "QuestionAnswer", null, FormMethod.Post, new { data_parsley_validate = "parsley", id = "addQuestionAnswerForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">
                Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        
        <div class="panel-body ">
            <div class="row">


                <div class="form-group col-md-6 col-sm-6 col-xs-6 pull-right">
                    @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.ListOfSubject, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Subject Name" })

                </div>

            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Question</label>&nbsp;<span class="text-danger">*</span>
                    @Html.TextAreaFor(m => m.Question, new { data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Question" })
                    @* <form method="post">
                        <textarea id="summernote" name="editordata"></textarea>
                    </form>*@

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control " })
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-3 col-sm-3 col-xs-3 ">
                    @Html.Label("Choice Type")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.ChoiceTypeId, new SelectList(Model.ListOfChoice, "Id", "Name"), "Please Select", new { @id = "choiceType", @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Choice Type" })

                </div>

                <div class="col-md-4 col-sm-4 col-xs-4"></div>

                <div class="col-md-5 col-sm-5 col-xs-5 " style="margin-top: 20px;">
                    @Html.Label("")


                    <input type="button" value="Add Answer" id="btnAddAnswer">&nbsp;<input type="button" value="Remove Answer" onclick="RemoveIt()" id="RemoveButton">


                    <div id="my_div"></div>



                </div>


            </div>

        </div>
        <div id="QuestionAnswerMapping">
        </div>
       
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddMessage" type="button" class="btn btn-primary btn-s-xs" onclick=" saveForm();">
                <i class="fa fa-save"></i>&nbsp;Save&More
            </button>
            <a href="@Url.Action("Index", "QuestionAnswer")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>


@* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>*@

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/css/MyStyle.css" rel="stylesheet" />


<script type="text/javascript">
    var itemIndex = 0;
    //var dynamicTextId = 0;
    $(function () {
        $("#btnAddAnswer").click(function (e) {
            debugger;
            //var itemIndex = $("#container input.iHidden").length;
            e.preventDefault();
            var chk = "<div id='answerDiv_" + (itemIndex + 1) + "'><input id='Answers_" + itemIndex + "__Id' type='hidden' value='' class='iHidden'  name='Answers[" + itemIndex + "].Id' />";
            if ($("#choiceType option:selected").val() == 2) {
                chk += "<br><input type='checkbox' value='true'  id='Answers_" + itemIndex + "__IsCorrectAnswer' name='Answers[" + itemIndex + "].IsCorrectAnswer' />";
            }
            if ($("#choiceType option:selected").val() == 3) {
                chk += '<br><input type="radio" id="Answers_' + itemIndex + '__IsCorrectAnswer" name="Answers[' + itemIndex + '].IsCorrectAnswer">';
            }
            if ($("#choiceType option:selected").val() == 1) {
                chk += "<br><input type='checkbox' value='true'  id='Answers_" + itemIndex + "__IsCorrectAnswer' name='Answers[" + itemIndex + "].IsCorrectAnswer' />";
            }
            var row = chk + ' &nbsp; <input type="text" name="Answers[' + itemIndex + '].Answer" id="Answers_' + itemIndex + '__Answer"><br>';
            row += '</div>';
            $('#my_div').append(row);
            //var newItem = $("<tr><td><input type='text' id='Answers_" + itemIndex + "__Answer' name='Answers[" + itemIndex + "].Answer'/></td><td>
            //</tr>");
            //$("#my_div").append(newItem);
            //itemIndex++;
            itemIndex = itemIndex + 1;
        });
    });
    function change(type) {

        //Create an input type dynamically.
        var element = document.createElement("input");

        //Assign different attributes to the element.
        element.setAttribute("type", type);
        element.setAttribute("value", type);
        element.setAttribute("name", type);


        var foo = document.getElementById("fooBar");

        //Append the element in page (in span).
        foo.appendChild(element);
    }
    $("#choiceType").change(function () {
        debugger;
        $("#my_div").html('');//for clear div
    });
    //var dynamicTextId = 0;
    //function changeIt() {
    //    debugger;
    //    dynamicTextId = dynamicTextId + 1;
    //    //var row = document.createElement('div');
    //    var chk = ' ';
    //    if ($("#choiceType option:selected").val() == 2) {
    //        chk=   '<br><input type="checkbox" name="mycheck" id="mycheck' + dynamicTextId + '">'
    //    }
    //    if ($("#choiceType option:selected").val() == 3) {
    //        chk = '<br><input type="radio" name="mycheck" id="mycheck' + dynamicTextId + '">'
    //    }
    //    if ($("#choiceType option:selected").val() == 1 ) {
    //        chk = '<br><input type="checkbox" name="mycheck" id="mycheck' + dynamicTextId + '">'
    //    }
    //    var row = chk + ' &nbsp; <input type="text" name="mytext" id="mytext' + dynamicTextId + '"><br>'
    //     $('#my_div').append(row);
    //     //document.getElementById('my_div').appendChild(row);

    //}

    function RemoveIt() {
        debugger;
        //var i = 1;
        //my_div.innerHTML = my_div.innerHTML - "<br><input type='checkbox' name='mycheck'- i>" - "<input type='text' name='mytext'- i><br>"

        if (0 < itemIndex) {
            //$('#my_div').removeChild(document.getElementById('mycheck' + dynamicTextId));
            //$('#my_div').removeChild(document.getElementById('mytext' + dynamicTextId));
            //document.getElementById('my_div').removeChild(document.getElementById("Answers_" + itemIndex));
            //document.getElementById('my_div').removeChild(document.getElementById("Answers_" + itemIndex));
            $("#answerDiv_" + itemIndex).remove();
            itemIndex--;
        } else {
            alert("No textbox to remove");
        }
    }


    //var counter = 1;
    //$("#RemoveButton").click(function () {
    //    alert(counter);
    //    if (counter == 1) {
    //        alert("No more textbox to remove");
    //        return false;
    //    }
    //    counter--;

    //    $("#TextBoxDiv1" + counter).remove();

    //});
    //$(document).on('click', '#RemoveButton', function () {
    //    debugger;
    //    $(this).closest('tr').find('input[type="text" && type="checkBox"]').remove();
    //});
    $(document).ready(function () {
        $('#Question').summernote();

    });

    function saveForm() {
        debugger;
        $('#addQuestionAnswerForm').parsley().validate();
        if ($('#addQuestionAnswerForm').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "QuestionAnswer")',
                data: $("#addQuestionAnswerForm").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "QuestionAnswer")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
    //function create(param) {
    //    var s = "";
    //    for (var i = 0; i < param; i++) {
    //        s += '<input type="text" name="Fname">'; //Create one textbox as HTML
    //    }
    //    document.getElementById("screens").innerHTML = s;
    //}
    //$("#choiceType").change(function () {
    //    debugger;
    //    if ($("#choiceType option:selected").val() == 2 || $("#choiceType option:selected").val() == 3 ) {
    //        $("#checkTextHide").hide();

    //    } else {
    //        $("#checkTextHide").show();

    //    }

    //    if ($("#choiceType option:selected").val() == 1 || $("#choiceType option:selected").val() == 3) {
    //        $("#checkHide").hide();

    //    } else {
    //        $("#checkHide").show();

    //    }
    //    if ($("#choiceType option:selected").val() == 1 || $("#choiceType option:selected").val() == 2) {
    //        $("#radioHide").hide();

    //    } else {
    //        $("#radioHide").show();

    //    }
    //    if ($("#choiceType option:selected").val() == "") {
    //        $("#this").hide();

    //    }
    //});
</script>
