﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.ExamBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Exam
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Exam", FormMethod.Post, new {enctype = "multipart/form-data", data_validate = "parsley", id = "addExam"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.Name, new {@id="ExamName",@class = "form-control", maxlength = "150", data_parsley_required = "true", data_parsley_error_message = "Please enter exam name"})
                        </div>
                         <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Session")
                            @Html.DropDownListFor(u => u.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), "Select Session", new {id = "Session", @class = "form-control"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Date")
                            @Html.TextBoxFor(u => u.Date, new {@id = "Date", @class = "form-control datepicker-input"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Total Marks")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.TotalMarks, new {@id = "TotalMarks", @class = "form-control", type = "number", data_parsley_required = "true", data_parsley_error_message = "Please enter marks"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Subject")
                            @Html.DropDownListFor(u => u.SubjectId, new SelectList(Model.ListOfSubjects, "Id", "Name"), "Select Subject", new {id = "Subject", @class = "form-control"})
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                            <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add</button>
                        </div>
                    </div>
                </div>
                <div class="row scrollable" style="max-height: 250px;">
                    <div class="form-group col-md-12 col-sm-12">
                        <table class="table table-striped responsive" id="AddList">
                            <thead>
                            <tr>
                                <th class="text-center" title="Date">Date</th>
                                <th class="text-center" title="Total Marks">Total Marks</th>
                                <th class="text-center" title="Subject Name">Subject Name</th>
                                <th class="text-center" title="Delete">Delete</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="Date" class="text-center"></td>
                                <td id="TotalMarks" class="text-center"></td>
                                <td id="SubjectName" class="text-center"></td>
                                <td id="Delete" class="text-center"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddExam" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "Exam")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    var counter = 0;
    $(document).ready(function () {
        //FOR SEARCH BOX IN DROPDOWN
        $('.chosen-select').chosen({
            search_contains: true
        });

        //$("#ExamName").keypress(function (key) {
        //    var text = isValidText(key.charCode);
        //    if (!text) {
        //        toastr.error("Please enter only text");
        //        return false;
        //    }
        //});
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true

        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');
        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteContact", function () {
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function () {
            debugger;
            //var contents = {},
            //      duplicates = false;
            //$("#AddList td").each(function () {
            //    var tdContent = $(this).text();
            //    if (contents[tdContent]) {
            //        duplicates = true;
            //        return false;
            //    }
            //    contents[tdContent] = true;
            //});
            //if (duplicates)
            //    toastr.error("Already Added")
              if ($("#Date").val() != "" && $("#TotalMarks").val() != "" && $("#Subject option:selected").val() != 0) {
               
                addRow();
            } else {
                toastr.error("Please Select fields")
            }
        });
    });
    //ADD ROW IN MAPPING GRID
    function addRow() {

        debugger;
                var html = '<tr>' + '<td class="text-center">' + $("#Date").val() + '<input type="hidden" value="' + $("#Date").val() + '" name="MappingList[' + counter + '].Date" id="MappingList_' + counter + '__Date"' +
            '</td>' + '<td class="text-center">' + $("#TotalMarks").val() + '<input type="hidden" value="' + $("#TotalMarks").val() + '" name="MappingList[' + counter + '].TotalMarks" id="MappingList_' + counter + '__TotalMarks"' +
            '</td>' + '<td class="text-center">' + $("#Subject option:selected").text() + '<input type="hidden" value="' + $("#Subject option:selected").val() + '" name="MappingList[' + counter + '].SubjectId" id="MappingList_' + counter + '__SubjectId"' +
            '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        counter++;
    }

   
    function saveForm() {
        debugger;
        $('#addExam').parsley().validate();
        if ($('#addExam').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "Exam")',
                data: $("#addExam").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index","Exam")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
