﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.CertificationBo
@{
    ViewBag.Title = "Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Mapping
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Certificate", FormMethod.Post, new {enctype = "multipart/form-data", data_validate = "parsley", id = "MappingCertificate"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Certificate TemplateType")
                            @Html.DropDownListFor(u => u.CertificateTemplateId, new SelectList(Model.ListOfCertificateTemplateType, "Id", "Name"), "Select Template", new {id = "TemplateType", @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Template"})
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            @Html.Label("Template Name")
                           <select id="TemplateTypeName" required="required" class="form-control"></select>
                            @Html.HiddenFor(a => a.CertificateTemplateId, new {@id="hdnTemplateId" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                            <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add</button>
                        </div>
                    </div>
                </div>
                <div class="row scrollable" style="max-height: 250px;">
                    <div class="form-group col-md-12 col-sm-12">
                        <table class="table table-striped responsive" id="AddList">
                            <thead>
                            <tr>
                                <th class="text-center"title="Certificate Template Type" >Certificate TemplateType</th>
                                <th class="text-center" title="Template Name">Template Name</th>
                                <th class="text-center" title="Delete">Delete</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="TemplateType" class="text-center"></td>
                                <td id="TemplateName" class="text-center"></td>
                                <td id="Delete" class="text-center"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddCertificate" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "Certificate")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script type="text/javascript">
    var counter = 0;
    $(document).ready(function () {
        //FOR SEARCH BOX IN DROPDOWN
        $('.chosen-select').chosen({
            search_contains: true
        });
        $("#TemplateType").change(function () {
            debugger;
            getCertificateName($("#TemplateType option:selected").val());
            //if (document.getElementById('TemplateType').selectedIndex !== 0) {
            //    $("#hdnTemplateId").val($("#TemplateType option:selected").val());

            //}
        });
       
        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteContact", function () {
            debugger;
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function () {
            debugger;
            if ($("#TemplateType option:selected").val() != 0 && $("#TemplateTypeName option:selected").val() != 0) {

                $("#btnAddCertificate").prop('disabled', false)
                addRow();
            } else {
                toastr.error("Please Select fields")
            }
        });
    });
    $("#btnAddCertificate").prop('disabled',true)
    //ADD ROW IN MAPPING GRID
    function addRow() {
        debugger;
        var html =  '<tr>'+'<td class="text-center">' + $("#TemplateType option:selected").text() + '<input type="hidden" value="' + $("#TemplateType option:selected").val() + '" name="MappingList[' + counter + '].TemplateTypeId" id="MappingList_' + counter + '_TemplateTypeId"' +
           '</td>' + '<td class="text-center">' + $("#TemplateTypeName option:selected").text() + '<input type="hidden" value="' + $("#TemplateTypeName option:selected").val() + '" name="MappingList[' + counter + '].TemplateId" id="MappingList_' + counter + '_TemplateId"' +
            '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        counter++;
    }

   
    //get certificatetypeName Based on typeId
    function getCertificateName(templateTypeId) {
        debugger;
        $("#TemplateTypeName").empty();
        if (templateTypeId != "") {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetCertificateTemplateNameByTemplateTypeId")',
                datatype: 'json',
                data: { templateTypeId: templateTypeId },
                success: function (templates) {
                    $.each(templates, function (i, cname) {
                        $("#TemplateTypeName").append('<option value="' + cname.Value + '">' + cname.Text + '</option>').prop('selected', true);
                    });
                    $("#TemplateTypeName option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                    $('#TemplateTypeName option[value="0"]').prop('selected', true);
                    @* $("#Student").val('@Model.StudentId');*@
                },

                error: function (ex) {
                    alert('Failed to retrieve classes.' + ex);
                }
            });
        }
    }
    function saveForm() {
        debugger;
        $('#MappingCertificate').parsley().validate();
        if ($('#MappingCertificate').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "Certificate")',
                data: $("#MappingCertificate").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index","Certificate")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>


