﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.DownloadBo
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold" id="Header">
        Download Certificate
          <a href='#' id="Filter" class='text-primary pull-right m-l-sm'>&nbsp;&nbsp; <i class='fa fa-filter'></i>Filter</a>
    </header>
    @using (Html.BeginForm("Download", "Certificate", null, FormMethod.Post, new {@id="DownloadForm", enctype = "multipart/form-data", data_parsley_validate = "parsley" }))
    {
       
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <div class="row" id="visible">
                @*<div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    @Html.Label("Session")
                    @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), new { @id = "Session", @class = "form-control chosen-select" })
                </div>*@
                <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    <label>@Level.GetlabelName((int)LabelEnum.Class)</label>
                    @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @id = "Class", @class = "form-control chosen-select" })
                </div>
                <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
                    <select id="Section" class="form-control chosen">
                    </select>
                    @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
                </div>
                <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                   @Html.Label("Student")
                    <select id="Student" class="form-control ">
                    </select>
                   @Html.HiddenFor(a => a.StudentId, new { id = "hdnStudentId"} )
                </div>
                <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    @Html.Label("Certificate Name")
                    @Html.DropDownListFor(m => m.TemplateId, new SelectList(Model.ListOfTemplateName, "Id", "Name"),"Please Select" ,new { @id = "Template", @class = "form-control chosen-select" })
                </div>
                <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 22px">
                   @* <input type="submit" value="Generate Certificate" id="generateCertificateId" name="Add" formaction="@Url.Action("GenerateCerticicate")" formmethod="post" class="btn btn-lightGreen" onclick="return $('#DownloadForm').parsley().validate()"/>*@
                <input type="button" id="GenerateCertificate" class="btn btn-lightGreen" value="Generate Certificate" onclick="return $('#DownloadForm').parsley().validate()">
                </div>
            </div>
            
        </div> 
        <div class="panel-body"> 
           <div id="Certificate">
            </div>
            <footer class="panel-footer text-right bg-light lter text-center" id="Footer">
                    <button type="button" class="print-button btn btn-md btn-primary">Print</button>
                    @* <a class=" btn btn-s-sm btn-default" href="@Url.Action("Index", "FeeTransaction")">Back</a>*@
                </footer>
         </div>  
      
    }
   
    <script src="~/Content/js/jquery-2.1.3.min.js"></script>
    <script src="~/Content/js/toastr.min.js"></script>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        //toggle
        // $('#visible').slideToggle();

        $("#GenerateCertificate").click(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0 && document.getElementById('Section').selectedIndex !== 0 && document.getElementById('Student').selectedIndex !== 0 && document.getElementById('Template').selectedIndex !== 0) {
                $('#visible').slideToggle();
                $("#Footer").show()
                generateCertificate($("#Class").val(), $("#Section option:selected").val(), $("#Student option:selected").val(), $("#Template option:selected").val())
            } else {
                toaster.error(" Please select filters");
            }
            });
        $("#Filter").click(function () {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });
        //get sections Onchange of class
        $("#Class").change(function () {
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
                $("#Section")[0].selectedIndex = 0;
                $("#Student")[0].selectedIndex = 0;
            }

        });
        //to enter only integer


        //get students on change of section
        $("#Section").change(function () {
            if (document.getElementById('Section').selectedIndex !== 0) {
                $("#hdnSection").val($("#Section option:selected").val());

                getStudents($("#Section option:selected").val());
                // $("#hdnStudentId").val($("#Student").val());

            }
        });
        $("#Student").change(function () {
            if (document.getElementById('Student').selectedIndex !== 0) {
                $("#hdnStudentId").val($("#Student option:selected").val());

            }
        });
    });
    $("#Footer").hide();
    //PRINT CERTIFICATE
    $('.print-button').on('click', function () {
       $("#Header").hide();
        $("#Footer").hide();
        window.print();
        return false; // why false?
    });
    //GET CERTIFICATE
    function generateCertificate(classId, sectionId, studentId, templateId)
    {
        debugger;

        if ($("#Class").val() !== "" && $("#Section").val() !== "" && $("#Student").val() !== "" && $("#Template").val() !== "") {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GenerateCertificate", "Certificate")',
                datatype: 'html',
                data: {classId: classId, sectionId: sectionId, studentId: studentId, templateId: templateId },
                success: function (data) {
                    $("#Certificate").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        } else {
            toaster.error(" Please select filters");
        }

    }
    //get sections based on classId
    function getSections(classId) {

        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {

                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                //$('#Section option[value=""]').prop('selected', true);
                $("#Section").val('@Model.SectionId');
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    //get students Based on sectionId
    function getStudents(sectionId) {
        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
            datatype: 'json',
            data: { sectionId: sectionId },
            success: function (sections) {
                $.each(sections, function (i, sec) {
                    $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                });
                $("#Student option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                //$('#Student option[value=""]').prop('selected', true);
                $("#Student").val('@Model.StudentId');
                $("Student").trigger("liszt:updated");

                $("#Student").chosen();
            },

            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
   
    </script>
