﻿@model EduErp.BO.CertificationBo

<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update Certificate </span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Certificate", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "updateCertificate" }))
                {
                    @Html.AntiForgeryToken()
                     <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="form-group col-md-12">
                                @Html.Label("CertificateTemplate Type")
                                @Html.DropDownListFor(a => Model.CertificateTemplateTypeId, new SelectList(Model.ListOfCertificateTemplateType, "Id", "Name"),"Please Select", new { @id="CertificateType",@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Template"})
                            </div>
                           <div class="form-group col-md-12">
                                @Html.Label("CertificateTemplate Name")
                               <select id="TemplateTypeName" required="true" class="form-control"></select>
                               @Html.HiddenFor(a => a.CertificateTemplateId, new { @id="CertificateTemplate"})
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddSession" type="button" class="btn btn-lightGreen btn-s-xs" onclick="updateCertificate();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#CertificateType").change(function () {
            debugger;
            getCertificateName($("#CertificateType option:selected").val());
        });
        getCertificateName(@Model.CertificateTemplateTypeId)
    });

    //get certificatetypeName Based on typeId
    function getCertificateName(templateTypeId) {
        debugger;
        $("#TemplateTypeName").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetCertificateTemplateNameByTemplateTypeId")',
            datatype: 'json',
            data: { templateTypeId: templateTypeId },
            success: function (templates) {
                $.each(templates, function (i, cname) {
                    $("#TemplateTypeName").append('<option value="' + cname.Value + '">' + cname.Text + '</option>').prop('selected', true);
                });
                $("#TemplateTypeName option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $('#TemplateTypeName option[value="0"]').prop('selected', true);
                $("#TemplateTypeName").val('@Model.CertificateTemplateId');
            },

            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    function updateCertificate() {
        $('#updateCertificate').parsley().validate();
        if ($('#updateCertificate').parsley().isValid()) {
            $('#CertificateTemplate').val($('#TemplateTypeName option:selected').val())
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Certificate")',
                data: $("#updateCertificate").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Certificate")';
                }
            });

        }
        else {
            toastr.error("Please fill all required fields.");
        }
    }
</script>
