﻿@using EduErp.BO
@model EduErp.BO.AttendanceVm

<table width="100%" class="table table-striped m-b-none">
    <thead>
        <tr>
            <th style="min-width: 100px; vertical-align: middle;" class="text-center-xs">Student
            </th>
            @foreach (var item in Model.HeaderDates)
            {
                <th style="min-width: 80px">
                    <div class="clear">
                        <div class="m-t-xs m-b-xs text-center">
                            @item.Date.ToString("ddd")
                        </div>

                        <div class="m-t-xs m-b-xs text-center">
                            @item.Date.ToString("dd-MMM")
                        </div>
                    </div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AttendanceInfoVMs)
        {
            <tr>
                <td>
                    <a href="#" class="text success blueanchor">@Html.DisplayFor(modelItem => item.StudentName)</a>
                </td>
                @foreach (var a in item.AttendanceBos)
                {
                    if (a.DayStatusId == (int)DayStatus.Present)
                    {
                    <td style="background: #60a917; border-color: #cccccc; border-width: 1px; border-style: solid; color: #2C911B; vertical-align: middle; padding: 5px 0px">
                        <div class="clear">
                            <a class="text-white" href="@Url.Action("Update", new { studentId = a.StudentId, sessionId = a.SessionId, statusId = (int)DayStatus.Present, date = a.Date.ToString("dd-MMM-yyyy") })" ajax-modal="ajaxModal">
                                <div class="m-t-xs m-b-xs text-center">
                                    <b>P</b>
                                </div>
                            </a>
                        </div>
                    </td>
                    }
                    else if (a.DayStatusId == (int)DayStatus.Absent)
                    {
                    <td style="background: #da5a53; border-color: #cccccc; border-width: 1px; border-style: solid; color: #AD2121; vertical-align: middle; padding: 0px">
                        <div class="clear">
                            <a class="text-white" href="@Url.Action("Update", new { studentId = a.StudentId, sessionId = a.SessionId, statusId = (int)DayStatus.Absent, date = a.Date.ToString("dd-MMM-yyyy") })" ajax-modal="ajaxModal">
                                <div class="m-t-xs m-b-xs text-center">
                                    <b>A</b>
                                </div>
                            </a>
                        </div>
                    </td>
                    }
                    else if (a.DayStatusId == (int)DayStatus.HalfDay)
                    {
                    <td style="background: #e3a21a ;border-color: #cccccc; border-width: 1px; border-style: solid; vertical-align: middle; padding: 0px">
                        <div class="clear">
                            <a class="text-white" href="@Url.Action("Update", new { studentId = a.StudentId, sessionId = a.SessionId, statusId = (int)DayStatus.HalfDay, date = a.Date.ToString("dd-MMM-yyyy") })" ajax-modal="ajaxModal">
                                <div class="m-t-xs m-b-xs text-center">
                                    <b>HD</b>
                                </div>
                            </a>
                        </div>
                    </td>
                    }
                    else
                    {
                    <td style="background: #ffc40d;border-color: #cccccc; border-width: 1px; border-style: solid; vertical-align: middle; padding: 0px">
                        <div class="clear">
                            <a href="javascript:;" class="text-white">
                                <div class="m-t-xs m-b-xs text-center">
                                    <b>H</b>
                                </div>
                            </a>
                        </div>
                    </td>
                    }
                }
            </tr>
        }
    </tbody>

</table>
