﻿@model EduErp.BO.AttendanceTemplateBo
<div class="row scrollable" style="max-height: 250px;">
    <div class="form-group col-md-12 col-sm-12">
        <table class="table responsive">
            <thead>
                <tr>
                    <th>Roll Number</th>
                    <th>Student Name</th>
                    <th>Status</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
            @if (Model.AttendanceLists.Count == 0)
            {
                <tr>
                    <td colspan="4">No students found</td>
                </tr>
            }
            else
            {
                for (var i = 0; i < Model.AttendanceLists.Count; i++)
                {
                    //var id = "MenuList_" + i + "__IsSelected";
                    //var ddid = "MenuList_" + i + "__RightId";
                    <tr>
                        @Html.HiddenFor(a => Model.AttendanceLists[i].StudentId)
                        <td>@Model.AttendanceLists[i].StudentCode</td>
                        <td>@Model.AttendanceLists[i].StudentName</td>
                        <td>
                            @Html.DropDownListFor(a => Model.AttendanceLists[i].DayStatusId, new SelectList(Model.DayStatusList, "Id", "Name", Model.AttendanceLists[i].DayStatusId), new {@class = "form-control"})
                        </td>
                        <td>@Html.TextBoxFor(a => Model.AttendanceLists[i].Remark, new {@class = "form-control"})</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<footer class="panel-footer text-right bg-white lter">
    <button id="btnAddAttendance" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
        <i class="fa fa-save"></i>&nbsp;Save
    </button>
    <a href="@Url.Action("Index", "Attendance")" class="btn btn-s-md  btn-default">
        <i class="fa fa-ban"></i>&nbsp;Cancel
    </a>
</footer>
