﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.AttendanceBo
@{
    ViewBag.Title = PageTitle.Create("Attendance - Add");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Mark Attendance
                <a href='#' id="Filter" class='text-info m-l-sm' data-toggle='modal' data-target='#FilterContainer'>
        <i class='fa fa-filter'></i>Filter</a>
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Attendance", null, FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "addAttendanceForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <div class="row" id="visible">
                @Html.HiddenFor(a => a.SchoolId)
@*                <div class=" form-group col-md-3 col-sm-3">
                    @Html.Label("Session")
                    @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.SessionList, "Id", "Name"), new { @class = "form-control", @id = "Session" })
                </div>*@
                <div class=" form-group col-md-3 col-sm-3">
                    @Html.Label("Date")
                    @*@Html.TextBoxFor(a => a.Date, new { @class = "form-control datepicker-input" })*@
                    @Html.TextBoxFor(u => u.DateStr, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy", data_parsley_required = "true", data_parsley_error_message = "Please enter From Date" })
                </div>
                
                <div class=" form-group col-md-3 col-sm-3">
                   <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                    @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ClassList, "Id", "Name"), new { @class = "form-control", @id = "Class" })
                </div>
                <div class=" form-group col-md-3 col-sm-3">
                    <label> @Level.GetlabelName((int) LabelEnum.Batch)</label>
                    @Html.DropDownListFor(a => a.SectionId, new SelectList(Model.SectionList, "Id", "Name"), new {@class = "form-control", @id = "Section"})
                </div>
                <div class="col-md-3 col-sm-3" style="padding-top:25px;">
                     <a href="#" class="btn btn-sm btn-primary" onclick="history.back(-1);">Back</a>
                </div>
            </div>
        </div>
        <footer class="panel-footer text-right bg-light lter">
            <input type="submit" name="Go" value="Go" class="btn btn-lightGreen btn-rounded">
        </footer>
        <div class="panel-body" id="studentList">
            @if (Model.AttendanceTemplateBo != null)
            {
                //Html.RenderPartial("_AttendanceTemplate", Model.AttendanceTemplateBo);
                <div class="row scrollable" style="max-height: 250px;">
                    <div class="form-group col-md-12 col-sm-12">
                        <table class="table responsive">
                            <thead>
                            <tr>
                                <th>Roll Number</th>
                                <th>Student Name</th>
                                <th>Status</th>
                                <th>Remark</th>
                            </tr>
                            </thead>
                            <tbody>
                            @if (Model.AttendanceTemplateBo.AttendanceLists.Count == 0)
                            {
                                <tr>
                                    <td colspan="4">No students found</td>
                                </tr>
                            }
                            else
                            {
                                for (var i = 0; i < Model.AttendanceTemplateBo.AttendanceLists.Count; i++)
                                {
                                    //var id = "MenuList_" + i + "__IsSelected";
                                    //var ddid = "MenuList_" + i + "__RightId";
                                    <tr>
                                        @Html.HiddenFor(a => Model.AttendanceTemplateBo.AttendanceLists[i].StudentId)
                                        <td>@Model.AttendanceTemplateBo.AttendanceLists[i].StudentCode</td>
                                        <td>@Model.AttendanceTemplateBo.AttendanceLists[i].StudentName</td>
                                        <td>
                                            @Html.DropDownListFor(a => Model.AttendanceTemplateBo.AttendanceLists[i].DayStatusId, new SelectList(Model.AttendanceTemplateBo.DayStatusList, "Id", "Name", Model.AttendanceTemplateBo.AttendanceLists[i].DayStatusId), new { @class = "form-control" })
                                        </td>
                                        <td>@Html.TextBoxFor(a => Model.AttendanceTemplateBo.AttendanceLists[i].Remark, new { @class = "form-control" })</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="panel-footer text-right bg-white lter">
                    <button id="btnAddAttendance" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </button>
                    <a href="@Url.Action("Index", "Attendance")" class="btn btn-s-md  btn-default">
                        <i class="fa fa-ban"></i>&nbsp;Cancel
                    </a>
                </footer>

            }
        </div>
        
    }
</section>
<link href="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Filter").click(function () {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            autoclose: true

        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        //$(".datepicker-input").val(currentDate);

        $("#Class").change(function () {
            $("#Section").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSectionList", "Student")', // we are calling json method
                dataType: 'json',
                data: { classId: $("#Class").val() },
                success: function (classes) {
                    $.each(classes, function (i, clas) {

                        $("#Section").append('<option value="' + clas.Value + '">' +
                             clas.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve sections.' + ex);
                }
            });
            return false;
        });
    });

    @*function getAttendance() {
        $("#studentList").html("");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStudentList", "Attendance")',
            dataType: 'html',
            data: { classId: $("#Class").val(), sessionId: $("#Session").val(), sectionId: $("#Section").val() },
            success: function (data) {
                $("#studentList").html(data);
            },
            error: function (ex) {
                toastr.error('Failed to retrieve students.' + ex);
            }
        });
        return false;
    }*@

    function saveForm() {
        $('#addAttendanceForm').parsley().validate();
        if ($('#addAttendanceForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "Attendance")',
                data: $("#addAttendanceForm").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Attendance")';
                }
            });

        }
        else {
            toastr.error("Please fill all required fields.");
        }
    }
</script>
