﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.Web.Models.SearchAttendancVM
@{
    ViewBag.Title = PageTitle.Create("Attendance");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var startDate = Model.StartDate.HasValue ? Model.StartDate.Value.ToString("dd-MMM-yyyy") : string.Empty;
    var endDate = Model.EndDate.HasValue ? Model.EndDate.Value.ToString("dd-MMM-yyyy") : string.Empty;

}


<header class="panel-heading font-bold b-light">
    Attendance
    <a href='#' class='text-info m-l-sm' data-toggle='modal' data-target='#FilterContainer'>
        <i class='fa fa-filter'></i>Filter</a>

     @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Attendance) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
     {
         <a href="@Url.Action("Add", "Attendance")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Mark Attendance</a>
     }
      <a href='#' class='text-primary m-l-sm' id="Filter">
        <i class='fa fa-filter'></i>Filter</a>
</header>
@Html.AntiForgeryToken()
<section class="panel panel-default scrollable">
    <div class="panel-body" id="visible">
        <div class="row">
            @Html.HiddenFor(a => a.SchoolId)
            
           @* <div class=" form-group col-md-3 col-sm-3">
                @Html.Label("Session")
                @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.SessionList, "Id", "Name"), new { @class = "form-control", @id = "Session" })
            </div>*@
            <div class=" form-group col-md-3 col-sm-3">
                <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ClassList, "Id", "Name"), new { @class = "form-control", @id = "Class" })
            </div>
            <div class=" form-group col-md-3 col-sm-3">
               <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>
                @Html.DropDownListFor(a => a.SectionId, new SelectList(Model.SectionList, "Id", "Name"), new {@class = "form-control", @id = "Section"})
            </div>
             <div class=" form-group col-md-3 col-sm-3" style="padding-top: 23px">
                  <input type="button" name="Go" value="Go" class="btn btn-lightGreen btn-rounded" onclick="GetAttendance();">
            </div>
        </div>
    </div>
    <div id="attendanceSummaryContainer" style="overflow-x: auto;">
        @if (Model.AttendanceVM.AttendanceInfoVMs.Count > 0)
        {
            Html.RenderPartial("_AttendanceSummaryTemplate", Model.AttendanceVM);
        }
        else
        {
            <table width="100%" class="table table-striped m-b-none">
                <thead>
                <tr>
                    <th style="vertical-align: middle; text-align: center;" class="text-center-xs">
                        No record found
                    </th>
                </tr>
                </thead>
            </table>
        }

    </div>
</section>

<div class="modal fade" id="FilterContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog " >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;</button>
                <h4 class="modal-title">
                    Change Date</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-xs btn-info" onclick="FilterLastDay(7)">Last 7 Days</a>
                            </div>
                            <div class="col-md-4 ">
                                <a class="btn btn-xs btn-info" onclick="FilterLastDay(10)">Last 10 Days</a>
                            </div>
                            <div class="col-md-4 ">
                                <a class="btn btn-xs btn-info" onclick="FilterLastDay(30)">Last 30 Days</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-xs m-b-xs">
                        @Html.CheckBoxFor(a => a.SearchSpecificDateRange)
                        Date range
                    </div>
                    @if (Model.SearchSpecificDateRange)
                    {
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">From</span>
                                        <input type="text" id="StartDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@startDate' />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">To</span>
                                        <input type="text" id="EndDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@endDate' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="row m-t">
                                <div class="col-md-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">From</span>
                                        <input type="text" id="StartDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@startDate' disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">To</span>
                                        <input type="text" id="EndDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@endDate' disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="doc-buttons pull-right">
                    <a class="btn btn-info btn-sm" style="margin-top: 3px" onclick="GetAttendance()">
                        <i class="fa fa-search"></i> Search
                    </a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<link href="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if (new Date($("#EndDate")) === new Date("1", "1", "1"))
            $("#EndDate").val(new Date());
       // $('#visible').slideToggle();
        $("#Filter").click(function () {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });
        var currentDate = getFormattedDate(new Date());
        $("#StartDate").datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($("#StartDate").hasClass("parsley-error")) {
                $("#StartDate").parsley().reset();
            }
            $("#EndDate").datepicker("setStartDate", $("#StartDate").val());
        });
        $("#EndDate").datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            startDate: '@startDate',
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($("#EndDate").hasClass("parsley-error")) {
                $("#EndDate").parsley().reset();
            }
            $("#StartDate").datepicker("setEndDate", $("#EndDate").val());
        });

        $("#Class").change(function () {
            $("#Section").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSectionList", "Student")', // we are calling json method
            dataType: 'json',
            data: { classId: $("#Class").val() },
            success: function (classes) {
                $.each(classes, function (i, clas) {

                    $("#Section").append('<option value="' + clas.Value + '">' +
                         clas.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve sections.' + ex);
            }
        });
             return false;
         });
    });
    

    $("#SearchSpecificDateRange").change(function () {
        if ($(this).is(":checked")) {
            $("#StartDate").removeAttr("disabled");
            $("#EndDate").removeAttr("disabled");
        } else {
            $("#StartDate").attr("disabled", "disabled");
            $("#EndDate").attr("disabled", "disabled");
        }
    });
   
    function GetAttendance() {
        //HideModelWindow();
        var startDate = '';
        var endDate = '';
        startDate = $('#StartDate').val();
        if (startDate === '') {
            toastr.error("Start Date is required");
            return;
        }
        endDate = $('#EndDate').val();
        if (endDate === '') {
            toastr.error("End Date is required");
            return;
        }
        var url = '@Url.Action("Index", "Attendance")';
        var searchSpecificDateRange = $('#SearchSpecificDateRange').prop('checked');
        url += "?sessionId=" + @Model.SessionId +
            "&classId=" + $("#Class").val() +
            "&sectionId=" + $("#Section").val() +
            "&ssdr=" + searchSpecificDateRange +
            "&sd=" + startDate +
            "&ed=" + endDate;

        window.location = url;
    }
    function FilterLastDay(day) {
        HideModelWindow();
        var startDate = new Date();
        startDate.setDate(startDate.getDate() - day);
        var startDate1 = getFormattedDate(startDate);
        var endDate = getFormattedDate(new Date());

        var searchSpecificDateRange = $('#SearchSpecificDateRange').prop('checked');
        //var pageNumber = 1;
        var url = '@Url.Action("Index", "Attendance")';

        url += "?sessionId=" + @Model.SessionId +
            "&classId=" + $("#Class").val() +
            "&sectionId=" + $("#Section").val() +
            "&ssdr=" + searchSpecificDateRange +
            "&sd=" + startDate1 +
            "&ed=" + endDate;

        window.location = url;
    }
    function HideModelWindow() {
        $('#FilterContainer').modal('toggle');
    }
</script>