﻿@model EduErp.Web.Models.EditAttendanceVm

<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update Attendance </span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Update", "Attendance", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "updateAttendance" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(a => a.DateStr)
                    @Html.HiddenFor(a => a.SessionId)
                    @Html.HiddenFor(a => a.StudentId)
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="form-group col-md-12">
                                @Html.Label("Status")
                                @Html.DropDownListFor(a => Model.DayStatusId, new SelectList(Model.DayStatusList, "Id", "Name", Model.DayStatusId), new {@class = "form-control"})
                            </div>
                            <div class="form-group col-md-12">
                                @Html.Label("Remark")
                                @Html.TextBoxFor(a => Model.Remark, new {@class = "form-control", data_parsley_required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddSession" type="button" class="btn btn-lightGreen btn-s-xs" onclick="updateAttendance();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script type="text/javascript">
    function updateAttendance() {
        $('#updateAttendance').parsley().validate();
        if ($('#updateAttendance').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Update", "Attendance")',
                data: $("#updateAttendance").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                     window.location.reload(true);
                }
            });

        }
        else {
            toastr.error("Please fill all required fields.");
        }
    }
</script>