﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model  EduErp.BO.ClassBo
<div class="modal fade in" id="addClassModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="ClassModalTitle"> Add New @Level.GetlabelName((int)LabelEnum.Class)</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Add", "Class", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "addClass" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.LabelFor(m => m.Name)&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control",maxlength="100", data_parsley_required = "true", data_parsley_error_message = "Enter name" })
                            </div>

                            @if (SessionItems.IsSuperAdmin)
                            {
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                                    @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), new { @class = "form-control",data_parsley_required = "true" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(m => m.ListOfSchools.FirstOrDefault(a => a.Value == SessionItems.SchoolId.ToString()).Text, new { @class = "form-control", @readonly = "readonly" ,data_parsley_required = "true"})
                                    @Html.HiddenFor(m => m.SchoolId)
                                </div>

                            }

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                            <i class="fa fa-save"></i>&nbsp; Save
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function saveForm() {
        debugger;
        $('#addClass').parsley().validate();
        if ($('#addClass').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "Class")',
                data: $("#addClass").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Class")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>

