﻿@using Amazon.CloudFront.Model
@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.MyAccountBo
@{
    ViewBag.Title = PageTitle.Create("MyAccount");
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    
}
<section class="panel panel-default scrollable">
<header class="panel-heading font-bold">
    <div class="row">
        <div class="col-md-12">
            MyAccount
        </div>
    </div>
</header>

<section class="tabbable" id="tabs">
<div class="row">
<div class="col-lg-12">
<ul class="nav nav-tabs responsive">
    <li class="active">
        <a href="#school-tab" data-toggle="tab" class="m-l General-Rounded">
            <i class="fa fa-university"></i>&nbsp;@Level.GetlabelName((int)LabelEnum.School)
        </a>
    </li>
    <li class="School-Tab">
        <a href="#account-tab" data-toggle="tab" class="General-Rounded">
            <i class="fa fa-briefcase"></i>&nbsp;Account
        </a>
    </li>
    <li class="Employee-Tab">
        <a href="#transaction-tab" data-toggle="tab" class="General-Rounded">
            <i class="fa fa-money"></i>&nbsp;Transaction
        </a>
    </li>
    <li>
        <a href="#plan-tab" data-toggle="tab" class="General-Rounded">
            <i class="fa fa-building-o"></i>&nbsp;Plan
        </a>
    </li>
     <li>
        <a href="#message-tab" data-toggle="tab" class="General-Rounded">
            <i class="fa fa-gear"></i>&nbsp;Message Setting
        </a>
    </li>
</ul>
@using (Html.BeginForm("Index", "MyAccount", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "SaveMessageSettings", data_validate = "parsley" }))
{
@Html.AntiForgeryToken()
<div class="panel-body">
<div id="content" class="tab-content responsive greyborder-1px">
<div class="tab-pane fade in  active responsive" id="school-tab">
    @if (Model.SchoolDetails != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-4 col-sm-4">
                    <img id="imageId" src="@(Model.SchoolDetails.S3key == Guid.Empty ? Url.Content("~/Content/images/gravator.png") : CommonUtil.GetUrlByKey("School/" + Model.SchoolDetails.S3key))" alt="" width="115" title="Add school image" height="115" class="img-circle"/>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label" >
                    <label>
                        <b> <span>@Level.GetlabelName((int)LabelEnum.School) Name</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.Name
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                <label>
                    <b> <span> Parent @Level.GetlabelName((int)LabelEnum.School) Name</span>:</b>
                </label>
                
            </div>
            <div class="col-md-8 school-detail-text">
                
                 @if (Model.SchoolDetails.ParentSchoolName != null)
                 {
                    <span> Model.SchoolDetails.ParentSchoolName</span>
                 }
                 else
                 { 
                     <span>&nbsp;</span>
                 }
                 
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                <label>
                    <b> <span>@Level.GetlabelName((int)LabelEnum.School) Code</span>:</b>
                </label>
                
            </div>
            <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.Code
                 </span>
                
               
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>PinCode</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.Pin
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                 <label>
                    <b> <span>Address</span>:</b>
                </label>
                
            </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.Address1
                 </span>
                
               
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>State</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.StateName
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>City</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.CityName
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>Owner Name</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.SchoolDetails.OwnerName
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                <label>
                    <b> <span>Contact Number</span>:</b>
                </label>
                
            </div>
            <div class="col-md-8 school-detail-text">
               <span>
                 @Model.SchoolDetails.ContactNo
                 </span>
                </div>
                </div>
        </div>
    }
</div>
<div class="tab-pane fade in responsive " id="account-tab">
    @if (Model.AccountDetails != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label" >
                    <label>
                        <b> <span>@Level.GetlabelName((int)LabelEnum.School) Name</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.AccountDetails.SchoolName
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                <label>
                    <b> <span> Due Date</span>:</b>
                </label>
                
            </div>
            <div class="col-md-8 school-detail-text">
                <span>
                 @if (Model.AccountDetails.DueDate != null)
                 {
                     @Model.AccountDetails.DueDate.Value.ToFormattedDate()
                 }
                 </span>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                <label>
                    <b> <span>Next Payment Date</span>:</b>
                </label>
                
            </div>
            <div class="col-md-8 school-detail-text">
                    <span>
                 @if (Model.AccountDetails.NextPaymentDate != null)
                 {
                     @Model.AccountDetails.NextPaymentDate.Value.ToFormattedDate()
                 }
                 </span>
                
               
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>App Start Date</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @if (Model.AccountDetails.AppStartDate != null)
                 {
                     @Model.AccountDetails.AppStartDate.Value.ToFormattedDate()
                 }
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4 school-detail-label">
                 <label>
                    <b> <span>Plan</span>:</b>
                </label>
                
            </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.AccountDetails.PaymentPlan
                 </span>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>Left User</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.AccountDetails.LeftUserCount
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>Left Message</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.AccountDetails.LeftMessageCount
                 </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 school-detail-label">
                    <label>
                        <b> <span>Left Student</span>:</b>
                    </label>

                </div>
                <div class="col-md-8 school-detail-text">
                    <span>
                 @Model.AccountDetails.LeftStudentCount
                 </span>
                </div>
            </div>
        </div>
    }
</div>
<div class="tab-pane fade in  responsive" id="transaction-tab">
    <section class="scrollable w-f">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="table-responsive">
                        <table id="dt_userList" width="100%" class="table table-striped" title="Messages" exportcolumn="0,1,2,3,4,5,6" visiblecolumn="0,1,2,3,4,5,6,7,8" lastunsortcount="2">
                            <thead>
                            <tr>
                                <th class="text-center">@Level.GetlabelName((int)LabelEnum.School) Name
                                </th>
                                <th class="text-center">Payment Amount
                                </th>
                                <th class="text-center">Payment Date
                                </th>
                                <th class="text-center">Payment Mode
                                </th>
                                <th class="text-center">From Date
                                </th>
                                <th class="text-center">To Date
                                </th>
                                @*<th class="text-center">Status
                                </th>*@
                                @*@if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.AccountFeeDetail) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                    <th class="text-center notExport">Edit
                                    </th>
                                    <th class="text-center notExport">Delete
                                    </th>
                                }*@
                            </tr>
                            </thead>
                            <tbody>
                            @if (Model.ListOfTransactions != null)
                            {
                                foreach (var item in Model.ListOfTransactions)
                                {
                                    <tr>
                                       @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                                        <td class="text-center">
                                            @Html.DisplayFor(model => item.SchoolName)
                                        </td>
                                       <td class="text-center">
                                            @Html.DisplayFor(model => item.PaymentAmount)
                                        </td>
                                        <td class="text-center">
                                            @if (item.PaymentDate != null)
                                            {
                                                @item.PaymentDate.Value.ToFormattedDate()
                                            }
                                        </td>
                                        <td class="text-center">
                                            @item.PaymentMode
                                        </td>
                                        <td class="text-center">
                                            @if (item.FromDate != null)
                                            {
                                                @item.FromDate.Value.ToFormattedDate()
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.ToDate != null)
                                            {
                                                @item.ToDate.Value.ToFormattedDate()
                                            }
                                        </td>
                                        @*<td class="text-center">
                                            <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active" : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click to deactivate" : "Click to activate")" data-container="body" data-toggle="toolTip"
                                                    id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.Id == (int)UserStatus.Active ? "Deactivate AccountFeeDetail" : "Activate AccountFeeDetail")', '@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to deactivate AccountFeeDetail " : "Are you sure you want to activate AccountFeeDetail  ")', '@item.Id', '@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                                <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                                                <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </td>*@
                                        @*@if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.AccountFeeDetail) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StatusId == (int)UserStatus.Active))
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Action("Edit", "AccountFeeDetail", new { @id = item.Id })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                                    <i class="fa fa-edit icon"></i>&nbsp;Edit
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                    <i class=" fa fa-trash-o text-danger">
                                                    </i>&nbsp;Delete
                                                </a>
                                            </td>
                                        }*@
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div class="tab-pane fade in  responsive" id="plan-tab">
    <section class="scrollable w-f">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="table-responsive">
                        <table id="dt_planList" width="100%" class="table table-striped" title="Messages" exportcolumn="0,1,2,3,4,5" visiblecolumn="0,1,2,3,4,5,6,7" lastunsortcount="2">
                            <thead>
                            <tr>
                                <th class="text-center"> Name
                                </th>
                                <th class="text-center">Max User(s)
                                </th>
                                <th class="text-center">Max Student(s)
                                </th>
                                <th class="text-center">Max Message(s)
                                </th>
                              
                                @*<th class="text-center">Status
                                </th>
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Plan) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {

                                    <th class="text-center notExport">Edit
                                    </th>
                                    <th class="text-center notExport">Delete
                                    </th>

                                }*@
                            </tr>
                            </thead>
                            <tbody>
                            @if (Model.PlansList != null)
                            {
                                foreach (var item in Model.PlansList)
                                {
                                    <tr>

                                        @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                                        <td class="text-center">
                                            @Html.DisplayFor(model => item.Name)
                                        </td>

                                        <td class="text-center">
                                            @Html.DisplayFor(model => item.MaxUserLimit)
                                        </td>
                                        <td class="text-center">
                                            @item.MaxStudentLimit
                                        </td>
                                        <td class="text-center">
                                            @item.MaxMessageLimit
                                        </td>
                                        @*<td class="text-center">
                                            <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active" : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click to deactivate" : "Click to activate")" data-container="body" data-toggle="toolTip"
                                                    id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.Id == (int)UserStatus.Active ? "Deactivate Plan" : "Activate Plan")', '@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to deactivate Plan" : "Are you sure you want to activate Plan  ")', '@item.Id', '@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                                <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                                                <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </td>
                                        @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Plan) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StatusId == (int)UserStatus.Active))
                                        {
                                            <td class="text-center">
                                                <a href="@Url.Action("Edit", "Plan", new { @id = item.Id })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                                    <i class="fa fa-edit icon"></i>&nbsp;Edit
                                                </a>
                                            </td>

                                            <td class="text-center">
                                                <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                    <i class=" fa fa-trash-o text-danger">
                                                    </i>&nbsp;Delete
                                                </a>
                                            </td>
                                        }*@
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div class="tab-pane fade in responsive" id="message-tab">
     @if (Model.ListOfMessage != null)
     {
         foreach (var item in Model.ListOfMessage)
         {
             <fieldset>
                 <legend class="m-t-md m-l-md">
                     <h5>
                         <b>
                             @item.Permission.Name</b></h5>
                 </legend>

             </fieldset>
           <div class="m-l-lg">
               @for (int i = 0; i < item.Children.Count; i++)
               {
                   <div class="setting">
                       <div class="m-b-sm">
                           <div class="checkbox-inline i-checks">
                               <label>
                                   <input type="checkbox" id="@item.Children[i].Permission.Id" name="@item.Children[i].Permission.Id" checked="@item.Children[i].IsSelected" class="">
                                   <i></i><span>@item.Children[i].Permission.Description</span>
                               </label>
                           </div>
                           <div class="">
                               @Html.DropDownListFor(a => item.Children[i].Permission.TemplateId, new SelectList(Model.ListOfTemplateText, "Id", "Name", item.Children[i].Permission.TemplateId), "Select Template", new { @class = "form-control" })
                           </div>
                       </div>
                   </div>
               }
              </div>
         }
     }
    <footer class="panel-footer bg-white lter">
            <button id="btnAddsetting" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
      </footer>

    </div>
</div>
</div>
}
</div>
</div>
</section>

<footer class="panel-footer text-right bg-white lter">
    @*<input type="submit" class="btn btn-default" value="save" />*@
   <a href="@Url.Action("SendQuery", "MyAccount")" class="btn btn-primary" ajax-modal="ajaxModal">&nbsp;Send Query</a>
    <button class="btn btn-default" onclick="goBack()">Back</button>
   @* <a href="@Url.Action("Index", "Default")" class="btn   btn-default">
        <i class="fa fa-back"></i>&nbsp;Back
    </a>*@
</footer>
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet"/>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
        $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
        var exportColumns = $("#dt_planList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_planList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_planList").attr("exportColumn", aTargets);
        $("#dt_planList").attr("visibleColumn", vTargets);
        refreshGrid('dt_planList');
         });
        function goBack() {
            window.history.back();
        }
       function saveForm() {
           var a = [];
           var flag = true;
           $(".setting").each(function () {
               var checkbox = $(this).find("input[type=checkbox]");
               if (checkbox.prop("checked")) {
                   if ($(this).find("select").val() === "") {
                       toastr.error("Please select Template");
                       flag = false;
                       return false;
                   }
                   a.push({ MessageAutomaticId: checkbox.attr("id"), TemplateId: $(this).find("select").val() });
               }
           });
           //console.log(a);
           if (flag) {
               $.ajax({
                   url: '@Url.Action("Index", "MyAccount")',
                   data: { data: JSON.stringify(a) },
                   type: 'post',
                   success: function (data) {
                       if (data.isErr) {
                           toastr.error(data.msg);
                           return;
                       }
                       toastr.success(data.msg);
                   }
               });
           }
    }

</script>