﻿
@model EduErp.BO.MyAccountBo
@using EduErp.Mvc.Utilities
<div class="modal fade in" id="sendQueryModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="QueryModalTitle">Send Query</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("SendQuery", "MyAccount", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "sendQuery" }))
                {
                    @Html.AntiForgeryToken()
                   <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.LabelFor(m => m.Subject)
                                @Html.TextBoxFor(m => m.Subject, new {@id="Description", @class = "form-control",maxlength="100", data_parsley_required = "true", data_parsley_error_message = "Enter name" })
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Html.Label("Query")
                                    @Html.TextAreaFor(m => m.Query, new {@id="Query", @class = "form-control",data_parsley_required = "true" })
                                </div>
                           </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnSendQuery" type="button" class="btn btn-lightGreen btn-s-xs" onclick="sendQuery();">
                            <i class="fa fa-save"></i>&nbsp; Ok
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#Query").keypress(function (key) {
        var text = isValidText(key.charCode);
        if (!text) {
            toastr.error("Please enter only text");
            return false;
        }
    });
    $("#Description").keypress(function (key) {
        var text = isValidText(key.charCode);
        if (!text) {
            toastr.error("Please enter only text");
            return false;
        }
    });
    function sendQuery() {
        debugger;
        $('#sendQuery').parsley().validate();
        if ($('#sendQuery').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("SendQuery", "MyAccount")',
                data: $("#sendQuery").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "MyAccount")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>