﻿@using EduErp.BO
@model MappingBo
                     
 <section class="panel panel-default">
               <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                          Mapping Detail
                        </div>
                    </div>
                </header>
                          <div class="panel-body">
                            @Html.AntiForgeryToken()
                          <div class="row scrollable" style="max-height: 250px;">
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Employee Name</th>
                                           <th class="text-center">@Level.GetlabelName((int)LabelEnum.Class)</th>
                                            <th class="text-center">@Level.GetlabelName((int)LabelEnum.Batch)</th>
                                            <th class="text-center">Subject Name</th>
                                           <th class="text-center">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model.MappingList.Count != 0)
                                        {
                                            foreach (var item in Model.MappingList)
                                            {
                                                <tr>
                                                    <td class="text-center">@item.EmployeeName</td>                                                
                                                    <td class="text-center">@item.ClassName</td>
                                                    <td class="text-center">@item.SectionName</td>
                                                    <td class="text-center">@item.SubjectName </td>
                                                    <td class="text-center">
                                                        <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item', '@((int) UserStatus.Deleted)') ">
                                                            <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                   </div>
                            </div>
        </div>
    
    </section>  