﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.EmployeeBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Employee
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Employee", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addEmployeeForm" }))
    {
        @Html.AntiForgeryToken()
        
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">Fields with <span class="text-danger">*</span> are required. </p>
        </div>
        <section class="tabbable" id="tabs">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs responsive">
                        <li class="active">
                            <a href="#addEmployee-tab" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-street-view"></i>&nbsp;Personal
                            </a>
                        </li>
                        <li class="School-Tab" >
                            <a href="#Education-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-mortar-board"></i>&nbsp;Education
                            </a>
                        </li>
                        <li class="School-Tab" id="HideMap">
                            <a href="#mapping-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-mortar-board"></i>&nbsp;Mapping
                            </a>
                        </li>
                        <li>
                            <a href="#address-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-address-book"></i>&nbsp;Address
                            </a>
                        </li>
                    </ul>

                    <div class="panel-body">
                        <div id="content" class="tab-content responsive">
                            <div class="tab-pane fade in  active responsive" id="addEmployee-tab">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class=" col-md-3 col-sm-3 col-xs-3">
                                        <div class=" form-group col-md-12 col-sm-12 col-xs-12   text-center">
                                            <a href="@Url.Action("ProfilePicture", "Employee", new {userId = Model.Id})" title="Browse profile image" ajax-modal="ajaxModal" style="display: block; position: relative;">
                                                <img id="EmployeeProfilePic" src="@((Model.S3key == Guid.Empty) || (Model.S3key == null) ? Url.Content("~/Content/Images/gravator.png") : CommonUtil.GetUrlByKey("Employee/" + Model.S3key))" alt="..." class="img-thumbnail m-b text-center img-circle" height="120" width="120"/></a>
                                            <a id="DeleteEmployeePic" class="fa fa-trash-o text-danger" href="javascript:void(0)" data-placement="bottom" data-toggle="" title="Delete" onclick=" deleteConfirmation(removeEmployeeProfileImage); "
                                               @((Model.S3key == Guid.Empty) || (Model.S3key == null) ? "style=display:none;" : "")></a>
                                            @Html.HiddenFor(a => a.S3key)
                                        </div>
                                    </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    @Html.Label("Title")
                                                    @Html.DropDownListFor(m => m.TitleId, new SelectList(Model.ListOfTitle, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select"})
                                                </div>
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    @Html.Label("Employee Type")
                                                    @Html.DropDownListFor(m => m.EmployeeTypeId, new SelectList(Model.ListOfEmployeeType, "Id", "Name"), "Please Select", new {@id = "EmployeeType", @class = "form-control chosen-select"})
                                                </div>
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    @Html.Label("Employee Code")&nbsp;<span class="text-danger">*</span>
                                                    @Html.TextBoxFor(m => m.EmployeeCode, new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter Employee Code"})
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    @Html.Label("First Name")&nbsp;<span class="text-danger">*</span>
                                                    @Html.TextBoxFor(m => m.FirstName, new {@id = "firstname", @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter First Name", maxlength = "50"})
                                                </div>
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    @Html.Label("Middle Name")
                                                    @Html.TextBoxFor(m => m.MiddleName, new {@id = "middlename", @class = "form-control ", maxlength = "50"})
                                                </div>
                                                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                    @Html.Label("Last Name")&nbsp;<span class="text-danger">*</span>
                                                    @Html.TextBoxFor(m => m.LastName, new {@id = "lastname", @class = "form-control last", maxlength = "50", data_parsley_required = "true", data_parsley_error_message = "Please Enter Last Name"})
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                            @Html.Label("Father Name")
                                            @Html.TextBoxFor(m => m.FatherName, new { @id = "fathername", @class = "form-control", maxlength = "150" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Email Address")
                                            @Html.TextBoxFor(m => m.Email, new { @id = "emailid", @class = "form-control", type = "email", data_parsley_error_message = "Please Enter Valid Email", maxlength = "100" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Date Of Birth")
                                            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker-input", @placeholder = "Select Date of Birth" })
                                        </div>
                                        <div class=" form-groupcol-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Mobile Number")
                                            @Html.TextBoxFor(m => m.MobileNumber, new {@id="Number" ,@class = "form-control", minlength = "10", maxlength = "10", data_parsley_length = "[10,10]" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                            @Html.Label("Gender")
                                            @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.ListOfGender, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Relegion")
                                            @Html.DropDownListFor(m => m.RelegionId, new SelectList(Model.ListOfReligion, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select" })

                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Category")
                                            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.ListOfCategory, "Id", "Name"), "Select Category", new { @class = "form-control chosen-select" })

                                        </div>
                                        <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Nationality")
                                            @Html.DropDownListFor(m => m.NationalityId, new SelectList(Model.ListOfNationality, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                            @Html.Label("PAN Number")
                                            @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", minlength = "10", maxlength = "10" })
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Aadhar Number")
                                            @Html.TextBoxFor(m => m.UID, new { @id = "Aadharnumber", @class = "form-control", minlength = "12", maxlength = "12" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Joining Date")
                                            @Html.TextBoxFor(m => m.DOJ, new { @class = "form-control datepicker-input" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Exit Date")
                                            @Html.TextBoxFor(m => m.DateOfExit, new { @class = "form-control datepicker-input" })
                                        </div>

                                    </div>
                                     <div class="text-center">@Html.ValidationSummary()</div>
                                </div>
                            </div>
                            <div class="tab-pane fade responsive" id="Education-tab">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Basic/Graduation
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                                @Html.Label("Graduation")
                                                @Html.TextBoxFor(m => m.Graduation, new {@id="Graduation", @class = "form-control", maxlength = "250" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("University/Institute Name")
                                                @Html.TextBoxFor(m => m.UniversityName, new {@id="University", @class = "form-control", maxlength = "250" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Year")
                                                @Html.TextBoxFor(m => m.GraduationPassingYear, new {@id="Year", @class = "form-control datepicker-input" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Marks")
                                                @Html.TextBoxFor(m => m.GraduationMarks, new {@id="Marks", type="number",@class = "form-control", maxlength = "20" })
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Class X
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                                @Html.Label("Board")
                                                @Html.TextBoxFor(m => m.HighSchoolBoardName, new {@id="BoardX", @class = "form-control", maxlength = "250" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Year")
                                                @Html.TextBoxFor(m => m.HighschoolPassingYear, new {@id="@YearX", @class = "form-control datepicker-input" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Medium")
                                                @Html.DropDownListFor(m => m.HighSchoolMediumId, new SelectList(Model.ListOfMedium, "Id", "Name"), "Please Select", new { @class = "form-control" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Marks")
                                                @Html.TextBoxFor(m => m.HighSchoolMarks, new {@id="MarksX", type="number",@class = "form-control", maxlength = "20" })
                                            </div>

                                        </div>
                                    </div>
                                </section>
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Class XII
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                                @Html.Label("Board")
                                                @Html.TextBoxFor(m => m.InterSchoolBoardName, new {@id="Boardtwelth", @class = "form-control", maxlength = "20" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Year")
                                                @Html.TextBoxFor(m => m.InterPassingYear, new { @class = "form-control datepicker-input" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Medium")
                                                @Html.DropDownListFor(m => m.InterSchoolMediumId, new SelectList(Model.ListOfMedium, "Id", "Name"), "Please Select", new { @class = "form-control" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Marks")
                                                @Html.TextBoxFor(m => m.InterSchoolMarks, new {@id="Markstwelth", type="number" ,@class = "form-control", maxlength = "100" })
                                            </div>

                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade responsive" id="mapping-tab">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Mapping
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-3 col-sm-3">
                                                <label>@Level.GetlabelName((int)LabelEnum.Class)</label>
                                                @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @class = "form-control", @id = "Class" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3">
                                                <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
                                                <select id="Section" class="form-control chosen">
                                                </select>
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                                @Html.Label("Subject")
                                                @Html.DropDownListFor(a => a.SubjectId, new SelectList(Model.ListOfSubjects, "Id", "Name"), "Please Select", new { @class = "form-control", @id = "Subject" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                                                <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add</button>
                                            </div>
                                        </div>
                                        <div class="row scrollable" style="max-height: 250px;">
                                            <div class="form-group col-md-12 col-sm-12">
                                                <table class="table table-striped responsive" id="AddList">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">@Level.GetlabelName((int)LabelEnum.Class) Name</th>
                                                            <th class="text-center">@Level.GetlabelName((int)LabelEnum.Batch) Name</th>
                                                            <th class="text-center">Subject Name</th>
                                                            <th class="text-center">Delete</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <td id="ClassName" class="text-center"></td>
                                                            <td id="SectionName" class="text-center"></td>
                                                            <td id="SubjectName" class="text-center"></td>
                                                            <td id="Delete" class="text-center"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade responsive" id="address-tab">
                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Current Address
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 ">
                                                @Html.Label("Address")
                                                @Html.TextAreaFor(m => m.CurrentAddress, new { @id = "CurrentAddress", @class = "form-control", maxlength = "500" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("State")
                                                @Html.DropDownListFor(m => m.CurrentStateId, new SelectList(Model.ListOfState, "Value", "Text"), "Select State", new { id = "currentState", @class = "form-control select-chosen" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("City")
                                                <select id="currentCity" class="form-control"></select>
                                                @Html.HiddenFor(a => a.CurrentCityId, new { @id = "currentCityId" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("Pin Code")
                                                @Html.TextBoxFor(m => m.CurrentPinCode, new { @id = "CurrentPin", @class = "form-control ", maxlength = "6", min = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Permanent Address
                                            </div>
                                            <div class="col-md-6">
                                                @*<div class="form-group">
                                                    @Html.CheckBoxFor(m => m.IsChecked, new { @id = "CheckBox"})
                                                    @Html.Label("Same as current address")
                                                </div>*@
                                                <div class="checkbox-inline i-checks">
                                                  <label> 
                                                     <input type="checkbox" id="CheckBox"checked="@Model.IsChecked" name="@Model.IsChecked">
                                                      <i></i><span>Same as current address</span>
                                                  </label>
                                                 </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 ">
                                                @Html.Label("Address")
                                                @Html.TextAreaFor(m => m.PermanentAddress, new { @id = "PermanentAddress", @class = "form-control", maxlength = "500" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("State")
                                                @Html.DropDownListFor(m => m.PermanentStateId, new SelectList(Model.ListOfState, "Value", "Text"), "Select State", new { id = "PermanentState", @class = "form-control select-chosen" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("City")
                                                <select id="PermanentCity" class="form-control"></select>
                                                @Html.HiddenFor(a => a.PermanentCityId, new { @id = "PermanentCityId" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("Pin Code")
                                                @Html.TextBoxFor(m => m.PermanentPinCode, new { @id = "PermanentPin", @class = "form-control", maxlength = "6", minlength = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="panel-footer text-right bg-white lter">
            <input type="submit" value="Save" class="btn btn-lightGreen btn-s-xs">
            <a href="@Url.Action("Index", "Employee")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/toastr.min.js"></script>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/aws-sdk-2.1.12.min.js"></script>
<script src="~/Content/js/FileUpload.js"></script>

<script type="text/javascript">
    var counter = 0;
    var _guid = '';
    $(document).ready(function() {

        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteContact", function() {
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function () {
            if ($("#Class option:selected").val() != 0 && $("#Section option:selected").val() != 0 && $("#Subject option:selected").val() != 0) {
                addRow();
            } else {
                toastr.error("Please Select fields")
            }
        });
        //TO HIDE TAB
        $("#EmployeeType").change(function () {
            debugger;
            if ($("#EmployeeType option:selected ").text() != "Teacher") {
              //  $("#mapping-tab").removeClass('active');
               // $("#mapping-tab").addClass('hide');
                $("#HideMap").hide();
            } else {
               // $("#mapping-tab").removeClass('active');
                //$("#mapping-tab").addClass('show');
                $("#HideMap").show();
            }
        });
    

       

        //GET SECTIONS ON CHANGE OF CLASS
        $("#Class").change(function() {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
            }
        });

        //FOR SEARCH BOX IN DROPDOWN
        $('.chosen-select').chosen({
            search_contains: true
        });

        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            autoclose: true

        }).on('changeDate', function(ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');

        //SET GUID VALUE IN S3KEY
        _guid = guid();
        $('#S3key').val(_guid);

        $(function() {
            $('.datepicker').datepicker({
                changeMonth: false,
                changeYear: true,
                showButtonPanel: true,
                yearRange: '1950:2013', // Optional Year Range
                dateFormat: 'yy'

            });
        });
        $("#mobile1").blur(function() {
            debugger;
            if ($("#PermanentPin").val() != "") {
            var result = isValidMobileNumber($("#mobile1").val());
            if ($("#mobile1").val().length !== 10 && !result) {
                toastr.error("Please enter valid mobile number");
            }
}
        });
        //SET CURRENTCITY ID 
        $("#currentCity").change(function() {
            $("#currentCityId").val($("#currentCity").val());
        });

        //SET PERMANENTCITY ID 
        $("#PermanentCity").change(function() {
            $("#PermanentCityId").val($("#PermanentCity").val());
        });

        //get currentcity
        $("#currentState").change(function() {
            debugger;
            var currentStateId = $("#currentState").val();
            getcurrentCity(currentStateId);
        });
        
        //to check only integer
        $("#PermanentPin").blur(function () {
            debugger;
            if ($("#PermanentPin").val() != "") {
            var res = is_int($("#PermanentPin").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });
        
        $("#CurrentPin").blur(function () {
            debugger;
            if ($("#CurrentPin").val() != "") {
            var res = is_int($("#CurrentPin").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });
        $("#Aadharnumber").blur(function () {
            debugger;
            if ($("#Aadharnumber").val() != "") {
            var res = is_int($("#Aadharnumber").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });
        $("#Number").blur(function () {
            debugger;
            if ($("#Number").val()!="") {
            var res = is_int($("#Number").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });

        //get permanentCity
        $("#PermanentState").change(function() {
            debugger;
            var permanentStateId = $("#PermanentState").val();
            getpermanentCity(permanentStateId);
        });
        $("#fathername").keypress(function(key) {
            debugger;
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#lastname").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#middlename").keypress(function(key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#Boardtwelth").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#BoardX").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#Graduation").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#University").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#firstname").keypress(function(key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        //SET CCURRENT AND PERMANENT ADDRESS SAME AS ON CHANGE OF CHECKBOX
        $("#CheckBox").change(function() {
            if ($(this).prop("checked") == true) {
                $("#PermanentAddress").val($("#CurrentAddress").val());
                $("#PermanentPin").val($("#CurrentPin").val());
                $("#PermanentState").val($("#currentState option:selected").val());
                $("#PermanentStateId").val($("#currentStateId").val());
                if ($("#PermanentState").selectedIndex !== 0) {
                    getpermanentCity($("#currentState option:selected").val());
                    $("#PermanentCityId").val($("#currentCityId").val());
                   
}
             
                 //$("#PermanentState").val($("#currentState").text);
            } else {
                $("#PermanentAddress").val("");
                $("#PermanentPin").val("");
                $("#PermanentState")[0].selectedIndex = 0;
                $("#PermanentCity")[0].selectedIndex = 0;
            }
        });

        //VALIDATION FOR ONLY TEXT VALUE
        $("#mother").keypress(function(key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });

        $("#teachermobile").blur(function() {
            debugger;
            var result = isValidMobileNumber($("#studentmobile").val());
            if ($("#studentmobile").val().length !== 10 && !result) {
                toastr.error("Please enter valid mobile number");
            }
        });
        //validation for pincode

        $("#PermanentPin").blur(function() {
            debugger;
            var result = isValidMobileNumber($("#PermanentPin").val());
            if ($("#PermanentPin").val().length !== 6 && !result) {
                toastr.error("Please enter valid pincode");
            }
        });
        //validation for pincode

        $("#CurrentPin").blur(function() {
            debugger;
            if ($("#CurrentPin").val() != "") {
            var result = isValidMobileNumber($("#CurrentPin").val());
            if ($("#CurrentPin").val().length !== 6 && !result) {
                toastr.error("Please enter valid pincode");
            }
}
        });
        //VALIDATION  FOR AADHARNUMBER
        $("#Aadharnumber").blur(function() {
            debugger;
            if ($("#Aadharnumber").val() != "") {
            var result = isValidMobileNumber($("#Aadharnumber").val());
            if ($("#Aadharnumber").val().length !== 12 && !result) {
                toastr.error("Please enter valid Aadhar number");
            }
}
        });
        //VALIDATION FOR MOBILE NUMBER
        $("#mobile1").blur(function() {
            debugger;
            if ($("#mobile1").val() != "") {
            var result = isValidMobileNumber($("#mobile1").val());
            if ($("#mobile1").val().length !== 10 && !result) {
                toastr.error("Please enter valid mobile number");
            }
}
        });
        $("#Number").blur(function () {
            debugger;
            if ($("#Number").val() != "") {
            var result = isValidMobileNumber($("#Number").val());
            if ($("#Number").val().length !== 10 && !result) {
                toastr.error("Please enter valid mobile number");
            }
}
        });
        //VALIDATION FOR EMAIL PATTERN
        $("#emailid").blur(function () {
            if ($("#emailid").val() != "") {
            var result = isValidEmailAddress($("#emailid").val());
            if (!result) {
                toastr.error("Please enter valid Email");
            }
}
        });
    });
//ADD ROW IN MAPPING GRID
        function addRow() {
            debugger;

            var html = '<tr>' + '<td class="text-center">' + $("#Class option:selected").text() + '<input type="hidden" value="' + $("#Class option:selected").val() + '" name="MappingList[' + counter + '].ClassId" id="MappingList_' + counter + '__ClassId"' +
                '</td>' + '<td class="text-center">' + $("#Section option:selected").text() + '<input type="hidden" value="' + $("#Section option:selected").val() + '" name="MappingList[' + counter + '].SectionId" id="MappingList_' + counter + '__SectionId"' +
                '</td>' + '<td class="text-center">' + $("#Subject option:selected").text() + '<input type="hidden" value="' + $("#Subject option:selected").val() + '" name="MappingList[' + counter + '].SubjectId" id="MappingList_' + counter + '__SubjectId"' + '</td>' + '<td class="text-center">' +
                '<button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
            $(html).appendTo($("#AddList"));
            counter++;
        }

//GET SECTIONS
        function getSections(classId) {
            debugger;
            $("#Section").empty();
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function(classes) {

                $.each(classes, function(i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val(0).text(" Please Select"));
                //$('#Section option[value=""]').prop('selected', true);
            },
            error: function(ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

//GET PERMANENT CITY
    function getpermanentCity(permanentStateId) {
        $("#PermanentCity").empty();
        debugger;
        if (permanentStateId != "") {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetPermanentCityList")', // we are calling json method
            dataType: 'json',
            data: { permanentStateId: permanentStateId },
            success: function(states) {
                $.each(states, function(i, state) {

                    $("#PermanentCity").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                    // $("#PermanentCityId").val($("#PermanentCity").val());
                });

                $("#PermanentCity option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $("#PermanentCity").val($("#currentCity option:selected").val());
                if (!$('#CheckBox').prop("checked")) {
                    $('#PermanentCity option[value=""]').prop('selected', true);
                    $("#PermanentCity").val(@Model.PermanentCityId);
                }
                   
                },
                error: function(ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
}
        }

//GET CURRENT CITY
        function getcurrentCity(currentStateId) {
            debugger;
            $("#currentCity").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCurrentCityList")', // we are calling json method
                dataType: 'json',
                data: { currentStateId: currentStateId },
                success: function(states) {
                    $.each(states, function(i, state) {

                        $("#currentCity").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        // $("#currentCityId").val($("#currentCity").val());
                    });
                    $("#currentCity option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                    $('#currentCity option[value=""]').prop('selected', true);
                   $("#currentCity").val(@Model.CurrentCityId);
            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
    }
    
</script>
