﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.EmployeeBo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count=0;
    count = Model.MappingList != null ? Model.MappingList.Count : 0;
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Update Employee
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "Employee", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "editEmployeeForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">Fields with <span class="text-danger">*</span> are required. </p>
        </div>
        <section class="tabbable" id="tabs">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs responsive">
                        <li class="active">
                            <a href="#addEmployee-tab" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-street-view"></i>&nbsp;Personal
                            </a>
                        </li>
                        <li class="School-Tab">
                            <a href="#Education-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-mortar-board"></i>&nbsp;Education
                            </a>
                        </li>
                         <li class="School-Tab" id="HideTab">
                            <a href="#mapping-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-map"></i>&nbsp;Mapping
                            </a>
                        </li>
                        <li>
                            <a href="#address-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-address-book"></i>&nbsp;Address
                            </a>
                        </li>
                    </ul>

                    <div class="panel-body">
                        <div id="content" class="tab-content responsive">
                            <div class="tab-pane fade in  active responsive" id="addEmployee-tab">
                               <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 text-center">
                                                <a href="@Url.Action("ProfilePicture", "Employee", new {userId = Model.Id})" ajax-modal="ajaxModal" style="display: block; position: relative;">
                                                    <img id="EmployeeProfilePic" src="@((Model.S3key == Guid.Empty) || (Model.S3key == null) ? Url.Content("~/Content/Images/gravator.png") : CommonUtil.GetUrlByKey("Employee/" + Model.S3key))" alt="..." class="img-thumbnail m-b text-center img-circle" height="120" width="120"/></a>
                                                <a id="DeleteEmployeePic" class="fa fa-trash-o text-danger" href="javascript:void(0)" data-placement="bottom" data-toggle="" title="Delete" onclick=" deleteConfirmation(removeEmployeeProfileImage); "
                                                   @((Model.S3key == Guid.Empty) || (Model.S3key == null) ? "style=display:none;" : "")></a>
                                                @Html.HiddenFor(a => a.S3key)
                                            </div>
                                        </div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 ">
                                                <div class="row">
                                                    <div class="form-group  col-md-4 col-sm-4 col-xs-4">
                                                        @Html.Label("Title")
                                                        @Html.DropDownListFor(m => m.TitleId, new SelectList(Model.ListOfTitle, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select"})
                                                    </div>
                                                    <div class="form-group  col-md-4 col-sm-4 col-xs-4">
                                                        @Html.Label("Employee Type")
                                                        @Html.DropDownListFor(m => m.EmployeeTypeId, new SelectList(Model.ListOfEmployeeType, "Id", "Name"), "Please Select", new {@id = "EmployeeType", @class = "form-control chosen-select"})
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                        @Html.Label("Employee Code")&nbsp;<span class="text-danger">*</span>
                                                        @Html.TextBoxFor(m => m.EmployeeCode, new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter Employee Code"})
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                        @Html.Label("First Name")&nbsp;<span class="text-danger">*</span>
                                                        @Html.TextBoxFor(m => m.FirstName, new {@id = "firstname", @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter First Name", maxlength = "50"})
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                        @Html.Label("Middle Name")
                                                        @Html.TextBoxFor(m => m.MiddleName, new {@id = "middlename", @class = "form-control middle", maxlength = "50"})
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                                        @Html.Label("Last Name")&nbsp;<span class="text-danger">*</span>
                                                        @Html.TextBoxFor(m => m.LastName, new {@id = "lastname", @class = "form-control last", maxlength = "50", data_parsley_required = "true", data_parsley_error_message = "Please Enter Last Name"})
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                               <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                            @Html.Label("Father Name")
                                            @Html.TextBoxFor(m => m.FatherName, new { @id = "father", @class = "form-control", maxlength = "150" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Email Address")
                                            @Html.TextBoxFor(m => m.Email, new { @id = "emailid", @class = "form-control", type = "email", data_parsley_error_message = "Please Enter Valid Email", maxlength = "100" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Date Of Birth")
                                            @Html.TextBoxFor(m => m.DateOfBirth,"{0:dd-MMM-yyyy}" ,new { @class = "form-control datepicker-input", @placeholder = "Select Date of Birth" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Mobile Number")
                                            @Html.TextBoxFor(m => m.MobileNumber, new {@id="Number", @class = "form-control", minlength = "10", maxlength = "10", data_parsley_length = "[10,10]" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                            @Html.Label("Gender")
                                            @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.ListOfGender, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Relegion")
                                            @Html.DropDownListFor(m => m.RelegionId, new SelectList(Model.ListOfReligion, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select" })

                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Category")
                                            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.ListOfCategory, "Id", "Name"), "Select Category", new { @class = "form-control chosen-select" })

                                        </div>
                                        <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Nationality")
                                            @Html.DropDownListFor(m => m.NationalityId, new SelectList(Model.ListOfNationality, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                            @Html.Label("PAN Number")
                                            @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", minlength = "10", maxlength = "10" })
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Aadhar Number")
                                            @Html.TextBoxFor(m => m.UID, new {@id="Aadharnumber", @class = "form-control", minlength = "12", maxlength = "12" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Joining Date")
                                            @Html.TextBoxFor(m => m.DOJ,"{0:dd-MMM-yyyy}" ,new { @class = "form-control datepicker-input" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Exit Date")
                                            @Html.TextBoxFor(m => m.DateOfExit,"{0:dd-MMM-yyyy}",new { @class = "form-control datepicker-input" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                        <div class="tab-pane fade responsive" id="Education-tab">
                            <section class="panel panel-default">
                                <header class="panel-heading font-bold">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Basic/Graduation
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                            @Html.Label("Graduation")
                                            @Html.TextBoxFor(m => m.Graduation, new {@class = "form-control", maxlength = "250"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("University/Institute Name")
                                            @Html.TextBoxFor(m => m.UniversityName, new {@class = "form-control", maxlength = "250"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Year")
                                            @Html.TextBoxFor(m => m.GraduationPassingYear,"{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Marks")
                                            @Html.TextBoxFor(m => m.GraduationMarks, new {@class = "form-control",type="number", maxlength = "20"})
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="panel panel-default">
                                <header class="panel-heading font-bold">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Class X
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                            @Html.Label("Board")
                                            @Html.TextBoxFor(m => m.HighSchoolBoardName, new {@class = "form-control", maxlength = "250"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Year")
                                            @Html.TextBoxFor(m => m.HighschoolPassingYear, new {@class = "form-control datepicker-input"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Medium")
                                            @Html.DropDownListFor(m => m.HighSchoolMediumId, new SelectList(Model.ListOfMedium, "Id", "Name"), "Please Select", new {@class = "form-control"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Marks")
                                            @Html.TextBoxFor(m => m.HighSchoolMarks ,new {@class = "form-control",type="number", maxlength = "20"})
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <header class="panel-heading font-bold">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Class XII
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                            @Html.Label("Board")
                                            @Html.TextBoxFor(m => m.InterSchoolBoardName, new {@class = "form-control", maxlength = "20"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Year")
                                            @Html.TextBoxFor(m => m.InterPassingYear,"{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Medium")
                                            @Html.DropDownListFor(m => m.InterSchoolMediumId, new SelectList(Model.ListOfMedium, "Id", "Name"), "Please Select", new {@class = "form-control"})
                                        </div>
                                        <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                            @Html.Label("Marks")
                                            @Html.TextBoxFor(m => m.InterSchoolMarks, new {@class = "form-control",type="number", maxlength = "100"})
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                            <div class="tab-pane fade responsive" id="mapping-tab">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Mapping
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-3 col-sm-3">
                                                <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                                                @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @class = "form-control", @id = "Class" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3">
                                                <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>
                                                <select id="Section" class="form-control chosen">
                                                </select>
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                                @Html.Label("Subject")
                                                @Html.DropDownListFor(a => a.SubjectId, new SelectList(Model.ListOfSubjects, "Id", "Name"), "Please Select", new { @class = "form-control", @id = "Subject" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                                                <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add</button>
                                            </div>
                                        </div>
                                        <div class="row scrollable" style="max-height: 250px;">
                                           @if(Model.MappingList!=null)
                                           {
                                               
                                            <div class="form-group col-md-12 col-sm-12">
                                                <table class="table table-striped responsive" id="AddList">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center"> @Level.GetlabelName((int)LabelEnum.Class) Name</th>
                                                        <th class="text-center"> @Level.GetlabelName((int)LabelEnum.Batch) Name</th>
                                                        <th class="text-center">Subject Name</th>
                                                        <th class="text-center">Delete</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                   
                                                         @for (int i = 0; i < Model.MappingList.Count; i++)
                                                         {
                                                           <tr>
                                                                 
                                                                 @Html.HiddenFor(a => a.MappingList[i].ClassId)
                                                                 @Html.HiddenFor(a => a.MappingList[i].SectionId)
                                                                 @Html.HiddenFor(a => a.MappingList[i].SubjectId)
                                                                 <td class="text-center"> @Model.MappingList[i].ClassName</td>
                                                                 <td class="text-center"> @Model.MappingList[i].SectionName</td>
                                                                 <td class="text-center"> @Model.MappingList[i].SubjectName </td>
                                                                 <td class="text-center"><button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button> </td>
                                                             </tr>
                                                         }
                                                    

                                                    </tbody>
                                                </table>
                                            </div>
                                           }
                                        </div>

                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade responsive" id="address-tab">
                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Current Address
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 ">
                                                @Html.Label("Address")
                                                @Html.TextAreaFor(m => m.CurrentAddress, new { @class = "form-control", maxlength = "500" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("State")
                                                @Html.DropDownListFor(m => m.CurrentStateId, new SelectList(Model.ListOfState, "Value", "Text"), "Select State", new { id = "currentState", @class = "form-control select-chosen" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("City")
                                                <select id="currentCity" class="form-control"></select>
                                                @Html.HiddenFor(a => a.CurrentCityId, new { @id = "currentCityId" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("Pin Code")
                                                @Html.TextBoxFor(m => m.CurrentPinCode, new {@id="CurrentPin", @class = "form-control ", maxlength = "6", minlength = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Permanent Address
                                            </div>
                                            <div class="col-md-6">
                                                @*<div class="form-group">
                                                    @Html.CheckBoxFor(m => m.IsChecked, new { @id = "CheckBox" })
                                                    @Html.Label("Same as current address")
                                                </div>*@
                                                <div class="checkbox-inline i-checks">
                                                    <label>
                                                    <input type="checkbox" id="checkbox" checked="@Model.IsChecked">
                                                    <i></i><span>Same as current address</span>
                                                    </label>
                                                </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 ">
                                                @Html.Label("Address")
                                                @Html.TextAreaFor(m => m.PermanentAddress, new { @class = "form-control", maxlength = "500" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("State")
                                                @Html.DropDownListFor(m => m.PermanentStateId, new SelectList(Model.ListOfState, "Value", "Text"), "Select State", new { id = "PermanentState", @class = "form-control select-chosen" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("City")
                                                <select id="PermanentCity" class="form-control"></select>
                                                @Html.HiddenFor(a => a.PermanentCityId, new { @id = "PermanentCityId" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("Pin Code")
                                                @Html.TextBoxFor(m => m.PermanentPinCode, new {@id="PermanentPin", @class = "form-control", maxlength = "6", minlength = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="panel-footer text-right bg-white lter">
            <input type="submit" value="Update" class="btn btn-lightGreen btn-s-xs">
            <a href="@Url.Action("Index", "Employee")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/toastr.min.js"></script>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet"/>
<script src="~/Content/js/aws-sdk-2.1.12.min.js"></script>
<script src="~/Content/js/FileUpload.js"></script>

<script type="text/javascript">
    window.EmployeeProfilePic = '@Url.Content("~/Content/images/gravator.png")';
    var _guid = '';
   
        var counter='@count';
   
   
    $(document).ready(function () {

        if ('@Model.S3key' === "@Guid.Empty") {
            _guid = guid();
        } else {
            _guid = '@Model.S3key';
        }
        $(document).on("click", ".deleteContact", function() {
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
        // $("#AddList").on("click", "#AddButton", addRow);
       // addRow();
        $("#AddButton").click(function () {
            if ($("#Class option:selected").val() != 0 && $("#Section option:selected").val() != 0 && $("#Subject option:selected").val() != 0) {
                addRow();
            } else {
                toastr.error("Please Select fields")
            }
        });

        //HIDE MAPPING TAB
        if ('@Model.EmployeeTypeId' !=1) {
            hideMappingTab();
        }
        $("#EmployeeType").change(function () {
            hideMappingTab();
        });
        //get section on change of class
        $("#Class").change(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
            }
        });
        $('.chosen-select').chosen({
            search_contains: true
        });
       
        $('#S3key').val(_guid);
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            autoclose: true
            }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        //$(".datepicker-input").val('');
        $(function () {
            $('.datepicker').datepicker({
                changeMonth: false,
                changeYear: true,
                showButtonPanel: true,
                yearRange: '1950:2013', // Optional Year Range
                dateFormat: 'yy'

            });
        });

        //TO CHECK ONLY INTEGER
        $("#Number").blur(function () {
            debugger;
            if ($("#Number").val()!=""){
            var res = is_int($("#Number").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });

        //SET CCURRENT AND PERMANENT ADDRESS SAME AS ON CHANGE OF CHECKBOX
        $("#CheckBox").change(function () {
            if ($(this).prop("checked") == true) {
                $("#PermanentAddress").val($("#CurrentAddress").val());
                $("#PermanentPin").val($("#CurrentPin").val());
                $("#PermanentState").val($("#currentState option:selected").val());
                $("#PermanentStateId").val($("#currentStateId").val());
                if ($("#PermanentState").selectedIndex !== 0) {
                    getpermanentCity($("#currentState option:selected").val());
                    $("#PermanentCityId").val($("#currentCityId").val());
                    $("#PermanentCity").val($("#currentCity option:selected").val());
                }

                //$("#PermanentState").val($("#currentState").text);
            } else {
                $("#PermanentAddress").val("@Model.PermanentAddress");
                $("#PermanentPin").val("@Model.PermanentPinCode");
                $("#PermanentState")[0].selectedIndex = '@Model.PermanentStateId';
                getpermanentCity('@Model.PermanentStateId');
                $("#PermanentCityId").val('@Model.PermanentCityId');
            }
        });


        //validation for pincode

        $("#PermanentPin").blur(function () {
            debugger;
            if ($("#PermanentPin").val() != "") {
                var result = isValidMobileNumber($("#PermanentPin").val());
                if ($("#PermanentPin").val().length !== 6 && !result) {
                    toastr.error("Please enter valid pincode");
                }
            }
        });
        $("#CurrentPin").blur(function () {
            debugger;
            if ($("#CurrentPin").val() != "") {
                var result = isValidMobileNumber($("#CurrentPin").val());
                if ($("#CurrentPin").val().length !== 6 && !result) {
                    toastr.error("Please enter valid pincode");
                }
            }
        });
        $("#PermanentPin").blur(function () {
            debugger;
            if ($("#PermanentPin").val() != "") {
            var res = is_int($("#PermanentPin").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });
        $("#CurrentPin").blur(function () {
            debugger;
            if ($("#CurrentPin").val() != "") {
            var res = is_int($("#CurrentPin").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });

      
        $("#Aadharnumber").blur(function () {
            debugger;
            if ($("#Aadharnumber").val() != "") {
            var res = is_int($("#Aadharnumber").val());
            if (res) {
                return true;
            } else {
                toastr.error("Please enter only integer");
                return false;
            }
}
        });
        //VALIDATION FOR ONLY TEXT VALUE
        $("#mother").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#lastname").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        //VALIDATION FOR ONLY TEXT VALUE
        $("#father").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });

        $("#teachermobile").blur(function () {
            debugger;
            if ($("#teachermobile").val() != "") {
            var result = isValidMobileNumber($("#studentmobile").val());
            if ($("#studentmobile").val().length !== 10 && !result) {
                toastr.error("Please enter valid mobile number");
            }
}
        });
        //validation for pincode

        $("#PermanentPin").blur(function () {
            debugger;
            if ($("#PermanentPin").val() != "") {
            var result = isValidMobileNumber($("#PermanentPin").val());
            if ($("#PermanentPin").val().length !== 6 && !result) {
                toastr.error("Please enter valid pincode");
            }
}
        });
        //validation for pincode

        $("#CurrentPin").blur(function () {
            debugger;
            if ($("#CurrentPin").val() != "") {
            var result = isValidMobileNumber($("#CurrentPin").val());
            if ($("#CurrentPin").val().length !== 6 && !result) {
                toastr.error("Please enter valid pincode");
            }
}
        });
        //VALIDATION  FOR AADHARNUMBER
        $("#Aadharnumber").blur(function () {
            debugger;
            if ($("#Aadharnumber").val() != "") {
            var result = isValidMobileNumber($("#Aadharnumber").val());
            if ($("#Aadharnumber").val().length !== 12 && !result) {
                toastr.error("Please enter valid Aadhar number");
            }
}
        });
        //VALIDATION FOR MOBILE NUMBER
        $("#mobile1").blur(function () {
            debugger;
            if ($("#mobile1").val() != "") {
            var result = isValidMobileNumber($("#mobile1").val());
            if ($("#mobile1").val().length !== 10 && !result) {
                toastr.error("Please enter valid mobile number");
            }
}
        });
        //VALIDATION FOR EMAIL PATTERN
        $("#emailid").blur(function () {
            if ($("#emailid").val() != "") {
            var result = isValidEmailAddress($("#emailid").val());
            if (!result) {
                toastr.error("Please enter valid Email");
            }
}
        });



        //get currentcity
        getcurrentCity('@Model.CurrentStateId');
        $("#currentState").change(function () {
            debugger;
            var currentStateId = $("#currentState").val();
            getcurrentCity(currentStateId);
        });

        //get permanentCity
        getpermanentCity('@Model.PermanentStateId');
        $("#PermanentState").change(function() {
            debugger;
            var permanentStateId = $("#PermanentState").val();
            getpermanentCity(permanentStateId);
        });


    });

    function hideMappingTab() {
        debugger;
        if ($("#EmployeeType option:selected ").val() != 1) {
            //  $("#mapping-tab").removeClass('active');
            // $("#mapping-tab").addClass('hide');
            $("#HideTab").hide();
        } else {
            // $("#mapping-tab").removeClass('active');
            //$("#mapping-tab").addClass('show');
            $("#HideTab").show();
        }
    }

    function getSections(classId) {
        debugger;
        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function(classes) {

                $.each(classes, function(i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("Select"));
                $('#Section option[value=""]').prop('selected', true);
            },
            error: function(ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    function getpermanentCity(permanentStateId) {
        $("#PermanentCity").empty();
        debugger;
        if (permanentStateId != "") {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetPermanentCityList")', // we are calling json method
            dataType: 'json',
            data: { permanentStateId: permanentStateId },
            success: function(states) {
                $.each(states, function(i, state) {

                    $("#PermanentCity").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                    $("#PermanentCityId").val($("#PermanentCity").val());
                });

                $("#PermanentCity option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $("#PermanentCity").val($("#currentCity option:selected").val());
                if (!$('#CheckBox').prop("checked")) {
                    $('#PermanentCity option[value=""]').prop('selected', true);
                    $("#PermanentCity").val(@Model.PermanentCityId);
                }
                },
                error: function(ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
        }
    }

    function addRow() {
        debugger;

        var html = '<tr>' + '<td class="text-center">' + $("#Class option:selected").text() + '<input type="hidden" value="' + $("#Class option:selected").val() + '" name="MappingList[' + counter + '].ClassId" id="MappingList_' + counter + '__ClassId">' +
            '<input type="hidden" value="' + $("#Class option:selected").text() + '" name="MappingList[' + counter + '].ClassName" id="MappingList_' + counter + '__ClassName">' +
            '</td>' + '<td class="text-center">' + $("#Section option:selected").text() + '<input type="hidden" value="' + $("#Section option:selected").val() + '" name="MappingList[' + counter + '].SectionId" id="MappingList_' + counter + '__SectionId">' +
            '<input type="hidden" value="' + $("#Section option:selected").text() + '" name="MappingList[' + counter + '].SectionName" id="MappingList_' + counter + '__SectionName">' +
            '</td>' + '<td class="text-center">' + $("#Subject option:selected").text() + '<input type="hidden" value="' + $("#Subject option:selected").val() + '" name="MappingList[' + counter + '].SubjectId" id="MappingList_' + counter + '__SubjectId">' + '</td>' + '<td class="text-center">' +
            '<input type="hidden" value="' + $("#Subject option:selected").text() + '" name="MappingList[' + counter + '].SubjectName" id="MappingList_' + counter + '__SubjectName">' +
            '<button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        counter++;
    };

    function getcurrentCity(currentStateId) {
        debugger;
        if (currentStateId != "") {
            $("#currentCity").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCurrentCityList")', // we are calling json method
            dataType: 'json',
            data: { currentStateId: currentStateId },
            success: function (states) {
                $.each(states, function (i, state) {

                    $("#currentCity").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                    $("#currentCityId").val($("#currentCity").val());
                });
            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
}
    }



   

     function removeEmployeeProfileImage() {
        $(".loader").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemoveProfilePicture", "Employee")',
              dataType: 'json',
              data: { id: "@Model.Id" },
              success: function (data) {
                  removeStudentProfilePic("@(Model.S3key == Guid.Empty ? string.Empty : CommonUtil.GetUrlByKey("Employee/" + Model.S3key))");
              }
          });
          }

</script>
