﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.FeeHeadBo
@{
    ViewBag.Title = PageTitle.Create("Add");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add FeeHead
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "FeeHead", null, FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "addFeeHead" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ClassId, new { @id = "HiddenClassId" })
        <section class="tabbable" id="tabs">
            <div class="row">
                <p style="margin-left: 30px">
                    Fields with <span class="text-danger">*</span> are required.
                </p>
                <div class="col-lg-12 col-lg-12 col-lg-12">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-6 col-xs-6">
                                @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(u => u.Name, new { @id = "FeeHead", @class = "form-control", maxlength = "100", data_parsley_required = "true", data_parsley_error_message = "Please enter  name" })
                            </div>
                            <div class="form-group col-md-6  col-sm-6 col-xs-6">
                                @Html.Label("FeeHead Type")&nbsp;<span class="text-danger">*</span>
                                @Html.DropDownListFor(m => m.FeeHeadTypeId, new SelectList(Model.FeeHeadTypeList, "Id", "Name"), "Select FeeHead", new { @id = "FeeHeadType", @class = "form-control chosen-select ", data_parsley_required = "true", data_parsley_error_message = "Please select feehead type" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-6 col-xs-6" id="Amount">
                                @Html.Label("Amount")
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control ", type = "number" })

                            </div>
                            <div class="form-group col-md-6  col-sm-6 col-xs-6" id="Class">
                                <label>@Level.GetlabelName((int)LabelEnum.Class)</label>
                                @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @id = "Class1", @class = "form-control " })
                            </div>
                        </div>
                    </div>

                    <div id="Hide">
                        <div class="form-group col-md-12  col-sm-12 col-xs-12">
@*                            <div class="btn-group col-md-6  col-sm-6 col-xs-6" style="padding-top: 20px">
                                <label class="btn btn-default">
                                    <span>
                                        <input type="checkbox" id="allcheck">
                                    </span>
                                </label>
                                <label class="[ btn btn-primary active ]">
                                    @Html.Label("Select All Months")
                                </label>
                                <br />
                            </div>*@
                             <div class="btn-group col-md-6  col-sm-6 col-xs-6 i-checks" style="padding-top: 20px">
                              <label class="btn btn-default"> 
                            <input type="checkbox" id="allcheck">
                               <i></i><span></span>
                                  </label>
                                 <label>
                                  <span class="btn btn-primary active">Select All Months</span>
                              </label>
                             </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("Description")
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control ", maxlength = "500" })
                            </div>

                        </div>
                        @for (var i = 0; i < Model.ListOfMonths.Count; i++)
                        {
                            var mid = "ListOfMonths_" + i + "__Selected";
                            //var ddid = "ListOfMonths_" + i + "__MonthId";

                            <div class="form-group col-md-4">
                                @Html.HiddenFor(m => Model.ListOfMonths[i].MonthId)
                                @Html.HiddenFor(m => Model.ListOfMonths[i].Selected)
                                @Html.HiddenFor(m => Model.ListOfMonths[i].MonthName)
                                @*<input id="@t.Id fancy-checkbox-default" name="@t.Name fancy-checkbox-default" type="checkbox" value="@t.Name" autocomplete="off"/>*@
                                <div class="btn-group i-checks">
                                    <label class="btn btn-default">
                                        @*<span>
                                            <input id="@mid" class="checkitem" name="@mid" type="checkbox" value="@Model.ListOfMonths[i].Selected" @(Model.ListOfMonths[i].Selected ? "checked='checked'" : "") autocomplete="off"/>
                                       </span>*@
                                         <input type="checkbox" id="mid" class="checkitem"value="@Model.ListOfMonths[i].Selected" @(Model.ListOfMonths[i].Selected ? "checked='checked'" : "") autocomplete="off">
                                         <i></i><span></span>
                             
                                    </label>
                                    <label class="btn btn-primary active">
                                        @Model.ListOfMonths[i].MonthName
                                    </label>
                                    <br />
                                </div>
                                @* @Html.CheckBoxFor(t.Id)*@
                            </div>
                        }

                        @*<div class="form-group col-md-6  col-sm-6 col-xs-6">
                        @Html.Label("Session")
                        @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), new { @class = "form-control " })
                    </div>*@

                    </div>
                </div>
            </div>
        </section>
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddStudent" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "FeeHead")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }

</section>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    //$('#addUserForm').parsley();
    $(document).ready(function () {
        $("input:checkbox.checkitem").click(function () {
            debugger;
            if ($(this).is(':checked')) {
                $("#" + $(this).attr('id')).val(true);
                if ($(".checkitem:checked").length === $('input:checkbox.checkitem').length) {
                    $("#allcheck").prop("checked", true);
                }
            } else {
                $("#" + $(this).attr('id')).val(false);
                $("#allcheck").prop("checked", false);
            }
        });
        $("#Class1").change(function () {
            debugger;
            $("#HiddenClassId").val($("#Class1").val());
        });
        $("#FeeHeadType").change(function () {
            debugger;
            if ($("#FeeHeadType option:selected").val() == 1 || $("#FeeHeadType option:selected").val() == 3 || $("#FeeHeadType option:selected").val() == 4) {
                $("#Class").hide();
                $("#HiddenClassId").val(0);
            } else {
                $("#Class").show();

            }

            if ($("#FeeHeadType option:selected").val() == 3 || $("#FeeHeadType option:selected").val() == 4) {
                $("#Hide").hide();
                $("#Amount").hide();
            } else {
                $("#Hide").show();
                $("#Amount").show();
            }
        });

        $("#allcheck").change(function () {
            $(".checkitem").each(function (index) {
                debugger;
                $(".checkitem").prop("checked", $("#allcheck").prop("checked"));
                $("#" + $(this).attr('id')).val($("#allcheck").prop("checked"));
            });


        });

        $("#FeeHead").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
    });

    function saveForm() {
        debugger;
        $('#addFeeHead').parsley().validate();
        if ($('#addFeeHead').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "FeeHead")',
                data: $("#addFeeHead").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "FeeHead")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }


</script>
