﻿@model EduErp.BO.StudentExamMappingBo
            @if (Model != null)
            {

                <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                            StudentExam Mapping
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="row scrollable" style="max-height: 250px;">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="StudentExamMapping">
                                <thead>
                                <tr>
                                   
                                    <th class="text-center">Subject Name</th>
                                    <th class="text-center">Total Marks</th>
                                    <th class="text-center">Obtained Marks</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (Model.StudentExamLists.Count == 0)
                                {
                                    <tr>
                                        <td class="text-center" colspan="5">No record found</td>
                                    </tr>
                                }
                                else
                                {

                                    for (var i = 0; i < Model.StudentExamLists.Count; i++)
                                    {
                                        var id = "StudentExamLists" + i + "__Selected";
                                        //var ddid = "MenuList_" + i + "__RightId";
                                        <tr>
                                             @Html.HiddenFor(a => Model.StudentExamLists[i].SubjectName)
                                            @Html.HiddenFor(a => Model.StudentExamLists[i].TotalMarks)
                                            @Html.HiddenFor(a=>Model.StudentExamLists[i].ExamSubjectMappingId)
                                             <td class="text-center">@Model.StudentExamLists[i].SubjectName</td>
                                            <td class="text-center">@Model.StudentExamLists[i].TotalMarks</td>
                                             <td class="text-center" style="width: 200px">@Html.TextBoxFor(m=>m.StudentExamLists[i].ObtainMarks,new{@class="form-control"})</td>
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }