﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.StudentExamMappingBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add StdentExam Mapping
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "StudentExam", null, FormMethod.Post, new {  data_parsley_validate = "parsley", id = "addStudentExamForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">
                Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                    <label>Exam Type</label>
                    @Html.DropDownListFor(m => m.ExamId, new SelectList(Model.ListOfExamType, "Id", "Name"), "Please Select", new { @id = "ExamType", @class = "form-control" })
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                    <label>@Level.GetlabelName((int)LabelEnum.Class)</label>
                    @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @id = "Class", @class = "form-control" })
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group" id="SectionHide">
                    <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
                    <select id="Section" class="form-control"></select>
                    @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
                    @*   @Html.ListBoxFor(m => m.SectionId, new SelectList(Model.ListOfSections, "Id", "Name"), new {@class = "form-control"})*@
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group" id="StudentHide">
                    <label>Students</label>
                    <select id="Student" class="form-control"></select>
                    @Html.HiddenFor(a => a.StudentId, new { id = "hdnStudent" })
                    @*   @Html.ListBoxFor(m => m.SectionId, new SelectList(Model.ListOfSections, "Id", "Name"), new {@class = "form-control"})*@
                </div>
               </div>
            <div id="StudentExamMapping">
            </div>
        </div>
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddMessage" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "StudentExam")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script type="text/javascript">
    $(document).ready(function () {
       
            $("#Class").change(function () {
                debugger;
                if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
                $("#Section")[0].selectedIndex = 0;
                $("#Student")[0].selectedIndex = 0;
                }
            });
            $("#Student").change(function () {
                debugger;
                if (document.getElementById('Student').selectedIndex !== 0) {
                    getStudentsMappingList($("#Student").val(), $("#ExamType").val());
                } else {
                    $("#StudentExamMapping").html("");
                }
        });
       

        $("#Section").change(function () {
            if (document.getElementById('Section').selectedIndex !== 0) {
                getStudents($("#Section option:selected").val());
                $("#Student")[0].selectedIndex = 0;
            }
        });
    });


    function getStudentsMappingList(studentId,examTypeId) {
        debugger;
        $("#StudentExamMapping").html("");
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentListForExamMapping")',
            datatype: 'html',
            data: { examTypeId: examTypeId, studentId: studentId },
            success: function (data) {
                debugger;
                $("#StudentExamMapping").html(data);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    //get sections based on classId
    function getSections(classId) {
        debugger;
        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {

                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                //$('#Section option[value=""]').prop('selected', true);
                $("#Section").val('@Model.SectionId');
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    //get students Based on sectionId
    function getStudents(sectionId) {

        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
            datatype: 'json',
            data: { sectionId: sectionId },
            success: function (sections) {
                $.each(sections, function (i, sec) {
                    $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                });
                $("#Student option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                //$('#Student option[value=""]').prop('selected', true);
                $("#Student").val('@Model.StudentId');
                $("Student").trigger("liszt:updated");

                $("#Student").chosen();
            },

            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    function saveForm() {
        debugger;
        $('#addStudentExamForm').parsley().validate();
        if ($('#addStudentExamForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            $("#hdnSection").val($("#Section").val());
            $("#hdnStudent").val($("#Student").val());
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "StudentExam")',
                data: $("#addStudentExamForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "StudentExam")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
