﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<StudentExamMappingBo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<header class="panel-heading font-bold b-light">
    Add student Exam Mapping
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.StudentExamMapping) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
    {
        <a href="@Url.Action("Add", "StudentExam")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Mapping</a>
    }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" class="table table-striped" title="StudentExamDetail" width="100%" exportcolumn="0,1" visiblecolumn="0,1,2,3">
                        <thead class="bg-primary">
                        <tr class="active text-white">
                            <th class="text-center" title="Student Name">
                                    Student Name
                                </th>
                            <th class="text-center" title="Exam Name">
                                Exam Name
                            </th>
                            <th class="text-center" title="Class Name">
                                @Level.GetlabelName((int) LabelEnum.Class) Name
                            </th>
                            <th class="text-center" title="Section Name">
                                @Level.GetlabelName((int) LabelEnum.Batch) Name
                            </th>

                            <th class="text-center" title="Obtained Marks">
                                Obtained Marks
                            </th>
                            <th class="text-center" title="Status">
                                Status
                            </th>
                            @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Subject) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
                            {
                                <th class="text-center"title="Action">Action

                                </th>
                            }
                        </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Count> 0)
                            {

                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">
                                            @item.StudentName
                                        </td>
                                        <td class="text-center">
                                            @item.ExamName
                                        </td>
                                        <td class="text-center">
                                            @item.ClassName
                                        </td>
                                        <td class="text-center">
                                            @item.SectionName
                                        </td>
                                        <td class="text-center">
                                            @item.ObtainedMarks
                                        </td>
                                        <td class="text-center">
                                            <span class="hidden">@item.StatusId</span>
                                            <div id="btn_@item.Id">
                                                <button class="btn btn-default @(item.StatusId == (int) UserStatus.Active ? "btn-success active " : "")" title="@(item.StatusId == (int) UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                        id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.StatusId == (int) UserStatus.Active ? "Deactivate Studentexam Mapping" : "Activate Studentexam Mapping ?")', '@(item.StatusId == (int) UserStatus.Active ? "Are you sure you want to Deactivate studentexam Mapping ?" : "Are you sure you want to studentexam Mapping ?")', '@item.Id', '@(item.StatusId == (int) UserStatus.Active ? (int) UserStatus.InActive : (int) UserStatus.Active)') ">
                                                    <i class="fa @(item.StatusId == (int) UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                    <span class=@(item.StatusId == (int) UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int) UserStatus.Active ? "Active" : "Inactive")</span>
                                                </button>
                                            </div>
                                        </td>
                                        @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Subject) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                        {
                                            @*<td class="text-center">
                                                <a href="@Url.Action("Edit", "StudentExam", new {examId = item.ExamId,studentId=item.StudentId})" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                                    <i class="fa fa-edit icon"></i>&nbsp;Edit
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@((int) item.Id)', '@((int) UserStatus.Deleted)') ">
                                                    <i class=" fa fa-trash-o text-danger">
                                                    </i>&nbsp;Delete
                                                </a>
                                            </td>*@
                                            <td class="text-center">
                                                <a href="@Url.Action("Edit", "StudentExam", new { examId = item.ExamId,StudentId=item.StudentId})" id="btnModelOpen" title="Edit" data-placement="top" data-container="body">
                                                     <i class="fa fa-edit icon"></i>
                                                </a>
                                          
                                                 &nbsp;
                                                 <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@((int) item.Id)', '@((int) UserStatus.Deleted)') ">
                                                    <i class=" fa fa-trash-o text-danger">
                                                    </i>
                                                </a>
                                                 </td>
                                           
                                           
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id,status)
    {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
             
            url: '@Url.Action("UpdateStatus","StudentExam")',
            data: { id: id, status: status, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                //toastr.success(data);
                location.reload();
            },
            error: function (err) {
                debugger;
                alert(err);
            }

        });

    }

</script>
