﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model  EduErp.BO.OnlineExamTestQuestionBo
<div class="modal fade in" id="addOnlineTestModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="OnlineTestModalTitle"> Add OnlineTest Question</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Add", "OnlineTestQuestion", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "addOnline" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="row">
                            @*<div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.Name)&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control",maxlength="100", data_parsley_required = "true", data_parsley_error_message = "Enter Name" })
                            </div>*@
                           <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                    @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                                 @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.ListOfSubject, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select", data_parsley_required = "true", data_parsley_error_message = "Please Enter Subject Name"})
                                   @* @Html.TextBoxFor(m => m.SubjectId, new { @class = "form-control"})*@
                                   </div>
                           <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                    @Html.Label("Question")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(m => m.Questions, new { @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter Questions"})
                                   </div>
                                </div>
                            
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                    @Html.Label("Question Type")&nbsp;<span class="text-danger">*</span>
                                    @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(Model.ListOfQuestionType, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select",@id="QuestionTypeId", data_parsley_required = "true", data_parsley_error_message = "Please Enter Question Type"})
                                 </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                    @Html.Label("Description")
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control ",maxlength="100"})
                                   </div>
                               
                               
                            </div>

                     
                                <div class="row">
                            
                           
                             <div class="form-group col-md-6 col-sm-6 col-xs-6" id="BrowseHide">
                                   
                                <input type="file" class="form-control" name="file">
                            </div>
                           <div class="form-group col-md-2 col-sm-2 col-xs-2">
                                    @Html.Label("Ismcq")
                                   @Html.CheckBoxFor(m => m.Ismcq, new { @class="form-control"})
                                  
                               </div>
                                </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddOnlineTest" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                            <i class="fa fa-save"></i>&nbsp; Save
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#QuestionTypeId").change(function () {
            debugger;
            if ($("#QuestionTypeId").val() == 1) {
                $("#BrowseHide").show();

            } else {

                $("#BrowseHide").hide();

            }
        })
        });
   
    function saveForm() {
        debugger;
        $('#addOnline').parsley().validate();
        if ($('#addOnline').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "OnlineTestQuestion")',
                data: $("#addOnline").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OnlineTestQuestion")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
    

</script>
