﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.OnlineExamTestQuestionBo


<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update @Level.GetlabelName((int)LabelEnum.OnlineTestQuestion)</span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "OnlineTestQuestion", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "editclass" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="row">
                            @*<div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.Name)&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", data_parsley_required = "true",maxlength="100" ,data_parsley_error_message = "Please enter name" })
                            </div>*@
                           
                             
                                </div>
                            <div class="row">
                                 <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.SubjectName)&nbsp;<span class="text-danger">*</span>
                                      
                              
                                @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.ListOfSubject, "Id", "Name"), new { @class="form-control chosen-select"})
                              @*  @Html.TextBoxFor(m => m.SubjectId, new { @class = "form-control", data_parsley_required = "true" ,data_parsley_error_message = "Please enter subjectId" })*@
                            </div>
                             <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.Questions)&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.Questions, new { @class = "form-control", data_parsley_required = "true",data_parsley_error_message = "Please enter Question" })
                            </div>
                           
                                </div>
                            <div class="row">
                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("Question Type")&nbsp;<span class="text-danger">*</span>
                              
                          @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(Model.ListOfQuestionType, "Id", "Name"),new {@class = "form-control chosen-select"})
                               
                            </div>
                                
                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.Ismcq)
                                @Html.TextBoxFor(m => m.Ismcq, new { @class = "form-control", data_parsley_required = "true" ,data_parsley_error_message = "Please enter ismcq" })
                            </div>
                                </div>
                            <div class="row">
                             <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                               
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control",maxlength="250" })
                            </div>
                                </div>
                            @*@if (SessionItems.IsSuperAdmin)
                            {
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                   @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                                    @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), new { @class = "form-control chosen-select", data_parsley_required = "true" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                   @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(m => Model.ListOfSchools.FirstOrDefault(a => a.Value == SessionItems.SchoolId.ToString()).Text, new { @class = "form-control", @readonly = "readonly",data_parsley_required = "true" })
                                    @Html.HiddenFor(m => m.SchoolId)
                                </div>
                            }*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnEditClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default btn-s-xs" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script type="text/javascript">

    function validateForm() {
        debugger;
        $('#editclass').parsley().validate();
        if ($('#editclass').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url:'@Url.Action("Edit","OnlineTestQuestion")',
                data: $("#editclass").serialize(),
                type:'post',
                headers:headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OnlineTestQuestion")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
