﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model  EduErp.BO.ItemBo

<div class="modal fade in" id="editClassModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="ClassModalTitle"> Update Item</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Item", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "EditItem" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.Name, new {@id="Name", @class = "form-control",maxlength="50", data_parsley_required = "true", data_parsley_error_message = "Enter name" })
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Html.Label("Type")&nbsp;<span class="text-danger">*</span>
                                    @Html.DropDownListFor(m => m.ExpensesTypeId,new SelectList(Model.ListOfInventoryType,"Id","Name"),"Please Select", new { @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Select item type"})
                             </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddItem" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                            <i class="fa fa-save"></i>&nbsp; Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //$("#Name").keypress(function (key) {
    //    var text = isValidText(key.charCode);
    //    if (!text) {
    //        toastr.error("Please enter only text");
    //        return false;
    //    }
    //});
    function validateForm() {
        debugger;
        $('#EditItem').parsley().validate();
        if ($('#EditItem').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Item")',
                data: $("#EditItem").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index","Item")';
                  
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>
