﻿@model EduErp.BO.OTExamSubjectMapping
            

                <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                            ExamSubject Mapping
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="row scrollable" style="max-height: 250px;">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="ExamSubjectMapping">
                                <thead>
                                <tr>
                                   
                                    <th class="text-center" title="Subject Name">Subject Name</th>
                                    <th class="text-center" title="Time">Time</th>
                                    <th class="text-center" title="Sequence">Sequence</th>
                                    @*<th class="text-center" title="Delete">Delete</th>*@
                                    
                                </tr>
                                </thead>
                                <tbody>
                
                                @if (Model.ExamSubjectLists.Count == 0)
                                {
                                    <tr>
                                        <td class="text-center" colspan="5">No record found</td>
                                    </tr>
                                }
                                else
                                {

                                    for (var i = 0; i < Model.ExamSubjectLists.Count; i++)
                                    {
                                        var id = "ExamSubjectLists" + i + "__Selected";
                                  
                                        <tr>
                                             @Html.HiddenFor(a => Model.ExamSubjectLists[i].SubjectName)
                                            @Html.HiddenFor(a => Model.ExamSubjectLists[i].TimeInMinutes)
                                            @Html.HiddenFor(a=>Model.ExamSubjectLists[i].Sequence)
                                             <td class="text-center">@Model.ExamSubjectLists[i].SubjectName</td>
                                            <td class="text-center">@Model.ExamSubjectLists[i].TimeInMinutes</td>
                                         <td class="text-center">@Model.ExamSubjectLists[i].Sequence</td>
                                           @* <td class="text-center"><button type="button" id="btnDelete" class="text-center deleteRow btn btn btn-danger btn-xs">Remove</button></td>*@
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

    <script type="text/javascript">
    var counter = 0;
    $(document).ready(function () {
        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteRow", function () {
            debugger;
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
    });
        </script>