﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.OTExamSubjectMapping

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
     }
<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Exam Subject Mapping
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "OTExamSubject", null, FormMethod.Post, new { data_parsley_validate = "parsley", id = "addExamSubjectForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">
                Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        
        <div class="panel-body ">
            <div class="row">

                 <div class="form-group col-md-6 col-sm-6 col-xs-6 " id="ExamId">
                    @Html.Label("Exam Name")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.ExamId, new SelectList(Model.ListOfExam, "Id", "Name"), "Please Select", new { @id = "Exam", @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Exam Name" })

                </div>
                
                <div class="form-group col-md-6 col-sm-6 col-xs-6 ">
                    @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.ListOfSubject, "Id", "Name"), "Please Select", new { id = "SubjectName", @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Subject Name" })

                </div>
                 <div id="ExamSubjectMapping">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                    <label>TimeInMinutes</label>&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.TimeInMinutes, new { @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter Time In Minutes" })
                   
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                    <label>Sequence</label>
                    @Html.TextBoxFor(m => m.Sequence, new { @Class = "form-control" })
                   
                </div>
            </div>
            <div class="row scrollable" style="max-height: 250px;">
                    <div class="form-group col-md-12 col-sm-12">
                        <table class="table table-striped responsive" id="AddList">
                            <thead>
                            <tr>
                                <th class="text-center" title="Subject Name">Subject Name</th>
                               <th class="text-center" title="Time In Minutes">Time In Minutes</th>
                                 <th class="text-center" title="Sequence">Sequence</th>
                                <th class="text-center" title="Delete">Delete</th>
                                

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="SubjectName" class="text-center"></td>
                                <td id="TimeInMinutes" class="text-center"></td>
                                <td id="Sequence" class="text-center"></td>
                                <td id="Delete" class="text-center"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
           
        </div>
      
        <footer class="panel-footer text-right bg-white lter">
            <button  type="button" class="btn btn-primary btn-s-xs" id="savemore">
                <i class="fa fa-save"></i>&nbsp;Save&More
            </button>
             <a href="@Url.Action("Index", "OTExamSubject")" class="btn btn-s-md  btn-success"onclick=" saveForm();">
                <i class="fa fa-save"></i>&nbsp;Save
            </a>
            <a href="@Url.Action("Index", "OTExamSubject")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>



<script type="text/javascript">
   
    var counter = 0;
    
    $(document).ready(function () {
        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteRow", function () {
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });

        $("#savemore").click(function () {
        debugger;
       
        if ($("#SubjectName option:selected").val() != 0 && $("#TimeInMinutes").val() != "" && $("#Sequence").val() != "") {
               
            addRow();
        } else {
            toastr.error("Please Select fields")
        }
    });
    });
    //ADD ROW IN MAPPING GRID
    function addRow() {
       
        debugger;
        var html = '<tr>' + ' <td class="text-center">' + $("#SubjectName option:selected").text() + '<input type="hidden" value="' + $("#SubjectName option:selected").val() + '" name="ExamSubjectMappingLists[' + counter + '].SubjectId" id="ExamSubjectMappingLists' + counter + '__SubjectId"' +
    '</td>' + '<td class="text-center">' + $("#TimeInMinutes").val() + '<input type="hidden" value="' + $("#TimeInMinutes").val() + '" name="ExamSubjectMappingLists[' + counter + '].TimeInMinutes" id="ExamSubjectMappingLists' + counter + 'TimeInMinutes"' +
    '</td>' + '<td class="text-center">' + $("#Sequence").val() + '<input type="hidden" value="' + $("#Sequence").val() + '" name="ExamSubjectMappingLists[' + counter + '].Sequence" id="ExamSubjectMappingLists' + counter + 'Sequence"' +
    '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteRow btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        counter++;
    }

    $("#ExamId").change(function () {
        debugger;
        if (document.getElementById('Exam').selectedIndex !== 0) {
            getExamsMappingList($("#Exam").val());
        } else {
            $("#ExamSubjectMapping").html("");
        }
    });
    function getExamsMappingList(examId) {
        debugger;
        $("#ExamSubjectMapping").html("");
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetExamSubjectListForExamSubjectMapping", "OTExamSubject")',
            datatype: 'html',
            data: { examId: examId },
            success: function (data) {
                debugger;
                $("#ExamSubjectMapping").html(data);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    function saveForm() {
        debugger;
        $('#addExamSubjectForm').parsley().validate();
        if ($('#addExamSubjectForm').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "OTExamSubject")',
                data: $("#addExamSubjectForm").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OTExamSubject")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
    
</script>
