﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.OTExamSubjectMapping


<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update @Level.GetlabelName((int)LabelEnum.OTExamSubject)</span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "OTExamSubject", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "editclass" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                           <div class="row">

                 <div class="form-group col-md-6 col-sm-6 col-xs-6 ">
                    @Html.Label("Exam Name")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.ExamId, new SelectList(Model.ListOfExam, "Id", "Name"), "Please Select", new {@id="Exam", @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Exam Name" })

                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6 ">
                    @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.ListOfSubject, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Subject Name" })

                </div>
               
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                    <label>TimeInMinutes</label>&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.TimeInMinutes, new {@class="form-control", data_parsley_required = "true",  data_parsley_error_message = "Please Enter Time In Minutes" })
                   
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                    <label>Sequence</label>
                    @Html.TextBoxFor(m => m.Sequence, new { @Class = "form-control" })
                   
                </div>
            </div>

                         
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnEditClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default btn-s-xs" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/bootstrap-timepicker.min.js"></script>
<link href="~/Content/js/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Content/js/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/Content/js/timepicker-custom/jquery.timepicker.min.js"></script>
<link href="~/Content/js/timepicker-custom/jquery.timepicker.min.css" rel="stylesheet" />

<script type="text/javascript">
   
    function validateForm() {
        debugger;
        $('#editclass').parsley().validate();
        if ($('#editclass').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url:'@Url.Action("Edit","OTExamSubject")',
                data: $("#editclass").serialize(),
                type:'post',
                headers:headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OTExamSubject")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
