body,
input,
textarea,
select,
button,
.normal {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    font-size: 13px;
    color: #3d464d;
    font-weight: normal;
}
#scroll {
    position: fixed;
    z-index: 99999999999;
    right: 10px;
    bottom: 55px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
    #scroll span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #ffffff;
    }
    #scroll:hover {
        background-color: #e74c3c;
        opacity: 1;
        filter: "alpha(opacity=100)";
        -ms-filter: "alpha(opacity=100)";
    }

a {
    cursor: pointer;
}
a.blueanchor:hover {
    text-decoration: underline;
}

.blueanchor,
.blueanchor * {
    cursor: pointer;
    outline: none;
}

.bg-grey {
    background-color: #333333 !important;
}

.blueanchor {
    color: #2895F1 !important;
}

.blueanchor:hover {
    text-decoration: underline;
}

.blueanchor img {
    border: 0;
}

.scrHe-cart {
    max-height: 130px;
    overflow-y: auto !important;
    overflow-x: hidden;
    margin: 10px 0;
}


/*body
{
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

input[type=password]
{
    font-family: arial, sans-serif;
}
button
{
    border: 0;
    width: auto;
    overflow: visible;
    border-style: solid;
    outline: 0;
}
form
{
    padding: 0;
    margin: 0;
}
label
{
    cursor: default;
}
noscript
{
    font-size: 13px;
    font-weight: normal;
}

.clearfix:before, .clearfix:after
{
    content: " ";
    display: table;
}
.clearfix:after
{
    clear: both;
}

*/

.loader {
    min-height: 70px;
    width: 150px;
    background-color: #f2f4f8;
    padding: 0px 0px 12px;
    font-family: Verdana;
    border: thin solid rgb(160, 160, 160) !important;
    border-radius: 6px !important;
    color: rgb(0, 0, 0) !important;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    position: absolute;
    z-index: 9999999;
    display: none;
    transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
}

span {
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: inherit;
}

textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}

.disabledLink {
    pointer-events: none !important;
    cursor: default !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: #6D6D91 !important;
    background-color: #EDEDED !important;
    /*border: 1px solid #8e9091;*/
}

a.disabled,
input.disabled {
    pointer-events: none;
    cursor: default;
    color: #6D6D91 !important;
    background-color: #EDEDED !important;
    /*border: 1px solid #8e9091;*/
}

.button.disabled {
    cursor: default !important;
    -ms-opacity: .5;
    opacity: .5;
    -webkit-filter: alpha(opacity=50);
    -moz-filter: alpha(opacity=50);
    -o-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50);
}

.notification_height {
    max-height: 300px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 10px 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}

.selected {
    background-color: #428bca !important;
    color: white !important;
}

.selected td {
    background-color: #428bca !important;
    color: white !important;
}

.img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    float: left!important;
    border: 1px solid #DEEAEE;
}

table.dataTable tbody tr:hover {
    cursor: pointer !important;
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background-color: #949596;
}

::selection {
    color: black;
    background-color: #949596;
}

p {
    text-align: justify;
}

#modal-box {
    background-color: #fff;
    height: 100%;
    border: 1px solid #7A858D;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#modal-box div#modal-title {
    word-wrap: break-word;
}

#modal-box h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 20px 32px;
    background: none;
    margin: 0;
}

div#modal-content {
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e5e5e5;
    background: #f6f9fc;
    padding: 32px;
    line-height: 1.8em;
    font-size: 13px;
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
    -webkit-line-break: after-white-space;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#upload-modal-dropzone {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1001;
    color: #000;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #78b0de;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

@keyframes example {
    100% {
        opacity: .7;
    }
}

#fileDrag {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.dragArea {
    z-index: 9999 !important;
    border: 8px solid #060;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

#dropAreaMessage {
    position: fixed;
    top: 15px;
    left: 45%;
    align-content: center;
}

.dropAreaMessage {
    display: block !important;
    -ms-opacity: 0;
    z-index: 2000;
    opacity: 1;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.terms-conditions {
    margin-left: 5px;
    position: absolute;
}

.p-0-left {
    padding-left: 0 !important;
}

.m-0-left {
    margin-left: 0 !important;
}

.p-0-right {
    padding-right: 0 !important;
}

.m-0-right {
    margin-right: 0 !important;
}

.p-0-top {
    padding-top: 0 !important;
}

.m-0-top {
    margin-top: 0 !important;
}

.p-0-bottom {
    padding-bottom: 0 !important;
}

.m-0-bottom {
    margin-bottom: 0 !important;
}

.p-0-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.m-0-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.p-0-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-0-top-bottom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.p-xs-left {
    padding-left: 5px !important;
}

.m-xs-left {
    margin-left: 5px !important;
}

.p-xs-right {
    padding-right: 5px !important;
}

.m-xs-right {
    margin-right: 5px !important;
}

.p-xs-top {
    padding-top: 5px !important;
}

.m-xs-top {
    margin-top: 5px !important;
}

.p-xs-bottom {
    padding-bottom: 5px !important;
}

.m-xs-bottom {
    margin-bottom: 5px !important;
}

.p-xs-left-right {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.m-xs-left-right {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.p-xs-top-bottom {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.m-xs-top-bottom {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.p-sm-left {
    padding-left: 10px !important;
}

.m-sm-left {
    margin-left: 10px !important;
}

.p-sm-right {
    padding-right: 10px !important;
}

.m-sm-right {
    margin-right: 10px !important;
}

.p-sm-top {
    padding-top: 10px !important;
}

.m-sm-top {
    margin-top: 10px !important;
}

.nm-m-top {
    margin-top: -20px !important;
}

.dashLine {
    border-bottom: 1px dashed #DEEAEE;
}

.p-sm-bottom {
    padding-bottom: 10px !important;
}

.m-sm-bottom {
    margin-bottom: 10px !important;
}

.p-sm-left-right {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.m-sm-left-right {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.p-sm-top-bottom {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.m-b-sm {
    margin-left: 30px;
}

.m-sm-top-bottom {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.p-md-left {
    padding-left: 20px !important;
}

.m-md-left {
    margin-left: 20px !important;
}

.p-md-right {
    padding-right: 20px !important;
}


.m-md-right {
    margin-right: 20px !important;
}

.p-md-top {
    padding-top: 20px !important;
}

.m-md-top {
    margin-top: 20px !important;
}

.p-md-bottom {
    padding-bottom: 20px !important;
}

.m-md-bottom {
    margin-bottom: 20px !important;
}

.p-md-left-right {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.m-md-left-right {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.p-md-top-bottom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.m-md-top-bottom {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.p-lg-left {
    padding-left: 40px !important;
}

.m-lg-left {
    margin-left: 40px !important;
}

.p-lg-right {
    padding-right: 40px !important;
}

.m-lg-right {
    margin-right: 40px !important;
}

.p-lg-top {
    padding-top: 40px !important;
}

.m-lg-top {
    margin-top: 40px !important;
}

.p-lg-bottom {
    padding-bottom: 40px !important;
}

.m-lg-bottom {
    margin-bottom: 40px !important;
}

.p-lg-left-right {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.m-lg-left-right {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.p-lg-top-bottom {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.m-lg-top-bottom {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.p-xlg-left {
    padding-left: 80px !important;
}

.m-xlg-left {
    margin-left: 80px !important;
}

.p-xlg-right {
    padding-right: 80px !important;
}

.m-xlg-right {
    margin-right: 80px !important;
}

.p-xlg-top {
    padding-top: 80px !important;
}

.m-xlg-top {
    margin-top: 80px !important;
}

.p-xlg-bottom {
    padding-bottom: 80px !important;
}

.m-xlg-bottom {
    margin-bottom: 80px !important;
}

.p-xlg-left-right {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.m-xlg-left-right {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.p-xlg-top-bottom {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.m-xlg-top-bottom {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.m-xxlg-left,
.p-xxlg-left {
    padding-left: 160px !important;
}

.m-xxlg-right,
.p-xxlg-right {
    padding-right: 160px !important;
}

.m-xxlg-top,
.p-xxlg-top {
    padding-top: 160px !important;
}

.m-xxlg-bottom,
.p-xxlg-bottom {
    padding-bottom: 160px !important;
}

.m-xxlg-left-right,
.p-xxlg-left-right {
    padding-left: 160px !important;
    padding-right: 160px !important;
}

.m-xxlg-top-bottom,
.p-xxlg-top-bottom {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-text-bottom {
    vertical-align: text-bottom;
}

.display-inline-block {
    display: inline-block;
}

.txt-color-orange {
    color: orange;
}

.ttc {
    text-transform: capitalize;
}


/*contract active inactive row classes*/

.inActiveContract {
    background-color: #E0E0E0;
}

.activeContract {
    background-color: #FFFFFF;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w300 {
    width: 300px;
}

.m-h-300 {
    max-height: 300px;
}

.m-h-101 {
    max-height: 101px;
}

.thActionBorder {
    border-left: none !important;
    border-right: none !important;
}

.img-circle {
    border: 2px solid #7d7d7d;
    cursor: pointer;
}

.img-circle:hover {
    border: 2px solid #37a000;
}


/* Profile page image hover css*/

div.show-image {
    position: relative;
    float: left;
    margin: 5px;
}

div.show-image:hover a {
    display: block;
}

div.show-image a {
    position: absolute;
    display: none;
}

div.show-image a#DeleteProfilePicture {
    top: 75%;
    left: 55%;
}

div.show-image a#EditProfilePicture {
    top: 75%;
    left: 42%;
}

.wordBreak {
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
}

::-webkit-input-placeholder {
    color: #A1A1A1;
}

:-ms-input-placeholder {
    color: #A1A1A1;
}

.dropdown-menu > li > a {
    max-width: 300px;
    white-space: normal;
}

.panel-grey {
    color: #61656D;
    background-color: #D9DBDE;
    border-color: #CEC8C8;
}

li.submenu.submenu_ {
    background: #333;
}

li.submenu.submenu_active.active {
    background-color: #333 !important;
}

.submenu_active > a {
    background-color: #126da7 !important;
    border-left: 3px solid #20a8d8 !important;
}

.submenu > a:hover,
.submenu > a:focus {
    background-color: #126da7 !important;
    border-left: 3px solid #20a8d8 !important;
}

.bg-panel {
    background-color: #164C6F;
    color: #aad7f4;
}

.bg-panel.lt,
.bg-panel .lt {
    background-color: #1d89cf;
}

.bg-panel.lter,
.bg-panel .lter {
    background-color: #2796de;
}

.bg-panel.dk,
.bg-panel .dk {
    background-color: #126da7;
}

.bg-panel.dker,
.bg-panel .dker {
    background-color: #0d5e92;
}

.bg-panel.bg,
.bg-panel .bg {
    background-color: #177bbb;
}

.bg-panel-ltest {
    background-color: #ecf6fb;
}

.bg-panel a {
    color: #d7ecfa;
}

.bg-panel a:hover {
    color: #fff;
}

.bg-panel a.list-group-item:hover,
.bg-panel a.list-group-item:focus {
    background-color: inherit;
}

.bg-panel .nav > li:hover > a,
.bg-panel .nav > li:focus > a,
.bg-panel .nav > li:active > a,
.bg-panel .nav > li.active > a {
    color: #fff;
    background-color: #11659b;
}

.bg-panel .nav > li > a {
    color: #d7ecfa;
}

.bg-panel .nav > li > a:hover,
.bg-panel .nav > li > a:focus {
    background-color: #126da7;
}

.bg-panel .nav .open > a {
    background-color: #11659b;
}

.bg-panel .caret {
    border-top-color: #aad7f4;
    border-bottom-color: #aad7f4;
}

.bg-panel.navbar .nav > li.active > a {
    color: #fff;
    background-color: #126da7;
}

.bg-panel .open > a,
.bg-panel .open > a:hover,
.bg-panel .open > a:focus {
    color: #fff;
}

.bg-panel .text-muted {
    color: #7cc2ef !important;
}

.bg-panel .text-lt {
    color: #ffffff !important;
}

.bg-panel .icon-muted {
    color: #7cc2ef !important;
}

.bg-panel.auto .list-group-item,
.bg-panel .auto .list-group-item {
    border-color: #1984c9 !important;
    background-color: transparent;
}

.bg-panel.auto .list-group-item:hover,
.bg-panel.auto .list-group-item:focus,
.bg-panel.auto .list-group-item:active,
.bg-panel.auto .list-group-item.active,
.bg-panel .auto .list-group-item:hover,
.bg-panel .auto .list-group-item:focus,
.bg-panel .auto .list-group-item:active,
.bg-panel .auto .list-group-item.active {
    background-color: #126da7 !important;
}

#UsersSharedFiles {
    margin: 0 5px 0 3px;
}

i {
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
}

.imagetile {
    width: 33%;
    height: 33%;
    float: left;
    background-color: transparent;
    margin: 10px;
    height: 100px;
    width: 150px;
    text-align: center;
    margin-left: -40px;
    margin-right: 50px;
    list-style-type: none;
    border: 1px solid transparent;
}

.imagetile > a > div {
    width: 140px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.imagetile img {
    width: 50px;
}

.imagetile:hover {
    /* IE10 */
    background-image: -ms-linear-gradient(top, #EFE7E7 0, #949AA5 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #EFE7E7 0, #949AA5 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #EFE7E7 0, #949AA5 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFE7E7), color-stop(1, #949AA5));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #EFE7E7 0, #949AA5 100%);
    /* Proposed W3C Markup */
    border: 1px solid #BCBCD2;
    color: #FFF;
    cursor: pointer;
}

#JobPositions {
    margin-bottom: 3px;
}

.messagespan {
    font-size: 8pt;
}

.infoText {
    color: rgb(240, 128, 128);
    font-weight: 600;
    font-size: 12px;
}

.unPaidDocs {
    background-color: red !important;
    color: white !important;
}

.unVerifiedDocs {
    background-color: yellow !important;
    color: black !important;
}

.text-expired {
    color: #7D4A42;
}

.expiredDocs {
    background-color: #7D4A42 !important;
    color: black !important;
}

.paddingTopLeft {
    padding-top: 15px !important;
    padding-left: 15px !important;
}

.paddingBottom {
    padding-bottom: 15px !important;
}

select[multiple] {
    height: 150px !important;
}

li.submenu {
    padding-left: 10px;
}

.m1 {
    margin: 1px;
}

.m-t-c {
    margin-top: 40% !important;
}

.Silver-Lining {
    background-color: #3C8DC5!important;
}

.table thead th {
    background-color: #3C8DC5!important;
    color: #ffffff;
}

.table tbody td {
    border: thin solid;
    border-color: white;
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
}

.text-Rain {
    color: #A8CB17;
}

.text-region {
    color: #FE5A27
}

.text-franchise {
    color: #63CBF7
}

.text-employee {
    color: #72818B
}

.btn-Rain {
    color: #fff !important;
    background-color: #177bbb;
    border-color: #177bbb;
   
}

.btn-Rain:hover,
.btn-Rain:focus,
.btn-Rain:active,
.btn-Rain.active,
.open .dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #146ca4;
    border-color: #136397;
}

.btn-Rain.disabled,
.btn-Rain.disabled:hover,
.btn-Rain.disabled:focus,
.btn-Rain.disabled:active,
.btn-Rain.disabled.active,
.btn-Rain[disabled],
.btn-Rain[disabled]:hover,
.btn-Rain[disabled]:focus,
.btn-Rain[disabled]:active,
.btn-Rain[disabled].active,
fieldset[disabled] .btn-Rain,
fieldset[disabled] .btn-Rain:hover,
fieldset[disabled] .btn-Rain:focus,
fieldset[disabled] .btn-Rain:active,
fieldset[disabled] .btn-Rain.active {
    background-color: #177bbb;
    border-color: #177bbb;
}

.btn-lightGreen {
    color: #fff !important;
    background-color: #00B618;
    border-color: #00B618;
}

.btn-lightGreen:hover,
.btn-lightGreen:focus,
.btn-lightGreen:active,
.btn-lightGreen.active,
.open .dropdown-toggle.btn-primary {
    color: #fff !important;
    background-color: #008018;
    border-color: #008018;
}

.btn-Windy-Day {
    color: #fff !important;
    background-color: #4F57AA;
    border-color: #4F57AA;
}

.btn-Dark-Motion {
    color: #fff !important;
    background-color: #454857;
    border-color: #454857;
}

.btn-round {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-Silver-lining {
    color: #72818B;
}

.text-Dark-Motion {
    color: #454857;
}

tr.odd {
    background-color: #EEEEEE!important;
}

tr.even {
    background-color: #FFFFFF!important;
}

.bg-backgroundcheck {
    background-color: #C8D2E4;
    color: #484444;
}

.bg-CAFAD7 {
    background-color: #CAFAD7;
    color: #788288;
}

.permissionlink {
    color: #1BA1E2 !important;
    font-family: segoe ui;
}

.tick_imag {
    position: absolute !important;
    visibility: visible !important;
    right: 19px;
}

.img-text {
    position: absolute;
    left: 10px;
    margin-top: 2px;
    background: #006600;
    color: #ffffff;
    padding: 2px;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-60deg);
    /* Firefox */
    -moz-transform: rotate(-60deg);
    /* IE */
    -ms-transform: rotate(-60deg);
    /* Opera */
    -o-transform: rotate(-60deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.show-inline {
    display: inline !important;
}

@media (min-width: 768px) {
    .min-width {
        width: 830px!important;
    }
}
.paddingtop51 {
   padding-top: 0;
  }

@media (max-width: 766px) {
  .paddingtop51 {
   padding-top: 51px;
  }
}


/* jssor slider bullet navigator skin 03 css */


/*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */

.jssorb03 {
    position: absolute;
}

.jssorb03 div,
.jssorb03 div:hover,
.jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: black;
    font-size: 12px;
    background: url('../images/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb03 div {
    background-position: -5px -4px;
}

.jssorb03 div:hover,
.jssorb03 .av:hover {
    background-position: -35px -4px;
}

.jssorb03 .av {
    background-position: -65px -4px;
}

.jssorb03 .dn,
.jssorb03 .dn:hover {
    background-position: -95px -4px;
}


/* jssor slider arrow navigator skin 03 css */


/*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */

.jssora03l,
.jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('../images/a03.png') no-repeat;
    overflow: hidden;
}

.jssora03l {
    background-position: -3px -33px;
}

.jssora03r {
    background-position: -63px -33px;
}

.jssora03l:hover {
    background-position: -123px -33px;
}

.jssora03r:hover {
    background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
    background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
    background-position: -303px -33px;
}

.roleicons {
    font-size: 15px !important;
}

.modal-header {
    background-color: #0caceb !important;
    color: #FFFFFF !important;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-header .close {
    color: #FFFFFF !important;
    opacity: 1;
}

.import_li {
    margin: 2px;
    white-space: nowrap;
}

.dropdown_overwrite {
    right: 0 !important;
    left: auto !important;
}

.h85vh {
    height: calc(100vh - 110px);
}

.logoCenter {
    margin: 20px auto !important;
    display: block !important;
}

.logoContainer {
    height: 90px;
    width: 100%;
    background-color: #f2f4f8;
    box-shadow: 0px 7px 20px #A0A0A0;
}

.backgroundImage {
    background-image: url("../images/loginbg.png");
    -moz-background-position-y: 124px;
    -o-background-position-y: 124px;
    background-position-y: 124px;
    background-repeat: repeat;
    height: 100vh;
}

.loginWindow {
    margin-top: 20% !important;
}

@media (min-width: 768px) {
    .logoCenter {
        margin: 30px auto !important;
        display: block !important;
    }
    .logoContainer {
        height: 124px;
        width: 100%;
        background-color: #f2f4f8;
        -webkit-box-shadow: 0px 7px 20px #A0A0A0;
        -ms-box-shadow: 0px 7px 20px #A0A0A0;
        box-shadow: 0px 7px 20px #A0A0A0;
    }
    .loginWindowContainer {
        width: 480px;
    }
    .loginWindow {
        margin-top: 20% !important;
    }
}

.pieChart {
    -moz-min-width: 310px;
    -ms-min-width: 310px;
    -o-min-width: 310px;
    -webkit-min-width: 310px;
    min-width: 310px;
    height: 350px;
    max-width: 600px;
    margin: 0 auto;
}

.floatPieChart {
    min-height: 250px;
    width: 100%;
}

.highChart {
    min-width: 300px;
    height: 400px;
    margin: 0 auto;
}

.chart {
    overflow: auto;
    min-height: 400px;
    width: 100%;
}

.bg-blue {
    background-color: #1F78B4 !important;
    color: #ffffff;
}

.bg-black {
    background-color: #141516;
    color: #ffffff;
}

.bg-grey {
    background-color: #4d4d4d;
    color: #ffffff;
}

.bg-orange {
    background-color: #FE7F0E !important;
    color: #ffffff;
}

.bg-green {
    background-color: #2BA02D !important;
    color: #ffffff;
}

.bg-lightgreen {
    background-color: #1F78B4 !important;
    color: #ffffff !important;
}

.bg-darkred {
    background-color: #FF0000 !important;
    color: #ffffff !important;
}

.bg-yellow {
    background-color: #FFC300 !important;
    color: #ffffff !important;
}

.text-success {
    color: #00B618!important;
}

.m-l-t-b {
    margin-top: 36px;
    margin-bottom: 40px;
}

.floatNone {
    float: none;
}

@media (min-width: 987px) and (max-width: 1372px) {
    .chart_col-12 {
        width: 100% !important;
    }
}

.nav-tabs > li > a:hover {
    background-color: #095382;
    color: white;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #095382;
}

@page {
    size: A4;
    margin: 10;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.noChartDataFound {
    height: 100px;
    line-height: 8;
    background: beige;
    margin: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px 0px #000000;
    -ms-box-shadow: 0px 0px 2px 0px #000000;
    box-shadow: 0px 0px 2px 0px #000000;
}

.hoverZoom {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -o-transform: scale(1);
    transform: scale(1);
}

.hoverZoom:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.service-item {
    width: 100%;
  height: 320px;
  margin: 10px 0;
  text-align: center;
  border: 1px solid #999;
  -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service-item i {
    position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  font-size: 48px;
}

.service-item h5 {
    color: #777;
  position: relative;
  top: 80px;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service-item .service-desc {
    width: 80%;
  margin: 0 auto;
    -ms-opacity: 0;
    opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.service-item:hover {
  border-color: #00b2ca;
}
.service-item:hover i {
  top: -30px;
}
.service-item:hover h5 {
  top: -30px;
}
.service-item:hover .service-desc {
    -ms-opacity: 1;
    opacity: 1;
  -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.service2-item {
  border: 1px dotted #ccc;
  padding: 10px;
}
.service2-item span,
.service2-item i {
  vertical-align: middle;
  font-size: 32px;
  margin-top: 10px;
}
.service2-item .service2-number {
  font-size: 3em;
  margin-left: 15px;
  font-weight: 100;
}
.service2-item .service2-desc {
  margin-top: 25px;
}
h4.modal-title a {
    color: white !important;
    text-decoration: underline;
}

#lc_chat_layout #lc_chat_header{
    background-position: 50% 10px;
}
.lc_chat_title{
    display:none;
}
.lc-collapsed{
    width:40px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#lc_chat_layout #lc_chat_header {
    background-position: 50% 10px
}

.lc_chat_title {
    display: none
}

.lc-collapsed {
    width: 40px
}

input[type=number] {
    -moz-appearance: textfield
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.lc-cb-container-vi #lc_chat_layout {
    border: 0;
    border-radius: 0;
}

#lc_chat_layout.lc-collapsed {
    width: 50px;
    height: 50px;
    bottom: 15px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 100px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    #lc_chat_layout.lc-collapsed #lc_chat_header {
        background-position: center;
        border-radius: 100px;
        -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
        box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
    }

#lc_chat_layout #lc_chat_header {
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 50px;
    background-position: 98% 17px;
    position: absolute;
    top: 0;
    z-index: 1;
}

#lc_chat_layout .lc-end-chat {
    top: 51px;
}

#lc_chat_layout.lc-collapsed #lc_chat_container {
    display: none;
}

#lc_chat_layout #lc_chat_container, #lc_chat_layout .lc-pre-form {
    min-height: 100%;
    padding-top: 50px;
}

#lc_chat_layout #lc_chat_container {
    border: none;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#lc_chat_layout.lc-collapsed #lc_chat_title {
    display: none;
}

#lc_chat_layout #lc_chat_title {
    position: relative;
    top: 0;
    line-height: 30px;
}

#lc_chat_layout.lc-collapsed .lc-profile-pic {
    display: none;
}

#lc_chat_layout #lc_chat_header {
    height: 50px !important;
}

