﻿@using EduErp.Mvc.Utilities
@using EduErp.BO
@model EduErp.BO.UserBo

@{
    ViewBag.Title = PageTitle.Create("User - Add");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12 col-md-12 col-xs-12">
                Add User
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "User", FormMethod.Post, new {data_parsley_validate = "parsley", @id = "addUserForm"}))
    {
        @Html.AntiForgeryToken()
         <div style="padding-top: 5px">
                  <p style="margin-left: 15px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
        <div class="panel-body">
            <div class="row">
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.Name, new {@class = "form-control fstname", type = "string", maxlength= "200", data_parsley_required = "true", data_parsley_error_message = "Please enter user name"})
                </div>
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("User Id")&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.UserId, new {@class = "form-control", maxlength="50",type = "alphanum", data_parsley_required = "true", data_parsley_error_message = "Please Enter User Id"})
                </div>
                @if (SessionItems.IsSuperAdmin)
                {
                    <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                      <label> <b>Parent @Level.GetlabelName((int)LabelEnum.School)</b></label>
                        @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"),"Please Select", new {@class = "form-control chosen-select"})
                    </div>
                }
                else
                {

                    <div class="form-group col-md-4 col-sm-4 col-xs-4">
                       <label><b>Parent @Level.GetlabelName((int)LabelEnum.School)</b></label>
                        @Html.TextBoxFor(m => Model.ListOfSchools.FirstOrDefault(a => a.Value == SessionItems.SchoolId.ToString()).Text, new {@class = "form-control", @readonly = "readonly"})
                        @Html.HiddenFor(m => m.SchoolId)
                    </div>
                }
            </div>
            <div class="row">
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Password")&nbsp;<span class="text-danger">*</span>
                    @Html.PasswordFor(u => u.NewPassword, new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please enter password"})
                </div>
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Confirm Password")&nbsp;<span class="text-danger">*</span>
                    @Html.PasswordFor(u => u.ConfirmPassword, new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please enter confirm password"})
                </div>
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Mobile Number")&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.MobileNo, new {@id="Mobile",@class = "form-control", type = "number", maxlength = "10", minlenght= "10", data_parsley_required = "true", data_parsley_error_message = "Please enter Mobile Number"})
                </div>
            </div>
            <div class="row">
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.LabelFor(u => u.Email)&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.Email, new {@class = "form-control", type = "email", maxlength = "100", data_parsley_required = "true", data_parsley_error_message = "Please enter valid email address"})
                </div>
                @if(SessionItems.IsSuperAdmin)
                {
                <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("User Type")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(u => u.UserTypeId, new SelectList(Model.UserTypeList, "Id", "Name"), "Please Select", new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Usertype"})
                </div>
                }
            </div>
            <div class="text-center">@Html.ValidationSummary()</div>
            <div class="row scrollable" style="max-height: 250px;">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <table class="table responsive">
                        <thead>
                        <tr>
                            <th> Select</th>
                            <th>Menu</th>
                            <th>Rights</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.MenuList.Count; i++)
                        {
                            var id = "MenuList_" + i + "__IsSelected";
                            var ddid = "MenuList_" + i + "__RightId";
                            <tr>
                                @Html.HiddenFor(m => Model.MenuList[i].MenuId)
                                @Html.HiddenFor(m=>m.MenuList[i].MenuName)

                                <td>
                                    @Html.HiddenFor(m => Model.MenuList[i].IsSelected)
                                    
                                    <div class="checkbox i-checks">
                                        <label style="border-color:#177bbb">
                                            <input id="@id" name="@id" ddid="@ddid" value='@Model.MenuList[i].IsSelected' type="checkbox" @(Model.MenuList[i].IsSelected ? "checked='checked'" : "")><i></i>
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                  <td><label>@Model.MenuList[i].MenuName</label></td>
                                <td>
                                    @Html.DropDownListFor(m => Model.MenuList[i].RightId, new SelectList(Model.Rights, "Id", "Name", Model.MenuList[i].RightId), new {@class = "form-control"})
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="panel-footer text-right bg-white lter">
            <input type="submit" value="Save" class="btn btn-lightGreen btn-s-xs " onclick="return $('#addUserForm').parsley().validate()" />

            <a href="@Url.Action("Index")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script type="text/javascript">
    //$('#addUserForm').parsley();
    $(document).ready(function() {
        $("input[type=checkbox]").click(function () {
            //debugger;
            if ($(this).is(':checked')) {
                $("#" + $(this).attr('id')).val(true);
                $("#" + $(this).attr('ddid')).prop("disabled", false); //.trigger("chosen:updated");
            } else {
                $("#" + $(this).attr('id')).val(false);
                $("#" + $(this).attr('ddid')).prop("disabled", true); //.trigger("chosen:updated");
            }
        });
        $('.fstname').keypress(function (key) {
            if ((key.charCode < 97 || key.charCode > 122) && (key.charCode < 65 || key.charCode > 90) && (key.charCode !== 32)) return false;
        });
        //VALIDATION FOR MOBILE NUMBER
        $("#Mobile").blur(function () {
            debugger;
            if ($("#Mobile").val() != "") {
                var result = isValidMobileNumber($("#Mobile").val());
                if ($("#Mobile").val().length !== 10 && !result) {
                    toastr.error("Please enter valid mobile number");
                }
            }
        });
        $("input[type=checkbox]").each(function () {
            //debugger;
            if ($(this).is(':checked')) {
                //$("#" + $(this).attr('id')).val(true);
                $("#" + $(this).attr('ddid')).prop("disabled", false); //.trigger("chosen:updated");
            } else {
                //$("#" + $(this).attr('id')).val(false);
                $("#" + $(this).attr('ddid')).prop("disabled", true); //.trigger("chosen:updated");
            }
        });
    });

   @* function editForm() {
        debugger;
        $('#addUserForm').parsley().validate();
        if ($('#addUserForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "User")',
                data: $('#addUserForm').serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "User")';
                }
            });

        } else {
            toastr.error("Mandatory field is required.");
        }
    }*@
</script>





