﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model IEnumerable<UserBo>
@{
    ViewBag.Title = PageTitle.Create("Users");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}
<header class="panel-heading font-bold b-light">
    Users
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.User) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
    {
        <a href="@Url.Action("Add", "User")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Add User</a>
    }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
              <table id="dt_userList" width="100%"  title="User" class="table table-striped" exportcolumn="0,1,2,3,4,5" visiblecolumn="0,1,2,3,4,5,6,7" lastunsortcount="2">
                        <thead>
                            <tr>
                                <th class="text-center" title="Name">Name
                                </th>
                                <th class="text-center" title="User Id">User Id
                                </th>
                                <th class="text-center" title="Email Address">Email Address
                                </th>
                                <th class="text-center" title="Mobile Number">Mobile Number
                                </th>
                                @*<th class="text-center">Last Modified ON
                                </th>
                                <th class="text-center">Last Modified By
                                </th>*@
                                <th class="text-center" title="Status">Status
                                </th>
                                <th class="text-center" title="Created On">Created On
                                </th>
                                @*<th class="text-center">Created By
                                </th>*@
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.User) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                  <th class="text-center" title="Action">
                                      Action
                                  </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.Name)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.UserId)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.Email)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.MobileNo)
                                    </td>
                                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.LastModifiedOn)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.LastModifiedBy)
                                    </td>*@
                                    <td class="text-center">
                                        <span class="hidden">@item.StatusId</span>
                                        <div id="btn_@item.Id">
                                            <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active" : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click to Deactivate" : "Click to Activate")" data-container="body" data-toggle="tooltip"
                                               id="@item.Id" onclick="setStatusConfirmation(updateStatus,'@(item.StatusId == (int)UserStatus.Active ? "Deactivate User" : "Activate User")','@(item.StatusId == (int)UserStatus.Active ? "Are you sure want to deactivate user" : "Are you sure want to activate user")','@item.Id','@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)')" >
                                                <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                                                <span class="@(item.StatusId == (int)UserStatus.Active ? "text-active" : "active")">@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.CreatedOn)
                                    </td>
                                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.CreatedBy)
                                    </td>*@
                                    @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.User) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StatusId == (int)UserStatus.Active))
                                    {
                                        @*<td class="text-center">
                                            <a href="@Url.Action("Edit", "User", new { @id = item.Id })" title="Edit" data-placement="top" data-container="body">
                                                <i class="fa fa-edit icon"></i>&nbsp;Edit
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                            </a>
                                        </td>*@
                                        <td class="text-center">
                                       <a href="@Url.Action("Edit", "User", new { @id = item.Id })" title="Edit" data-placement="top" data-container="body">
                                                <i class="fa fa-edit icon"></i>
                                            </a>
                                            &nbsp;
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                <i class="fa fa-trash-o text-danger"></i>
                                            </a>
                                        </td>
                                    }
                                </tr> 
                        
                                }
                            }
                        </tbody>
                    </table>
                </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        window.refreshGrid('dt_userList');
    });
    function updateStatus(id, statusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "User")',
            data: { userId: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function () {
                //toastr.success(data);
                location.reload();
            }
        });
    }
</script>
