﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("User Limit Exceed");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="left top10 redBlock">
    <div class="clear">
    </div>
    <div>
        Sorry! you can not add user more because your user limit is exceeding from maximum user limit.
        To exceed user limit,Contact to EduErp team. <a  href="@Url.Action("SendQuery", "MyAccount")" class="blueanchor" ajax-modal="ajaxModal">&nbsp;Click here</a>
    </div>
    <div class="clear">
    </div>
    </div>
