﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Unanauthorized - 401");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg m-r-lg">
    <div>
        <h3>
            Unanauthorized: Access is denied due to invalid credentials(401)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            You do not have permission to view this directory or page using the credentials
            that you supplied.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>
