﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Access is denied - 403");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3 key="Forbidden">
            Forbidden: Access is denied (403)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div key="permission">
            You do not have permission to view this directory or page using the credentials
            that you supplied.
        </div>
        <div>
            <span key="navigate">Please navigate to</span> 
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>
