﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Not found - 404");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section>
    <img  src="@Url.Content("~/Content/images/error-404.png")" alt="Page Not Found"/>
    <div class="clear">
    </div>
    <div key="resource">
        The resource / page you are trying to access could not be found.
    </div>
    <div>
        <span key="navigate">Please navigate to</span> 
        @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
    </div>
</section>