﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error - 405");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3>
            HTTP verb used to access this page is not allowed (405)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            The page you are looking for cannot be displayed because an invalid method (HTTP
            verb) was used to attempt access
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>
