﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error - 406");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3>
            Client browser does not accept the MIME type of the requested page (406)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            The page you are looking for cannot be opened by your browser because it has a file
            name extension that your browser does not accept.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>
