﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error - 412");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3>
            Precondition set by the client failed when evaluated on the Web server (412)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            The request was not completed due to preconditions that are set in the request header.
            Preconditions prevent the requested method from being applied to a resource other
            than the one intended. An example of a precondition is testing for expired content
            in the page cache of the client.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>
