﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Session Expired - 440");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg m-r-lg">
    <div>
        <h3>
            Session Expired.
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            Your session has timed out. Please sign in again.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>
