﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error - 500");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3>
            Error (500)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            Sorry, an error occurred while processing your request.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>