﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error - 501");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3>
            Header values specify a method that is not implemented (501)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            The page you are looking for cannot be displayed because a header value in the request
            does not match certain configuration settings on the Web server. For example, a
            request header might specify a POST to a static file that cannot be posted to, or
            specify a Transfer-Encoding value that cannot make use of compression.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>