﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error - 502");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="m-l-lg">
    <div>
        <h3>
            Web server received an invalid response while acting as a gateway or proxy server
            (502)
        </h3>
    </div>
    <div class="clear">
    </div>
    <div>
        <div>
            There is a problem with the page you are looking for, and it cannot be displayed.
            When the Web server (while acting as a gateway or proxy) contacted the upstream
            content server, it received an invalid response from the content server.
        </div>
        <div>
            Please navigate to
            @Html.ActionLink("Login Page.", "Index", "Default", null, new { Class = "blueanchor" })
        </div>
    </div>
</section>