﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Error");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="text-center m-t-sm">
    <h4 class="m-t-lg">
        Error
    </h4>
</div>
<div class="clear">
</div>
<div class="container aside-xxl">
    <section class=" b-2x">
        <div>
            Sorry, an error occurred while processing your request.</div>
        <div>
            The Administrator has been notified about the error.</div>
        <div>
            Please navigate to @Html.ActionLink("Home Page.", "Index", "Default",null, new { Class = "blueanchor" })</div>
    </section>
</div>
