﻿@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Not found");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="text-center m-t-sm">
    <h4 class="m-t-lg">
        Resource Not Found
    </h4>
</div>
<div class="clear">
</div>
<div class="container aside-xxl">
    <section class=" b-2x">
        <div>
            The resource / page you are trying to access could not be found.</div>
        <div>
            Please navigate to
            @Html.ActionLink("Home Page", "Index", "Default", null, new { Class = "blueanchor" })</div>
    </section>
</div>
