﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.OnlineExamTestBo


<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update @Level.GetlabelName((int)LabelEnum.OnlineTest)</span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "OnlineTest", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "editclass" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class ="row">
                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.Name)&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", data_parsley_required = "true",maxlength="100" ,data_parsley_error_message = "Please enter name" })
                            </div>
                  
                           @* <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.LabelFor(m => m.NumberOfQuestion)&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.NumberOfQuestion, new { @class = "form-control", data_parsley_required = "true",maxlength="100" ,data_parsley_error_message = "Please enter numberofquestion" })
                            </div>*@
                             <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                              @*  @Html.LabelFor(m => m.TimeInMinutes)&nbsp;<span class="text-danger">*</span>*@
                                 @Html.Label("Time In Minutes")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.TimeInMinutes, new { @class = "form-control", data_parsley_required = "true",data_parsley_error_message = "Please enter time" })
                            </div>
                                </div>
                            <div class ="row">
                             <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                               @* @Html.LabelFor(m => m.StartTime)&nbsp;<span class="text-danger">*</span>*@
                                 @Html.Label("Start Time")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control timepicker" })
                            </div>
                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
@*                                @Html.LabelFor(m => m.StartDate)&nbsp;<span class="text-danger">*</span>*@
                                 @Html.Label("Start Date")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker-input"})
                            </div>
                                </div>

                         
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnEditClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default btn-s-xs" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/bootstrap-timepicker.min.js"></script>
<link href="~/Content/js/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Content/js/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/Content/js/timepicker-custom/jquery.timepicker.min.js"></script>
<link href="~/Content/js/timepicker-custom/jquery.timepicker.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        //var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            //format: CURRENT_DATEFORMAT,
            ////startDate: currentDate,
            //autoclose: true
        //}).on('changeDate', function (ev) {
        //    if ($(".datepicker-input").hasClass("parsley-error")) {
        //        $(".datepicker-input").parsley().reset();
        //    }
        });
        //$(".datepicker-input").val('');
    });
    $(document).ready(function () {
        debugger;
        $('.timepicker').timepicker({});

    });
    function validateForm() {
        debugger;
        $('#editclass').parsley().validate();
        if ($('#editclass').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url:'@Url.Action("Edit","OnlineTest")',
                data: $("#editclass").serialize(),
                type:'post',
                headers:headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OnlineTest")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
