﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<OnlineExamTestBo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<header class="panel-heading font-bold b-light">
    Online Test
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.OnlineTest) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
    {
        <a href="@Url.Action("Add", "OnlineTest")" class="btn-sm btn-primary pull-right" ajax-modal="ajaxModal"><i class="fa fa-plus"></i>&nbsp;Add Online Test</a>
    }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" class="table table-striped" title="OnlineTest" width="100%" exportcolumn="0,1,2" visiblecolumn="0,1,2,3">
                        <thead class="bg-primary">
                            <tr class="active text-white">
                                <th class="text-center" title="Name">
                                    Name
                                </th>
                              @*  <th class="text-center">
                                 NumberOfQuestionas
                                 </th>*@
                                <th class="text-center" title="TimeInMinutes">
                                 Time In Minutes
                                 </th>
                                <th class="text-center" title="StartDate">
                                 Start Date
                                 </th>
                                <th class="text-center" title="StartTime">
                                 Start Time
                                 </th>
                                <th class="text-center" title="Status">
                                    Status
                                </th>
                                 @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OnlineTest) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
                                 {
                                     <th class="text-center" title="Action">
                                         Action</th>
                                 }
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {

                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">
                                            @item.Name
                                        </td>
                                        @*<td class="text-center">
                                            @item.NumberOfQuestion
                                        </td>*@
                                        <td class="text-center">
                                            @item.TimeInMinutes
                                        </td>
                                        <td class="text-center">
                                        @if (item.StartDate != null)
                                        {
                                            @item.StartDate.ToFormattedDate();
                                        }
                                    </td>
                                        <td class="text-center">
                                            @item.StartTime
                                        </td>
                                      <td class="text-center">
                                            <span class="hidden">@item.Status</span>
                                            <div id="btn_@item.Id">
                                                <button class="btn btn-default @(item.Status == (int) UserStatus.Active ? "btn-success active " : "")" title="@(item.Status == (int) UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                        id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.Status == (int) UserStatus.Active ? "Deactivate OnlineTest" : "Activate OnlineTest ?")', '@(item.Status == (int) UserStatus.Active ? "Are you sure you want to Deactivate OnlineTest ?" : "Are you sure you want to Activate OnlineTest ?")', '@item.Id', '@(item.Status == (int) UserStatus.Active ? (int) UserStatus.InActive : (int) UserStatus.Active)') ">
                                                    <i class="fa @(item.Status == (int) UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                    <span class="@(item.Status == (int) UserStatus.Active ? "text-active" : "text")">@(item.Status == (int) UserStatus.Active ? "Active" : "Inactive")</span>
                                                </button>
                                            </div>
                                        </td>

                                        <td class="text-center">
                                             @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OnlineTest) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.Status == (int) UserStatus.Active))
                                            {
                                                <a href="@Url.Action("Edit", "OnlineTest", new {@id =item.Id})" id="btnModalOpen" title="Edit" data-placement="top" data-container="body" ajax-modal="ajaxModal">
                                                    <i class="fa fa-edit icon"></i>
                                                </a>
                                            }
                                            &nbsp;
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OnlineTest) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.Status == (int) UserStatus.Active))
                                            {
                                                <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@((int) item.Id)', '@((int) EduErp.BO.UserStatus.Deleted)') ">
                                                    <i class=" fa fa-trash-o text-danger">
                                                    </i>
                                                </a>
                                            }
                                        </td>
                                         
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, status) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({

            url: '@Url.Action("UpdateStatus", "OnlineTest")',
            data: { id: id, status: status, "__RequestVerificationToken": token },
            type: 'post',
            success: function () {
                //toastr.success(data);
                location.reload();
            }

        });

    }

</script>