﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.ExamQuestionMapping

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Exam Question Mapping
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "ExamQuestion", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addExamQuestionForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">
                Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        
        <div class="panel-body ">
                                           

            <div class="row">
                 
                <div class="form-group col-md-6 col-sm-6 col-xs-6 ">
                    @Html.Label("Exam Name")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.ExamId, new SelectList(Model.ListOfExam, "Id", "Name"), "Please Select", new {@id="Exam", @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Exam Name" })

                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6 " onclick=" getQuestionListForQuestionMapping()";>
                   @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                   @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.ListOfSubject, "Id", "Name"), "Please Select", new { @class = "form-control chosen-select", data_parsley_required = "true", maxlength = "100", data_parsley_error_message = "Please Enter Subject Name" })
                 
             
                </div>
                    
            </div>
             <div id="QuestionForQuestionMapping">
              
            </div>
        <div class="page-header"></div>
           <section>
               <div class="row">
                <div class="col-md-3 table-responsive edu-erp-studentImage">
                     <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <label>Question</label>&nbsp;<span class="text-danger">*</span>
               
                </div>
            </div>
                    <table class="table-striped table-strip">
                        <tbody>
                            <tr>
                                <th>hhhhh</th>
                                
                                <td></td>
                            </tr>
                            <tr>
                                <th>hhhhh</th>
                                
                                <td></td>
                            </tr>
                        </tbody>
                     </table>
                    </div>
                <div class="col-lg-9">
                    kkkkkkkkk
                  </div>
               </div>
           </section>
            
        </div>
      
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddMessage" type="button" class="btn btn-primary btn-s-xs" onclick=" saveForm();">
                <i class="fa fa-save"></i>&nbsp;Submit
            </button>
            <a href="@Url.Action("Index", "ExamQuestion")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    
    function getQuestionListForQuestionMapping(examId, subjectId) {
        debugger;
            $.ajax({
            type: 'post',
            url: '@Url.Action("GetQuestionListForQuestionMapping")',
            datatype: 'html',
            data: { examId: examId, subjectId: subjectId },
            success: function (data) {
                debugger;
                $("#QuestionForQuestionMapping").html(data);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    function saveForm() {
        debugger;
        $('#addExamQuestionForm').parsley().validate();
        if ($('#addExamQuestionForm').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "ExamQuestion")',
                data: $("#addExamQuestionForm").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "ExamQuestion")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
   
  
</script>
