﻿@model EduErp.BO.MessageBo
            @if (Model != null)
            {

                <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                            Students
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="row scrollable" style="max-height: 250px;">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="StudentsForMessage">
                                <thead>
                                <tr>
                                    @*<th class="text-center">
                                        <div class="checkbox-inline i-checks">
                                            <label>
                                                <input type="checkbox" id="selectall"/>
                                                <i></i><span>Select All</span>
                                             </label>
                                         </div>
                                     </th>*@
                                       <th class="text-center"><input type="checkbox" id="selectall"/>Select All</th>
                                    <th class="text-center">Student Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (Model.StudentLists.Count == 0)
                                {
                                    <tr>
                                        <td class="text-center" colspan="5">No record found</td>
                                    </tr>
                                }
                                else
                                {

                                    for (var i = 0; i < Model.StudentLists.Count; i++)
                                    {
                                        var id = "StudentLists_" + i + "__Selected";
                                        //var ddid = "MenuList_" + i + "__RightId";
                                        <tr>
                                             @Html.HiddenFor(a => Model.StudentLists[i].StudentIdForMessage)
                                            <td class="text-center"> @Html.CheckBoxFor(a => a.StudentLists[i].Selected, new {@id = "Students" ,@class="clsChkBox"})</td>
                                            @*<td class="text-center">
                                               <div class="checkbox-inline i-checks">
                                                  <label> 
                                                     <input type="checkbox" id="Students"checked="@Model.StudentLists[i].Selected" class="clsChkBox">
                                                      <i></i><span></span>
                                                  </label>
                                                 </div>
                                            </td>*@
                                            <td class="text-center">@Model.StudentLists[i].StudentName</td>
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }
<script type="text/javascript">
    //atleast one checked then enable
    $("input:checkbox.clsChkBox").click(function () {
        //debugger;
        //var checkBoxes = $('#StudentsForMessage tbody tr');
        if ($(".clsChkBox:checked").length > 0) {
            $('#btnAddMessage').removeAttr("disabled");
        } else {
            $('#btnAddMessage').attr("disabled", "disabled");
        }
    });

</script>     