﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.MessageBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Message
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Message", null, FormMethod.Post, new {enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addMessageForm"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        <div id="stickyNote"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                    @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), new {@id = "Class", @class = "form-control"})
                </div>
                <div class="col-md-6 form-group" id="SectionHide">
                   <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>
                    <select id="Section" class="form-control"></select>
                    @Html.HiddenFor(a => a.SectionId, new {id = "hdnSection"})
                    @*   @Html.ListBoxFor(m => m.SectionId, new SelectList(Model.ListOfSections, "Id", "Name"), new {@class = "form-control"})*@
                </div>
            </div>
           
            

            <div id="StudentForMessage">
              
            </div>
               
        </div>


        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.Label("Template")
                    @Html.DropDownListFor(m =>m.TemplateId,new SelectList(Model.ListOfTemplateText,"Id","Name"),"Please Select", new {@id="Template",@class = "form-control chosen-select"})
                    @*<div id="error1"></div>*@
                </div>
                <div class="col-md-6 form-group">
                    @Html.Label("Message")
                    @Html.TextAreaFor(m => m.Message, new {@id="Message",@class = "form-control"})
                </div>
                <div class="col-md-6">
                    <div class="col-md-2 form-group" style="padding-top: 20px">
                        @Html.CheckBoxFor(m => m.IsSendLater,new{ @id="IsSendNow"})
                    </div>
                    <div class="col-md-4 form-group" style="padding-top: 20px">
                        @Html.Label("Send Later")
                    </div>
                    </div>
               @* <div class="col-md-6 form-group">
                    <div class=" checkbox-inline i-checks">
                <label>
                   
                      <input type="checkbox" id="IsSendNow"checked="@Model.IsSendLater" name="@Model.IsSendLater">
                      
                             <i></i><span >Send Later</span>
                       
                 </label>
                    </div>
                </div>  *@                                
                <div class="col-md-6" id="DateTimeCheck">
                    <div class="col-md-6 form-group">
                        @Html.Label("Date")
                        @Html.TextBoxFor(u => u.MessageSentDate, new {@class = "form-control datepicker-input",data_date_format = "dd-mm-yyyy"})
                    </div>
                        <div class="col-md-6 form-group">
                            @Html.Label("Time")
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="timepicker1" type="text" class="form-control input-small" name="MessageTimeStr">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                        </div>
                        </div>
                </div>
        
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddMessage" type="button" class="btn btn-lightGreen btn-s-xs " onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Send Now
            </button>
            <a href="@Url.Action("Index", "Message")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }

</section>

<<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet"/>
<link href="~/Content/js/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Content/js/timepicker/bootstrap-timepicker.min.js"></script>

    <script type ='text/javascript'>
//      $(document).ready(function(){
//    // Check or Uncheck All checkboxes
//    $("#checkall").change(function(){
//        var checked = $(this).is(':checked');
//        if(checked){
//            $("#Students").each(function () {
//                $(this).prop("checked",true);
//            });
//        }else{
//            $("#Students").each(function () {
//                $(this).prop("checked",false);
//            });
//        }
//    });
 
//     //Changing state of CheckAll checkbox 
//    $("#Students").click(function () {
 
//        if ($("#Students").length == $("#Students:checked").length) {
//            $("#checkall").prop("checked", true);
//        } else {
//            $("#checkall").removeAttr("checked");
//        }

//    });
//});
      
    $(document).ready(function () {
        //alert("hd");
        //if ($("#hdnSection").val() != null && $("#hdnSection").val() !== '' && $("#Class").val() != null)
            // getStudentsForMessage(0, 0);
        getStudentsListForMessage(0, 0);
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
           // endDate: currentDate,
            autoclose: true

        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');
        //get sections onload
       // getSections(parseInt('));

        $("#Class").change(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                $("#SectionHide").show();
                getSections($("#Class").val());
               // getStudentsForMessage(parseInt($("#Class").val()), 0);
                getStudentsListForMessage(parseInt($("#Class").val()),0);
            } else {
                $("#SectionHide").hide();
                getStudentsListForMessage(0, 0);
               }
        });

        $("#Template").change(function () {
            if (document.getElementById('Template').selectedIndex !== 0) {
                $("#Message").val($("#Template option:selected").text());
            } else {
                $("#Message").val("");
            }
            
        });
        
        if (document.getElementById('Class').selectedIndex !== 0) {
            debugger;
            getSections($("#Class").val());
        } else {
            $("#SectionHide").hide();
          
        }

        if ($("#IsSendNow").is(':checked')) {
            debugger;
            $("#DateTimeCheck").show();
           // $("#Time").show();
        } else {
            $("#DateTimeCheck").hide();
           // $("#Time").hide();
        }

        $("#Section").change(function () {
            debugger;
            if (document.getElementById('Section').selectedIndex !== 0) {
                //  $("#StudentHide").show();
                $("#hdnSection").val($("#Section").val());
                // getStudents($("#Section option:selected").val());
                // getStudentsForMessage(parseInt($("#Class").val()), parseInt($("#hdnSection").val()));
                getStudentsListForMessage(parseInt($("#Class").val()), parseInt($("#hdnSection").val()));

            } else {
                getStudentsListForMessage($("#Class").val(), 0);
            } 
            
        });

        $('#StudentsForMessage tbody tr input:checkbox.clsChkBox').prop('checked', true);
        if (document.getElementById('Section').selectedIndex !== 0) {
           // $("#StudentHide").show();
            $("#hdnSection").val($("#Section").val());
          //  getStudents($("#Section option:selected").val());
           }
       

        $('.chosen-select').chosen({
            search_contains: true
        });
        
        

        $("#IsSendNow").change(function () {
            debugger;
            if ($("#IsSendNow").is(':checked')) {
                $("#DateTimeCheck").show();
              //  $("#Time").show();
            } else {
                $("#DateTimeCheck").hide();
               // $("#Time").hide();
            }
        });

        $('#timepicker1').timepicker();
       
    });


        //get sections based on classId
        function getSections(classId) {
            debugger;
            $("#Section").empty();
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {
                  
                $.each(classes, function (i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("Select All"));
                $('#Section option[value=""]').prop('selected', true);
                },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
   
        //get students Based on sectionId
  @*  function getStudents(sectionId) {
        debugger;
            $("#Student").empty();
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetStudentsListBySectionId")',
                datatype: 'json',
                data: { sectionId: sectionId },
                success: function (sections) {
                    $.each(sections, function (i, sec) {
                        $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                    });
                  
                    //$("#Student option").eq(0).before($("<option></option>").val("").text("Select"));
                },
                error: function (ex) {
                    alert('Failed to retrieve classes.' + ex);
                }
            });
    }*@


    @*function getStudentsForMessage(classId, sectionId) {
        debugger;
        $("#StudentsForMessage").html("");
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsList")',
                datatype: 'html',
                data: {classId:classId, sectionId: sectionId },
                success: function (d) {
                    debugger;
                    $("#StudentsForMessage").html(d);
                },
                error: function (ex) {
                    alert('Failed to retrieve classes.' + ex);
                }
            });
    }*@

    function getStudentsListForMessage(classId, sectionId) {
        debugger;
        $("#StudentsForMessage").html("");
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentListForMessage")',
            datatype: 'html',
            data: { classId: classId, sectionId: sectionId },
            success: function (data) {
                debugger;
                $("#StudentForMessage").html(data);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    function saveForm() {
        debugger;
        $('#addMessageForm').parsley().validate();

        if ($('#addMessageForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
             $.ajax({
                url: '@Url.Action("Add", "Message")',
                data: $("#addMessageForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    debugger;
                    if (data.isErr) {
                        showErrorMessage(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Message")';
                }
            });
        } else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>