﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<EduErp.BO.MessageBo>
@{
    ViewBag.Title = PageTitle.Create("Message");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    
}
<header class="panel-heading font-bold b-light">
    Message(s)
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Message) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
    {
        <a href="@Url.Action("Add", "Message")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Add Message</a>
    }
</header>

@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped"  title="Messages" exportcolumn="0,1,2,3,4" visiblecolumn="0,1,2,3,4,5" lastunsortcount="2">
                        <thead>
                            <tr>
                                <th class="text-center" title="Message">Message
                                </th>
                                <th class="text-center" title="Msg Count ">Msg Count 
                                </th>
                                <th class="text-center" title="Message Sent Date">Date
                                </th>
                                <th class="text-center" title="Message Sent Time">Time
                              @* </th>
                                 <th class="text-center" title="User">User
                                </th>*@
                               @* @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Message) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
                                 {
                                     
                                     <th class="text-center" title="Delete">Delete
                                     </th>

                                 }*@
                            </tr>
                        </thead>
                        <tbody>
                        @if(Model != null)
                            {
                        foreach (var item in Model)
                        {
                            <tr>

                                @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                                <td class="text-left">
                                    @Html.DisplayFor(model => item.Message)
                                </td>

                                <td class="text-center">
                                    @Html.DisplayFor(model => item.MsgCount)
                                </td>
                                <td class="text-center">
                                    @if (item.MessageSentDate != null)
                                    {
                                        @item.MessageSentDate.Value.ToFormattedDate()
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.MessageSentTime != null)
                                    {
                                        @item.MessageSentTime.Value.ToString("g")
                                    }
                                </td>
                               @*  <td class="text-center">
                                    @Html.DisplayFor(model => item.User)
                                </td>*@
                              @*  <td class="text-center">
                                    <button class="btn btn-default @(item.StatusId == (int) UserStatus.Active ? "btn-success active" : "")" title="@(item.StatusId == (int) UserStatus.Active ? "Click to deactivate" : "Click to activate")" data-container="body" data-toggle="toolTip"
                                            id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.Id == (int) UserStatus.Active ? "Deactivate Message" : "Activate Message")', '@(item.StatusId == (int) UserStatus.Active ? "Are you sure you want to deactivate Message" : "Are you sure you want to activate Message ")', '@item.Id', '@(item.StatusId == (int) UserStatus.Active ? (int) UserStatus.InActive : (int) UserStatus.Active)') ">
                                        <i class="fa @(item.StatusId == (int) UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                                        <span class=@(item.StatusId == (int) UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int) UserStatus.Active ? "Active" : "Inactive")</span>
                                    </button>
                                </td>*@
                                @*@if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Message) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                {

                                    <td class="text-center">
                                        <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int) UserStatus.Deleted)') ">
                                            <i class=" fa fa-trash-o text-danger">
                                            </i>
                                        </a>
                                    </td>
                                }*@
                            </tr>
                        }
                       }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, statusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus","Message")',
            data: { Id: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                location.reload();
            }

        });

    }

</script>

