﻿@using EduErp.BO
@model EduErp.BO.AttendanceVm

<div class="row scrollable" style="max-height: 250px;">
    <div class="table-responsive">
        <table id="dt_userList" width="100%" class="table table-striped" title="Fee Status" exportcolumn="0,1,2,3,4" visiblecolumn="0,1,2,3,4">
            <thead>
                <tr>
                    <th style="min-width: 100px; vertical-align: middle;" class="text-center-xs">Student
                    </th>
                    @foreach (var item in Model.HeaderDates)
                    {
                        <th style="min-width: 80px">
                            <div class="clear">
                                <div class="m-t-xs m-b-xs text-center">
                                    @item.Date.ToString("ddd")
                                </div>

                                <div class="m-t-xs m-b-xs text-center">
                                    @item.Date.ToString("d-MMM")
                                </div>
                            </div>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AttendanceInfoVMs)
                {
                    <tr>
                        <td>
                            <a href="#" class="text success blueanchor">@Html.DisplayFor(modelItem => item.StudentName)</a>
                        </td>
                        @foreach (var a in item.AttendanceBos)
                        {
                            if (a.DayStatusId == (int)DayStatus.Present)
                            {
                            <td style="background: #60a917; border-color: #cccccc; border-width: 1px; border-style: solid; color: #2C911B; vertical-align: middle; padding: 5px 0px">
                                <div class="clear">
                                    <div class="m-t-xs m-b-xs text-center text-white">
                                        <b>P</b>
                                    </div>
                                </div>
                            </td>
                            }
                            else if (a.DayStatusId == (int)DayStatus.Absent)
                            {
                            <td style="background: #da5a53; border-color: #cccccc; border-width: 1px; border-style: solid; color: #AD2121; vertical-align: middle; padding: 0px">
                                <div class="clear">

                                    <div class="m-t-xs m-b-xs text-center text-white">
                                        <b>A</b>
                                    </div>

                                </div>
                            </td>
                            }
                            else if (a.DayStatusId == (int)DayStatus.HalfDay)
                            {
                            <td style="background: #e3a21a; border-color: #cccccc; border-width: 1px; border-style: solid; vertical-align: middle; padding: 0px">
                                <div class="clear">

                                    <div class="m-t-xs m-b-xs text-center text-white">
                                        <b>HD</b>
                                    </div>

                                </div>
                            </td>
                            }
                            else
                            {
                            <td style="background: #ffc40d; border-color: #cccccc; border-width: 1px; border-style: solid; vertical-align: middle; padding: 0px">
                                <div class="clear">
                                    <a href="javascript:;" class="text-white">
                                        <div class="m-t-xs m-b-xs text-center">
                                            <b>H</b>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            }
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
</script>
