﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<ExpensesBo>


@*<header class="panel-heading font-bold b-light">
    Expenses Report
 </header>*@

<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped" title="Expenses" exportcolumn="0,1,2,3,4,5,6" visiblecolumn="0,1,2,3,4,5,6" lastunsortcount="1">
                        <thead class="bg-primary">
                            <tr class="active text-white">
                                <th class="text-center"> Expenses Name
                                </th>
                               <th class="text-center">Start Date
                                </th>
                                <th class="text-center">End Date
                                </th>
                                <th class="text-center">Vendor Name
                                </th>
                                <th class="text-center">Seesion
                                </th>
                                <th class="text-center">Amount
                                </th>
                                 <th class="text-center">Expenses Type
                                </th>
                               @* <th class="text-center">Status
                                </th>*@
                               
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td class="text-center">
                                        @item.ItemName
                                    </td>
                                    <td class="text-center">
                                      @if (item.StartDate.HasValue)
                                        {
                                            @item.StartDate.Value.ToFormattedDate()
                                        }
                                        else
                                        {

                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.EndDate.HasValue)
                                        {
                                             @item.EndDate.Value.ToFormattedDate()
                                        }
                                        else
                                        {
                                           
                                        }
                                       

                                    </td>
                                    <td class="text-center">
                                        @item.VendorName
                                    </td>
                                    <td class="text-center">
                                        @item.SessionName
                                    </td>
                                    <td class="text-center">
                                        @item.Amount
                                    </td>
                                     <td class="text-center">
                                        @item.InventoryName
                                    </td>
                                    @*<td class="text-center">
                                         <i class="fa @(item.StudentStatusId == (int)UserStatus.Active ? "fa-check text-success" : "fa-times text-danger")"></i>
                                     <span class="hidden"> @(item.StudentStatusId == (int)UserStatus.Active ? "Active" : "InActive")</span>
                                           
                                    </td>*@
                                  
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
   
</script>