﻿@using EduErp.Mvc.Utilities
@model EduErp.BO.FeeTransactionTemplateBo


<div class="row scrollable" style="max-height: 250px;">
    <div class="form-group col-md-14 col-sm-14">
        <table id="dt_userList" width="100%" class="table table-striped responsive" title="Fee Status" exportcolumn="0,1,2,3,4,5,6,7,8,9,10,11" visiblecolumn="0,1,2,3,4,5,6,7,8,9,10,11,12">
            <thead>
                <tr>
                    <th class="text-center">Student Name</th>
                    <th class="text-center">Previous Balance</th>
                    <th class="text-center">Total Amount</th>
                    <th class="text-center">Fine</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Total Payable Amount</th>
                    <th class="text-center">Total Amount Deposit </th>
                    <th class="text-center">From Month</th>
                    <th class="text-center">To Month</th>
                    <th class="text-center">Balance Amount</th>
                    <th class="text-center">Is Settled</th>
                    <th class="text-center">Transaction Date</th>
                    <th class="text-center notExport">View</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.FeetransactionDetailList.Count == 0)
                {
                    @*<tr>
                        <td class="text-center" colspan="13">No record found</td>
                    </tr>*@
                }
                else
                {

                    for (var i = 0; i < Model.FeetransactionDetailList.Count; i++)
                    {

                    <tr>

                        <td class="text-center">@Model.FeetransactionDetailList[i].StudentName</td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].PreviousBalance&nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].TotalAmount&nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].Fine&nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].Discount&nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].TotalPayableAmount&nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].TotalAmountDeposit&nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].FromMonth</td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].ToMonth</td>
                        <td class="text-center">@Model.FeetransactionDetailList[i].BalanceAmount &nbsp; <i class="fa fa-inr"></i></td>
                        <td class="text-center">
                            @if (Model.FeetransactionDetailList[i].IsSettled)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>

                        <td class="text-center">@Model.FeetransactionDetailList[i].TransactionDate.ToFormattedDate() </td>
                        <td class="text-center"><a onclick="getTransactionByStudentId('@Model.FeetransactionDetailList[i].StudentId','@Model.FeetransactionDetailList[i].StudentName')"><span class="glyphicon glyphicon-search"></span>&nbsp;View</a></td>
                    </tr>

                    
                    }
                }
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
</script>
