﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.StudentTmplateBo
<div class="table-responsive">
    <table id="dt_userList" width="100%" class="table table-striped" title="Students" exportcolumn="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15" visiblecolumn="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15" lastunsortcount="1">
        <thead>
        <tr>
            <th class="text-center">Roll Number
            </th>
            <th class="text-center">Name
            </th>
            <th class="text-center">Contact Number
            </th>
            <th class="text-center">Gender
            </th>
            <th class="text-center">Category
            </th>
            <th class="text-center">Status
            </th>
            <th class="text-center">Email
            </th>
            <th class="text-center">Address
            </th>
            <th class="text-center">Father Name
            </th>
            <th class="text-center">Mother Name
            </th>
            <th class="text-center">Guardian Name
            </th>
            <th class="text-center">Guardian Address
            </th>
            <th class="text-center">Guardian Number
            </th>
            <th class="text-center">Date Of Birth
            </th>
            <th class="text-center">Date Of Admission
            </th>
            <th class="text-center">Aadhar Number
            </th>
        </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.StudentFilterLists)
            {
                <tr>

                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                    <td class="text-center">@item.StudentRollNumber</td>
                    <td class="text-center">
                        <a href="@Url.Action("ViewProfile", "Student", new { @studentId = item.StudentId })" class="text-primary blueanchor">@item.StudentName</a>
                    </td>
                    <td class="text-center">@item.StudentContactNumber</td>
                    <td class="text-center">@item.StudentGender</td>
                    <td class="text-center">@item.StudentCategory</td>
                                         
                    <td class="text-center">
                     <i class="fa @(item.StudentStatusId == (int)UserStatus.Active ? "fa-check text-success" : "fa-times text-danger")"></i>
                    <span class="hidden"> @(item.StudentStatusId == (int)UserStatus.Active ? "Active" : "InActive")</span>
                     </td>
                        <td class="text-center">@item.Email</td>
                    <td class="text-center">@item.PermanentAddress</td>
                    <td class="text-center">@item.FatherName</td>
                     <td class="text-center">@item.MotherName</td>
                    <td class="text-center">@item.GuardianName</td>
                     <td class="text-center">@item.GuardianAddress</td>
                    <td class="text-center">@item.GuardianMobile</td>
                    <td class="text-center">
                        @if(item.Dob!=null)
                        {
                        @item.Dob.Value.ToFormattedDate()
                        }else{
                        }

                    </td>
                    <td class="text-center">
                        @if(item.Doj!=null)
                        {
                        @item.Doj.Value.ToFormattedDate()
                        }else{
                        
                        }

                    </td>
                    <td class="text-center">@item.Uid</td>

                    
                    
                       @* <td class="text-center">
                            @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StudentStatusId == (int)UserStatus.Active))
                            {
                            <a href="@Url.Action("Edit", "Student", new { @id = item.StudentId })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                <i class="fa fa-edit icon"></i>&nbsp;Edit
                            </a>
                            }
                        </td>

                        <td class="text-center">
                             @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StudentStatusId == (int)UserStatus.Active))
                             {
                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.StudentId', '@((int)UserStatus.Deleted)') ">
                                <i class=" fa fa-trash-o text-danger"></i>&nbsp;Delete
                            </a>
                             }
                        </td>*@
                   
                </tr>
            }
                               
           </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');

       
    });
    
</script>