﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.Web.Models.SearchAttendancVM
@{
    ViewBag.Title = PageTitle.Create("Attendance");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var startDate = Model.StartDate.HasValue ? Model.StartDate.Value.ToString("dd-MMM-yyyy") : string.Empty;
    var endDate = Model.EndDate.HasValue ? Model.EndDate.Value.ToString("dd-MMM-yyyy") : string.Empty;

}


<header class="panel-heading font-bold b-light">
    Attendance Report
    <a href='javascript:;' class='text-info m-l-sm' data-toggle='modal' data-target='#FilterContainer'>
        <i class='fa fa-filter'></i>Date Filter</a>
               <a href='javascript:;' class='text-primary m-l-sm' id="Filter">
        <i class='fa fa-filter'></i><span>Hide Filter</span></a>
</header>
@Html.AntiForgeryToken()
<section class="panel panel-default scrollable">
    <div class="panel-body" id="visible">
        <div class="row">
            @Html.HiddenFor(a => a.SchoolId)
            
            <div class=" form-group col-md-3 col-sm-3">
                @Html.Label("Session")
                @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.SessionList, "Id", "Name"), new { @class = "form-control", @id = "Session" })
            </div>
            <div class=" form-group col-md-3 col-sm-3">
                <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ClassList, "Id", "Name"), new { @class = "form-control", @id = "Class" })
            </div>
            <div class=" form-group col-md-3 col-sm-3" id="SectionHide">
               <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>
               <select id="Section" class="form-control"></select>
                @Html.HiddenFor(a => a.SectionId, new {id="hdnSection"})
            </div>
            <div class=" form-group col-md-3 col-sm-3 col-xs-3" id="StudentHide">
                    @Html.Label("Student")
                    <select id="Student" class="form-control chosen">
                    </select>
                    @Html.HiddenFor(a => a.StudentId, new { id = "hdnStudentId" })
                </div>
            <div class=" form-group col-md-3 col-sm-3">
                @Html.Label("Status")
                @Html.DropDownListFor(a => a.StatusId, new SelectList(Model.DayStatusList, "Id", "Name"), new { @class = "form-control", @id = "Status" })
            </div>
             <div class=" form-group col-md-3 col-sm-3" style="padding-top: 23px">
                  <input type="button" name="Go" value="Generate Report" class="btn btn-lightGreen btn-rounded" onclick="GetAttendance();">
            </div>
        </div>
    </div>
    <div id="attendanceSummaryContainer" style="overflow-x: auto;">
        @if (Model.AttendanceVM.AttendanceInfoVMs.Count > 0)
        {
            Html.RenderPartial("_AttendenceReportTemplate", Model.AttendanceVM);
        }
        else
        {
            <table width="100%" class="table table-striped m-b-none">
                <thead>
                <tr>
                    <th style="vertical-align: middle; text-align: center;" class="text-center-xs">
                        No record found
                    </th>
                </tr>
                </thead>
            </table>
        }

    </div>
</section>
<div class="modal fade" id="FilterContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog " >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;</button>
                <h4 class="modal-title">
                    Change Date</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-xs btn-info" onclick="FilterLastDay(7)">Last 7 Days</a>
                            </div>
                            <div class="col-md-4 ">
                                <a class="btn btn-xs btn-info" onclick="FilterLastDay(10)">Last 10 Days</a>
                            </div>
                            <div class="col-md-4 ">
                                <a class="btn btn-xs btn-info" onclick="FilterLastDay(30)">Last 30 Days</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-xs m-b-xs">
                        @Html.CheckBoxFor(a => a.SearchSpecificDateRange)
                        Date range
                    </div>
                    @if (Model.SearchSpecificDateRange)
                    {
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">From</span>
                                        <input type="text" id="StartDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@startDate' />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">To</span>
                                        <input type="text" id="EndDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@endDate' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="row m-t">
                                <div class="col-md-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">From</span>
                                        <input type="text" id="StartDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@startDate' disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">To</span>
                                        <input type="text" id="EndDate" class="form-control" style="z-index: 100000; cursor: pointer" autocomplete="off" value='@endDate' disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="doc-buttons pull-right">
                    <a class="btn btn-info btn-sm" style="margin-top: 3px" onclick="GetAttendance()">
                        <i class="fa fa-search"></i> Search
                    </a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<link href="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Class").change(function () {
            if ($("#Class").val() != 0) {
                getSections($("#Class").val())
                $("#SectionHide").show();
            } else {
                $("#SectionHide").hide();
            }

        });
        $("#Section").change(function () {
            if ($("#Section").val() != 0) {
                getStudents($("#Section").val());
                $("#StudentHide").show();
            } else {
                $("#StudentHide").hide();
            }
        });
        if (new Date($("#EndDate")) === new Date("1", "1", "1"))
            $("#EndDate").val(new Date());
        // $('#visible').slideToggle();
       
        var currentDate = getFormattedDate(new Date());
        $("#StartDate").datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($("#StartDate").hasClass("parsley-error")) {
                $("#StartDate").parsley().reset();
            }
            $("#EndDate").datepicker("setStartDate", $("#StartDate").val());
        });
        $("#EndDate").datepicker({
            format: CURRENT_DATEFORMAT,
            endDate: currentDate,
            startDate: '@startDate',
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($("#EndDate").hasClass("parsley-error")) {
                $("#EndDate").parsley().reset();
            }
            $("#StartDate").datepicker("setEndDate", $("#EndDate").val());
        });

        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });

    if ($("#Class").val() != 0) {
        $("#SectionHide").show();
    } else {
        $("#SectionHide").hide();
    }
    
    if ($("#Section").val() != null) {
        debugger;
        $("#StudentHide").show();
    } else {
        $("#StudentHide").hide();
    }

    $("#Section").val('@Model.SectionId');
    $("#Student").val('@Model.StudentId');
    $("#SearchSpecificDateRange").change(function () {
        if ($(this).is(":checked")) {
            $("#StartDate").removeAttr("disabled");
            $("#EndDate").removeAttr("disabled");
        } else {
            $("#StartDate").attr("disabled", "disabled");
            $("#EndDate").attr("disabled", "disabled");
        }
    });
    $("#Filter").click(function () {
        toggleFilter();
    });
    function toggleFilter() {
        $('#visible').slideToggle();
        $('#Filter span').text($.trim($('#Filter').text()) == 'Hide Filter' ? 'Show Filter' : 'Hide Filter');
    }
    function getSections(classId)
    {
        debugger;
        $("#Section").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSectionList", "Report")', // we are calling json method
                dataType: 'json',
                data: { classId:classId},
                success: function (classes) {
                    $.each(classes, function (i, clas) {

                        $("#Section").append('<option value="' + clas.Value + '">' +
                             clas.Text + '</option>');
                    });
                    $("#Section option").eq(0).before($("<option></option>").val("0").text("All"));
                    $('#Section option[value="0"]').prop('selected', true);
                    //$("#Section").val(');
                },
                error: function (ex) {
                    alert('Failed to retrieve sections.' + ex);
                }
            });
         return false;
    };
    //get students Based on sectionId
    function getStudents(sectionId) {
        debugger;
        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
            datatype: 'json',
            data: { sectionId: sectionId },
            success: function (sections) {
                $.each(sections, function (i, sec) {
                    $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                });
                $("#Student option").eq(0).before($("<option></option>").val("0").text("All"));
                $('#Student option[value="0"]').prop('selected', true);
                //$("#Student").val('');
            },

            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    function GetAttendance() {
        //HideModelWindow();
        var startDate = '';
        var endDate = '';
        startDate = $('#StartDate').val();
        if (startDate === '') {
            toastr.error("Start Date is required");
            return;
        }
        endDate = $('#EndDate').val();
        if (endDate === '') {
            toastr.error("End Date is required");
            return; 
        }
        var url = '@Url.Action("AttendenceReport", "Report")';
        var searchSpecificDateRange = $('#SearchSpecificDateRange').prop('checked');
        url += "?sessionId=" + $("#Session").val() +
            "&classId=" + $("#Class").val() +
            "&sectionId=" + $("#Section").val() +
            "&studentId=" + $("#Student").val() +
            "&statusId=" + $("#Status").val() +
            "&ssdr=" + searchSpecificDateRange +
            "&sd=" + startDate +
            "&ed=" + endDate;

        window.location = url;
    }
    function FilterLastDay(day) {
        HideModelWindow();
        var startDate = new Date();
        startDate.setDate(startDate.getDate() - day);
        var startDate1 = getFormattedDate(startDate);
        var endDate = getFormattedDate(new Date());

        var searchSpecificDateRange = $('#SearchSpecificDateRange').prop('checked');
        //var pageNumber = 1;
        var url = '@Url.Action("AttendenceReport", "Report")';

        url += "?sessionId=" + $("#Session").val() +
            "&classId=" + $("#Class").val() +
            "&sectionId=" + $("#Section").val() +
            "&studentId=" + $("#Student").val() +
            "&statusId=" + $("#Status").val() +
            "&ssdr=" + searchSpecificDateRange +
            "&sd=" + startDate1 +
            "&ed=" + endDate;

        window.location = url;
    }
    function HideModelWindow() {
        $('#FilterContainer').modal('toggle');
    }
</script>
