﻿@using EduErp.Mvc.Utilities
@using EduErp.BO
@model EduErp.BO.ExamBo
@{
    ViewBag.Title = PageTitle.Create("Exam Report");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="panel-heading font-bold b-light">
    Exam(s) Report
      <a href='javascript:;' id="Filter" class='text-primary pull-right m-l-sm'>
       <i class='fa fa-filter'></i><span> Hide Filter</span></a>
    <a href='javascript:;' id="Chart" class='text-primary pull-right m-1-sm'>
        <i class="fa fa-filter"></i><span>Hide Chart</span>
    </a>
</header>
@Html.AntiForgeryToken()
<section class="panel panel-default scrollable">
    <div class="panel-body">
    <div class="row" id="visible">
        <div class=" form-group col-md-3 col-sm-3">
            @Html.Label("Session")
            @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), new {@class = "form-control", @id = "Session"})
        </div>
        <div class=" form-group col-md-3 col-sm-3">
              @Html.Label("Exam")
            @Html.DropDownListFor(a => a.ExamId, new SelectList(Model.ListOfExams, "Id", "Name"),"Please Select", new {@class = "form-control", @id = "Exam"})
        </div>
        <div class=" form-group col-md-3 col-sm-3" id="SubjectHide">
               @Html.Label("Subject")
            <select id="Subject" class="form-control chosen">
            </select>
        </div>
        <div class=" form-group col-md-3 col-sm-3" id="ClassHide">
            <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
           <select id="Class" class="form-control chosen">
            </select>
        </div>
        <div class=" form-group col-md-3 col-sm-3" id="SectionHide">
              <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
            <select id="Section" class="form-control chosen">
            </select>
             @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
        </div>
        
                <div class=" form-group col-md-3 col-sm-3 col-xs-3"id="visible">
                    @Html.Label("Student")
                    <select id="Student" class="form-control chosen">
                    </select>
                    @Html.HiddenFor(a => a.StudentId)
                    @Html.HiddenFor(a => a.Name)
                </div>
       
        @*<div class=" form-group col-md-3 col-sm-3">
              @Html.Label("Status")
            @Html.DropDownListFor(a => a.StatusId, new SelectList(Model.ListOfStatus, "Id", "Name"), new {@class = "form-control", @id = "Status"})
        </div>*@
        <div class=" form-group col-md-3 col-sm-3" style="padding-top: 23px">
            <button id="btnGetFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" getReports(); ">
                Generate Report
            </button>
        </div>
    </div>
        </div>
    <div class="row" id="ChartCollapse">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <section class="panel panel-default">
                <header class="panel-heading font-bold bg-lightgreen">ExamWise/Type</header>
                <div class="panel-body text-center">
                    <div id="examTypeChart" class="highChart"></div>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <section class="panel panel-default">
                <header class="panel-heading font-bold bg-lightgreen">StudentWise/Type</header>
                <div class="panel-body text-center">
                    <div id="examTypeChartstudentwise" class="highChart"></div>
                </div>
            </section>
        </div>
    </div>
     
        
    
    <div class="row">
        <div class="col-md-12">

            <div id="studentList">


            </div>

        </div>
    </div>

</section>
<script src="~/Content/js/Highchart/highcharts.js"></script>
<script src="~/Content/js/Highchart/data.js"></script>
<script src="~/Content/js/Highchart/drilldown.js"></script>
<script type="text/javascript">
   
    $(document).ready(function () {
        $("#Class").change(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                $("#SectionHide").show();
                getSections($("#Class").val());
            } else {

                $("#SectionHide").hide();
                //getStudentsListForMessage(0, 0);
            
            }
        });

            $("#Exam").change(function () {
                debugger;
                if (document.getElementById('Exam').selectedIndex !== 0) {
                    $("#SubjectHide").show();
                    getSubjects($("#Exam").val());
                    $("#Subject")[0].selectedIndex = 0;
                    getClasses(0);
                    $("#Class")[0].selectedIndex = 0;
                   

                    $(function () {
                        debugger;
                        var exmId = $("#Exam option:selected").val();
                        $.getJSON('@Url.Action("GetExamChart", "Report")', { examId: exmId }, function (data) {
            debugger;
            var jsonArr = [];
            for (var i = 0; i < data.TypewiseDetail.length; i++) {
                jsonArr.push({
                    name: data.TypewiseDetail[i].StudentName,
                    y: data.TypewiseDetail[i].Physics,
                    drilldown: data.TypewiseDetail[i].StudentName
                });
            }

            //    "name": "Male",
            //    "id": "Male",
            //    "data": [[, 4], ["ClassD", 5]]
            var jsonArrdrill = [];
            //for (var i = 0; i < data.genderDetailClassWiseDrillDown.length; i++) {
            //    jsonArrdrill.push({
            //        name: data.genderDetailClassWiseDrillDown[i].GenderName,
            //        id: data.genderDetailClassWiseDrillDown[i].GenderId,
            //        //drilldown: data.genderDetail[i].GenderName
            //        data: [data.genderDetailClassWiseDrillDown[i].ClassName, data.genderDetailClassWiseDrillDown[i].CountNo]
            //    });
            //}

            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('examTypeChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Type Exam Report Exam Wise  '
                },
                subtitle: {
                    text: 'Click the slices to view exam wise report in type. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Type",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],
                "drilldown": {

                    "series": [
                        jsonArrdrill
                        //{
                        //    "name": "Male",
                        //    "id": "Male",
                        //    "data": [[, 4], ["ClassD", 5]]

                        //},
                        //{
                        //    "name": "FeMale",
                        //    "id": "FeMale",
                        //    "data": [["Class C",6],["ClassB",3]]

                        //}

                    ]

                }

            });
        });
                    });
                } else {

                    $("#SubjectHide").hide();
                    //getStudentsListForMessage(0, 0);
            
                }
            });
            $("#Subject").change(function () {
                debugger;
                if (document.getElementById('Subject').selectedIndex !== 0) {
                    $("#ClassHide").show();
                    getClasses($("#Subject").val());
                    $("#Class")[0].selectedIndex = 0;
                } else {

                    $("#ClassHide").hide();
                    //getStudentsListForMessage(0, 0);
            
                }
            });
       

       // $('#visible').slideToggle();
        $("#Filter").click(function () {
            toggleFilter();
        });
        $("#Chart").click(function () {
            toggleChart();
        });
        
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function toggleFilter() {
        $('#visible').slideToggle();
        $('#Filter span').text($.trim($('#Filter').text()) == 'Hide Filter' ? 'Show Filter' : 'Hide Filter');
    }
    function toggleChart() {
        $('#ChartCollapse').slideToggle();
        $('#Chart span').text($.trim($('#Chart').text()) == 'Hide Chart' ? 'Show Chart' : 'Hide Chart');
    }
    //get classes based on subjectId
    function getClasses(subjectId) {
        debugger;
        $("#Class").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetclassBySujectId")',
            datatype: 'json',
            data: { subjectId: subjectId },
            success: function (Classes) {

                $.each(Classes, function (i, cls) {
                    $("#Class").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Class option").eq(0).before($("<option></option>").val("0").text("All"));
                $('#Class option[value="0"]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
   
    //get students on change of section
    $("#Section").change(function () {
        if (document.getElementById('Section').selectedIndex !== 0) {
            $("#hdnSection").val($("#Section option:selected").val());

            getStudents($("#Section option:selected").val());
            // $("#hdnStudentId").val($("#Student").val());

        }
    });
    //get students Based on sectionId
    function getStudents(sectionId) {
        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
            datatype: 'json',
            data: { sectionId: sectionId },
            success: function (sections) {
                $.each(sections, function (i, sec) {
                    $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                });
                $("#Student option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                //$('#Student option[value=""]').prop('selected', true);
                $("#Student").val('@Model.StudentId');
                $("Student").trigger("liszt:updated");

                $("#Student").chosen();
            },

            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    //get subjects based on ExamId
    function getSubjects(examId) {
        debugger;
        $("#Subject").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetsubjectByExamId")',
            datatype: 'json',
            data: { examId: examId },
            success: function (subjects) {

                $.each(subjects, function (i, sub) {
                    $("#Subject").append('<option value="' + sub.Value + '">' + sub.Text + '</option>');
                });
                $("#Subject option").eq(0).before($("<option></option>").val("0").text("All"));
                $('#Subject option[value="0"]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    //get sections based on classId
    function getSections(classId) {
        debugger;
        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {
                if (classes.length > 0) {
                    $.each(classes, function (i, cls) {
                        $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                    });
                    $("#Section option").eq(0).before($("<option></option>").val("0").text("All"));
                    $('#Section option[value="0"]').prop('selected', true);
                } else {
                    $("#Section").append('<option value="0">Select</option>');
                }                
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    if (document.getElementById('Class').selectedIndex !== 0) {
        
        $("#SectionHide").show();
    } else {
        $("#SectionHide").hide();
        $("#Section").val("0");
    }

    if (document.getElementById('Exam').selectedIndex !== 0) {
        $("#SubjectHide").show();
          } else {
       $("#SubjectHide").hide();
        $("#Subject").val("0");
            
    }
    

    if (document.getElementById('Subject').selectedIndex !== 0) {
      $("#ClassHide").show();
    } else {
        $("#ClassHide").hide();
        $("#Class").val("0");
    }
    
    
    function getReports() {
        debugger;
        $("#studentList").html("");

        if (($("#Class").val() !== null) && ($("#Section").val() !== null)) {
            debugger;
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetExamDetailForReport", "Report")',
                datatype: 'html',
                data: { sessionId: $("#Session").val(), examId: $("#Exam").val(), subjectId: $("#Subject").val(), classId: $("#Class").val(), sectionId: $("#Section").val() }, //statusId: $("#Status").val()
                success: function (data) {
                    $("#studentList").html(data);
                    toggleFilter();
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }
        else {
            toastr.error("Select Filters");
        }
    }
    
    
    $("#Student").change(function () {
        debugger;
        $(function () {
            debugger;
            var exmId = $("#Exam option:selected").val();
            var studntId = $("#Student option:selected").val();
            $.getJSON('@Url.Action("GetExamChartStudentWise", "Report")', { examId: exmId , studentId:studntId}, {}, function (data) {
                debugger;
                var jsonArr = [];
                for (var i = 0; i < data.TypeStudentWiseDetail.length; i++) {
                    jsonArr.push({
                        name: data.TypeStudentWiseDetail[i].Name,
                        y: data.TypeStudentWiseDetail[i].TotalMarks,
                        drilldown: data.TypeStudentWiseDetail[i].Name
                    });
                }

                //    "name": "Male",
                //    "id": "Male",
                //    "data": [[, 4], ["ClassD", 5]]
                var jsonArrdrill = [];
                //for (var i = 0; i < data.genderDetailClassWiseDrillDown.length; i++) {
                //    jsonArrdrill.push({
                //        name: data.genderDetailClassWiseDrillDown[i].GenderName,
                //        id: data.genderDetailClassWiseDrillDown[i].GenderId,
                //        //drilldown: data.genderDetail[i].GenderName
                //        data: [data.genderDetailClassWiseDrillDown[i].ClassName, data.genderDetailClassWiseDrillDown[i].CountNo]
                //    });
                //}

                //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
                Highcharts.chart('examTypeChartstudentwise', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'Type Student wise Exam Report '
                    },
                    subtitle: {
                        text: 'Click the slices to view exam in studentWise. '
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}:{point.y}'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                    },

                    "series": [
                        {
                            "name": "Type",
                            "colorByPoint": true,
                            "data": jsonArr
                        }
                    ],
                    "drilldown": {

                        "series": [
                            jsonArrdrill
                            //{
                            //    "name": "Male",
                            //    "id": "Male",
                            //    "data": [[, 4], ["ClassD", 5]]

                            //},
                            //{
                            //    "name": "FeMale",
                            //    "id": "FeMale",
                            //    "data": [["Class C",6],["ClassB",3]]

                            //}

                        ]

                    }

                });
            });
        });
    });
</script>

