﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.ExpensesBo
@{
    ViewBag.Title = PageTitle.Create("Student Report");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="panel-heading font-bold b-light">
    Expense(s) Report
      <a href='javascript:;' id="Filter" class='text-primary pull-right m-l-sm'><i class='fa fa-filter'></i><span>Hide Filter</span></a>
    <a href='javascript:;' id="Chart" class='text-primary pull-right m-l-sm'><i class='fa fa-filter'></i><span>Hide Chart</span></a>
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="row" id="visible">
                    <div class="col-md-12">
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                            @Html.Label("Session")
                            @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), new { @id = "Session", @class = "form-control " })
                        </div>
                        <div class="form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Expenses Type")
                            @Html.DropDownListFor(m => m.InvetoryTypeId, new SelectList(Model.ExpensesList, "Id", "Name"), "Please Select", new { @id = "ExpensesType", @class = "form-control" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("From Month")
                            @Html.DropDownListFor(m => m.FromMothId, new SelectList(Model.ListOfMonths, "Id", "Name"), "Please Select", new { @id = "FromMonth", @class = "form-control" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("To Month")
                            @Html.DropDownListFor(m => m.ToMonthId, new SelectList(Model.ListOfMonths, "Id", "Name"), "Please Select", new { @id = "ToMonth", @class = "form-control" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                            <button id="btnGetFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" getExpenseReport(); ">
                                Generate Report
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ChartCollapse">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <section class="panel panel-default">
                <header class="panel-heading font-bold bg-lightgreen">Expenses/Type</header>
                <div class="panel-body text-center">
                    <div id="expensesTypeChart" class="highChart"></div>
                </div>
            </section>
        </div>
    </div>
    <div id="expenseReportList">
    </div>
</section>
<script src="~/Content/js/Highchart/highcharts.js"></script>
<script src="~/Content/js/Highchart/data.js"></script>
<script src="~/Content/js/Highchart/drilldown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


        // $('#visible').slideToggle();
        $("#Filter").click(function () {
            toggleFilter();
        });
        $("#Chart").click(function () {
            toggleChart();
        });

        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    //get sections based on classId
    function toggleFilter() {
        $('#visible').slideToggle();
        $('#Filter span').text($.trim($('#Filter').text()) == 'Hide Filter' ? 'Show Filter' : 'Hide Filter');
    }
    function toggleChart() {
        $('#ChartCollapse').slideToggle();
        $('#Chart span').text($.trim($('#Chart').text()) == 'Hide Chart' ? 'Show Chart' : 'Hide Chart');
    }
    function getExpenseReport() {
        debugger;
        $("#expenseReportList").html("");

        if (($("#Session").val() != "") && ($("#ExpensesType").val() != "") && $("#FromMonth").val() != "" && $("#ToMonth").val() != "") {
            debugger;
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetExpenseDetailForReport", "Report")',
                datatype: 'html',
                data: { sessionId: $("#Session").val(), expenseId: $("#ExpensesType").val(), fromMonthId: $("#FromMonth").val(), toMonthId: $("#ToMonth").val() },
                success: function (data) {
                    $("#expenseReportList").html(data);
                    toggleFilter();
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }
        else {
            toastr.error("Select Filters");
        }
    }

    $(function () {
        
        $.getJSON('@Url.Action("GetExpensesChart", "Report")', {}, function (data) {
            debugger;
            var jsonArr = [];
            for (var i = 0; i < data.TypewiseDetail.length; i++) {
                jsonArr.push({
                    name: data.TypewiseDetail[i].Name,
                    y: data.TypewiseDetail[i].Total,
                    drilldown: data.TypewiseDetail[i].Name
                });
            }

            //    "name": "Male",
            //    "id": "Male",
            //    "data": [[, 4], ["ClassD", 5]]
            var jsonArrdrill = [];
            //for (var i = 0; i < data.genderDetailClassWiseDrillDown.length; i++) {
            //    jsonArrdrill.push({
            //        name: data.genderDetailClassWiseDrillDown[i].GenderName,
            //        id: data.genderDetailClassWiseDrillDown[i].GenderId,
            //        //drilldown: data.genderDetail[i].GenderName
            //        data: [data.genderDetailClassWiseDrillDown[i].ClassName, data.genderDetailClassWiseDrillDown[i].CountNo]
            //    });
            //}

            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('expensesTypeChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Typewise Expenses '
                },
                subtitle: {
                    text: 'Click the slices to view expenses in type. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Type",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],
                "drilldown": {

                    "series": [
                        jsonArrdrill
                        //{
                        //    "name": "Male",
                        //    "id": "Male",
                        //    "data": [[, 4], ["ClassD", 5]]

                        //},
                        //{
                        //    "name": "FeMale",
                        //    "id": "FeMale",
                        //    "data": [["Class C",6],["ClassB",3]]

                        //}

                    ]

                }

            });
        });
    });

</script>
