﻿@using EduErp.Mvc.Utilities
@model EduErp.BO.ReportBo
@{
    ViewBag.Title = PageTitle.Create("Fees Report");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}


<header class="panel-heading font-bold b-light">
    Fee Report
    <a href='javascript:;' id="Filter" class='text-primary pull-right m-l-sm'>&nbsp;&nbsp; <i class='fa fa-filter'></i><span>Hide Filter</span></a>
    <a href='javascript:;' id="Chart"  class='text-primary pull-right m-l-sm'>&nbsp;&nbsp; <i class='fa fa-filter'></i><span>Hide Chart</span></a>
</header>
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">

            <div class="panel-body">

                @using (Html.BeginForm("FeesReport", "Report", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addFeeHeadTractionForm" }))
                {
                    <div class="row" id="visible">
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Pay Status")
                            @Html.DropDownListFor(m => m.PayStatusId, new SelectList(Model.ListOfPayStatus, "Id", "Name"), "Please Select", new { @id = "PayStatus", @class = "form-control" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                            @Html.Label("Session")
                            @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), new { @id = "Session", @class = "form-control " })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Class")
                            @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "All", new { @id = "Class", @class = "form-control", title = "Select class to get last transactions" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" id="SectionHide">
                            @Html.Label("Section")
                            <select id="Section" class="form-control chosen" title="Select section to get last transactions">
                            </select>
                            @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" id="FromMonthHide">
                            @Html.Label("From Month")
                            @Html.DropDownListFor(m => m.FromMonthId, new SelectList(Model.ListOfMonthes, "Id", "Name"), "Please Select", new { @id = "FromMonth", @class = "form-control" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" id="ToMonthHide">
                            @Html.Label("To Month")
                            @Html.DropDownListFor(m => m.ToMonthId, new SelectList(Model.ListOfMonthes, "Id", "Name"), "Please Select", new { @id = "ToMonth", @class = "form-control" })
                        </div>
                        
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                            <button id="btnGetFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" filter(); ">
                                Generate Report
                            </button>
                        </div>
                    </div>
           
                    <div id="PaidList">
                    </div>
                    <div id="TransactionListById">
                </div>
                }

            </div>
           
        </div>
    </div>
     <div class="row" id="ChartCollapse">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <section class="panel panel-default">
                <header class="panel-heading font-bold bg-lightgreen">Fees/Type</header>
                <div class="panel-body text-center">
                    <div id="feesTypeChart" class="highChart"></div>
                </div>
            </section>
        </div>
    </div>
</section>
<script src="~/Content/js/Highchart/highcharts.js"></script>
<script src="~/Content/js/Highchart/data.js"></script>
<script src="~/Content/js/Highchart/drilldown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getSections(parseInt('@Model.ClassId'));
        //get sections Onchange of class
        $("#Filter").click(function () {
            debugger;
            toggleFilter();
        });
        $("#Chart").click(function () {
            debugger;
            toggleChart();
        });
        $("#PayStatus").change(function () {
            debugger;
            if($("#PayStatus").val() == 3 || $("#PayStatus").val() == 4){
                $("#FromMonthHide").hide();
                $("#ToMonthHide").hide();
            }else{
                $("#FromMonthHide").show();
                $("#ToMonthHide").show();
            }
        });
        $("#Class").change(function () {
            debugger;
            if ($("#Class").val() != 0) {
                $("#SectionHide").show();
                getSections($("#Class").val());
            } else {

                $("#SectionHide").hide();
                //getStudentsListForMessage(0, 0);

            }
        });

        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    if ($("#Class").val() != 0) {
        debugger;
        // getSections($("#Class").val());
        $("#SectionHide").show();
    } else {

        $("#SectionHide").hide();
        $("#hdnSection").val("0");

    }
    function getSections(classId) {
        debugger;
        $("#Section").empty();
        if (classId != 0) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetSectionList")',
                datatype: 'json',
                data: { classId: classId },
                success: function (classes) {

                    $.each(classes, function (i, cls) {
                        $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                    });
                    $("#Section option").eq(0).before($("<option></option>").val("0").text("All"));
                },
                error: function (ex) {
                    alert('Failed to retrieve classes.' + ex);
                }
            });
        }
    }

    function filter() {
        debugger;
        $("#PaidList").html("");
        if ($("#FromMonth").val() != "" && $("#ToMonthMonth").val() != "") {
            if (($("#Class").val() !== "") && ($("#Section").val() !== null)) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("GetPayStutus", "Report")',
                    datatype: 'html',
                    data: { sessionId: $("#Session").val(), fromMonthId: $("#FromMonth").val(), toMonthId: $("#ToMonth").val(), classId: $("#Class").val(), sectionId: $("#Section").val(), PayStatusId: $("#PayStatus").val() },
                    success: function (data) {
                        $("#PaidList").html(data);
                        toggleFilter();
                    },
                    error: function (ex) {
                        toastr.error('Failed to retrieve students.' + ex);
                    }
                });
            } else if (($("#Class").val() !== null) && ($("#Section").val() == null)) {
                debugger;
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("GetPayStutus", "Report")',
                    datatype: 'html',
                    data: { sessionId: $("#Session").val(), fromMonthId: $("#FromMonth").val(), toMonthId: $("#ToMonth").val(), classId: $("#Class").val(), sectionId: 0, PayStatusId: $("#PayStatus").val() },
                    success: function (data) {
                        $("#PaidList").html(data);
                        toggleFilter();
                    },
                    error: function (ex) {
                        toastr.error('Failed to retrieve students.' + ex);
                    }
                });
            }
        }
        else {
            debugger;
            if ($("#PayStatus").val() == 3 || $("#PayStatus").val() == 4) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("GetPayStutus", "Report")',
                    datatype: 'html',
                    data: { sessionId: $("#Session").val(), fromMonthId: 0, toMonthId: 0, classId: $("#Class").val(), sectionId: $("#Section").val(), PayStatusId: $("#PayStatus").val() },
                    success: function (data) {
                        $("#PaidList").html(data);
                        toggleFilter();
                    },
                    error: function (ex) {
                        toastr.error('Failed to retrieve students.' + ex);
                    }
                });
            }
        else 
          {
         toastr.error("Select Filters");
            }
       
    }

}
    function getTransactionByStudentId(studentId, studentName) {
        debugger;
        $("#TransactionListById").html("");
        var studentName = studentName;
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetFeeTransactionDetailByStudentId", "Report")',
            datatype: 'html',
            data: { 'studentName': studentName, studentId: studentId,  sessionId: $("#Session").val() },
            success: function (data) {
                $("#TransactionListById").html(data);
            },
            error: function (ex) {
                toastr.error('Failed to retrieve students.' + ex);
            }
        });
    }

function toggleFilter() {
    $('#visible').slideToggle();
    $('#Filter span').text($.trim($('#Filter').text()) == 'Hide Filter' ? 'Show Filter' : 'Hide Filter');
}
function toggleChart() {
    $('#ChartCollapse').slideToggle();
    $('#Chart span').text($.trim($('#Chart').text()) == 'Hide Chart' ? 'Show Chart' : 'Hide Chart');
}
function updateStatus(id, statusId) {
    var token = $('input[name="__RequestVerificationToken"]').val();
    $.ajax({
        url: '@Url.Action("UpdateStatus", "FeeTransaction")',
        data: { id: id, statusId: statusId, "__RequestVerificationToken": token },
        type: 'post',
        success: function () {
            //toastr.success(data);
            location.reload();
        }
    });
}
    $(function () {
        debugger;
        $.getJSON('@Url.Action("GetFeesChart", "Report")', {}, function (data) {
            debugger;
            var jsonArr = [];
            for (var i = 0; i < data.length; i++) {
                jsonArr.push({
                    name: data[i].ClassName,
                    y: data[i].TotalFees,
                    drilldown: data[i].ClassName
                });
            }

            //    "name": "Male",
            //    "id": "Male",
            //    "data": [[, 4], ["ClassD", 5]]
            var jsonArrdrill = [];
            //for (var i = 0; i < data.genderDetailClassWiseDrillDown.length; i++) {
            //    jsonArrdrill.push({
            //        name: data.genderDetailClassWiseDrillDown[i].GenderName,
            //        id: data.genderDetailClassWiseDrillDown[i].GenderId,
            //        //drilldown: data.genderDetail[i].GenderName
            //        data: [data.genderDetailClassWiseDrillDown[i].ClassName, data.genderDetailClassWiseDrillDown[i].CountNo]
            //    });
            //}

            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('feesTypeChart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Typewise Fees '
                },
                subtitle: {
                    text: 'Click the slices to view fees in type. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Type",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],
                "drilldown": {

                    "series": [
                        jsonArrdrill
                        //{
                        //    "name": "Male",
                        //    "id": "Male",
                        //    "data": [[, 4], ["ClassD", 5]]

                        //},
                        //{
                        //    "name": "FeMale",
                        //    "id": "FeMale",
                        //    "data": [["Class C",6],["ClassB",3]]

                        //}

                    ]

                }

            });
        });
    });
</script>


