﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.ConfigurationBo
@{
    ViewBag.Title = PageTitle.Create("Report Centre");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                <h4><i class="fa fa-chart-pie"></i>&nbsp;Report Centre</h4>
            </div>
        </div>
    </header>
    @Html.AntiForgeryToken()
    <div class="panel-body">
        <div class="row">
        @foreach (var item in SessionItems.MenuItems.Where(a => a.ParentId == 32))
        {
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <div class="Edu-link-box">
                    <a  title="@item.Name" href="@Url.Action(item.ActionName, item.Controller)"><span class="Link-box-icon bg-aqua"><i class="@item.IconClass hoverZoom"></i></span></a>
                    <div class="Edu-link-box-content">
                        <span  title="@item.Name"class="Edu-link-box-text"><a class="Edu-text-color"  href="@Url.Action(item.ActionName, item.Controller)">@item.Name</a></span>
                        <span title="Total @item.Name" class="Edu-box-number"><span class="badge hoverZoom"><span  style="color: white">@item.Count</span></span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        }
            
        </div>
    </div>
    
</section>
<link href="~/Content/css/MyStyle.css" rel="stylesheet"/>
@*@{Layout = "~/Views/Shared/_Layout.cshtml";}
<section class="hbox stretch m-t-sm">
        <section class="vbox">
            <section class="">
                <section class="vbox">
                    <section class="scrollable padder h85vh">
                      <div class="scrollable m-b-lg">
                         <div class="row m-t-sm">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading font-bold bg-lightgreen">Student</header>
                                            <div class="panel-body text-center">
                                               <div id="ClassStudentChart" class="highChart"></div>
                                             </div>
                                        </section>
                                    </div>
                                     @* <div class="col-md-12 col-sm-6 col-xs-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading font-bold bg-lightgreen">Student</header>
                                            <div class="panel-body text-center">
                                               <div id="ClassStudent" class="highChart"></div>
                                               </div>
                                        </section>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading font-bold bg-lightgreen">Student</header>
                                            <div class="panel-body text-center">
                                               <div id="ClassStudentGenderWise" class="highChart"></div>
                                               </div>
                                        </section>
                                    </div>
                                </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>

<script src="~/Content/js/Highchart/highcharts.js"></script>
<script src="~/Content/js/Highchart/data.js"></script>
<script src="~/Content/js/Highchart/drilldown.js"></script>*@

<script type="text/javascript">
    var pageName;
    var pageName1;
    $(document).ready(function () {
       // pageName = "Default";
        //pageName1 = "Report";
        // window.translateWebPageLanguage();
    });

  @*  $(function() {

        $.getJSON('@Url.Action("GetData", "Default")', {}, function(data) {
            debugger;
            //var json = data;
            var json = [['Paid', data.TotalPaid],['Unpaid',9]];
            $('#ClassStudentChart').highcharts({
              
                colors: ['#008000', '#ff5b00', '#333333', '#ff5b00'],
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45
                    }
                },
                title: {
                    text: '<p>Fee Status</p>'
                },
                plotOptions: {
                    pie: {
                        innerSize: 100,
                        depth: 45,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        },
                        showInLegend: true
                    }
                },
                series: [
                {
                    name: 'Fees',
                    data: json,
                    point: {
                        events: {
                            click: function(data) {
                                window.location = '@Url.Action("FeeFilter", "Report")';
                                }
                            }
                        }


                    }
                ]
            });

        });
    });


   $(function () {
        debugger;
        $.getJSON('@Url.Action("GetClassStudentStatusForChart", "Report")', {}, function (data) {

            var jsonArr = [];
            for (var i = 0; i < data.genderDetail.length; i++) {
                jsonArr.push({
                    name: data.genderDetail[i].GenderName,
                    y: data.genderDetail[i].CountNo,
                    drilldown: data.genderDetail[i].GenderName
                });
            }

            //    "name": "Male",
            //    "id": "Male",
            //    "data": [[, 4], ["ClassD", 5]]
            var jsonArrdrill = [];
            for (var i = 0; i < data.genderDetailClassWiseDrillDown.length; i++) {
                jsonArrdrill.push({
                    name: data.genderDetailClassWiseDrillDown[i].GenderName,
                    id: data.genderDetailClassWiseDrillDown[i].GenderId,
                    //drilldown: data.genderDetail[i].GenderName
                    data: [data.genderDetailClassWiseDrillDown[i].ClassName, data.genderDetailClassWiseDrillDown[i].CountNo]
                });
            }

            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('ClassStudentGenderWise', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Genderwise student '
                },
                subtitle: {
                    text: 'Click the slices to view students in class. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Gender",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],
                "drilldown": {
                   
                    "series": [
                        jsonArrdrill
                        //{
                        //    "name": "Male",
                        //    "id": "Male",
                        //    "data": [[, 4], ["ClassD", 5]]

                        //},
                        //{
                        //    "name": "FeMale",
                        //    "id": "FeMale",
                        //    "data": [["Class C",6],["ClassB",3]]

                        //}

                        
                    ]



                }

            });
       });
    });*@

  @*  $(function () {
        debugger;
        $.getJSON('@Url.Action("GetClassStudentStatusForChart", "Report")', {}, function(modelData) {
            if (modelData != null && modelData.length > 0) {
                var classes = [];
                var activeStudentsCounts = [];
                var inActiveStudentsCounts = [];
                var studentsCount = [];
                for (var i = 0; i < modelData.length; i++) {
                    classes.push(modelData[i]["ClassName"]);
                    activeStudentsCounts.push(modelData[i]["TotalActiveStudents"]);
                    inActiveStudentsCounts.push(modelData[i]["TotalInactiveStudents"]);
                    studentsCount.push(modelData[i]["TotalStudents"]);
                }
                Highcharts.chart('ClassStudent', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Class'
                    },
                    xAxis: {
                        categories: classes
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Total status'
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                        }
                    },
                    legend: {
                        align: 'right',
                        x: -30,
                        verticalAlign: 'top',
                        y: 25,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                        borderColor: '#CCC',
                        borderWidth: 1,
                        shadow: false
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                            }
                        }
                    },
                    series: [{
                        name: 'Sec D',
                        data: studentsCount
                    }, {
                        name: 'Sec A',
                        data: activeStudentsCounts
                    }, {
                        name: 'Sec B',
                        data: inActiveStudentsCounts
                    }]
                });
                    
            }
        });
    });*@

  
        </script>