﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.StudentBo
@{
    ViewBag.Title = PageTitle.Create("Student Report");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="panel-heading font-bold b-light">
    Student(s) Report
      <a href='javascript:;' id="Filter" class='text-primary m-l-sm'><i class='fa fa-filter'></i><span> Hide Filter</span></a>
    <a href='javascript:;' id="Chart" class='text-primary m-l-sm'><i class='fa fa-filter'></i><span> Hide Chart</span></a>
</header>
@Html.AntiForgeryToken()
<section class="panel panel-default scrollable">
    <div class="panel-body">        
        <div class="row" id="visible">
            <div class=" form-group col-md-3 col-sm-3">
                @Html.Label("Session")
                @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.ListOfSessions, "Id", "Name"), new { @class = "form-control", @id = "Session" })
            </div>
            <div class=" form-group col-md-3 col-sm-3">
                <label>@Level.GetlabelName((int)LabelEnum.Class)</label>
                @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), new { @class = "form-control", @id = "Class" })
            </div>
            <div class=" form-group col-md-3 col-sm-3" id="SectionHide">
                <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
                <select id="Section" class="form-control chosen">
                </select>
            </div>
            <div class=" form-group col-md-3 col-sm-3">
                @Html.Label("Status")
                @Html.DropDownListFor(a => a.StudentStatusId, new SelectList(Model.ListOfStatus, "Id", "Name"), new { @class = "form-control", @id = "Status" })
            </div>
            <div class=" form-group col-md-3 col-sm-3">
                @Html.Label("Exit/Entry")
                @Html.DropDownListFor(a => a.AdmissionStatusId, new SelectList(Model.ListOfAdmissionStatus, "Id", "Name"), new { @class = "form-control", @id = "AdmissionStatus" })
            </div>
            <div class=" form-group col-md-3 col-sm-3" style="padding-top: 23px">
                <button id="btnGetFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" getStudents(); ">
                    Get Students
                </button>
            </div>
        </div>
        <div class="row" id="ChartCollapse">
           <div class="col-md-6 col-sm-6 col-xs-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold bg-lightgreen">Gender/Student</header>
                    <div class="panel-body text-center">
                        <div id="ClassStudentGenderWise" class="highChart"></div>
                    </div>
                </section>
             </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold bg-lightgreen">Category/Student</header>
                    <div class="panel-body text-center">
                        <div id="ClassStudentCategoryWise" class="highChart"></div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-6">
              <section class="panel panel-default">
                 <header class="panel-heading font-bold bg-lightgreen">Student/@Level.GetlabelName((int)LabelEnum.Class)</header>
                     <div class="panel-body text-center">
                       <div id="ClassStudentChart" class="highChart"></div>
                     </div>
              </section>
             </div>
             <div class="col-md-6 col-sm-6 col-xs-6">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold bg-lightgreen">Session/Student</header>
                    <div class="panel-body text-center">
                        <div id="ClassStudentSessionWise" class="highChart"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="studentList">
                </div>
            </div>
        </div>
    </div>    
</section>
<script src="~/Content/js/Highchart/highcharts.js"></script>
<script src="~/Content/js/Highchart/data.js"></script>
<script src="~/Content/js/Highchart/drilldown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Class").change(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                $("#SectionHide").show();
                getSections($("#Class").val());
            } else {

                $("#SectionHide").hide();
                //getStudentsListForMessage(0, 0);

            }


        });

        // $('#visible').slideToggle();
        $("#Filter").click(function () {
            toggleFilter();
        });
        $("#Chart").click(function () {
            toggleChart();            
        });
       // $('#ChartCollapse').slideToggle();
        //$("#btnGetFeeTransaction").click(function () {
        //    $('#visible').slideToggle();
        //    // $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        //});
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function toggleFilter() {
        $('#visible').slideToggle();
        $('#Filter span').text($.trim($('#Filter').text()) == 'Hide Filter' ? 'Show Filter' : 'Hide Filter');
    }
    function toggleChart() {
        $('#ChartCollapse').slideToggle();
        $('#Chart span').text($.trim($('#Chart').text()) == 'Hide Chart' ? 'Show Chart' : 'Hide Chart');
    }
    //get sections based on classId
    function getSections(classId) {
        debugger;
        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("All"));
                $('#Section option[value="0"]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    if (document.getElementById('Class').selectedIndex !== 0) {

        getSections($("#Class").val());
    } else {
        $("#SectionHide").hide();
        $("#Section").val("0");
    }
    function getStudents() {
        debugger;
        $("#studentList").html("");

        if (($("#Class").val() !== null) && ($("#Section").val() !== null)) {
            debugger;
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetStudentDetailForReport", "Report")',
                datatype: 'html',
                data: { classId: $("#Class").val(), sectionId: $("#Section").val(), statusId: $("#Status").val(), admsnstatusId: $("#AdmissionStatus").val(), sessionId: $("#Session").val() },
                success: function (data) {
                    $("#studentList").html(data);
                    toggleChart();
                    toggleFilter();
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        } else if (($("#Class").val() !== null) && ($("#Section").val() == null)) {
            debugger;
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetStudentDetailForReport", "Report")',
                datatype: 'html',
                data: { classId: $("#Class").val(), sectionId: 0, statusId: $("#Status").val(), admsnstatusId: $("#AdmissionStatus").val(), sessionId: $("#Session").val() },
                success: function (data) {
                    $("#studentList").html(data);
                    toggleChart();
                    toggleFilter();
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }
        else {
            toastr.error("Select Filters");
        }       
}

function updateStatus(id, statusId) {
    debugger;
    var token = $('input[name="__RequestVerificationToken"]').val();
    $.ajax({
        url: '@Url.Action("UpdateStatus", "Student")',
        data: { Id: id, statusId: statusId, "__RequestVerificationToken": token },
        type: 'post',
        success: function (data) {
            location.reload();
        }

    });
}
    //CLASSWISE STUDENT CHART
    $(function () {
        $.getJSON('@Url.Action("GetClassStudent", "Default")', {}, function (modelData) {
         if (modelData != null && modelData.length > 0) {
             var classes = [];
             var studentsCount = [];
             for (var i = 0; i < modelData.length; i++) {
                 classes.push(modelData[i]["Name"]);
                 studentsCount.push(modelData[i]["TotalStudents"]);
             }
             $('#ClassStudentChart').highcharts({
                 chart: {
                     type: 'column'
                     //                    events: {
                     //                    click: function () {
                     //                        chartclick(this);
                     //                    }
                     //                }
                 },
                 title: {
                     text: 'Student/Class Chart'
                 },
                 xAxis: {
                     categories: classes
                 },
                 yAxis: {
                     min: 0,
                     tickInterval: 1,
                     title: {
                         text: 'Students Count'
                     }
                 },
                 plotOptions: {
                     column: {
                         pointPadding: 0.1,
                         borderWidth: 0,
                         dataLabels: {
                             enabled: true,
                             color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                         }
                     }
                 },
                 series: [{ name: 'Student Count', data: studentsCount }]
             });
         }
     });
    });
    //CHART FOR GENDERWISE
$(function () {
    debugger;
    $.getJSON('@Url.Action("GetClassStudentStatusForChart", "Report")', {}, function (data) {

            var jsonArr = [];
            for (var i = 0; i < data.genderDetail.length; i++) {
                jsonArr.push({
                    name: data.genderDetail[i].GenderName,
                    y: data.genderDetail[i].CountNo,
                    drilldown: data.genderDetail[i].GenderName
                });
            }

            //    "name": "Male",
            //    "id": "Male",
            //    "data": [[, 4], ["ClassD", 5]]
            var jsonArrdrill = [];
            for (var i = 0; i < data.genderDetailClassWiseDrillDown.length; i++) {
                jsonArrdrill.push({
                    name: data.genderDetailClassWiseDrillDown[i].GenderName,
                    id: data.genderDetailClassWiseDrillDown[i].GenderId,
                    //drilldown: data.genderDetail[i].GenderName
                    data: [data.genderDetailClassWiseDrillDown[i].ClassName, data.genderDetailClassWiseDrillDown[i].CountNo]
                });
            }

            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('ClassStudentGenderWise', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Genderwise student '
                },
                subtitle: {
                    text: 'Click the slices to view students in class. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Gender",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],
                "drilldown": {

                    "series": [
                        jsonArrdrill
                        //{
                        //    "name": "Male",
                        //    "id": "Male",
                        //    "data": [[, 4], ["ClassD", 5]]

                        //},
                        //{
                        //    "name": "FeMale",
                        //    "id": "FeMale",
                        //    "data": [["Class C",6],["ClassB",3]]

                        //}


                    ]



                }

            });
        });
});
    //SESSIONWISE STUDENT CHART
    $(function () {
        debugger;
        $.getJSON('@Url.Action("GetDataForSessionWiseChart", "Report")', {}, function (data) {

        var jsonArr = [];
        for (var i = 0; i < data.sessionWiseDetail.length; i++) {
            jsonArr.push({
                name: data.sessionWiseDetail[i].SessionName,
                y: data.sessionWiseDetail[i].CountNo,
                drilldown: data.sessionWiseDetail[i].SessionName
            });
        }
       
        //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
        Highcharts.chart('ClassStudentSessionWise', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Sessionwise student '
            },
            subtitle: {
                text: 'Click the slices to view students in class. '
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}:{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>'
            },

            "series": [
                {
                    "name": "Session",
                    "colorByPoint": true,
                    "data": jsonArr
                }
            ],
           
        });
    });
    });
    //CATEGORY WISE STUDENT CHART
    $(function () {
        debugger;
        $.getJSON('@Url.Action("GetDataForCategoryWiseChart", "Report")', {}, function (data) {

            var jsonArr = [];
            for (var i = 0; i < data.categoryDetail.length; i++) {
                jsonArr.push({
                    name: data.categoryDetail[i].CategoryName,
                    y: data.categoryDetail[i].CountNo,
                    drilldown: data.categoryDetail[i].CategoryName
                });
            }



            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('ClassStudentCategoryWise', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Categorywise student '
                },
                subtitle: {
                    text: 'Click the slices to view students in class. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Category",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],

            });
        });
    });


</script>
