﻿@using EduErp.Mvc.Utilities
@model EduErp.BO.ExpensesBo
@{
    ViewBag.Title = PageTitle.Create("Add");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<section class="panel panel-default">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Expenses
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Expenses", FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "addExpensesForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Expenses Type")
                    @Html.DropDownListFor(m => m.InvetoryTypeId, new SelectList(Model.ExpensesList, "Id", "Name"), "Please Select", new {@id = "ExpensesType", @class = "form-control"})
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ServiceStartDate">
                    @Html.Label("Start Date")
                    @Html.TextBoxFor(m => m.StartDate, new {@class = "form-control datepicker-input"})
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ServiceEndDate">
                    @Html.Label("End Date")
                    @Html.TextBoxFor(m => m.EndDate, new {@class = "form-control datepicker-input"})
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="Date">
                    @Html.Label("Date")
                    @Html.TextBoxFor(m => m.Date, new {@class = "form-control datepicker-input"})
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="FromMonth">
                    @Html.Label("From Month")
                    @Html.TextBoxFor(m => m.FromMonth, new {@class = "form-control datepicker-input"})
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ToMonth">
                    @Html.Label("To Month")
                    @Html.TextBoxFor(m => m.ToMonth, new {@class = "form-control datepicker-input"})
                </div>
            </div>
            <div class="row">
                @*<div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Session")
                    @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.SessionList, "Value", "Text"), new {@class = "form-control"})
                </div>*@
                <div class="form-group col-md-6 col-sm-6 col-xs-6" id="Vendors">
                    @Html.Label("Vendor Name")<a id="VendorUrl" class=" pull-right" ajax-modal="ajaxModal"><span class="blueanchor">Add new vendor</span></a>
                  @* @Html.DropDownListFor(m => m.VenderId, new SelectList(Model.VendorList, "Id", "Name"), "Please Select", new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Vendor"})*@
                    <select id="Vendor" class="form-control"></select>
                    @Html.HiddenFor(a=>a.VenderId,new{@id="HiddenVenderId"})
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Amount")&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.Amount, new {@class = "form-control", type = "number", data_parsley_required = "true", data_parsley_error_message = "Please Enter Amount"})
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ItemName">
                    @Html.Label("Item Name")<a id="ItemUrl"  class=" pull-right" ajax-modal="ajaxModal"><span class="blueanchor">Add new Item</span></a>
                    <select id="ItemNames" class="form-control"></select>
                    @Html.HiddenFor(a=>a.ItemId,new{@id="HiddenItemId"})
                   @*  @Html.DropDownListFor(m => m.ItemName, new SelectList(Model.ItemList, "Id", "Name"), "Please Select", new {@id = "ItemName", @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Item"})*@
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="EmpName">
                    @Html.Label("Employee Name")
                   @Html.DropDownListFor(m => m.EmployeeId, new SelectList(Model.EmployeeNameList, "Id", "Name"), "Please Select", new {@class = "form-control"})
                   </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Payment Mode")
                    @Html.DropDownListFor(m => m.PaymentModeTypeId, new SelectList(Model.ListOfPaymentMode, "Id", "Name"), "Please select", new { @id = "PaymentMode", @class = "form-control" })
                   </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Item Description")
                    @Html.TextAreaFor(m => m.ItemDescription, new { @class = "form-control", maxlength = "250" })
                </div>
            </div>
        </div>
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddExpenses" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "Expenses")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        if (document.getElementById('ExpensesType').selectedIndex == 0)
            getFilters();
        $('.chosen-select').chosen({
            search_contains: true
        });
        
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val(" ");
       
        $("#ExpensesType").change(function () {
            debugger;
            if (document.getElementById('ExpensesType').selectedIndex != 0) {
                if ($("#ExpensesType").val() == 2) {
                  //  var url1 = ';
                    $("#ItemUrl").attr("href", "/item/add?value=1&expenseTypeId=2");
                    $("#VendorUrl").attr("href", "/vendor/add?value=2&expenseTypeId=2");
                    $("#ServiceStartDate").show();
                    $("#ServiceEndDate").show();
                    $("#Date").hide();
                    $("#FromMonth").hide();
                    $("#ToMonth").hide();
                    $("#EmpName").hide();
                    $("#ItemName").show();
                    $('#Vendors').show();
                    getItems($("#ExpensesType").val());
                    getVendors($("#ExpensesType").val());
                } else if ($("#ExpensesType").val() == 3) {

                    $("#ServiceStartDate").hide();
                    $("#ServiceEndDate").hide();
                    $("#Date").hide();
                    $("#ItemName").hide();
                    $("#EmpName").show();
                    $("#FromMonth").show();
                    $("#ToMonth").show();
                    $('#Vendors').hide();

                }
                else {
                    //var url = '';
                    $("#ItemUrl").attr("href", "/item/add?value=1&expenseTypeId=1");
                    $("#VendorUrl").attr("href", "/vendor/add?value=2&expenseTypeId=1");
                    $("#ServiceStartDate").hide();
                    $("#ServiceEndDate").hide();
                    $("#Date").show();
                    $("#FromMonth").hide();
                    $("#ToMonth").hide();
                    $("#EmpName").hide();
                    $("#ItemName").show();
                    $('#Vendors').show();
                    getItems($("#ExpensesType").val());
                    getVendors($("#ExpensesType").val());
                    
                }
            } else {
                $("#ServiceStartDate").hide();
                $("#ServiceEndDate").hide();
                $("#Date").hide();
                $("#FromMonth").hide();
                $("#ToMonth").hide();
                $("#EmpName").hide();
            }

            //if ($("#ExpensesType option:selected").val() === 1) {


            //} else {

            //    $("#Date").hide();

            //}

        });

    });
    function getItems(expenseTypeId) {
        $("#ItemNames").empty();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetItemList")', // we are calling json method
            dataType: 'json',
            data: { expenseTypeId: expenseTypeId },
            success: function (itemes) {
                $.each(itemes, function (i, item) {

                    $("#ItemNames").append('<option value="' + item.Value + '">' +
                        item.Text + '</option>');
                });
                // $("#PermanentCityId").val($("#PermanentCity").val());
                $("#ItemNames option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $('#ItemNames option[value=""]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
    }

    function getVendors(expenseTypeId) {
        $("#Vendor").empty();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVendorlist")', // we are calling json method
            dataType: 'json',
            data: { expenseTypeId: expenseTypeId },
            success: function (vendors) {
                $.each(vendors, function (i, vendor) {

                    $("#Vendor").append('<option value="' + vendor.Value + '">' +
                        vendor.Text + '</option>');
                });
                // $("#PermanentCityId").val($("#PermanentCity").val());
                $("#Vendor option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $('#Vendor option[value=""]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
    }
    function getFilters() {
        debugger;
        if (document.getElementById('ExpensesType').selectedIndex != 0) {
            if ($("#ExpensesType").val() == 2) {
                $("#ItemUrl").attr("href", "/item/add?value=1&expenseTypeId=2");
                $("#VendorUrl").attr("href", "/vendor/add?value=2&expenseTypeId=2");
                $("#ServiceStartDate").show();
                $("#ServiceEndDate").show();
                $("#Date").hide();
                $("#FromMonth").hide();
                $("#ToMonth").hide();
                $("#EmpName").hide();
                $('#Vendors').show();
            } else if ($("#ExpensesType").val() == 3) {

                $("#ServiceStartDate").hide();
                $("#ServiceEndDate").hide();
                $("#Date").hide();
                $("#FromMonth").show();
                $("#ToMonth").show();
                $("#EmpName").show();
                $("#ItemName").hide();
                $("#Vendors").hide();
            } else {
                $("#ItemUrl").attr("href", "/item/add?value=1&expenseTypeId=1");
                $("#VendorUrl").attr("href", "/vendor/add?value=2&expenseTypeId=1");
                $("#ServiceStartDate").hide();
                $("#ServiceEndDate").hide();
                $("#Date").show();
                $("#FromMonth").hide();
                $("#ToMonth").hide();
                $("#EmpName").hide();
                $('#Vendors').show();
            }
        } else {
            $("#ItemUrl").attr("href", "/item/add?value=-1&expenseTypeId=-1");
            $("#VendorUrl").attr("href", "/vendor/add?value=-1&expenseTypeId=-1");
            $("#ServiceStartDate").hide();
            $("#ServiceEndDate").hide();
            $("#Date").hide();
            $("#FromMonth").hide();
            $("#ToMonth").hide();
            $("#EmpName").hide();
        }

        
    }
    function saveForm() {
        debugger;
        $('#addExpensesForm').parsley().validate();
        if ($('#addExpensesForm').parsley().isValid()) {
          $("#HiddenVenderId").val($("#Vendor").val());
            $("#HiddenItemId").val($("#ItemNames").val());
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "Expenses")',
                data: $("#addExpensesForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Expenses")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>
