﻿@using EduErp.Mvc.Utilities
@model EduErp.BO.ExpensesBo
@{
    ViewBag.Title = PageTitle.Create("Edit");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Update Expenses
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "Expenses", FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "editExpensesForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required. </p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Expenses Type")
                    @Html.DropDownListFor(m => m.InvetoryTypeId, new SelectList(Model.ExpensesList, "Id", "Name"), "Please Select", new { @id = "ExpensesType", @class = "form-control" })
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ServiceStartDate">
                    @Html.Label("Start Date",new{@id="StartDate"})  @Html.Label("From Month",new{@id="FromMonth"}) @Html.Label("Date",new{@id="Date"})
                    @Html.TextBoxFor(m => m.StartDate,"{0:dd-MMM-yyyy}", new { @class = "form-control datepicker-input" })
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ServiceEndDate">
                    @Html.Label("End Date",new{@id="EndDate"}) @Html.Label("To Month",new{@id="ToMonth"})
                    @Html.TextBoxFor(m => m.EndDate,"{0:dd-MMM-yyyy}", new {@id="EndDateText", @class = "form-control datepicker-input" })
                </div>
              </div>
            <div class="row">
                @*<div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Session")
                    @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.SessionList, "Value", "Text"), new { @class = "form-control" })
                </div>*@
                <div class="form-group col-md-6 col-sm-6 col-xs-6" id="Vendors">
                    @Html.Label("Vendor Name")<a id="EditVendorUrl" class=" pull-right" ajax-modal="ajaxModal"><span class="blueanchor">Add new vendor</span></a>
                    @* @Html.DropDownListFor(m => m.VenderId, new SelectList(Model.VendorList, "Id", "Name"), "Please Select", new {@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Vendor"})*@
                    <select id="Vendor" class="form-control"></select>
                    @Html.HiddenFor(a => a.VenderId, new { @id = "HiddenVenderId" })
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    @Html.Label("Amount")&nbsp;<span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", type = "number", data_parsley_required = "true", data_parsley_error_message = "Please Enter Amount" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="ItemName">
                    @Html.Label("Item Name")<a id="EditItemUrl" class=" pull-right" ajax-modal="ajaxModal"><span class="blueanchor">Add new Item</span></a>
                    <select id="ItemNames" class="form-control"></select>
                    @Html.HiddenFor(a => a.ItemId, new { @id = "HiddenItemId" })
                    @*  @Html.DropDownListFor(m => m.ItemName, new SelectList(Model.ItemList, "Id", "Name"), "Please Select", new {@id = "ItemName", @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Select Item"})*@
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4" id="EmpName">
                    @Html.Label("Employee Name")
                    @Html.DropDownListFor(m => m.EmployeeId, new SelectList(Model.EmployeeNameList, "Id", "Name"), "Please Select", new { @class = "form-control" })
                </div>
                 <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Payment Mode")
                    @Html.DropDownListFor(m => m.PaymentModeTypeId, new SelectList(Model.ListOfPaymentMode, "Id", "Name"), "Please select", new { @id = "PaymentMode", @class = "form-control" })
                   </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    @Html.Label("Item Description")
                    @Html.TextAreaFor(m => m.ItemDescription, new { @class = "form-control", maxlength = "250" })
                </div>
            </div>
        </div>
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnEditExpenses" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" validateForm(); ">
                <i class="fa fa-save"></i>&nbsp;Update
            </button>
            <a href="@Url.Action("Index", "Expenses")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function() {
        $('.chosen-select').chosen({
            search_contains: true
        });
        
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function(ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        // $(".datepicker-input").val(" ");
        getExpenses();
        $("#ExpensesType").change(function() {
            debugger;
            getExpenses();
        });
        @*if (@Model.InvetoryTypeId != 0) {
            if (@Model.InvetoryTypeId == 1 && @Model.InvetoryTypeId == 2) {
                getItems('@Model.InvetoryTypeId');
                getVendors('@Model.InvetoryTypeId');
            }
        }*@


    });
  
    
   

    //get Expenses type
    function getExpenses() {
        debugger;
        if (document.getElementById('ExpensesType').selectedIndex != 0) {
            if ($("#ExpensesType").val() == 2) {
                $("#EditItemUrl").attr("href", "/item/add?value=1&expenseTypeId=2");
                $("#EditVendorUrl").attr("href", "/vendor/add?value=2&expenseTypeId=2");
                $("#StartDate").show();
                $("#EndDate").show();
                $("#EndDateText").show();
                $("#Date").hide();
                $("#FromMonth").hide();
                $("#ToMonth").hide();
                $("#EmpName").hide();
                $('#Vendors').show();
                getItems($("#ExpensesType").val());
                getVendors($("#ExpensesType").val());
            } else if ($("#ExpensesType").val() == 3) {

                $("#StartDate").hide();
                $("#EndDate").hide();
                $("#Date").hide();
                $("#FromMonth").show();
                $("#EndDateText").show();
                $("#ToMonth").show();
                $("#EmpName").show();
                $("#ItemName").hide();
                $("#Vendors").hide();
            } else {
                $("#EditItemUrl").attr("href", "/item/add?value=1&expenseTypeId=1");
                $("#EditVendorUrl").attr("href", "/vendor/add?value=2&expenseTypeId=1");
                $("#StartDate").hide();
                $("#EndDateText").hide();
                $("#EndDate").hide();
                $("#Date").show();
                $("#FromMonth").hide();
                $("#ToMonth").hide();
                $("#EmpName").hide();
                $('#Vendors').show();
                getItems($("#ExpensesType").val());
                getVendors($("#ExpensesType").val());
            }
        } else {
            $("#EditItemUrl").attr("href", "/item/add?value=-1&expenseTypeId=-1");
            $("#EditVendorUrl").attr("href", "/vendor/add?value=-1&expenseTypeId=-1");
            $("#StartDate").hide();
            $("#ServiceEndDate").hide();
            $("#Date").hide();
            $("#FromMonth").hide();
            $("#ToMonth").hide();
            $("#EmpName").hide();
              
        }
    }

    function getItems(expenseTypeId) {
        $("#ItemNames").empty();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetItemList")', // we are calling json method
                dataType: 'json',
                data: { expenseTypeId: expenseTypeId },
                success: function (itemes) {
                    $.each(itemes, function (i, item) {

                        $("#ItemNames").append('<option value="' + item.Value + '">' +
                            item.Text + '</option>');
                    });
                    // $("#PermanentCityId").val($("#PermanentCity").val());
                    // $("#ItemNames option").eq(0).before($("<option></option>").val("").text(" Please Select"));
                    // $('#ItemNames option[value=""]').prop('selected', true);
                    $('#ItemNames').val('@Model.ItemId');
                },
                error: function (ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
    }

    function getVendors(expenseTypeId) {
        $("#Vendor").empty();
        debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVendorlist")', // we are calling json method
            dataType: 'json',
            data: { expenseTypeId: expenseTypeId },
            success: function (vendors) {
                $.each(vendors, function (i, vendor) {

                    $("#Vendor").append('<option value="' + vendor.Value + '">' +
                        vendor.Text + '</option>');
                });
                // $("#PermanentCityId").val($("#PermanentCity").val());
                // $("#Vendor option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                // $('#Vendor option[value=""]').prop('selected', true);
                 $('#Vendor').val('@Model.VenderId');
            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
    }

    function validateForm() {
        debugger;
        $('#editExpensesForm').parsley().validate();
        if ($('#editExpensesForm').parsley().isValid()) {
           $("#HiddenVenderId").val($("#Vendor").val());
            $("#HiddenItemId").val($("#ItemNames").val());
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Expenses")',
                data: $("#editExpensesForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Expenses")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>
