﻿ @using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<ExpensesBo>
@{
    ViewBag.Title = PageTitle.Create("Index");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    
}

<header class="panel-heading font-bold b-light">
    Expenses
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Expenses) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
    {
        <a href="@Url.Action("Add", "Expenses")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Add Expenses</a>
    }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped" title="Expenses" exportcolumn="0,1,2,3,4,5,6,7" visiblecolumn="0,1,2,3,4,5,6,7,8,9" lastunsortcount="2">
                        <thead class="bg-primary">
                            <tr class="active text-white">
                                <th class="text-center"title="Expenses Name"> Expenses Name
                                </th>
                               <th class="text-center" title="Start Date">Start Date
                                </th>
                                <th class="text-center" title="End Date">End Date
                                </th>
                                <th class="text-center" title="Vendor Name">Vendor Name
                                </th>
                                <th class="text-center" title="Session Name ">Seesion
                                </th>
                                <th class="text-center" title="Amount">Amount
                                </th>
                                 <th class="text-center" title="Expenses Type">Expenses Type
                                </th>
                                <th class="text-center" title="Status">Status
                                </th>
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Expenses) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                    <th class="text-center" title="Action">Action
                                    </th>
                                    @*<th class="text-center">Edit
                                    </th>
                                    <th class="text-center">Delete
                                    </th>*@
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td class="text-center">
                                        @item.ItemName
                                    </td>
                                    <td class="text-center">
                                      @if (item.StartDate.HasValue)
                                      {
                                            @item.StartDate.Value.ToFormattedDate()
                                      }
                                      else
                                      {

                                      }
                                    </td>
                                    <td class="text-center">
                                        @if (item.EndDate.HasValue)
                                        {
                                             @item.EndDate.Value.ToFormattedDate()
                                        }
                                        else
                                        {

                                        }
                                       

                                    </td>
                                    <td class="text-center">
                                        @item.VendorName
                                    </td>
                                    <td class="text-center">
                                        @item.SessionName
                                    </td>
                                    <td class="text-center">
                                        @item.Amount
                                    </td>
                                     <td class="text-center">
                                        @item.InventoryName
                                    </td>
                                    <td class="text-center">
                                        <span class="hidden">@item.StatusId</span>
                                        <div id="btn_@item.Id">
                                            <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active " : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                    id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.StatusId == (int)UserStatus.Active ? "Deactivate Expenses" : "Activate Expenses ?")', '@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to Deactivate Expenses ?" : "Are you sure you want to Activate Expenses ?")', '@item.Id', '@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                                <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </div>
                                    </td>
                                    @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Expenses) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StatusId == (int)UserStatus.Active))
                                    {
                                        @*<td class="text-center notExport">
                                            <a href="@Url.Action("Edit", "Expenses", new { id = item.Id })"  title="Edit" >
                                                <i class="fa fa-edit icon"></i>&nbsp;Edit
                                            </a>
                                        </td>
                                        <td class="text-center notExport">
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                            </a>
                                        </td>*@
                                        <td class="text-center notExport">
                                             <a href="@Url.Action("Edit", "Expenses", new { id = item.Id })"  title="Edit" >
                                                <i class="fa fa-edit icon"></i>
                                            </a>
                                            &nbsp;
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                <i class="fa fa-trash-o text-danger"></i>
                                                </a>
                                        </td>
                                    }
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<link href="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, statusId) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "Expenses")',
            data: { id: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function () {
                //toastr.success(data);
                location.reload();
            }
        });
    }
</script>
