.c-loader {
    background-color: #3d464d;
    background-color: rgba(61, 70, 77, 0.3);
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 6px;
    margin: 13px 0;
    position: relative;
    text-indent: -1000vw;
    width: 6px;
}

.c-loader,
.c-loader::after,
.c-loader::before {
    -webkit-animation: 0.9s ease-in-out 0s normal none infinite running loaderFade;
    -moz-animation: 0.9s ease-in-out 0s normal none infinite running loaderFade;
    -ms-animation: 0.9s ease-in-out 0s normal none infinite running loaderFade;
    -o-animation: 0.9s ease-in-out 0s normal none infinite running loaderFade;
    animation: 0.9s ease-in-out 0s normal none infinite running loaderFade;
}

.c-loader::after,
.c-loader::before {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: #3d464d;
    background-color: rgba(61, 70, 77, 0.3);
    -ms-border-radius: 100%;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 100%;
    margin-left: 4px;
    position: absolute;
    vertical-align: middle;
    width: 6px;
}

.c-loader::after {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 200%;
    margin-left: 8px;
}

.c-loader.c-loader--spinner {
    background: transparent url("../images/ajax-loading-small.gif") repeat scroll center center;
    -ms-border-radius: 0;
    border-radius: 0;
    height: 16px;
    margin: 0;
    width: 16px;
}

.c-loader.c-loader--spinner,
.c-loader.c-loader--spinner::after,
.c-loader.c-loader--spinner::before {
    -webkit-animation: 0s ease 0s normal none 1 running none;
    -moz-animation: 0s ease 0s normal none 1 running none;
    -ms-animation: 0s ease 0s normal none 1 running none;
    -o-animation: 0s ease 0s normal none 1 running none;
    animation: 0s ease 0s normal none 1 running none;
    content: none;
}

.c-loader.c-loader--spinner--blue {
    background: transparent url("../images/ajax-loading-small-blue.gif") repeat scroll center center;
    -ms-border-radius: 0;
    border-radius: 0;
    height: 20px;
    margin: 0;
    width: 20px;
}

.c-loader.c-loader--spinner--blue,
.c-loader.c-loader--spinner--blue::after,
.c-loader.c-loader--spinner--blue::before {
    -webkit-animation: 0s ease 0s normal none 1 running none;
    -moz-animation: 0s ease 0s normal none 1 running none;
    -ms-animation: 0s ease 0s normal none 1 running none;
    -o-animation: 0s ease 0s normal none 1 running none;
    animation: 0s ease 0s normal none 1 running none;
    content: none;
}

@keyframes loaderFade {
    50% {
        background-color: #3d464d;
    }
    0%,
    100% {
        background-color: rgba(61, 70, 77, 0.3);
    }
}

@keyframes loaderFade {
    50% {
        background-color: #3d464d;
    }
    0%,
    100% {
        background-color: rgba(61, 70, 77, 0.3);
    }
}