body,
input,
textarea,
select,
button,
.normal {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    font-size: 13px;
    color: #3d464d;
    font-weight: normal;
}
.bg-danger {
    padding: 5px!important;
}
.label.bg-warning {
    padding: 5px 20px !important;
    cursor: pointer;
}
.label.bg-warning {
    padding: 5px 20px !important;
}

.available {
    background-color: #1aae88;
    color: white;
    cursor: pointer;
    padding: 5px 18px !important;
}

.pending {
    background-color: #8AD3F4;
    padding: 5px 25px;
}

.passwordBox {
    width: 25%;
    text-align: center;
    margin-left: 34%;
}

.modal-header {
    background-color: #0caceb !important;
    color: #FFFFFF !important;
    text-align: center;
    -ms-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -ms-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-header .close {
    color: #FFFFFF !important;
    -ms-opacity: 1;
    opacity: 1;
}

.blueanchor,
.blueanchor * {
    cursor: pointer;
    outline: none;
}

.blueanchor {
    color: #2895F1 !important;
    text-decoration: underline;
}

.blueanchor:focus {
    text-decoration: underline;
}

.blueanchor img {
    border: 0;
}

.loader {
    left: 50%;
    top: 50%;
    z-index: 1070;
    position: absolute;
    display: none;
}

span {
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: inherit;
}

textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}

.disabledLink {
    pointer-events: none !important;
    cursor: default !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: #6D6D91 !important;
    background-color: #EDEDED !important;
    /*border: 1px solid #8e9091;*/
}

a.disabled,
input.disabled {
    pointer-events: none;
    cursor: default;
    color: #6D6D91 !important;
    background-color: #EDEDED !important;
    /*border: 1px solid #8e9091;*/
}

.notification_height {
    max-height: 300px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 10px 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}

.selected {
    background-color: #177bbb !important;
    color: white !important;
}

.selected td {
    background-color: #428bca !important;
    color: white !important;
}

table.dataTable tbody tr:hover {
    cursor: pointer !important;
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background-color: #949596;
}

::selection {
    color: black;
    background-color: #949596;
}

p {
    text-align: justify;
}

#modal-box {
    background-color: #fff;
    height: 100%;
    border: 1px solid #7A858D;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#modal-box div#modal-title {
    word-wrap: break-word;
}

#modal-box h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 20px 32px;
    background: none;
    margin: 0;
}

div#modal-content {
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e5e5e5;
    background: #f6f9fc;
    padding: 32px;
    line-height: 1.8em;
    font-size: 13px;
    word-wrap: break-word;
    -webkit-nbsp-mode: space;
    -webkit-line-break: after-white-space;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#upload-modal-dropzone {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1001;
    color: #000;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #78b0de;
    border-radius: 3px;
}

li.active-result {
    border-bottom: 1px solid #eaeef1;
}

@keyframes example {
    100% {
        opacity: .7;
    }
}

#fileDrag {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.dragArea {
    z-index: 9999 !important;
    border: 8px solid #060;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

#dropAreaMessage {
    position: fixed;
    top: 15px;
    left: 45%;
    align-content: center;
}

.dropAreaMessage {
    display: block !important;
    -ms-opacity: 0;
    z-index: 2000;
    opacity: 0;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.terms-conditions {
    margin-left: 5px;
    position: absolute;
}


/**GRID***/

@media (min-width: 768px) and (max-width: 1090px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .modal-dialog {
        width: 660px !important;
    }
}

.p-0-left {
    padding-left: 0 !important;
}

.m-0-left {
    margin-left: 0 !important;
}

.p-0-right {
    padding-right: 0 !important;
}

.m-0-right {
    margin-right: 0 !important;
}

.p-0-top {
    padding-top: 0 !important;
}

.m-0-top {
    margin-top: 0 !important;
}

.p-0-bottom {
    padding-bottom: 0 !important;
}

.m-0-bottom {
    margin-bottom: 0 !important;
}

.p-0-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.m-0-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.p-0-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-0-top-bottom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.p-xs-left {
    padding-left: 5px !important;
}

.m-xs-left {
    margin-left: 5px !important;
}

.p-xs-right {
    padding-right: 5px !important;
}

.m-xs-right {
    margin-right: 5px !important;
}

.p-xs-top {
    padding-top: 5px !important;
}

.m-xs-top {
    margin-top: 5px !important;
}

.p-xs-bottom {
    padding-bottom: 5px !important;
}

.m-xs-bottom {
    margin-bottom: 5px !important;
}

.p-xs-left-right {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.m-xs-left-right {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.p-xs-top-bottom {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.m-xs-top-bottom {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.p-sm-left {
    padding-left: 10px !important;
}

.m-sm-left {
    margin-left: 10px !important;
}

.p-sm-right {
    padding-right: 10px !important;
}

.m-sm-right {
    margin-right: 10px !important;
}

.p-sm-top {
    padding-top: 10px !important;
}

.m-sm-top {
    margin-top: 10px !important;
}

.p-sm-bottom {
    padding-bottom: 10px !important;
}

.m-sm-bottom {
    margin-bottom: 10px !important;
}

.p-sm-left-right {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.m-sm-left-right {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.p-sm-top-bottom {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.m-sm-top-bottom {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.p-md-left {
    padding-left: 20px !important;
}

.m-md-left {
    margin-left: 20px !important;
}

.p-md-right {
    padding-right: 20px !important;
}

.m-md-right {
    margin-right: 20px !important;
}

.p-md-top {
    padding-top: 20px !important;
}

.m-md-top {
    margin-top: 20px !important;
}

.p-md-bottom {
    padding-bottom: 20px !important;
}

.m-md-bottom {
    margin-bottom: 20px !important;
}

.p-md-left-right {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.m-md-left-right {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.p-md-top-bottom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.m-md-top-bottom {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.p-lg-left {
    padding-left: 40px !important;
}

.m-lg-left {
    margin-left: 40px !important;
}

.p-lg-right {
    padding-right: 40px !important;
}

.m-lg-right {
    margin-right: 40px !important;
}

.p-lg-top {
    padding-top: 40px !important;
}

.m-lg-top {
    margin-top: 40px !important;
}

.p-lg-bottom {
    padding-bottom: 40px !important;
}

.m-lg-bottom {
    margin-bottom: 40px !important;
}

.p-lg-left-right {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.m-lg-left-right {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.p-lg-top-bottom {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.m-lg-top-bottom {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.p-xlg-left {
    padding-left: 80px !important;
}

.m-xlg-left {
    margin-left: 80px !important;
}

.p-xlg-right {
    padding-right: 80px !important;
}

.m-xlg-right {
    margin-right: 80px !important;
}

.p-xlg-top {
    padding-top: 80px !important;
}

.m-xlg-top {
    margin-top: 80px !important;
}

.p-xlg-bottom {
    padding-bottom: 80px !important;
}

.m-xlg-bottom {
    margin-bottom: 80px !important;
}

.p-xlg-left-right {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.m-xlg-left-right {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.p-xlg-top-bottom {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.m-xlg-top-bottom {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.m-xxlg-left,
.p-xxlg-left {
    padding-left: 160px !important;
}

.m-xxlg-right,
.p-xxlg-right {
    padding-right: 160px !important;
}

.m-xxlg-top,
.p-xxlg-top {
    padding-top: 160px !important;
}

.m-xxlg-bottom,
.p-xxlg-bottom {
    padding-bottom: 160px !important;
}

.m-xxlg-left-right,
.p-xxlg-left-right {
    padding-left: 160px !important;
    padding-right: 160px !important;
}

.m-xxlg-top-bottom,
.p-xxlg-top-bottom {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-text-bottom {
    vertical-align: text-bottom;
}

.display-inline-block {
    display: inline-block;
}

.txt-color-orange {
    color: orange;
}

.ttc {
    /*text-transform: capitalize;*/
}


/*contract active inactive row classes*/

.inActiveContract {
    background-color: #E0E0E0;
}

.activeContract {
    background-color: #FFFFFF;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px !important;
}

.w150 {
    width: 150px;
}

.thActionBorder {
    border-left: none !important;
    border-right: none !important;
}

.img-circle {
    border: 2px solid #7d7d7d;
    cursor: pointer;
}

.img-circle:hover {
    -ms-opacity: 0.7;
    opacity: 0.7;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/edit.png);
}


/* Profile page image hover css*/

div.show-image {
    position: relative;
    float: left;
    margin: 5px;
}

div.show-image:hover a {
    display: block;
}

div.show-image a {
    position: absolute;
    display: none;
}

div.show-image a#DeleteProfilePicture {
    top: 75%;
    left: 55%;
}

div.show-image a#EditProfilePicture {
    top: 75%;
    left: 42%;
}

.wordBreak {
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
}

::-webkit-input-placeholder {
    color: #A1A1A1;
}

:-ms-input-placeholder {
    color: #A1A1A1;
}

.dropdown-menu > li > a {
    width: 100%;
    max-width: 300px;
    white-space: normal;
    float: left;
    text-align: left;
}

.panel-grey {
    color: #61656D;
    background-color: #D9DBDE;
    border-color: #CEC8C8;
}

.submenu_active > a {
    background-color: #2F2828 !important;
    border-left: 3px solid #20a8d8 !important;
}

.submenu > a:hover,
.submenu > a:focus,
.submenu > a:active,
.submenu > a:visited {
    background-color: #353844 !important;
    border-left: 3px solid #20a8d8 !important;
}

#UsersSharedFiles {
    margin: 0px 5px 0px 3px;
}

i {
    -moz-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
}

.imagetile {
    width: 33%;
    height: 33%;
    float: left;
    background-color: transparent;
    margin: 10px;
    height: 100px;
    width: 150px;
    text-align: center;
    margin-left: -40px;
    margin-right: 50px;
    list-style-type: none;
    border: 1px solid transparent;
}

.imagetile > a > div {
    width: 140px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imagetile img {
    width: 50px;
}

.imagetile:hover {
    /* IE10 */
    background-image: -ms-linear-gradient(top, #EFE7E7 0%, #949AA5 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #EFE7E7 0%, #949AA5 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #EFE7E7 0%, #949AA5 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFE7E7), color-stop(1, #949AA5));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #EFE7E7 0%, #949AA5 100%);
    /* Proposed W3C Markup */
    border: 1px solid #BCBCD2;
    color: #FFF;
    cursor: pointer;
}

#JobPositions {
    margin-bottom: 3px;
}

.messagespan {
    font-size: 8pt;
}

li.submenu {
    padding-left: 10px;
}

.bg-blue {
    background-color: #0caceb;
    color: #788288;
}

.bg-blue.lt,
.bg-blue .lt {
    background-color: #f7f8fb;
}

.bg-blue.lter,
.bg-blue .lter {
    background-color: #fcfcfd;
}

.bg-blue.dk,
.bg-blue .dk {
    background-color: #0caceb;
}

.bg-blue.dker,
.bg-blue .dker {
    background-color: #e0e6f0;
}

.bg-blue.bg,
.bg-blue .bg {
    background-color: #0caceb;
}

.bg-blue .nav > li > a:hover,
.nav > li > a:focus,
.bg-blue .nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #2abaf3;
    color: #FFFFFF;
}

.pin {
    float: left;
    margin-right: 21px;
    margin-bottom: 10px;
    text-align: center;
    width: 53px;
}

.nav-tabs > li > a:hover {
    background-color: #146ca4;
    border-color: #136397;
}

.table thead th {
    background-color: #177BBB!important;
    color: #ffffff;
    padding-left: 15px !important;
    border: 0 !important;
}

.table tbody td {
    border: 0px;
    border-color: #177BBB;
}

.panel .table td,
.panel .table th {
    padding-left: 15px;
}

tr.odd {
    background-color: #EEEEEE!important;
}

tr.even {
    background-color: #FFFFFF!important;
}

.greyborder-1px {
    border: 1px solid #cdd5dd;
}

.whiteborder-1px {
    border-bottom: 1px white solid;
}

.c-pin {
    max-width: 50px !important;
    text-align: center;
}

.panel.panel-default {
    border-bottom: 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: #ffffff;
    opacity: .8;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    -moz-animation: spin 3s linear infinite;
    -ms-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

.clickableRow:hover td {
    background-color: #D9E4F0 !important;
}

.setting a {
    color: #4DB2D2;
    font-size: 15px;
    font-weight: bold;
}

.setting p {
    text-align: left;
}

.setting header p {
    font-size: 15px;
}

@media only screen and (max-width: 767px) {
    .modal.fade .modal-dialog {
        /*left: 4%;*/
    }
    #activeEmployee .btn-group {
        margin: 0;
    }
    .btn-group {
        margin: 5px 0;
    }
    #StartDate {
        margin-bottom: 5px;
    }
    .modal-dialog {
        margin: 0;
        padding: 2%;
        width: 100% !important;
    }
    .form-control {
        float: left;
    }
    .m-t-sm {
        float: left;
    }
    .date {
        margin-bottom: 5px;
    }
    .date.form-control {
        float: left;
        width: 59%;
        margin-right: 7px;
    }
    .text-sm .form-group {
        float: left;
        width: 87%;
    }
    .text-sm .btn-group {
        float: left;
        margin: 0;
    }
    #form0 .dropdown-menu {
        left: -113px;
    }
    #form0 .dropdown-menu div:first-child {
        min-width: 100%!important;
    }
    .filter_menu {
        width: 100%;
    }
    .m-t-sm .m-t-sm {
        float: none;
    }
    .mobile_btn {
        width: 100%!important;
        padding-left: 0;
    }
    #btnPublished {
        margin-top: -47px;
    }
    #schedulingDetailsContainer {
        width: 100%;
        overflow-x: scroll;
    }
    #form0 .m-t-sm {
        float: left;
    }
}

@media only screen and (max-width: 412px) {
    .publish_text {
        width: 100%;
        float: left;
        margin-bottom: 5px;
    }
    .form-control {
        padding: 6px 2px;
        font-size: 13px;
    }
    .scrollable .bg-light {
        padding-top: 15px;
    }
    .disabled.btn.btn-primary.modalOpener.m-r-sm {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 980px) {
    .btn-group,
    .btn-group-vertical {
        z-index: 9;
    }
    .fixed-span.label.statusPending {
        padding: 10px;
    }
    .bg-danger {
        padding: 10px;
    }
    .dropdown-menu.dropdown-select {
        margin-left: -150px;
    }
}

@media only screen and (max-width: 979px) {
    .text-left {
        text-align: left !important;
    }
    .wdh {
        width: 100% !important;
    }
    .nav.nav-tabs.m-b-n-xxs > li {
        margin-bottom: 5px;
    }
    .dropdown-menu {
        margin: 2px 0 0 0;
    }
    .pagination > li > a,
    .pagination > li > span {
        padding: 6px 5px;
    }
    .btn-group,
    .btn-group-vertical {
        z-index: 9;
    }
    .dp .row {
        width: 55%;
        float: left;
    }
    .bg-warning {
        padding: 3px 19px !important;
    }
    .bg-success {
        padding: 3px 18px !important;
    }
    .bg-danger {
        padding: 3px 5px !important;
    }
    .text-center.dta.sorting {
        width: 150px;
    }
}

@media screen and (min-device-width: 0px) and (max-device-width: 768px) {
    .width145 {
        width: 100%;
    }
    .visible-xs .row {
        width: 49%;
        float: left;
    }
    .nav.nav-tabs.m-b-n-xxs > li {
        width: auto;
    }
    .active {
        margin-left: -7px;
    }
    .panel.no-border.bg-light {
        padding-top: 20px;
    }
    .nopad {
        padding-left: 0 !important;
    }
    .m-b-sm .btn-group {
        margin: 0 0 5px;
    }
    .m-t-xs .btn-group {
        margin: 0 0 5px;
    }
    .bg-primary.dk,
    .bg-primary .dk {
        background-color: #126da7;
        float: none;
    }
}

@media only screen and (max-width:800px) {
    .dt-row.dt-bottom-row .pagination {
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    .fll {
        float: left;
        width: 100%;
    }
    .fll .m-t-sm {
        float: none;
    }
    .passwordBox {
        margin-bottom: 20px;
    }
    .nav .active {
        margin-left: 0;
    }
    .i-checks i {
        margin-left: 0 !important;
    }
    .tb table {
        width: 900px !important;
    }
    .tb .dropdown-menu {
        margin-left: -71px;
    }
    .mob {
        float: left;
    }
    .mrgtp {
        margin-top: 225px !important;
    }
    #form0 .dropdown-menu {
        left: 211px;
    }
    .btn.btn-sm.btn-primary.m-t-sm.m-l-sm.pull-right.width145 {
        width: auto !important;
    }
    .pagination > li > a,
    .pagination > li > span {
        padding: 6px 11px;
    }
    .nav.nav-tabs.m-b-n-xxs > li {
        width: auto;
    }
    .bg-success {
        background-color: #1aae88;
        color: #a3f1dd;
        padding: 10px 33px;
    }
    .m-t-sm {
        float: none;
    }
    .passwordBox {
        margin: 10px 0 20px;
        text-align: center;
        width: 100%;
    }
    .bg-danger {
        background-color: #ff6666;
        color: #fce5e8;
        padding: 11px;
    }
    .dropdown-menu.dropdown-select {
        margin-left: -415px;
    }
    .po .dropdown-menu.dropdown-select {
        margin-left: -150px;
    }
    .mrg {
        float: left;
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 566px) {
    .nav.nav-tabs.m-b-n-xxs > li {
        width: auto;
        margin-top: 10px;
    }
    .po .dropdown-menu.dropdown-select {
        margin-left: -250px;
    }
}

.popover {
    max-width: 355px !important;
    -webkit-box-shadow: 3px 3px 3px #000000;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 3px 3px 3px #000000;
    -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 3px #000000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-left: 40px;
}

.text-dark .col-sm-4 {
    font-weight: 600;
    color: #333333 !important;
}

.text-dark .row {
    margin-bottom: 5px;
}

.popover-content .dropdown-menu {
    border: none;
    font-size: 14px;
}

.popover-content .dropdown-menu > li > a:hover {
    background-color: #fff !important;
}

.popover-content .disabled {
    background-color: #fff !important;
}

.wdh {
    width: 50%;
}

.schedulingPopover {
    text-align: left;
}

.statusDeclined {
    background-color: #8ad3f4;
    vertical-align: middle !important;
}

.statusUnPublished {
    background-color: #fcb96b;
}

.statusPending .fa.fa-check {
    color: #fff;
    float: right;
}

.statusPending .col-sm-6 {
    padding-left: 0 !important;
}

#u1506_div {
    background-color: #a6e8aa;
    border-color: #ffffff;
}

#u1541_div {
    background-color: #ff7b7c;
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 1);
}

#u1547_div {
    background-color: #8ad3f4;
    background-color: rgba(138, 211, 244, 1);
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 1);
}

.statusPending {
    background-color: #8ad3f4;
    color: Black;
    vertical-align: middle !important;
}

.bg-success {
    background-color: #1aae88;
    color: #a3f1dd;
    padding: 10px 0;
}

#btnAddToJob.disabled {
    border: 1px solid #bbbbbb !important;
}

#archiveAll.disabled {
    border: 1px solid #bbbbbb !important;
}

.bg-danger {
    padding: 10px;
}

.bg-success {
    background-color: #1aae88;
    color: #a3f1dd;
    padding: 10px;
}

.dt-wrapper .text-center {
    /*padding: 14px 0 !important;*/
}

.dropdown-menu.animated.fadeInRight.ht {
    margin: 0 !important;
    padding: 0 !important;
}

.ht.dropdown-menu .divider {
    margin: 0!important;
}

.ht.dropdown-menu > li > a {
    display: block !important;
    padding: 8px 15px !important;
    width: 100% !important;
    max-width: 100%!important;
}

.i.i-chat3 {
    font-size: 26px;
}

.badge {
    padding: 5px 7px !important;
}

.chosen-choices {
    margin: 7px 0 0 !important;
}

#archiveAll {
    margin-left: 10px !important;
}

.label.statusPending {
    padding: 10px 25px;
}

.badge.statusDeclined {
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}

.badge.statusPending {
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 18px;
}

.badge.statusUnPublished {
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 18px !important;
}

.badge.statusAccepted {
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 14px;
}

.tb .dropdown-menu {
    margin-left: 43px;
}

.mrgtp {
    margin-top: 55px;
}

#headerText a {
    color: #177bbb;
}

.bg-warning {
    padding: 5px !important;
}

thead {
    height: 47px !important;
}

.i-2x {
    font-size: 27px;
    color: #ccc !important;
}

button.btn.btn-round.dropdown-toggle {
    border: 1.5px solid #d7d7d7;
    background: white;
    /*padding: 0;*/
}

ul.dropdown-menu {
    left: 32%;
}

#btnPublished {
    /*background-color: rgba(252, 185, 107, 1);
  border-color: rgba(252, 185, 107, 1);*/
    font-size: 15px;
    padding: 8px 29px;
}

.po .dropdown-label {
    font-size: 18px;
}

#rbDetail,
#rbList {
    font-size: 18px;
}

.chosen-container-single .chosen-single {
    height: 40px !important;
    line-height: 40px !important;
}

.chosen-container-single .chosen-single div b {
    background: rgba(0, 0, 0, 0) url("../images/chosen-sprite.png") no-repeat scroll 0 10px !important;
}

.input-group.date {
    height: 40px;
    line-height: 40px;
}

.input-group .form-control {
    height: 40px;
}

#dt_basic tbody td {
    width: 12.28%;
    height: 50px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.statusUnPublished {
    background-color: #fcb96b;
    color: #333;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle !important;
}

.statusPending {
    font-size: 12px;
    vertical-align: middle !important;
}

.statusDeclined .fa-check {
    color: #fff !important;
}

.statusAccepted .fa-check {
    color: #fff !important;
}

div.dataTables_filter {
    top: -41px;
}

.statusPending .fa {
    display: none;
}

#dt_basic .popover.bottom > .arrow {
    left: 50%;
}

#dt_basic .popover.bottom {
    margin-top: 16px;
}

#dt_basic .popover {
    margin-left: -48px;
}

#gridPanel .active {
    margin-left: inherit;
}

.vbox > header.header-md ~ section {
    top: 67px;
}

#btnPublished {
    /*background-color:#d6d8e0;
border-color:#e7e7ef;
cursor:pointer;	*/
}

.statusDeclined .col-sm-8,
.statusPending .col-sm-8 {
    padding-left: 0
}

.statusAccepted {
    vertical-align: middle!important;
}

#dt_basic td:first-child .popover {
    margin-left: 65px;
}

#dt_basic td:first-child .popover.bottom {
    margin-top: 8px;
}

#dt_basic td:first-child .popover.bottom > .arrow {
    left: 33%;
}

@media only screen and (max-width: 1169px) {
    #dt_basic td:first-child .popover {
        margin-left: 90px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .i-checks i {
        margin-left: 0;
        margin-top: -10px;
    }
    #dt_basic tbody td {
        font-size: 11px;
        height: 60px;
    }
    #dt_basic td:first-child .popover {
        margin-left: 115px;
    }
    #dt_basic td:first-child .popover.bottom > .arrow {
        left: 15%;
    }
    #dt_basic td:nth-child(2) .popover {
        margin-left: 8px;
    }
}

.readonly-white {
    background-color: white !important;
    cursor: pointer !important;
}

#availableEmployees li:hover .text-dark {
    color: #fff !important;
}

.checkbox.i-checks :hover {
    color: #177bbb;
}
.booking{
        background-color :#cc99cc;
    }
.edu-image-disp {

    border:5px solid;
    width:135px;
    height:135px;
}