﻿@model EduErp.BO.PlanBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add Plan
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "Plan", FormMethod.Post, new {enctype = "multipart/form-data", data_validate = "parsley", id = "addPlanForm"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>

        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Name")
                            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Plan Type")
                           @Html.DropDownListFor(a=>a.PlanTypeId, new SelectList(Model.PlanList,"Id","Name"),"Please Select",new{@id="PlanType",@class="form-control"})
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Max Students Limit")
                            @Html.TextBoxFor(m => m.MaxStudentLimit, new {@id="MaxStudent",@class = "form-control"})
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Max Users Limit")
                            @Html.TextBoxFor(m => m.MaxUserLimit, new {@id="MaxUser",@class = "form-control "})
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                         <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Max Message Limit")
                            @Html.TextBoxFor(m => m.MaxMessageLimit, new {@id="MaxMessage",@class = "form-control "})
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Detail")
                            @Html.TextAreaFor(m => m.Detail, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddPlan" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "Plan")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $("#PlanType").change(function () {
            debugger;
            if ($("#PlanType option:selected").val() == 2) {
                $("#MaxStudent").blur(function () {
                        debugger;
                        if ($("#MaxStudent").val() != "" && $("#PlanType option:selected").val() == 2) {
                            $("#MaxUser").addClass("disabled");
                            $("#MaxMessage").addClass("disabled");
                        } else {
                            $("#MaxUser").removeClass("disabled");
                            $("#MaxMessage").removeClass("disabled");
                        }
                });
                $("#MaxUser").blur(function () {
                    debugger;
                    if ($("#MaxUser").val() != "" && $("#PlanType option:selected").val() == 2) {
                        $("#MaxStudent").addClass("disabled");
                        $("#MaxMessage").addClass("disabled");
                    } else {
                        $("#MaxStudent").removeClass("disabled");
                        $("#MaxMessage").removeClass("disabled");
                    }
                });
                $("#MaxMessage").blur(function () {
                    debugger;
                    if ($("#MaxMessage").val() != "" && $("#PlanType option:selected").val() == 2) {
                        $("#MaxStudent").addClass("disabled");
                        $("#MaxUser").addClass("disabled");
                    } else {
                        $("#MaxStudent").removeClass("disabled");
                        $("#MaxUser").removeClass("disabled");
                    }
                });
                    }
            });
    });
    function saveForm() {
        debugger;
        $('#addPlanForm').parsley().validate();
        if ($('#addPlanForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
           $.ajax({
                url: '@Url.Action("Add", "Plan")',
               data: $("#addPlanForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Plan")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>