﻿@model EduErp.BO.PlanBo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Update Plan
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "Plan", FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "editPlanForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>

        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Name")
                            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Plan Type")
                            @Html.DropDownListFor(a=>a.PlanTypeId, new SelectList(Model.PlanList,"Id","Name"),"Please Select",new{@class="form-control"})
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Max Students Limit")
                            @Html.TextBoxFor(m => m.MaxStudentLimit, new {@class = "form-control"})
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Max Users Limit")
                            @Html.TextBoxFor(m => m.MaxUserLimit, new {@class = "form-control "})
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Max Message Limit")
                            @Html.TextBoxFor(m => m.MaxMessageLimit, new {@class = "form-control "})
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Detail")
                            @Html.TextAreaFor(m => m.Detail, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddPlan" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "Plan")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script type="text/javascript">
    
    function saveForm() {
        debugger;
        $('#editPlanForm').parsley().validate();
        if ($('#editPlanForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
           $.ajax({
                url: '@Url.Action("Edit", "Plan")',
               data: $("#editPlanForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Plan")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>