@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xlkdnd');
	src:url('../fonts/icomoon.eot?#iefix-xlkdnd') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-xlkdnd') format('woff'),
		url('../fonts/icomoon.ttf?-xlkdnd') format('truetype'),
		url('../fonts/icomoon.svg?-xlkdnd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-veins:before {
	content: "\e601";
}

.icon-body:before {
	content: "\e602";
}

.icon-intestine:before {
	content: "\e603";
}

.icon-kidneys:before {
	content: "\e604";
}

.icon-stomach:before {
	content: "\e605";
}

.icon-liver:before {
	content: "\e606";
}

.icon-brain:before {
	content: "\e607";
}

.icon-urinary:before {
	content: "\e608";
}

.icon-reproductive:before {
	content: "\e609";
}

.icon-nervous:before {
	content: "\e60a";
}

.icon-endocrine:before {
	content: "\e60b";
}

.icon-muscular:before {
	content: "\e60c";
}

.icon-lymphatic:before {
	content: "\e60d";
}

.icon-medicines:before {
	content: "\e60e";
}

.icon-lungs:before {
	content: "\e600";
}

