@font-face
{
    font-family: 'ems-icons';
    src: url('../fonts/ems-icons.eot?mwpat8');
    src: url('../fonts/ems-icons.eot?mwpat8#iefix') format('embedded-opentype'), url('../fonts/ems-icons.ttf?mwpat8') format('truetype'), url('../fonts/ems-icons.woff?mwpat8') format('woff'), url('../fonts/ems-icons.svg?mwpat8#ems-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ems-icons' !important;
    -webkit-speak: none;
    -moz-speak: none;
    -ms-speak: none;
    -o-speak: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1; /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ems-i-1-8
{
    font-size: 1.8em !important;
}

.icon-projects:before
{
    content: "\a006";
}
.icon-add-to-list:before
{
    content: "\a004";
}
.icon-calendar-schedule:before
{
    content: "\a003";
}
.icon-messages:before
{
    content: "\a013";
}
.icon-filter:before
{
    content: "\a024";
}
.icon-tick-on:before
{
    content: "\a022";
}
.icon-applicants:before
{
    content: "\a009";
}
.icon-posts:before
{
    content: "\a017";
}
.icon-people:before
{
    content: "\a007";
}
.icon-certificates:before
{
    content: "\a011";
}
.icon-dashboard-home:before
{
    content: "\a002";
}
.icon-settings:before
{
    content: "\a018";
}
.icon-email:before
{
    content: "\a019";
}
.icon-attachment:before
{
    content: "\a021";
}
.icon-log:before
{
    content: "\a020";
}
.icon-new-contact:before
{
    content: "\a025";
}
.icon-job-history:before
{
    content: "\a012";
}
.icon-notes:before
{
    content: "\a014";
}
.icon-jobs:before
{
    content: "\a005";
}
.icon-businesses:before
{
    content: "\a001";
}
.icon-archive:before
{
    content: "\a016";
}
.icon-clients:before
{
    content: "\a010";
}
.icon-employees-users:before
{
    content: "\a008";
}
.icon-admin-access:before
{
    content: "\a015";
}
.icon-tick-off:before
{
    content: "\a023";
}