﻿body {
}
.school-detail-label {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-bottom: 1px solid rgb(221, 221, 221)
}
.school-detail-text {
    padding: 12px;
    border-bottom: 1px solid rgb(221,221,221)
}
.school-detail-label-personalDetail {
     background-color: rgb(245, 245, 245);
    padding: 12px;
    border-bottom: 1px solid rgb(221,221,221)
}
.callout.callout-info {
    background-color:#f0f7fd;
    border-color:#d0e3f0;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.notication {
    text-align: center;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(252, 198, 51)
    
}
.head-color {
    background-color:whitesmoke;
}
.greenBlock {
    background-color: darkseagreen;
    padding-top: 10px;
    text-align: center
}
.margin-30 {
    margin-bottom: 30px;
    background-color: ghostwhite
}
.top20 {
    padding-top: 25px;
    padding-bottom: 25px
}
.page-header {
    font-size: 22px
}
.edu-erp-studentImage {
    border: 1px solid #ececf0;
    -webkit-box-shadow: 0 0 6px 1px #ececf0;
    -ms-box-shadow: 0 0 6px 1px #ececf0;
    box-shadow: 0 0 6px 1px #ececf0;
    height: 400px
}

.table-strip {
    width: 100%;
    margin-left: 9px;
    height: 200px
}
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px
}
.page-header {
    margin: 10px 0 0px 0;
    font-size: 22px
}
.no-padding {
    padding: 0 !important
}
.School-Tab {
    padding-left: 4px;
    padding-right: 4px;
  
}
.General-Rounded {
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px
}
.icon-paddding-18 {
    padding-right: 18px;
    
}
.Employee-Tab {
    padding-right: 4px;
}
.Link-box-icon {
    font-size: 45px;
    width: 90px;
    text-align: center;
    float: left;
    height: 90px
}
.bg-aqua {
    background-color:#00c0ef
}
span.Link-box-icon {
    color: white;
}
.Edu-link-box-text {
    text-transform: uppercase;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}
.Edu-box-number {
    display: block;
    font-size: 18px;
    font-weight: bold
}
.Edu-text-color {
    color:cornflowerblue;
    font-size: 12px
}
.Link-box-bottom {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.Edu-link-box-content {
    margin-left: 90px;
    padding: 5px 10px;
}
.Edu-link-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px #000000;
    -ms-box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
    width: 100%;
    position: relative
}
.callout.callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0
}
.msg-of-day {
    width: 100%;
    
}
.callout p:last-child {
    margin-bottom: 0
}
p {
    margin: 0 0 10px
}
.callout {
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee
}
.callout h4 {
    margin-top: 0px
}
.callout.callout-info h4 {
    color:#3A87AD
}
.small-box {
    position: relative;
    display: block;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 15px
}
.bg-aquag {
    background-color: #00c0ef

}
.small-box > .inner {
    padding: 10px
}
.small-box .icon {
    position: absolute;
    top: auto;
    bottom: 17px;
    right: 5px;
    z-index: 0;
    font-size: 80px;
    color:#000000;
    color:rgba(0, 0, 0, 0.15)
}
.fa-fon {
    font-size: 20px
}
.bg-aquag-class {
    background-color: #00a65a;
}
.bg-aquag-user {
    background-color: #f39c12;
}
.bg-aquag-message {
    background-color: #26ff00;
}

.Studentcounts {
    color: white;
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box-tools {
    padding-top: 4px
}
.padding-radio-button {
    padding-left: 10px
}
.fontsize25 {
    font-size: 25px
}
.fontsize15 {
    font-size: 15px
}
.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 1px 3px #000000;
    -ms-box-shadow: 0px 1px 3px #000000;
    -ms-box-shadow: 0px 1px 3px #000000;
    -ms-box-shadow: 0px 1px 3px #000000;
    -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.checkmar {
    position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.Heading-Font {
    font-size: 20px
}
.child-Text {
    font-size: 14px
}
.radio-class input   {
    background-color: #2196F3;
    }

.radio-class:hover input {
  background-color: #ccc;
  }
.radio-class input {
  height: 18px;
  width: 18px;
}
.radio-class {
    display: block;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.small-box-footer {
     position: relative;
     display: block;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    background: #000000;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

 .notice-date {
         float: left;
    font-size: 17px;
    height: 55px;
    position: relative;
    top: 19px;
    vertical-align: middle;
    
 }
 .notice-header-font {
     margin-left: 16px
 }
 .notice-subject {
     display: block;
    font-size: 17px;
    white-space: nowrap;
     -moz-text-overflow: ellipsis;
     text-overflow: ellipsis;
    overflow: hidden;
 }
   .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
padding: 1px;
}
 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
/*.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}*/

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.checkbox {
     height: 95px;
    width: 35px;
}