﻿.tile
{
    width: 33%;
    height: 33%;
    float: left;
    background-color: #4C5A57;
    margin: 10px;
    height: 105px;
    width: 150px;
    text-align: center;
    margin-left: -40px;
    margin-right: 50px;
    overflow: hidden;
    list-style-type: none;
}
.tile > a
{
    text-align: center;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
}
.tile > a > div
{
    vertical-align: middle;
    display: inline-block;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    width: 140px;
    margin-top: 11%;
}
.tile > a:hover {
    background-color: #444242;
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
    outline: 1px solid #FFF;
    -moz-box-shadow: 0 0 15px #CCC;
    -webkit-box-shadow: 0 0 15px #CCC;
    -ms-box-shadow: 0 0 15px #CCC;
    box-shadow: 0 0 15px #CCC;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.tile > a:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.tile > div
{
    text-align: center;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 140px;
}
.tile > div:hover {
    background-color: #444242;
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
    outline: 1px solid #FFF;
    -moz-box-shadow: 0 0 15px #CCC;
    -webkit-box-shadow: 0 0 15px #CCC;
    -ms-box-shadow: 0 0 15px #CCC;
    box-shadow: 0 0 15px #CCC;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}
.tile > div:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}