﻿/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #E30707;
    font-family: Trebuchet MS;
    font-size: 12px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error, .parsley-error
{
    /* border: 1px solid #FFAD00 !important;     background-color: #FFFCEE !important;*/
    border-color: #ef470a !important;
    border-left-width: 6px !important;
    background-color: #fffcee !important;
}

.required
{
    color: #ef470a !important; /*border-left-width: 6px !important; background-color: #fffcee !important;*/
}

.validation-summary-errors
{
    color: #EC9700;
    font-family: Trebuchet MS;
    font-size: 12px;
    background: none repeat scroll 0 0 #FFFCEE;
    border: 1px solid #FFAD00;
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.validation-summary-errors ul
{
    list-style-type: none;
    margin: 0;
    padding-left: 8px;
    padding-right: 5px;
    list-style-position: inside;
}

.validation-summary-valid
{
    display: none;
}

.validation-summary-errors ul li
{
    text-align: left;
}
.parsley-errors-list {
    padding-left: 20px;
    color: #E30707;
}