﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.ConfigurationBo
@{
    ViewBag.Title = PageTitle.Create("Configuration");
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                <h4><i class="glyphicon glyphicon-cog"></i>&nbsp;Master Configuration</h4>
            </div>
        </div>
    </header>
    @Html.AntiForgeryToken()
    <div class="panel-body">
        <div class="row">
        @foreach (var item in SessionItems.MenuItems.Where(a => a.ParentId != 0 && a.ParentId!=32))
        {
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <div class="Edu-link-box">
                    <a  title="@item.Name" href="@Url.Action(item.ActionName, item.Controller)"><span class="Link-box-icon bg-aqua"><i class="@item.IconClass hoverZoom"></i></span></a>
                    <div class="Edu-link-box-content">
                        <span  title="@item.Name"class="Edu-link-box-text"><a class="Edu-text-color"  href="@Url.Action(item.ActionName, item.Controller)">@item.Name</a></span>
                        <span title="Total @item.Name" class="Edu-box-number"><span class="badge hoverZoom"><span  style="color: white">@item.Count</span></span></span>
                        <span></span>
                        @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.Item) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
                        {
                            <span title="Create new" class="Link-box-bottom"><a class="Edu-text-color" @(item.IsAjax == true?"ajax-modal=ajaxModal":"") href="@Url.Action("Add", item.Controller)"><i class="fa fa-plus-square"></i> Create New</a></span>
                        }
                    </div>
                </div>
            </div>
        }
            
        </div>
    </div>
    
</section>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />

