﻿@model DashboardBo
@using EduErp.BO
@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Home");
    Layout = "~/Views/Shared/_Layout.cshtml";

    const int paidTypeId = (int)FeeStatus.Paid;
    const int unpaidTypeId = (int)FeeStatus.Unpaid;
   
}
<header class="header  b-b b-light">
    <p master-header-text-control="Dashboard">
        Dashboard
    </p>
</header>
@if (SessionItems.IsUserAuthenticated && Model != null)
{
    <section class="hbox stretch m-t-sm">
        <section class="vbox">
            <section class="">
                <section class="vbox">
                    <section class="scrollable padder h85vh">
                        <div class="callout callout-info msg-of-day">
                            <h4><i class="fa fa-bullhorn">&nbsp;Message of the day</i></h4>
                            <h5>
                                <p>
                                    <marquee>"Life is like a cup of tea, it's all in how you make it!"</marquee>
                                </p>
                            </h5>
                        </div>
                        <div class="scrollable m-b-lg">
                            @*User Credentials*@
                            @if (Model.CountDetails.Count != 0)
                            {
                                foreach (var item in Model.CountDetails)
                                {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="small-box bg-aquag">
                                            <div class="inner">
                                                <h3 style="background-color: #00bfff" class="Studentcounts fa-fon badge hoverZoom">@item.TotalStudents</h3>
                                                <p class="Studentcounts">Students</p>
                                            </div>
                                            <div class="icon icon-paddding-18 hoverZoom">
                                                <i class="fa fa-users "></i>
                                            </div>
                                            <a class="small-box-footer" href="@Url.Action("Index", "Student")" target="_blank">More info <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="small-box bg-aquag-class">
                                            <div class="inner">
                                                <h3 style="background-color: #3cb371" class="Studentcounts fa-fon badge hoverZoom">@item.TotalClasses</h3>
                                                <p class="Studentcounts"> @Level.GetlabelName((int)LabelEnum.Class)</p>
                                            </div>
                                            <div class="icon icon-paddding-18 hoverZoom">
                                                <i class="fa fa-mortar-board"></i>
                                            </div>
                                            <a class="small-box-footer" href="@Url.Action("Index", "Class")" target="_blank">More info <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="small-box bg-aquag-user">
                                            <div class="inner">
                                                <h3 style="background-color: #ffa500" class="Studentcounts fa-fon badge hoverZoom ">@item.TotalUsers</h3>
                                                <p class="Studentcounts">  @Level.GetlabelName((int)LabelEnum.User)</p>
                                            </div>
                                            <div class="icon icon-paddding-18 hoverZoom">
                                                <i class="fa fa-user-o"></i>
                                            </div>
                                            <a class="small-box-footer" href="@Url.Action("Index", "User")" target="_blank">More info <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                   <div class="col-md-3">
                                        <div class="small-box bg-aquag-message">
                                            <div class="inner">
                                                <h3 style="background-color: #26ff00" class="Studentcounts fa-fon badge hoverZoom ">@item.LeftMessage</h3>
                                                <p class="Studentcounts">  @Level.GetlabelName((int)LabelEnum.Message)</p>
                                            </div>
                                            <div class="icon icon-paddding-18 hoverZoom">
                                                <i class="fa fa-envelope-open-o"></i>
                                            </div>
                                            <a class="small-box-footer" href="@Url.Action("Index", "Message")" target="_blank">More info <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <section class="panel panel-default" style="height: 400px">
                                            <div class="font-bold notice-header-font">
                                                <h4><i class="fa fa-book">&nbsp;Notice Board</i></h4>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#General" data-toggle="tab" class="m-l General-Rounded"><i class="fa fa-newspaper-o"></i>&nbsp;General</a>
                                                </li>
                                                <li class="School-Tab">
                                                    <a href="#School" data-toggle="tab" class=" General-Rounded"><i class="fa fa-university"></i>&nbsp;@Level.GetlabelName((int)LabelEnum.School)</a>
                                                </li>
                                                <li class="Employee-Tab">
                                                    <a href="#Employee" data-toggle="tab" class=" General-Rounded"><i class="fa fa-empire"></i>&nbsp;Employee</a>
                                                </li>
                                                <li>
                                                    <a href="#Student" data-toggle="tab" class=" General-Rounded"><i class="fa fa-user"></i>&nbsp;Student</a>
                                                </li>

                                            </ul>
                                            <div class="panel-body">
                                                <div class="tab-content greyborder-1px">
                                                    <div class="tab-pane active " id="General">

                                                        @if (Model.GeneralTypeNotificationLists != null && Model.GeneralTypeNotificationLists.Count > 0)
                                                        {
                                                            foreach (var list in Model.GeneralTypeNotificationLists)
                                                            {
                                                            <div class=" notice-main bg-lightgreen">
                                                                <div class="notice-date">
                                                                    <small class="label label-success">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </small>
                                                                </div>
                                                                <div class="notice-body">
                                                                    <div class="notice-subject">
                                                                        @list.Subject
                                                                    </div>
                                                                    <div class="notice-content">
                                                                        @list.Description
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="notication">
                                                                <span>No Notification</span>
                                                            </div>
                                                        }

                                                    </div>
                                                    <div class="tab-pane" id="School">

                                                        @if (Model.SchoolTypeNotificationLists != null && Model.SchoolTypeNotificationLists.Count > 0)
                                                        {
                                                            foreach (var list in Model.SchoolTypeNotificationLists)
                                                            {
                                                            <div class=" notice-main bg-lightgreen">
                                                                <div class="notice-date">
                                                                    <small class="label label-success">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </small>
                                                                </div>
                                                                <div class="notice-body">
                                                                    <div class="notice-subject">
                                                                        @list.Subject
                                                                    </div>
                                                                    <div class="notice-content">
                                                                        @list.Description
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="notication">
                                                                <span>No Notification</span>
                                                            </div>

                                                        }

                                                    </div>
                                                    <div class="tab-pane" id="Employee">
                                                        <div class="table-responsive">



                                                            @* <table class="table table-striped">
                                                                <tbody>*@
                                                            @if (Model.EmployeeTypeNotificationLists != null && Model.EmployeeTypeNotificationLists.Count > 0)
                                                            {
                                                                foreach (var list in Model.EmployeeTypeNotificationLists)
                                                                {
                                                                <div class=" notice-main bg-lightgreen">
                                                                    <div class="notice-date">
                                                                        <small class="label label-success">
                                                                            <i class="fa fa-calendar"></i>@list.NoticeDate.ToFormattedDate()
                                                                        </small>
                                                                    </div>
                                                                    <div class="notice-body">
                                                                        <div class="notice-subject">
                                                                            @list.Subject
                                                                        </div>
                                                                        <div class="notice-content">
                                                                            @list.Description
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                    
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="notication">
                                                                    <span>No Notification</span>
                                                                </div>

                                                            }
                                                            @*     </tbody>

                                                            </table>*@
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="Student">
                                                        @if (Model.StudentTypeNotificationLists != null && Model.StudentTypeNotificationLists.Count > 0)
                                                        {
                                                            foreach (var list in Model.StudentTypeNotificationLists)
                                                            {
                                                            <div class=" notice-main bg-lightgreen">
                                                                <div class="notice-date">
                                                                    <small class="label label-success">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </small>
                                                                </div>
                                                                <div class="notice-body">
                                                                    <div class="notice-subject">
                                                                        @list.Subject
                                                                    </div>
                                                                    <div class="notice-content">
                                                                        @list.Description
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="notication">
                                                                <span>No Notification </span>
                                                            </div>

                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <section class="panel panel-default" style="height: 400px">
                                            <div class="font-bold notice-header-font">
                                                <h4><i class="fa fa-birthday-cake">&nbsp;Birthday</i></h4>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#birth-today" data-toggle="tab" class="m-l"><i class="fa fa-toggle-down"></i>&nbsp;Today's</a>
                                                </li>
                                                <li class="School-Tab">
                                                    <a href="#birth-upcoming" data-toggle="tab"><i class="fa fa-calendar"></i>&nbsp;Upcoming</a>
                                                </li>

                                            </ul>
                                            <div class="panel-body">
                                                <div class="tab-content greyborder-1px">
                                                    <div class="tab-pane active " id="birth-today">
                                                        <div class="panel-default">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <tbody>
                                                                        @if (Model.TodayBirthDetailLists != null && Model.TodayBirthDetailLists.Count > 0)
                                                                        {
                                                                            foreach (var list in Model.TodayBirthDetailLists)
                                                                            {
                                                                            <tr>
                                                                                <td class="text-center">
                                                                                   <a class="blueanchor" href="#"> @list.StudentName</a>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    @list.ClassName
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    @list.SectionName
                                                                                </td>
                                                                            </tr>

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="notication">
                                                                                <span>No Birthday Today</span>
                                                                            </div>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="birth-upcoming">
                                                        <div class="panel-default">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <tbody>
                                                                        @if (Model.UpcomingBirthDetailLists != null && Model.UpcomingBirthDetailLists.Count > 0)
                                                                        {
                                                                            foreach (var list in Model.UpcomingBirthDetailLists)
                                                                            {
                                                                            <tr>
                                                                                <td class="text-center">
                                                                                    @list.StudentName
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    @list.ClassName
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    @list.SectionName
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <i class="fa fa-calendar-check-o"></i>@list.BirthDate.ToFormattedDate()
                                                                                </td>
                                                                            </tr>

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="notication">
                                                                                <span>No Upcoming  Birthday </span>
                                                                            </div>

                                                                        }
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                @*    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <section class="panel panel-default">
                                            <div class="font-bold notice-header-font">
                                                <h4><i class="fa fa-pie-chart">&nbsp;Fee Status</i></h4>
                                            </div>
                                            <div class="panel-body  text-center">
                                                @if (Model.TotalPaid > 0)
                                                {
                                                    <div class="pieChart" id="feeStatus">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="noChartDataFound">
                                                        <span class="text-center" key="NoDataFound">No Data Found</span>
                                                    </div>
                                                }
                                            </div>
                                        </section>
                                    </div>*@
                                    <div class="col-md-6">
                                        @*<a href="@Url.Action("FeeFilter", "Report")">Get</a>*@
                                    </div>
                                </div>
                                <div class="row m-t-sm">
                                    <div class="col-md-12 col-sm-6 col-xs-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading font-bold bg-lightgreen">Student/@Level.GetlabelName((int)LabelEnum.Class)</header>
                                            <div class="panel-body text-center">
                                               <div id="ClassStudentChart" class="highChart"></div>
                                               </div>
                                        </section>
                                    </div>
                                </div>
                                 <div class="row m-t-sm">
                                    <div class="col-md-12 col-sm-6 col-xs-6">
                                        <section class="panel panel-default">
                                            <header class="panel-heading font-bold bg-lightgreen">Total Fee/Total Expense</header>
                                            <div class="panel-body text-center">
                                               <div id="ExpenseDetail" class="highChart"></div>
                                               </div>
                                        </section>
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
    
}
else
{
    <input type="button" value="Login to your account" onclick="window.location='@Url.Action("Login", "Account")'"
               class="left top10 w250" style="height: 100px; font-size: 18px; cursor: pointer;"/>
}

<script src="~/Content/js/Highchart/highcharts.js"></script>
<script src="~/Content/js/Highchart/data.js"></script>
<script src="~/Content/js/Highchart/drilldown.js"></script>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    var pageName;
    $(document).ready(function () {
        pageName = "Default";
        // window.translateWebPageLanguage();
    });

    $(function() {

        $.getJSON('@Url.Action("GetData", "Default")', {}, function(data) {
            debugger;
            //var json = data;
            var json = [['Total Expenses', data.TotalExpense],['Total FeeCollection',data.TotalFeeCollection]];
            $('#ExpenseDetail').highcharts({
              
                colors: ['#008000', '#ff5b00', '#333333', '#ff5b00'],
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45
                    }
                },
                title: {
                    text: '<p>Total Expenses/Total Fee</p>'
                },
                plotOptions: {
                    pie: {
                        innerSize: 100,
                        depth: 45,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        },
                        showInLegend: true
                    }
                },
                series: [
                {
                    name: 'Fees',
                    data: json,
                    point: {
                        events: {
                            click: function(data) {
                                window.location = '@Url.Action("FeeFilter", "Report")';
                                }
                            }
                        }


                    }
                ]
            });

        });
    });
    //CATEGORY WISE STUDENT CHART
  @*  $(function () {
        debugger;
        $.getJSON('@Url.Action("GetData", "Default")', {}, function (modalData) {

            var jsonArr = [];
            for (var i = 0; i < modalData.length; i++) {
                jsonArr.push({
                    name: "Total Fee",
                    y: 8,
                    drilldown:"Total Fee"
                });
            }



            //var json = [{ "name": data.genderDetail, "y": data.TotalMaleCount, "drilldown": "Male" }]
            Highcharts.chart('ExpenseDetail', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Total FeeCollection/Total Expenses '
                },
                subtitle: {
                    text: 'Click the slices to view students in class. '
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}:{point.y}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>'
                },

                "series": [
                    {
                        "name": "Collection",
                        "colorByPoint": true,
                        "data": jsonArr
                    }
                ],

            });
        });
    });*@

    $(function() {
        $.getJSON('@Url.Action("GetClassStudent", "Default")', {}, function(modelData) {
            if (modelData != null && modelData.length > 0) {
                var classes = [];
                var studentsCount = [];
                for (var i = 0; i < modelData.length; i++) {
                    classes.push(modelData[i]["Name"]);
                    studentsCount.push(modelData[i]["TotalStudents"]);
                }
                $('#ClassStudentChart').highcharts({
                    chart: {
                        type: 'column'
                        //                    events: {
                        //                    click: function () {
                        //                        chartclick(this);
                        //                    }
                        //                }
                    },
                    title: {
                        text: 'Student/Class Chart'
                    },
                    xAxis: {
                        categories: classes
                    },
                    yAxis: {
                        min: 0,
                        tickInterval: 1,
                        title: {
                            text: 'Students Count'
                        }
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.1,
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                            }
                        }
                    },
                    series: [{ name: 'Student Count', data: studentsCount }]
                });
            }
        });
    });
        </script>
