﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.QuestionAnswerMappingBo

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Edit QuestionAnswer Mapping
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "OTQuestionAnswer", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "EditQuestionAnswerForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div style="padding-top: 5px">

            <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
        </div>
        <div class="panel-body">



            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Question</label>
                    @Html.TextBoxFor(m => m.Question, new { @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter Questions" })


                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control " })
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6 col-sm-6 col-xs-6 ">
                    @Html.Label("Choice Type")
                    @Html.DropDownListFor(m => m.ChoiceTypeId, new SelectList(Model.ListOfChoice, "Id", "Name"), "Please Select", new { @id = "choiceType", @class = "form-control chosen-select" })

                </div>

            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 " style="margin-top: 20px;">
                    @Html.Label("")


                    <input type="button" value="Add Answer" id="btnAddAnswer">&nbsp;<input type="button" value="Remove Answer" onclick="RemoveIt()" id="RemoveButton">
                    @if (Model.Answers != null)
                    {
                        for (int i = 0; i < Model.Answers.Count; i++)
                        {
                            var id = "Answers_" + i + "__IsCorrectAnswer";
                            var name = "Answers[" + i + "].IsCorrectAnswer";
                        <div id="answerDiv_@i" class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            @if (Model.ChoiceTypeId == 2)
                            {                                
                                <input type="checkbox" @(Model.Answers[i].IsCorrectAnswer != null && (bool)Model.Answers[i].IsCorrectAnswer ? "checked":"") value="true"  id="@id" name="@name" />
                            }
                            else
                            {
                                <input type="radio" id="@id" name="@name" value="@Model.Answers[i].IsCorrectAnswer">
                            }
                            @Html.HiddenFor(a => Model.Answers[i].Id)
                            @Html.TextBoxFor(m => Model.Answers[i].Answer, new { @class = "form-control " })
                        </div>
                            
                        }
                    }

                    
                    <div id="my_div"></div>

                </div>
            </div>

        </div>
        <footer class="panel-footer text-right bg-white lter">
            <button id="btnEditClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                <i class="fa fa-save"></i>&nbsp;Update
            </button>
            <a href="@Url.Action("Index", "OTQuestionAnswer")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>


        </footer>
                    
                
    }
</section>


<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/css/MyStyle.css" rel="stylesheet" />



<script type="text/javascript">

    var itemIndex = @(Model.Answers == null ? 0 : Model.Answers.Count);
    //var dynamicTextId = 0;
    $(function () {
        $("#btnAddAnswer").click(function (e) {
            debugger;
            //var itemIndex = $("#container input.iHidden").length;
            e.preventDefault();
            var chk = "<div id='answerDiv_" + (itemIndex + 1) + "'><input id='Answers_" + itemIndex + "__Id' type='hidden' value='' class='iHidden'  name='Answers[" + itemIndex + "].Id' />";
            if ($("#choiceType option:selected").val() == 2) {
                chk += "<br><input type='checkbox' value='true'  id='Answers_" + itemIndex + "__IsCorrectAnswer' name='Answers[" + itemIndex + "].IsCorrectAnswer' />";
            }
            if ($("#choiceType option:selected").val() == 3) {
                chk += '<br><input type="radio" id="Answers_' + itemIndex + '__IsCorrectAnswer" name="Answers[' + itemIndex + '].IsCorrectAnswer">';
            }
            //if ($("#choiceType option:selected").val() == 1) {
            //    chk += "<br><input type='checkbox' value='true'  id='Answers_" + itemIndex + "__IsCorrectAnswer' name='Answers[" + itemIndex + "].IsCorrectAnswer' />";
            //}
            var row = chk + ' &nbsp; <input type="text" class="form-control" name="Answers[' + itemIndex + '].Answer" id="Answers_' + itemIndex + '__Answer"><br>';
            row += '</div>';
            
            $('#my_div').append(row);

            itemIndex = itemIndex + 1;
        });
    });
    function RemoveIt() {
        debugger;


        if (0 < itemIndex) {

            $("#answerDiv_" + itemIndex).remove();
            itemIndex--;
        } else {
            alert("No textbox to remove");
        }
    }
    $("#choiceType").change(function () {
        debugger;
        $("#my_div").html('');//for clear div
    });
    $(document).ready(function () {
        $('#Question').summernote();

    });
    function validateForm() {
        debugger;
        $('#EditQuestionAnswerForm').parsley().validate();
        if ($('#EditQuestionAnswerForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "OTQuestionAnswer")',
                data: $("#EditQuestionAnswerForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OTQuestionAnswer")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>

