﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<QuestionAnswerMappingBo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<header class="panel-heading font-bold b-light">
    Question Answer Mapping
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OTQuestionAnswerMapping) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
    {
        <a href="@Url.Action("Add", "OTQuestionAnswer")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Mapping</a>
    }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" class="table table-striped" title="QuestionAnswerMapping" width="100%" exportcolumn="0,1" visiblecolumn="0,1,2,3">
                        <thead class="bg-primary">
                        <tr class="active text-white">
                            
                            <th class="text-center" title="Question">
                                Question
                            </th>
                         <th class="text-center" title="QuestionType">
                                Question Type
                            </th>
                          <th class="text-center" title="Ismcq">
                                Ismcq
                            </th>

                            

                            <th class="text-center" title="Status">
                                Status
                            </th>
                            @if (SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OTQuestionAnswerMapping) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write))
                            {
                                <th class="text-center" title="Action">
                                    Action

                                </th>
                            }
                        </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Count> 0)
                            {

                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">
                                            @Html.Raw(item.Question)
                                        </td>
                                        <td class="text-center">
                                            @item.QuestionTypeId
                                        </td>
                                        <td class="text-center">
                                            @item.Ismcq
                                        </td>
                                        
                                        
                                        <td class="text-center">
                                            <span class="hidden">@item.StatusId</span>
                                            <div id="btn_@item.Id">
                                                <button class="btn btn-default @(item.StatusId == (int) UserStatus.Active ? "btn-success active " : "")" title="@(item.StatusId == (int) UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                        id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.StatusId == (int) UserStatus.Active ? "Deactivate QuestionAnswer Mapping" : "Activate QuestionAnswer Mapping ?")', '@(item.StatusId == (int) UserStatus.Active ? "Are you sure you want to Deactivate QuestionAnswer Mapping ?" : "Are you sure you want to Activate QuestionAnswer Mapping ?")', '@item.Id', '@(item.StatusId == (int) UserStatus.Active ? (int) UserStatus.InActive : (int) UserStatus.Active)') ">
                                                    <i class="fa @(item.StatusId == (int) UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                    <span class = "@(item.StatusId == (int) UserStatus.Active ? "text-active" : "text")"> @(item.StatusId == (int) UserStatus.Active ? "Active" : "Inactive")</span>
                                                </button>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                             @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OTQuestionAnswerMapping) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                            {
                                                <a href="@Url.Action("Edit", "OTQuestionAnswer", new {@id =item.Id})" id="btnModalOpen" title="Edit">
                                                    <i class="fa fa-edit icon"></i>
                                                </a>
                                            }
                                            &nbsp;
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.OTQuestionAnswerMapping) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                            {
                                                <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@((int) item.Id)', '@((int) EduErp.BO.UserStatus.Deleted)') ">
                                                    <i class=" fa fa-trash-o text-danger">
                                                    </i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id,statusId)
    {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
             
            url: '@Url.Action("UpdateStatus","OTQuestionAnswer")',
            data: { id: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                //toastr.success(data);
                location.reload();
            },
            error: function (err) {
                debugger;
                alert(err);
            }

        });

    }

</script>
