﻿@using EduErp.Mvc.Utilities
@model List<EduErp.BO.AttendanceDetailList>
                     
 <section class="panel panel-default">
               <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                         <span>  Attendance Detail</span>
                        </div>
                    </div>
                </header>
                          <div class="panel-body">
                            @Html.AntiForgeryToken()
                          <div class="row scrollable" style="max-height: 250px;">
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive">
                                        <thead>
                                        <tr>
                                             <th class="text-center">StudentName</th>
                                            @* <th class="text-center">Total Attendance</th>*@
                                             <th class="text-center">DayStatusId</th>
                                             <th class="text-center">Attendance Date</th>
                                             @*<th class="text-center">Print Reciept</th>
                                            <th class="text-center">Edit</th>
                                            <th class="text-center">Delete</th>*@
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {

                                            for (var i = 0; i < Model.Count; i++)
                                            {
                                                var id = "AttendanceTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";
                                                <tr>
                                                    <td class="text-center">@Model[i].StudentName</td>
                                                     <td class="text-center">@Model[i].DayStatusId&nbsp;<i class="fa fa-inr"></i> </td>
                                                    <td class="text-center">@Model[i].AttendanceDate&nbsp;<i class="fa fa-inr"></i></td>
                                                 @*   <td class="text-center">@Model[i].BalanceAmount&nbsp;<i class="fa fa-inr"></i> </td>
                                                    <td class="text-center">
                                                       @if (Model[i].IsSettled)
                                                       {
                                                           <span>Yes</span>
                                                       }
                                                       else
                                                       {
                                                        <span>No</span>
                                                       }
                                                    </td>*@
                                                    
                                                    <td class="text-center">@Model[i].AttendanceDate.ToFormattedDate() </td>
                                                 @*   <td class="text-center" title="print"><a href="@Url.Action("FeeReciept", "FeeTransaction", new {@transactionId = Model.FeetransactionDetailList[i].Id})" target="_blank"><i class="fa fa-print"></i> &nbsp;Print</a></td>
                                                    <td class="text-center">
                                                    <a href="@Url.Action("Edit", "FeeTransaction", new {@id = Model.FeetransactionDetailList[i].Id})" title="Edit">
                                                    <i class="fa fa-edit icon"></i>&nbsp;  Edit
                                                  </a>
                                                    </td>
                                                   <td class="text-center">
                                                    <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@Model.FeetransactionDetailList[i].Id', '@((int) EduErp.BO.UserStatus.Deleted)') ">
                                                     <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                                     </a>
                                                   </td>*@
                                                </tr>
                                              
                                            }
                                        }
                                        </tbody>
                                    </table>
                                   </div>
                            </div>
        </div>
    
    </section>   