﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.StudentTmplateBo
<div class="table-responsive">
    <table id="dt_userList" width="100%" class="table table-striped" title="Students" exportcolumn="0,1,2,3,4,5" visiblecolumn="0,1,2,3,4,5,6,7" lastunsortcount="2">
        <thead>
        <tr>
            <th class="text-center">Roll Number
            </th>
            <th class="text-center">Name
            </th>
            <th class="text-center">Contact Number
            </th>
            <th class="text-center">Gender
            </th>
            <th class="text-center">Category
            </th>
            <th class="text-center">Status
            </th>
            <th class="text-center">Action
            </th>
            
           @* <th class="text-center notExport">Edit
            </th>
            <th class="text-center notExport">Delete
            </th>*@

        </tr>
        </thead>
        <tbody>

        @if (Model.StudentFilterLists.Count == 0)
        {

            <tr>
                <td class="text-center" colspan="8">No record found</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.StudentFilterLists)
            {
                <tr>

                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                    <td class="text-center">@item.StudentRollNumber</td>
                    <td class="text-center">
                        <a href="@Url.Action("ViewProfile", "Student", new { @studentId = item.StudentId })" class="text-primary blueanchor">@item.StudentName</a>
                    </td>
                    <td class="text-center">@item.StudentContactNumber</td>
                    <td class="text-center">@item.StudentGender</td>
                    <td class="text-center">@item.StudentCategory</td>
                    
                        @if (item.StudentStatusId == 1)
                        {
                            <td class="text-center">
                        <a  href="@Url.Action("UpdateStudentStatus", "Student", new { @studentId = item.StudentId, @studentStatusId = @item.StudentStatusId })"  class="btn btn-default form-control @(item.StudentStatusId == (int)UserStatus.Active ? "btn-success active" : "")" title="@(item.StudentStatusId == (int)UserStatus.Active ? "Click to deactivate" : "Click to activate")" ajax-modal="ajaxModal" data-placement="top" data-container="body" id="@item.StudentId">
                         <i class="fa @(item.StudentStatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                            <span class=@(item.StudentStatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StudentStatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                        </a>
                                </td>
                        }
                        else
                        {
                            <td class="text-center">
                         @*<span class="hidden">@item.StudentStatusId</span>*@
                                        <div id="btn_@item.StudentId">
                                            <button class="btn btn-default @(item.StudentStatusId == (int)UserStatus.Active ? "btn-success active " : "")" title="@(item.StudentStatusId == (int)UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                     onclick=" setStatusConfirmation(updateStatus, '@(item.StudentStatusId == (int)UserStatus.Active ? "Deactivate Student" : "Activate Student ?")', '@(item.StudentStatusId == (int)UserStatus.Active ? "Are you sure you want to Deactivate section ?" : "Are you sure you want to Activate section ?")', '@item.StudentId', '@(item.StudentStatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                                <i class="fa @(item.StudentStatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                <span class=@(item.StudentStatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StudentStatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </div>
                                </td>
                        }

                    <td class="text-center">
                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StudentStatusId == (int)UserStatus.Active))
                            {
                            <a href="@Url.Action("Edit", "Student", new { @id = item.StudentId })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                <i class="fa fa-edit icon"></i>
                            </a>
                            }
                        &nbsp;
                        @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StudentStatusId == (int)UserStatus.Active))
                             {
                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.StudentId', '@((int)UserStatus.Deleted)') ">
                                <i class=" fa fa-trash-o text-danger"></i>
                            </a>
                             }
                    </td>
                    
                        @*<td class="text-center">
                            @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StudentStatusId == (int)UserStatus.Active))
                            {
                            <a href="@Url.Action("Edit", "Student", new { @id = item.StudentId })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                <i class="fa fa-edit icon"></i>&nbsp;Edit
                            </a>
                            }
                        </td>

                        <td class="text-center">
                             @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StudentStatusId == (int)UserStatus.Active))
                             {
                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.StudentId', '@((int)UserStatus.Deleted)') ">
                                <i class=" fa fa-trash-o text-danger"></i>&nbsp;Delete
                            </a>
                             }
                        </td>*@
                   
                </tr>
            }


        }


        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');

       
    });
    function updateStatus(studentId, studentStatusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "Student")',
            data: { studentId: studentId, studentStatusId: studentStatusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function () {
                //toastr.success(data);
                location.reload();
            }
        });
    }
</script>