﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.StudentBo
@{
    ViewBag.Title = PageTitle.Create("Student-Edit");
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Update Student
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "Student", null, FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "updateStudent" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a=>Model.MappingId)
        <div style="padding-top: 5px">
            <p style="margin-left: 20px">Fields with <span class="text-danger">*</span> are required. </p>
        </div>

        <section class="tabbable" id="tabs">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs responsive">
                        <li class="active">
                            <a href="#addstudent-tab" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-street-view"></i>&nbsp;Personal
                            </a>
                        </li>
                        <li class="School-Tab">
                            <a href="#mapping-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-mortar-board"></i>&nbsp;Academic
                            </a>
                        </li>
                        <li class="Employee-Tab">
                            <a href="#guardians-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-user-circle"></i>&nbsp;Guardians
                            </a>
                        </li>
                        <li>
                            <a href="#address-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-address-book"></i>&nbsp;Address
                            </a>
                        </li>
                    </ul>

                    <div class="panel-body">
                        <div id="content" class="tab-content responsive">
                        <div class="tab-pane fade in  active responsive" id="addstudent-tab">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class=" col-md-12 col-sm-12 col-xs-12 text-center">
                                        <a href="@Url.Action("ProfilePicture", "Student", new {userId = Model.Id})" ajax-modal="ajaxModal" style="display: block; position: relative;">
                                            <img id="studentProfilePic" src="@(Model.S3key == Guid.Empty ? Url.Content("~/Content/images/gravator.png") : CommonUtil.GetUrlByKey("Student/" + Model.S3key))" alt="..." class="img-thumbnail m-b text-center img-circle" height="120" width="120"/></a>
                                        <a id="DeleteStudentPic" class="fa fa-trash-o text-danger" href="javascript:void(0)" data-placement="bottom" data-toggle="" title="Delete" onclick=" deleteConfirmation(removeStudentProfileImage); "
                                           @(Model.S3key == Guid.Empty ? "style=display:none;" : "")></a>
                                        @Html.HiddenFor(a => a.S3key)
                                    </div>
                                </div>
                                    <div class="col-md-8  col-sm-8 col-xs-8">
                                      <div class="row">
                                       <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                       @Html.Label("Registration Number")
                                        @Html.TextBoxFor(m => m.RegistrationNumber, new {@id = "RegistrationNumber", @class = "form-control ", maxlength = "50"})
                                       </div>
                                          <div class ="form-group col-md-6 col-sm-6 col-xs-6"></div>
                                        </div>
                                        <div class="row">

                                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Title")
                                                @Html.DropDownListFor(m => m.TitleId, new SelectList(Model.ListOfTitle, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select"})
                                            </div>
                                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("First Name")&nbsp;<span class="text-danger">*</span>
                                                @Html.TextBoxFor(m => m.FirstName, new {@id = "firstname", @class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please Enter First Name", maxlength = "50"})
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Middle Name")
                                                @Html.TextBoxFor(m => m.MiddileName, new {@id = "middlename", @class = "form-control", maxlength = "50"})
                                            </div>
                                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Last Name")&nbsp;<span class="text-danger">*</span>
                                                @Html.TextBoxFor(m => m.LastName, new {@id = "lastname", @class = "form-control last", maxlength = "50", data_parsley_required = "true", data_parsley_error_message = "Please Enter Last Name"})
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class=" form-group col-md-4 col-sm-4 col-xs-4 col-md-offset-0">
                                        @Html.Label("Email Address")
                                        @Html.TextBoxFor(m => m.Email, new {@id = "emailid", @class = "form-control", type = "email", maxlength = "100"})
                                    </div>
                                    <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                        @Html.Label("Date Of Birth")
                                        @Html.TextBoxFor(m => m.Dob,"{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input", @placeholder = "Select Date of Birth"})
                                    </div>
                                    <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                        @Html.Label("Mobile Number")
                                        @Html.TextBoxFor(m => m.StudentMobile, new {@id="studentmobile",@class = "form-control", type = "number", minlength = "10",parsley_type="phone", maxlength = "10"})
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class=" form-group col-md-4 col-sm-4 col-xs-4 col-md-offset-0">
                                        @Html.Label("Gender")
                                        @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.ListOfGender, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select"})
                                    </div>
                                    <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                        @Html.Label("Relegion")
                                        @Html.DropDownListFor(m => m.RelegionId, new SelectList(Model.ListOfReligion, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select"})

                                    </div>
                                    <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                        @Html.Label("Category")
                                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.ListOfCategory, "Id", "Name"), "Select Category", new {@class = "form-control chosen-select"})

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-0">
                                        @Html.Label("Nationality")
                                        @Html.DropDownListFor(m => m.NationlityId, new SelectList(Model.ListOfNationality, "Id", "Name"), "Please Select", new {@class = "form-control chosen-select"})
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Aadhar Number")
                                        @Html.TextBoxFor(m => m.Uid, new {@id="Aadharnumber",@class = "form-control", type = "number", minlength = "12", maxlen = "12"})
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Addmission Date")
                                        @Html.TextBoxFor(m => m.Doj, "{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input"})
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Exit Date")
                                        @Html.TextBoxFor(m => m.Doe, "{0:dd-MMM-yyyy}", new {@class = "form-control datepicker-input"})
                                    </div>

                                </div>
                            </div>
                        </div>
                            <div class="tab-pane fade responsive" id="mapping-tab">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class=" form-group col-md-4  col-sm-4 col-xs-4 col-md-offset-0">
                                             <label> @Level.GetlabelName((int)LabelEnum.Class)</label>&nbsp;<span class="text-danger">*</span>
                                            @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @id = "Class", @class = "form-control chosen-select", data_parsley_required = "true", data_parsley_error_message = "Please Select Class" })
                                        </div>
                                        <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                              <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>&nbsp;<span class="text-danger">*</span>
                                            <select id="Section" class="form-control" required="true"></select>
                                            @Html.HiddenFor(a => a.SectionId, new { @id = "HiddenSectionId" })
                                        </div>
                                        <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                            @Html.Label("Student Code")
                                            @Html.TextBoxFor(m => m.StudentCode, new { @class = "form-control", maxlength = "100" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <section class="scrollable w-f">                                        
                                        <header class="panel-heading font-bold">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Student Acedmic Records
                                                </div>
                                            </div>
                                        </header>
                                        <div class="row panel-body">
                                            <div class="col-md-12">
                                                <section class="panel panel-default">
                                                    <div class="table-responsive">
                                                        <table id="dt_userList" width="100%" class="table table-striped" title="Messages" exportcolumn="0,1,2,3,4,5,6" visiblecolumn="0,1,2,3,4,5,6,7,8" lastunsortcount="2">
                                                            <thead>
                                                                <tr>
                                                                    
                                                                <th class="text-center">
                                                                    Class
                                                                </th>
                                                                <th class="text-center">
                                                                    Section
                                                                </th>
                                                                <th class="text-center">
                                                                    Session
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.StudentAcademicRecordList != null)
                                                            {
                                                                foreach (var item in Model.StudentAcademicRecordList)
                                                                {
                                                                    <tr>
                                                                       
                                                                        <td class="text-center">
                                                                            @Html.DisplayFor(model => item.ClassName)
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @Html.DisplayFor(model => item.SectionName)
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @Html.DisplayFor(model => item.SessionName)
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                                </div>
                            </div>
                            <div class="tab-pane fade responsive" id="guardians-tab">
                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Parents
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                                                @Html.Label("Father Name")
                                                @Html.TextBoxFor(m => m.FatherName, new {@id="fathername", @class = "form-control", maxlength = "100" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                                                <div style="padding-top: 19px">
                                                    @*<label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>*@
                                                    @*<input type="checkbox" checked data-toggle="toggle" data-on="Is Guardian" data-off="Not Guardian" data-onstyle="success" data-offstyle="danger">
                                                   <span class="slider"></span>*@
                                                </div>

                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                                @Html.Label("Mother Name")
                                                @Html.TextBoxFor(m => m.MotherName, new {@id="mother", @class = "form-control", maxlength = "100" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                                                <div style="padding-top: 20px">
                                                    @* <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>*@
                                                </div>
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Mobile Number")
                                                @Html.TextBoxFor(m => m.ParentMobileNumber, new {@id="Parentmobile", @class = "form-control", type = "number", maxlength = "10", minlength = "10" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Contact Number")
                                                @Html.TextBoxFor(m => m.ParentContactNo, new {@id="Contactnumber", @class = "form-control", type = "number", maxlength = "20" })
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Guardian
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6 ">
                                                @Html.Label("Name")
                                                @Html.TextBoxFor(m => m.GuardianName, new {@id="guardianName", @class = "form-control", maxlength = "100" })
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Relation")
                                                @Html.TextBoxFor(m => m.GuardianRelation, new {@id="guardianRelation", @class = "form-control", maxlength = "100" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                                @Html.Label("Mobile Number")
                                                @Html.TextBoxFor(m => m.GuardianMobile, new {@id="mobile1", @class = "form-control", type = "number", maxlength = "10", minlength = "10" })
                                            </div>
                                            <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                                                <div style="padding-top: 19px">
                                                    @* <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>*@
                                                </div>
                                            </div>
                                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                                @Html.Label("Occupation")
                                                @Html.TextBoxFor(m => m.GuardianOccupation, new {@id="guardianOcupation", @class = "form-control last", maxlength = "100" })
                                            </div>
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                                @Html.Label("Address")
                                                @Html.TextAreaFor(m => m.GuardianAddress, new { @class = "form-control ", maxlength = "500" })
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade responsive" id="address-tab">
                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                        <div class="row">
                                            <div class="col-md-12">
                                                Current Address
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 ">
                                                @Html.Label("Address")&nbsp;<span class="text-danger">*</span>
                                                @Html.TextAreaFor(m => m.CuurentAddress, new {@id="CurrentAddress", @class = "form-control", maxlength = "500" , data_parsley_required = "true", data_parsley_error_message = "Please enter address"})
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("State")&nbsp;<span class="text-danger">*</span>
                                                @Html.DropDownListFor(m => m.CurrentStateId, new SelectList(Model.ListOfState, "Value", "Text"), "Select State", new { id = "currentState", @class = "form-control select-chosen", data_parsley_required = "true", data_parsley_error_message = "Please Select State" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("City")&nbsp;<span class="text-danger">*</span>
                                                <select id="currentCity" required="true" class="form-control" ></select>
                                                @Html.HiddenFor(a => a.CurrentCityId, new { @id = "currentCityId" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("Pin Code")&nbsp;<span class="text-danger">*</span>
                                                @Html.TextBoxFor(m => m.CurrentPinCode, new {@id="CurrentPinCode", @class = "form-control ", maxlength = "6", minlength = "6", type = "number", data_parsley_required = "true", data_parsley_error_message = "Please enter pincode" })
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="panel panel-default scrollable">
                                    <header class="panel-heading font-bold">
                                               <div class="row">
                                            <div class="col-md-6">
                                                Permanent Address
                                            </div>
                                            <div class="col-md-6">
                                                @*<div class="">
                                                    @Html.CheckBoxFor(m => m.IsCheked, new { @id = "CheckBox" })
                                                     @Html.Label("Same as current address")
                                                </div>*@
                                                <div class="checkbox-inline i-checks">
                                                    <label>
                                                    <input type="checkbox" id="checkbox" checked="@Model.IsCheked">
                                                    <i></i><span>Same as current address</span>
                                                    </label>
                                                </div>
                                               </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" form-group col-md-12 col-sm-12 col-xs-12 ">
                                                @Html.Label("Address")&nbsp;<span class="text-danger">*</span>
                                                @Html.TextAreaFor(m => m.PermanentAddress, new {@id="PermanentAddress", @class = "form-control", maxlength = "500" , data_parsley_required = "true", data_parsley_error_message = "Please enter address"})
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("State")&nbsp;<span class="text-danger">*</span>
                                                @Html.DropDownListFor(m => m.PermanentStateId, new SelectList(Model.ListOfState, "Value", "Text"), "Select State", new { id = "PermanentState", @class = "form-control select-chosen", data_parsley_required = "true", data_parsley_error_message = "Please Select State" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("City")&nbsp;<span class="text-danger">*</span>
                                                <select id="PermanentCity" required="true" class="form-control"></select>
                                                @Html.HiddenFor(a => a.PermanentCityId, new { @id = "PermanentCityId" })
                                            </div>
                                            <div class=" form-group col-md-4 col-sm-4 col-xs-4">
                                                @Html.Label("Pin Code")&nbsp;<span class="text-danger">*</span>
                                                @Html.TextBoxFor(m => m.PermanentPinCode, new {@id="PermanentPinCode", @class = "form-control", maxlength = "6", minlength = "6", type = "number" , data_parsley_required = "true", data_parsley_error_message = "Please pincode"})
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <footer class="panel-footer text-right bg-white lter">
            @*<button id="btnAddStudent" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                <i class="fa fa-save"></i>&nbsp;Update
            </button>*@
            <input type="submit" value="Update" class="btn btn-lightGreen">
            <a href="@Url.Action("Index", "Student")" type="button" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/aws-sdk-2.1.12.min.js"></script>
<script src="~/Content/js/FileUpload.js"></script>
<script type="text/javascript"> 
    
   window.studentProfilePic = '@Url.Content("~/Content/images/gravator.png")';
   var _guid = '';

   $(document).ready(function() {
       if ('@Model.S3key' === "@Guid.Empty") {
           _guid = guid();
       } else {
           _guid = '@Model.S3key';
       }

       $('.chosen-select').chosen({
           search_contains: true
       });
       var d = new Date();
       var month = d.getMonth() + 1;
       var day = d.getDate();
       $('#S3key').val(_guid);
       var currentDate = (('' + day).length < 2 ? '0' : '') + day + '-' + (('' + month).length < 2 ? '0' : '') + month + '-' + d.getFullYear();
       $('.datepicker-input').datepicker({
           format: CURRENT_DATEFORMAT,
           endDate: currentDate,
           autoclose: true

       }).on('changeDate', function(ev) {
           if ($(".datepicker-input").hasClass("parsley-error")) {
               $(".datepicker-input").parsley().reset();
           }
       });
       //$(".datepicker-input").val('');

       $("#fathername").keypress(function(key) {
           debugger;
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       $("Lastname").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       $("#middlename").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       $("#firstname").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       $("#guardianName").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       $("#guardianRelation").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       $("#guardianOcupation").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });
       //SET CCURRENT AND PERMANENT ADDRESS SAME AS ON CHANGE OF CHECKBOX
       $("#CheckBox").change(function() {
           if ($(this).prop("checked") == true) {
               $("#PermanentAddress").val($("#CurrentAddress").val());
               $("#PermanentPinCode").val($("#CurrentPinCode").val());
               $("#PermanentState").val($("#currentState option:selected").val());
               $("#PermanentStateId").val($("#currentStateId").val());
               if ($("#PermanentState").selectedIndex !== 0) {
                   getpermanentCity($("#currentState option:selected").val());
                   $("#PermanentCityId").val($("#currentCityId").val());
                   $("#PermanentCity").val($("#currentCity option:selected").val());
               }

               //$("#PermanentState").val($("#currentState").text);
           } else {
               $("#PermanentAddress").val("@Model.PermanentAddress");
               $("#PermanentPinCode").val("@Model.PermanentPinCode");
               $("#PermanentState")[0].selectedIndex = '@Model.PermanentStateId';
               getpermanentCity('@Model.PermanentStateId');
               $("#PermanentCityId").val('@Model.PermanentCityId');
           }
       });

       //VALIDATION FOR ONLY TEXT VALUE
       $("#mother").keypress(function(key) {
           var text = isValidText(key.charCode);
           if (!text) {
               toastr.error("Please enter only text");
               return false;
           }
       });

       //VALIDATION FOR MOBILE NUMBER
       $("#Parentmobile").blur(function() {
           debugger;
           if ($("#Parentmobile").val() != "") {
               var result = isValidMobileNumber($("#Parentmobile").val());
               if ($("#Parentmobile").val().length !== 10 && !result) {
                   toastr.error("Please enter valid mobile number");
               }
           }
       });
       $("#Contactnumber").blur(function() {
           debugger;
           if ($("#Contactnumber").val() != "") {
               var result = isValidMobileNumber($("#Contactnumber").val());
               if ($("#Contactnumber").val().length !== 10 && !result) {
                   toastr.error("Please enter valid contact number");
               }
           }
       });
       $("#studentmobile").blur(function() {
           debugger;
           if ($("#studentmobile").val() != "") {
               var result = isValidMobileNumber($("#studentmobile").val());
               if ($("#studentmobile").val().length !== 10 && !result) {
                   toastr.error("Please enter valid mobile number");
               }
           }
       });
       //validation for pincode

       $("#Pincode").blur(function() {
           if ($("#Pincode").val() != "") {
               debugger;
               var result = isValidMobileNumber($("#Pincode").val());
               if ($("#Pincode").val().length !== 6 && !result) {
                   toastr.error("Please enter valid pincode");
               }
           }
       });
       //VALIDATION  FOR AADHARNUMBER
       $("#Aadharnumber").blur(function() {
           debugger;
           if ($("#Aadharnumber").val() != "") {
               var result = isValidMobileNumber($("#Aadharnumber").val());
               if ($("#Aadharnumber").val().length !== 12 && !result) {
                   toastr.error("Please enter valid Aadhar number");
               }
           }
       });
       //VALIDATION FOR MOBILE NUMBER
       $("#mobile1").blur(function() {
           debugger;
           if ($("#mobile1").val() != "") {
               var result = isValidMobileNumber($("#mobile1").val());
               if ($("#mobile1").val().length !== 10 && !result) {
                   toastr.error("Please enter valid mobile number");
               }
           }
       });
       //VALIDATION FOR EMAIL PATTERN
       $("#emailid").blur(function() {
           if ($("#emailid").val() != "") {
               var result = isValidEmailAddress($("#emailid").val());
               if (!result) {
                   toastr.error("Please enter valid Email");
               }
           }
       });


//set sectionId

       $("#Section").change(function() {
           $("#HiddenSectionId").val($("#Section").val());
       });
       $("#currentCity").change(function() {
           $("#currentCityId").val($("#currentCity").val());
       });
       $("#PermanentCity").change(function() {
           $("#PermanentCityId").val($("#PermanentCity").val());
       });

       //get currentcity
       getcurrentCity('@Model.CurrentStateId');
       $("#currentState").change(function() {
           debugger;
           var currentStateId = $("#currentState").val();
           getcurrentCity(currentStateId);
       });

       //get permanentCity
       getpermanentCity('@Model.PermanentStateId');
       $("#PermanentState").change(function() {
           debugger;
           var permanentStateId = $("#PermanentState").val();
           getpermanentCity(permanentStateId);
       });

       //get section
       bindSection('@Model.ClassId');
       $("#Class").change(function() {
           var classId = $("#Class").val();
           bindSection(classId);
           //return false;
       });

       //validation for pincode

       $("#PermanentPinCode").blur(function() {
           debugger;
           if ($("#PermanentPinCode").val() != "") {
               var result = isValidMobileNumber($("#PermanentPinCode").val());
               if ($("#PermanentPinCode").val().length !== 6 && !result) {
                   toastr.error("Please enter valid pincode");
               }
               if ($("#PermanentPinCode").val().length == 6) {
                   var res = is_int($("#PermanentPinCode").val());
                   if (res) {
                       return true;
                   } else {
                       toastr.error("Please enter only integer");
                       return false;
                   }
               }
           }
       });
       $("#CurrentPinCode").blur(function() {
           debugger;
           if ($("#CurrentPinCode").val() != "") {
               var result = isValidMobileNumber($("#CurrentPinCode").val());
               if ($("#CurrentPinCode").val().length !== 6 && !result) {
                   toastr.error("Please enter valid pincode");
               }
               if ($("#CurrentPinCode").val().length == 6) {
                   var res = is_int($("#CurrentPinCode").val());
                   if (res) {
                       return true;
                   } else {
                       toastr.error("Please enter only integer");
                       return false;
                   }
               }
           }
       });
   });

   function getpermanentCity(permanentStateId) {
       $("#PermanentCity").empty();
       debugger;
       if (permanentStateId != "") {
           $.ajax({
               type: 'POST',
               url: '@Url.Action("GetPermanentCityList")', // we are calling json method
               dataType: 'json',
               data: { permanentStateId: permanentStateId },
               success: function(states) {
                   $.each(states, function(i, state) {

                       $("#PermanentCity").append('<option value="' + state.Value + '">' +
                           state.Text + '</option>');
                   });
                   $("#PermanentCity").val($("#currentCity option:selected").val());
                   $("#PermanentCity option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                   if (!$('#CheckBox').prop("checked")) {
                       $('#PermanentCity option[value=""]').prop('selected', true);
                       $("#PermanentCity").val(@Model.PermanentCityId);
               }
                  @* if (!$('#CheckBox').prop("checked")) {
                       $("#PermanentCity").val('@Model.PermanentCityId');
}*@
               },
               error: function(ex) {
                   alert('Failed to retrieve cities.' + ex);
               }

           });
       }
   }

   function getcurrentCity(currentStateId) {
       debugger;
       $("#currentCity").empty();
       $.ajax({
           type: 'POST',
           url: '@Url.Action("GetCurrentCityList")', // we are calling json method
           dataType: 'json',
           data: { currentStateId: currentStateId },
           success: function(states) {
               $.each(states, function(i, state) {
                   $("#currentCity").append('<option value="' + state.Value + '">' +
                       state.Text + '</option>');
               });
               $("#currentCity").val('@Model.CurrentCityId');
              
            },
            error: function (ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
    }
   
    function bindSection(classId) {
        debugger;
        $("#Section").empty();
       
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSectionList")', // we are calling json method
            dataType: 'json',
            data: { classId: classId },
            success: function (classes) {
                $.each(classes, function (i, clas) {
                    $("#Section").append('<option value="' + clas.Value + '">' +
                        clas.Text + '</option>');
                });
               // $("#Section1 option").eq(0).before($("<option></option>").val("").text(" Please Select"));
                $("#Section").val('@Model.SectionId');
            },
            
            error: function (ex) {
                alert('Failed to retrieve sections.' + ex);
            }
        });
    }

    function removeStudentProfileImage() {
        $(".loader").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemoveProfilePicture", "Student")',
              dataType: 'json',
              data: { id: "@Model.Id" },
              success: function (data) {
                  removeStudentProfilePic("@(Model.S3key == Guid.Empty ? string.Empty : CommonUtil.GetUrlByKey("Student/" + Model.S3key))");
              }
          });
          }
</script>
