﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.StudentBo
@{
    ViewBag.Title = PageTitle.Create("Students");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}
<header class="panel-heading font-bold b-light">
    Student(s)
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.Student) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
     {
         <a href="@Url.Action("Add", "Student")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Add Student</a>
     }
     <a href='#' id="Filter" class='text-primary m-l-sm'>
       &nbsp;&nbsp; <i class='fa fa-filter'></i>Filter</a>
</header>
@Html.AntiForgeryToken()
<section class="panel panel-default scrollable">
    <div class="panel-body">
    <div class="row" id="visible">
       @* <div class=" form-group col-md-3 col-sm-3">
            @Html.Label("Session")
            @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.ListOfSessions, "Id", "Name"), new {@class = "form-control", @id = "Session"})
        </div>*@
        <div class=" form-group col-md-3 col-sm-3">
              <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
            @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), new {@class = "form-control", @id = "Class"})
        </div>
        <div class=" form-group col-md-3 col-sm-3" id="SectionHide">
              <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
            <select id="Section" class="form-control chosen">
            </select>
        </div>
        <div class=" form-group col-md-3 col-sm-3">
              @Html.Label("Status")
            @Html.DropDownListFor(a => a.StudentStatusId, new SelectList(Model.ListOfStatus, "Id", "Name"), new {@class = "form-control", @id = "Status"})
        </div>
        <div class=" form-group col-md-3 col-sm-3" style="padding-top: 23px">
            <button id="btnGetFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" getStudents(); ">
                Get Students
            </button>
        </div>
        @* <div class="col-md-3 form-group col-sm-3" style="padding-top: 23px">
            <button class="btn btn-default" onclick="goBack()">Back</button>
        </div>*@
    </div>
        </div>
    <div class="row">
        <div class="col-md-12">

            <div id="studentList">


            </div>

        </div>
    </div>

</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Class").change(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                $("#SectionHide").show();
                getSections($("#Class").val());
            } else {

               $("#SectionHide").hide();
                //getStudentsListForMessage(0, 0);
                        }
                      
        });
        //function goBack(){
        //    window.history.back();
        //}
       // $('#visible').slideToggle();
        $("#Filter").click(function () {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });
        
        $("#btnGetFeeTransaction").click(function () {
           $('#visible').slideToggle();
           // $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });
        var exportColumns = $("#dt_userList > thead > tr > th:not(.notExport)").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    //get sections based on classId
    function getSections(classId) {
        debugger;
        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("All"));
                $('#Section option[value="0"]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    if (document.getElementById('Class').selectedIndex !== 0) {
        debugger;
        getSections($("#Class").val());
    } else {
        $("#SectionHide").hide();
        $("#Section").val("0");
            }
    function getStudents() {
        debugger;
        $("#studentList").html("");
       
        if (($("#Class").val() !== null) && ($("#Section").val() !== null)) {
            debugger;
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetStudentList", "Student")',
                datatype: 'html',
                data: { classId: $("#Class").val(), sectionId: $("#Section").val(), statusId: $("#Status").val() },
                success: function (data) {
                    $("#studentList").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }else if (($("#Class").val() !== null) && ($("#Section").val() == null)) {
            debugger;
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetStudentList", "Student")',
                datatype: 'html',
                data: { classId: $("#Class").val(), sectionId: 0, statusId: $("#Status").val() },
                success: function (data) {
                    $("#studentList").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }
        else {
            toastr.error("Select Filters");
        }
    }

    function updateStatus(id, statusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "Student")',
            data: { Id: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                location.reload();
            }

        });
    }

</script>
