﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model  EduErp.BO.StudentBo
<div class="modal fade in" id="updateStatusModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="ClassModalTitle">Update Status</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("UpdateStatus", "Student", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "updateStudentStatus" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m=>m.Id)
                    @Html.HiddenFor(m=>m.StatusId)
                  <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Date")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m=>m.Doe, new {@id="Date", @class = "form-control datepicker-input" ,data_parsley_required = "true", data_parsley_error_message = "Enter Date"})
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Html.Label("Remark")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextAreaFor(m =>m.ReasonForExit, new {@id="Remark",maxlength="500", @class = "form-control",data_parsley_required = "true", data_parsley_error_message = "Enter Remark"})
                                   
                                </div>
                           </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddEmployeeType" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                            <i class="fa fa-save"></i>&nbsp; Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({
            search_contains: true
        });

        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');
    });
      
    function saveForm() {
        debugger;
        $('#updateStudentStatus').parsley().validate();
        if ($('#updateStudentStatus').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("UpdateStudentStatus", "Student")',
                data: $("#updateStudentStatus").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Student")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>
