﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.StudentProfileBo
@{
    ViewBag.Title = PageTitle.Create("View");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header"><i class="fa fa-user"></i>Student Profile</h2>
            </div>
        </div>
    </header>
    @using (Html.BeginForm("ViewProfile", "Student", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addStudentForm" }))
    {
        @Html.AntiForgeryToken();
        <section>
            <div class="row">
                <div class="col-md-3 table-responsive edu-erp-studentImage">
                    <div class="col-md-12 text-center">
                        <img id="imageId" src="@(Model.S3key == Guid.Empty ? Url.Content("~/Content/images/gravator.png") : CommonUtil.GetUrlByKey("Student/" + Model.S3key))" alt="" width="115" title="Profile Image" height="115" class="img-circle"/>
                    </div>
                    <table class="table-striped table-strip">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>@if (Model.FirstName != null)
                                    {
                                    @Model.FirstName;
                                    }
                                    else
                                    {

                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Class</th>
                                <td>@Model.ClassName</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <td>@Model.StudentMobile</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    @if (Model.StatusId == 1)
                                    {
                                        <span class="label label-success">Active</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Registration No.</th>
                                <td>@Model.RegistrationNumber</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-9">
                    <ul class="nav nav-tabs  tabbable responsive" id="tabs">
                        <li class="active">
                            <a href="#addstudent-tab" data-toggle="tab" class="m-l">
                                <i class="fa fa-user"></i>&nbsp;Personal
                            </a>
                        </li>
                        <li class="School-Tab">
                            <a href="#mapping-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-university"></i>&nbsp;Academic
                            </a>
                        </li>
                        <li class="Employee-Tab">
                            <a href="#guardians-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-users"></i>&nbsp;Guardian
                            </a>
                        </li>
                        <li>
                            <a href="#address-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-address-book"></i>&nbsp;Address
                            </a>
                        </li>
                        <li>
                            <a href="#fee-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-inr"></i>&nbsp;Feetransaction Detail
                            </a>
                        </li>
                          <li>
                            <a href="#Attendance-tab" data-toggle="tab" aria-expanded="True">
                                <i class="fa fa-check-circle icon"></i>&nbsp;Attendance Detail
                            </a>
                        </li>
                    </ul>

                    <div class="panel-body">
                        @if (Model != null)
                        {
                            <div id="content" class="tab-content greyborder-1px responsive">
                                <div class="tab-pane fade in  active responsive" id="addstudent-tab">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <h2 class="page-header">
                                                <i class="fa fa-info-circle">Personal Details</i>
                                                 
                                                @*<div class="pull-right">
                                                    <button class="btn btn-sm btn-primary" onclick="goBack()">Back</button>
                                                </div>*@
                                                <div class="pull-right">
                                                    <a class="btn btn-sm btn-primary"href="@Url.Action("Edit", "Student", new { @id = Model.Id })"><i class="fa fa-pencil-square">&nbsp;Edit</i></a>
                                                </div>
                                                 <div class="pull-right" style="padding-right:10px;">
                                                     @*<input type="button" value="Back" onclick="goBack()">*@
                                                    <a href="#" class="btn btn-sm btn-primary" onclick="history.back(-1);">Back</a>
                                                </div>
                                         </h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3 col-sm-3 col-xs-6 school-detail-label-personalDetail ">
                                                Title
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-6 school-detail-text">
                                                @if (Model.TitleName != null)
                                                {
                                                    <span>@Model.TitleName</span>
                                                }
                                                else
                                                {
                                                    <span>&nbsp;</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    First Name
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.FirstName != null)
                                                    {
                                                        <span>@Model.FirstName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>

                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Last Name
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.LastName != null)
                                                    {
                                                        <span>@Model.LastName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>

                                            </div>


                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    <span>Middle Name</span>
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.MiddileName != null)
                                                    {
                                                        <span>@Model.MiddileName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Date Of Birth
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.Dob != null)
                                                    {
                                                        @Model.Dob.Value.ToFormattedDate()
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Email
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.Email != null)
                                                    {
                                                        <span>@Model.Email</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Date Of Admission
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.Doj != null)
                                                    {
                                                        @Model.Doj.Value.ToFormattedDate()
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Nationality
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.NationlityName != null)
                                                    {
                                                        <span>@Model.NationlityName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Religion
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.RelegionName != null)
                                                    {
                                                        <span>@Model.RelegionName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Category
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.RelegionCategoryName != null)
                                                    {
                                                        <span>@Model.RelegionCategoryName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-xs-6 no-padding">
                                                <div class="col-lg-6 col-xs-6 school-detail-label-personalDetail">
                                                    Gender
                                                </div>
                                                <div class="col-lg-6 col-xs-6 school-detail-text">
                                                    @if (Model.GenderName != null)
                                                    {
                                                        <span>@Model.GenderName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in responsive" id="mapping-tab">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 school-detail-label">
                                                <label>
                                                    <b><span>@Level.GetlabelName((int)LabelEnum.Class) Name</span>:</b>
                                                </label>

                                            </div>
                                            <div class="col-md-8 school-detail-text">
                                                <span>
                                                    @if (Model.ClassName != null)
                                                    {
                                                        <span>@Model.ClassName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 school-detail-label">
                                                <label>
                                                    <b><span>@Level.GetlabelName((int)LabelEnum.Batch) Name</span>:</b>
                                                </label>

                                            </div>
                                            <div class="col-md-8 school-detail-text">
                                                <span>
                                                    @if (Model.SectionName != null)
                                                    {
                                                        <span>@Model.SectionName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 school-detail-label">
                                                <label>
                                                    <b><span>Session Name</span>:</b>
                                                </label>

                                            </div>
                                            <div class="col-md-8 school-detail-text">
                                                <span>
                                                    @if (Model.SessionName != null)
                                                    {
                                                        <span>@Model.SessionName</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 school-detail-label">
                                                <label>
                                                    <b><span>Student Code</span>:</b>
                                                </label>

                                            </div>
                                            <div class="col-md-8 school-detail-text">
                                                <span>
                                                    @if (Model.StudentCode != null)
                                                    {
                                                        <span>@Model.StudentCode</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&nbsp;</span>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade in  responsive" id="guardians-tab">
                                    <section class="panel panel-default scrollable">
                                        <header class="panel-heading font-bold">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Parents
                                                </div>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Father Name</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        <span>
                                                            @if (Model.FatherName != null)
                                                            {
                                                                <span>@Model.FatherName</span>
                                                            }
                                                            else
                                                            {
                                                                <span>&nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Mother Name</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        <span>
                                                            @if (Model.MotherName != null)
                                                            {
                                                                <span>@Model.MotherName</span>
                                                            }
                                                            else
                                                            {
                                                                <span>&nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Mobile Number</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        <span>
                                                            @if (Model.ParentMobileNumber != null)
                                                            {
                                                                <span>@Model.ParentMobileNumber</span>
                                                            }
                                                            else
                                                            {
                                                                <span>&nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Contact Number</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        <span>
                                                            @if (Model.ParentContactNo != null)
                                                            {
                                                                <span>@Model.ParentContactNo</span>
                                                            }
                                                            else
                                                            {
                                                                <span>&nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="panel panel-default scrollable">
                                        <header class="panel-heading font-bold">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Guardian
                                                </div>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Gaurdian Name</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        <span>
                                                            @if (Model.GuardianName != null)
                                                            {
                                                                <span>@Model.GuardianName</span>
                                                            }
                                                            else
                                                            {
                                                                <span>&nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Relation</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        <span>

                                                            @if (Model.GuardianRelation != null)
                                                            {
                                                                <span>@Model.GuardianRelation</span>
                                                            }
                                                            else
                                                            {
                                                                <span>&nbsp;</span>
                                                            }

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Occupation</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.GuardianOccupation != null)
                                                        {
                                                            <span>@Model.GuardianOccupation</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Address</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.GuardianAddress != null)
                                                        {
                                                            <span>@Model.GuardianAddress</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Mobile Number</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.GuardianMobile != null)
                                                        {
                                                            <span>@Model.GuardianMobile</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="tab-pane fade in  responsive" id="address-tab">
                                    <section class="panel panel-default scrollable">
                                        <header class="panel-heading font-bold">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Current Address
                                                </div>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Address</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.CuurentAddress != null)
                                                        {
                                                            <span>@Model.CuurentAddress</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>State</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.CurrentStateName != null)
                                                        {
                                                            <span>@Model.CurrentStateName</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>City</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.CurrentCityName != null)
                                                        {
                                                            <span>@Model.CurrentCityName</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Pin Code</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.CurrentPinCode != null)
                                                        {
                                                            <span>@Model.CurrentPinCode</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="panel panel-default scrollable">
                                        <header class="panel-heading font-bold">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Permanent Address
                                                </div>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>Address</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.PermanentAddress != null)
                                                        {
                                                            <span>@Model.PermanentAddress</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>State</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.PermanentStateName != null)
                                                        {
                                                            <span>@Model.PermanentStateName</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>City</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.PermanentCityName != null)
                                                        {
                                                            <span>@Model.PermanentCityName</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 school-detail-label">
                                                        <label>
                                                            <b><span>PinCode</span>:</b>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-8 school-detail-text">
                                                        @if (Model.PermanentPinCode != null)
                                                        {
                                                            <span>@Model.PermanentPinCode</span>
                                                        }
                                                        else
                                                        {
                                                            <span>&nbsp;</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <div class="tab-pane fade in  responsive" id="fee-tab">
                                     <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("From Month")
                                        @Html.DropDownListFor(m => m.FromMonthId, new SelectList(Model.ListOfFromMonths, "Id", "Name"), "Please Select", new { @id = "FromMonth", @class = "form-control " })
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-4 col-xs-3">
                                        @Html.Label("To Month")
                                        @Html.DropDownListFor(m => m.ToMonthId, new SelectList(Model.ListOfToMonths, "Id", "Name"), "Please Select", new { @id = "ToMonth", @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 25px">
                                        <button id="btnGetFeeTransactionForTran" type="button" class="btn btn-lightGreen btn-s-xs">
                                            Get Transactions
                                        </button>
                                    </div>
                                       <div id="TransactionListById">
                                 </div>                              
                                </div>
                                 
                                  <div class="tab-pane fade in  responsive" id="Attendance-tab">
                                     <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("From Month")
                                        @Html.DropDownListFor(m => m.FromMonthId, new SelectList(Model.ListOfFromMonths, "Id", "Name"), "Please Select", new { @id = "FromMonthForAtt", @class = "form-control " })
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-4 col-xs-3">
                                        @Html.Label("To Month")
                                        @Html.DropDownListFor(m => m.ToMonthId, new SelectList(Model.ListOfToMonths, "Id", "Name"), "Please Select", new { @id = "ToMonthForAtt", @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 25px">
                                        <button id="btnGetAttendanceForAtt" type="button" class="btn btn-lightGreen btn-s-xs">
                                            Get Attendance
                                        </button>
                                    </div>
                                       <div id="AttendanceListById">
                                 </div>                              
                                </div>
                                 
                           </div>
                            
                        }
                    </div>
                </div>
            </div>
        </section>
        
    }

</section>

<link href="~/Content/css/MyStyle.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnGetFeeTransactionForTran").click(function () {
            debugger;
            if ($("#FromMonth option:selected").val() != "" && $("#ToMonth option:selected").val()!="") {
                getTransactionByStudentId(@Model.Id)
            }
        })
    });

    function goBack() {
        debugger;
        window.location.href = window.history.back(1);
    }

    function getTransactionByStudentId(studentId) {
        debugger;
        $("#TransactionListById").html("");
               $.ajax({
            type: 'post',
            url: '@Url.Action("GetFeeTransactionDetailForProfile", "Student")',
                datatype: 'html',
                data: { fromMonth: $("#FromMonth option:selected").val(), toMonth: $("#ToMonth option:selected").val(),studentId:studentId },
                success: function (data) {
                    $("#TransactionListById").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
    }
    $(document).ready(function () {
        $("#btnGetAttendanceForAtt").click(function () {
            debugger;
            if ($("#FromMonthForAtt option:selected").val() != "" && $("#ToMonthForAtt option:selected").val() != "") {
                getAttendanceByStudentId(@Model.Id)
                }
        })
      });

        function goBack() {
            debugger;
            window.location.href = window.history.back(1);
        }

        function getAttendanceByStudentId(studentId) {
            debugger;
            $("#AttendanceListById").html("");
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetAttendanceForProfile", "Student")',
            datatype: 'html',
            data: { fromMonth: $("#FromMonthForAtt option:selected").val(), toMonth: $("#ToMonthForAtt option:selected").val(), studentId: studentId },
            success: function (data) {
                $("#AttendanceListById").html(data);
            },
            error: function (ex) {
                toastr.error('Failed to retrieve students.' + ex);
            }
               });
    }
</script>