﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.SectionBo


<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update  @Level.GetlabelName((int)LabelEnum.Batch) </span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Section", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "editsection" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m=>m.Id)
                        <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.</p>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="form-group col-md-12">
                                @Html.Label("Name")<span class="text-danger">*</span> 
                                @Html.TextBoxFor(u => u.Name, new {@id="SectionName", @class = "form-control", maxlength = "100", data_parsley_required = "true", data_parsley_error_message = "Please enter section name" })
                            </div>
                            
                          @if (SessionItems.IsSuperAdmin)
                            {
                                <div class="form-group col-md-12">
                                    @Level.GetlabelName((int)LabelEnum.School)
                                    @Html.DropDownListFor(m => m.SchoolId,new SelectList(Model.SchoolList, "Value", "Text"), new { @class = "form-control chosen-select" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-12">
                                    @Html.HiddenFor(m => m.SchoolId)
                                </div>
                            }

                            <div class="form-group col-md-12">
                                   <label>Select @Level.GetlabelName((int)LabelEnum.Class)</label>
                                @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), new { @class = "form-control chosen-select" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="editAddSection" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script type="text/javascript">
    //$(document).ready(function() {
    //    $("#SectionName").keypress(function (key) {
    //        var text = isValidText(key.charCode);
    //        if (!text) {
    //            toastr.error("Please enter only text");
    //            return false;
    //        }
    //    });
    //})
    function validateForm() {
        $('#editsection').parsley().validate();
        if ($('#editsection').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Edit", "Section")',
                data: $("#editsection").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Section")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>