﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model  EduErp.BO.OnlineExamTestSubjectBo
<div class="modal fade in" id="addOnlineTestModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="OnlineTestModalTitle"> Add OnlineTestSubject</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Add", "OnlineTestSubject", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "addOnline" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix"> 
                            <div class ="row">
                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                              @*  @Html.LabelFor(m => m.SubjectName)&nbsp;<span class="text-danger">*</span>*@
                                @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.SubjectName, new { @id="SubjectName",@class = "form-control",maxlength="20", data_parsley_required = "true", data_parsley_error_message = "Please Enter Subject Name" })
                            </div>
                           
                           
                             </div>
                            
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddOnlineTest" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                            <i class="fa fa-save"></i>&nbsp; Save
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-2.1.3.min.js"></script>
<script src="~/Content/js/parsley/parsley.min.js"></script>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/bootstrap-timepicker.min.js"></script>
<link href="~/Content/js/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
<script type="text/javascript">
    $("#SubjectName").keypress(function (key) {
        var text = isValidText(key.charCode);
        if (!text) {
            toastr.error("Please enter only text");
            return false;
        }
    });

    function saveForm() {
        debugger;
        $('#addOnline').parsley().validate();
        if ($('#addOnline').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "OnlineTestSubject")',
                data: $("#addOnline").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OnlineTestSubject")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
    

</script>
