﻿
@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.OnlineExamTestSubjectBo


<div class="modal fade in" id="addFranchiseModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    <span id="franchiseModalTitle">Update @Level.GetlabelName((int)LabelEnum.OnlineTestSubject)</span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "OnlineTestSubject", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "editclass" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class ="row">
                            <div class=" form-group col-md-6 col-sm-6 col-xs-6">
                                
                                @Html.Label("Subject Name")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.SubjectName, new { @class = "form-control", data_parsley_required = "true",maxlength="100" ,data_parsley_error_message = "Please enter name" })
                            </div>
                       
                           </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnEditClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="validateForm();">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>
                        <a data-dismiss="modal" class="btn btn-default btn-s-xs" href="#">Cancel</a>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script type="text/javascript">

    function validateForm() {
        debugger;
        $('#editclass').parsley().validate();
        if ($('#editclass').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url:'@Url.Action("Edit","OnlineTestSubject")',
                data: $("#editclass").serialize(),
                type:'post',
                headers:headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "OnlineTestSubject")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
