﻿@model EduErp.Web.Models.ChangePasswordVM
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Change Password");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Change Password
            </div>
        </div>
    </header>
    @if (TempData["ChangedSuccess"] != null)
    {
        <div class="container margin-30 aside-xl m-t-lg">
            <div class="greenBlock top10">
                <span class="text-white">@TempData["ChangedSuccess"]</span>
            </div>
        </div>
    }
    else
    {
        <div class="container aside-xl m-t-lg">
            @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { data_validate = "parsley", @id = "ChangePassword" }))
            {
                @Html.AntiForgeryToken()
                <section class="m-b-lg">
                    <section class="panel panel-default box-shadow b-2x">
                        <header class="panel-heading">Change Password</header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Label("Current Password")
                                    @Html.PasswordFor(model => model.OldPassword, new { @class = "w350 form-control" })
                                </div>
                                <div class=" col-md-12">
                                    @Html.Label("New Password")
                                    @Html.PasswordFor(model => model.Password, new { @class = "w350 form-control" })
                                </div>
                                <div class="col-md-12">
                                    @Html.Label("Re-Type New Password")
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "w350 form-control" })
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer text-center bg-white">
                            <input type="submit" value="Save Changes" class="btn btn-lightGreen">
                        </footer>

                    </section>
                </section>
          <div class="text-center m-t m-b">
            @Html.ValidationSummary()
        </div>
            }
        </div>
        
    }
</section>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    function saveForm() {
        debugger;
        $('#ChangePassword').parsley().validate();
        if ($('#ChangePassword').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                data: $("#ChangePassword").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Login", "Account")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>

