﻿@model EduErp.Web.Models.ForgotPasswordVM
@using EduErp.BO
@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = PageTitle.Create("Forgot Password");
                    // Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/css/MyStyle.css" rel="stylesheet" />*@
@*<script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>*@
@*<div class="left">
    <h2>Forgot Password
    </h2>
</div>*@
@*<div class="clear">
</div>*@
<div class="modal fade in" id="addClassModal" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="ClassModalTitle">Forgot Password</span>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, new {data_validate = "parsley", @id = "forgetPasswordModal"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class="top2">
                                <div class="fontsize25">
                                    Account Help
                                </div>
                                <div class="fontsize15">
                                    Get a verification code
                                </div>
                                <div class="form-group ContainerRadioButton">
                                    <div class=" col-md-6 col-sm-6 col-xs-6 radio-class">
                                        @Html.RadioButtonFor(m => m.VerificationTypeId, (int) VerificationType.Sms, new {@id = "SmsType"}) @Html.Label("SMS")
                                       @*<span class="checkmark"></span>*@
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 radio-class">
                                    @Html.RadioButtonFor(m => m.VerificationTypeId, (int) VerificationType.Email, new {@id = "EmailType"}) @Html.Label("Email")
                                        @*<span class="checkmark"></span>*@
                                    </div>
                               </div>
                            </div>
                            <div class="top20" id="EmailTextBox">
                                <div class="bottom10">
                                    Please provide your registered email address and we will send you the password retrieval
                                    link.
                                </div>
                                <div class="form-group">
                                    @Html.Label("Email Address")
                                    @Html.TextBoxFor(model => model.Email, new {@class = "form-control", type = "email",@placeholder="Enter your registered email"})
                                </div>
                                <div>
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                            <div class="top20" id="SmsTextBox">
                                <div class="bottom10">
                                    Please provide your registered mobile number and we will send you verification code.
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mobile Number")
                                    @Html.TextBoxFor(model => model.MobileNumber, new {@class = "form-control", type = "number",@placeholder="Enter your 10 digit registered mobile number"})
                                </div>
                                <div>
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="btnAddClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                            <i class="fa fa-save"></i>&nbsp;Submit
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SmsTextBox").hide();
        $("#EmailTextBox").hide();
        $("#SmsType").click(function () {
            $("#SmsTextBox").show();
            $("#EmailTextBox").hide();
            $('#MobileNumber').attr('data-parsley-required', 'true');
        });
        $("#EmailType").click(function () {
            $("#EmailTextBox").show();
            $("#SmsTextBox").hide();
            $('#Email').attr('data-parsley-required', 'true');
        });
    });
    function saveForm() {
        debugger;
        $('#forgetPasswordModal').parsley().validate();
        if ($('#forgetPasswordModal').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("ForgotPassword", "Account")',
                data: $("#forgetPasswordModal").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = data.errMsg; //'@Url.Action("ForgotPasswordLinkSent", "Account")' + '?email=' + $("#Email").val() + '&verificationTypeId=' + $("input[name=VerificationTypeId]").val();
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>

