﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.Web.Models.ForgotPasswordVM

@{
    ViewBag.Title = PageTitle.Create("Forgot Password");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
@if (Model.VerificationTypeId == (int)VerificationType.Sms)
{
    <div class="m-t">
        A text message with a 6-digit verification code was just sent to to your registered number.
            <div class="clear">
            </div>
        <div>
            The OTP is valid only for 10 minutes from now.
        </div>
        <div class="container aside-xl m-t-lg">
            @using (Html.BeginForm("ForgotPasswordLinkSent", "Account", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.VerificationTypeId)
                <section class="m-b-lg">
                    <section class="panel panel-default box-shadow b-2x">
                        <header class="panel-heading">Verify OTP</header>
                        <div class="panel-body">
                            <div class="form-group">
                                <div>
                                    @Html.Label("Enter OTP")
                                </div>
                                <div>
                                    @Html.TextBoxFor(m => m.Otp, new { @placeholder = "xxxxxx", type = "number" })
                                </div>
                            </div>
                            <input type="submit" value="Submit" class="btn  btn-primary">
                        </div>
                    </section>
                </section>
                <div class="text-center m-t m-b">
                    @Html.ValidationSummary()
                </div>
            }

        </div>

    </div>
}
else
{
    <div class="left top10 greenBlock">
        <div>
            A forgot retrieval mail has been sent to the registered email address
            @if (Model.Email!=null)
            {
                <span>
                 @Model.Email
                </span>
            }

        </div>
        <div class="clear">
        </div>
        <div>
            Please click on the link provided in the mail to create a new password.
        </div>
        <div class="clear">
        </div>
        <div>
            The link is valid only for next 1 day (24 hrs) from now.
        </div>
    </div>
       
}