﻿@using EduErp.Mvc.Utilities
@model EduErp.Web.Models.LoginVM
@{
    ViewBag.Title = PageTitle.Create("Login");
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.unotrusive.min.js" type="text/javascript"></script>
<section id="content" class="animated fadeInUp">
    <div class="text-center m-t-lg">
        <img src="~/Content/Images/Logo.png" class="m-t-sm" alt="EduErp" />
        @*<h2>EduErp</h2>*@
    </div>
    <div class="container aside-xl m-t-lg">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["redirect"] }))
        {
            @Html.AntiForgeryToken()
            <section class="m-b-lg">
                <section class="panel panel-default box-shadow b-2x">
                    <header class="panel-heading">Login</header>
                    <div class="panel-body">
                        <div class="list-group">
                            @Html.TextBoxFor(a => a.Username, new { placeholder = "user id", Class = "form-control m-t-sm", id = "txtUsername" })
                            @Html.PasswordFor(a => a.Password, new { placeholder = "password", Class = "form-control m-t-sm", id = "txtPassword" })
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">
                            Sign in
                        </button>
                        <div class="text-center m-t m-b">
                            @Html.ValidationSummary()
                        </div>
                        <div class="text-center m-t">
                            <small style="font-size: 11px">   <span class="text-black">Did you</span> <a href="@Url.Action("ForgotPassword","Account")" ajax-modal="ajaxModal" class="text-primary-dk">forgot your password</a> <span class="text-black">?</span> </small>
                        </div>
                    </div>
                </section>
            </section>
        }
    </div>
</section>
<!--Chat Window -->
@*<script type="text/javascript">
    var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
        {widgetcode:"99b5e5ee580a512952804e6e6bc61faa21c708edd43b0b0d9609f87e0221e0265ffbf27a32e5c40e89632ecc35114dbc", values:{},ready:function(){}};
    var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
    s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>*@
<!--Chat Window -->