﻿@using EduErp.Mvc.Utilities
@model EduErp.Web.Models.RetrievePasswordVM
@{
    ViewBag.Title = PageTitle.Create("Retrieve Password");
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    var isInvalidRequestData = ViewData["IsInvalidRequest"] != null ? ViewData["IsInvalidRequest"].ToString() : String.Empty;
    var isInvalidRequest = false;
    if (!string.IsNullOrEmpty(isInvalidRequestData))
    {
        bool.TryParse(isInvalidRequestData, out isInvalidRequest);
    }

    var isPasswordCreatedData = ViewData["IsPasswordCreated"] != null ? ViewData["IsPasswordCreated"].ToString() : String.Empty;
    var isPasswordCreated = false;
    if (!string.IsNullOrEmpty(isPasswordCreatedData))
    {
        bool.TryParse(isPasswordCreatedData, out isPasswordCreated);
    }
}
<script src="~/Content/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<div class="left">
    <h2>Retrieve Password
    </h2>
</div>
<div class="clear">
</div>
@if (isInvalidRequest)
{
    <div class="redBlock top10">
        This is an invalid request
    </div>
}
else
{
    if (isPasswordCreated)
    {
    <div>
        <div class="left greenBlock top10">
            Your Password has been created successfully
        </div>
        <div class="clear">
        </div>
        <div class="top10">
            @Html.ActionLink("Please click here to login", "Login", "Account", new { @class = "blueanchor" })
        </div>
    </div>
    }
    else
    {
    <div class="container aside-xl m-t-lg">
        @using (Html.BeginForm("RetrievePassword", "Account", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a=>a.UserId)
            <section class="m-b-lg">
                <section class="panel panel-default box-shadow b-2x">
                    <header class="panel-heading">Retrieve Password</header>
                    <div class="panel-body">
                        <div class="col-md-12">
                            @Html.Label(" Password")
                            @Html.PasswordFor(model => model.Password, new { @class = "w350 form-control" })
                        </div>
                        <div class=" col-md-12">
                            @Html.Label("Confirm Password")
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "w350 form-control" })
                        </div>
                    </div>
                    <footer class="panel-footer bg-white lter">
                        <input type="submit" value="Save Changes" class="btn btn-lightGreen">
                    </footer>
                    </section>
            </section>
            <div class="text-center m-t m-b">
                @Html.ValidationSummary()
            </div>
        }
    </div>
    }
}
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
