﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model  EduErp.BO.EmployeeTypeMaster
<div class="modal fade in" id="addClassModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="ClassModalTitle"> Add New Employee Type</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Add", "EmployeeType", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "addEmployeeType" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                  <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="panel-body">
                        <div class=" pull-in clearfix">
                            <div class=" form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Employee Type")&nbsp;<span class="text-danger">*</span>
                                @Html.TextBoxFor(m => m.EmployeeName, new {@id="EmployeeType", @class = "form-control",maxlength="50", data_parsley_required = "true", data_parsley_error_message = "Enter employee type" })
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Html.Label("Grade")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(m => m.EmployeeGrade, new {@id="EmployeeGrade",maxlength="50", @class = "form-control",data_parsley_required = "true", data_parsley_error_message = "Enter Grade"})
                                   
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddEmployeeType" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                            <i class="fa fa-save"></i>&nbsp; Save
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#EmployeeType").keypress(function (key) {
        debugger;
        var text = isValidText(key.charCode);
        if (!text) {
            toastr.error("Please enter only text");
            return false;
        }
    });
    $("#EmployeeGrade").keypress(function (key) {
        var text = isValidText(key.charCode);
        if (!text) {
            toastr.error("Please enter only text");
            return false;
        }
    });
    
    function saveForm() {
        debugger;
        $('#addEmployeeType').parsley().validate();
        if ($('#addEmployeeType').parsley().isValid()) {

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "EmployeeType")',
                data: $("#addEmployeeType").serialize(),
                type: 'post',
                header: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "EmployeeType")';
                }
            });

        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

</script>
