﻿@model List<EduErp.BO.EmployeeTypeBo>
@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<header class="panel-heading font-bold b-light">
    Employee Type(s)
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.EmployeeType) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
     {
         <a href="@Url.Action("Add", "EmployeeType")" class="btn-sm btn-primary pull-right" ajax-modal="ajaxModal"><i class="fa fa-plus"></i>&nbsp;Add Employee Type</a>
     }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped " title="Employee Type" exportcolumn="0,1,2,3,4" visiblecolumn="0,1,2,3,4,5,6" lastunsortcount="2">
                        <thead class="bg-primary">
                            <tr class="active text-white">
                                <th class="text-center" title="Employee Type">Employee Type
                                </th>
                                @*<th class="text-center">@Level.GetlabelName((int)LabelEnum.School) Name 
                                </th>*@
                                <th class="text-center" title="Grade">Grade
                                </th>
                                <th class="text-center" title="Status">Status
                                </th>
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.EmployeeType) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                    <th class="text-center" title="Action">
                                        Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td class="text-center">
                                        @item.EmployeeName
                                    </td>
@*                                    <td class="text-center">
                                        @item.SchoolName
                                    </td>*@
                                    <td class="text-center">
                                        @item.EmployeeGrade
                                    </td>
                                  <td class="text-center">
                                        <span class="hidden">@item.StatusId</span>
                                        <div id="btn_@item.Id">
                                            <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active " : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click To Deactivate" : "Click To Activate")" data-container="body" data-toggle="tooltip"
                                                    id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.StatusId == (int)UserStatus.Active ? "Deactivate Employee Type" : "Activate Employee Type ?")', '@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to Deactivate Employee Type ?" : "Are you sure you want to Activate Employee Type ?")', '@item.Id', '@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                                <i class="fa @(item.StatusId== (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger") "></i>
                                                <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId== (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                            </button>
                                        </div>
                                    </td>

@*                                    <td class="text-center">
                                        @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.EmployeeType) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                        {
                                            <a href="@Url.Action("Edit", "EmployeeType", new {@id = item.Id})" id="btnModalOpen" title="Edit" data-placement="top" data-container="body" ajax-modal="ajaxModal">
                                                <i class="fa fa-edit icon"></i>&nbsp;Edit
                                            </a>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.EmployeeType) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                        {
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int) UserStatus.Deleted)') ">
                                                <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                            </a>
                                        }
                                    </td>*@
                                    <td class="text-center">
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.EmployeeType) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                        {
                                            <a href="@Url.Action("Edit", "EmployeeType", new {@id = item.Id})" id="btnModalOpen" title="Edit" data-placement="top" data-container="body" ajax-modal="ajaxModal">
                                                <i class="fa fa-edit icon"></i>
                                            </a>
                                        }
                                        &nbsp;
                                         @if ((SessionItems.UserRights.Any(a => a.MenuId == (int) MenuMasters.EmployeeType) && SessionItems.UserRights.Any(a => a.RightId == (int) Right.Write)) && (item.StatusId == (int) UserStatus.Active))
                                        {
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int) UserStatus.Deleted)') ">
                                                <i class="fa fa-trash-o text-danger"></i>
                                            </a>
                                        }
                                    </td>
                                   </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, status) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "EmployeeType")',
            data: { Id: id, status: status, "__RequestVerificationToken": token },
            type: 'post',
            success: function () {
                //toastr.success(data);
                location.reload();
            }
        });
    }
</script>