﻿@using EduErp.Web.Utilities
@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.SchoolBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add  @Level.GetlabelName((int)LabelEnum.School)
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "School", FormMethod.Post, new {enctype = "multipart/form-data", data_validate = "parsley", id = "addSchoolForm"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>

        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4 col-sm-4">
                            <div class=" form-group col-md-6 col-sm-6 text-center">
                                <a href="@Url.Action("ProfilePicture", "School", new {userId = Model.Id})" ajax-modal="ajaxModal" style="display: block; position: relative;">
                                    <img id="schoolProfilePic" src="@(Model.S3key == Guid.Empty ? Url.Content("~/Content/images/gravator.png") : CommonUtil.GetUrlByKey("School/" + Model.S3key))" alt="..." class="img-thumbnail m-b text-center img-circle" height="120" width="120"/></a>
                                <a id="DeleteSchoolPic" class="fa fa-trash-o text-danger" href="javascript:void(0)" data-placement="bottom" data-toggle="" title="Delete" onclick=" deleteConfirmation(removeSchoolProfileImage); "
                                   @(Model.S3key == Guid.Empty ? "style=display:none;" : "")></a>
                                @Html.HiddenFor(a => a.S3key)
                            </div>
                        </div>
                        <div class="form-group col-md-8 col-sm-8">
                            <div class="row">

                                <div class="form-group col-md-6">
                                    @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(u => u.Name, new {@id = "SchoolName", @class = "form-control ", type = "string", maxlength = "200", data_parsley_required = "true", data_parsley_error_message = "Please enter school name"})
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.Label("Code")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(u => u.Code, new {@class = "form-control", type = "number", data_parsley_required = "true", data_parsley_error_message = "Please enter code"})
                                </div>
                                <div class=" form-group col-md-6">
                                   <label><b>Parent @Level.GetlabelName((int)LabelEnum.School)</b></label>
                                    @Html.DropDownListFor(m => m.ParentSchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), "None", new {@class = "form-control"})
                                </div>
                                <div class=" form-group col-md-6">
                                    @Html.Label("Institute Type")
                                    @Html.DropDownListFor(m => m.InstituteTypeId, new SelectList(Model.ListOfInstituteType, "Id", "Name"), "Please Select", new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Address1")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.Address1, new {@class = "form-control", maxlength = "250", type = "alphanum", data_parsley_required = "true", data_parsley_error_message = "Please enter address"})
                        </div>

                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Address2")
                            @Html.TextBoxFor(u => u.Address2, new {@class = "form-control", maxlength = "250", data_parsley_required = "false"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("State")
                            @Html.DropDownListFor(u => u.StateId, new SelectList(Model.ListOfStates, "Value", "Text"), "Select State", new {id = "State", @class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("City")&nbsp;<span class="text-danger">*</span>
                            <select id="City" class="form-control" required></select>
                            @Html.HiddenFor(a => a.CityId, new {@id = "CityId"})
                        </div>

                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("PIN Code")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.Pin, new {@class = "form-control", type = "number", maxlength = "6", minlength = "6", data_parsley_required = "true", data_parsley_error_message = "Please enter pin  code"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("ContactNo")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.ContactNo, new {@class = "form-control", type = "number", maxlength = "10", minlength = "10", data_parsley_required = "true", data_parsley_error_message = "Please enter Contact No"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Owner Name")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.OwnerName, new {@id = "OwnerName", @class = "form-control", maxlength = "150", type = "string", data_parsley_required = "true", data_parsley_error_message = "Please enter owner name"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Plan Type")
                            @Html.DropDownListFor(a => a.PlanTypeId, new SelectList(Model.PlanTypeList, "Id", "Name"), "Please Select", new {@id="PlanType",@class = "form-control"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Plan")
                            <select class="form-control" id="Plan"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Start Date")
                            @Html.TextBoxFor(u => u.StartDate, new {@id = "StartDate", @class = "form-control datepicker-input"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("End Date")
                            @Html.TextBoxFor(u => u.EndDate, new {@id = "EndDate", @class = "form-control datepicker-input"})
                        </div>
                        <div class=" form-group col-md-4 col-sm-4 col-xs-4" style="padding-top: 23px">
                            <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add Plan</button>
                        </div>
                    </div>
                </div>
                <div class="row scrollable" style="max-height: 250px;">
                    <div class=" col-md-12 col-sm-12">
                        <table class="table table-striped responsive" id="AddList">
                            <thead>
                            <tr>
                                <th class="text-center">Start Date</th>
                                <th class="text-center">End Date</th>
                                <th class="text-center">Plan Name</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="StartDate" class="text-center"></td>
                                <td id="EndDate" class="text-center"></td>
                                <td id="PlanName" class="text-center"></td>
                                <td id="Delete" class="text-center"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <input id="btnAddSchool" type="submit" value="Save" class=" btn btn-s-md btn-lightGreen" onclick=" return $('#addSchoolForm').parsley().validate() ">
            @*<button id="btnAddSchool" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>*@
            <a href="@Url.Action("Index", "School")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/aws-sdk-2.1.12.min.js"></script>
<script src="~/Content/js/FileUpload.js"></script>
<script type="text/javascript">
    var counter = 0;
    var _guid = '';
    $(document).ready(function () {
        $("#State").change(function () {
            debugger;
            $("#City").empty();
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetCityList")', // we are calling json method
                dataType: 'json',
                data: { stateId: $("#State").val() },
                success: function (states) {
                    $.each(states, function (i, state) {

                        $("#City").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        $("#CityId").val($("#City").val());
                    });
                    $("#City option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                    $('#City option[value=""]').prop('selected', true);
                },
                error: function (ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
            return false;
        });
        $("#PlanType").change(function () {
            debugger;
            $("#Plan").empty();
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetPlanList")', // we are calling json method
                dataType: 'json',
                data: { planTypeId: $("#PlanType").val() },
                success: function (states) {
                    $.each(states, function (i, state) {

                        $("#Plan").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        $("#PlanId").val($("#Plan").val());
                    });
                    $("#Plan option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                    $('#Plan option[value=""]').prop('selected', true);
                },
                error: function (ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
            return false;
        });
        _guid = guid();
        $('#S3key').val(_guid);
        $("#SchoolName").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#OwnerName").keypress(function (key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });

        //FOR SEARCH BOX IN DROPDOWN
        $('.chosen-select').chosen({
            search_contains: true
        });

        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true

        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');
        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteContact", function () {
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function () {
            if ($("#PlanType option:selected").val() != 0 && $("#Plan option:selected").val() != 0) {
                $("#btnAddSchool").prop('disabled', false);
                addRow();
            } else { 
                toastr.error("Please Select Plan Type and  Plan name");
            }
        });
    });
    //Disable add button bydefault
    $("#btnAddSchool").prop('disabled', true);
    //ADD ROW IN MAPPING GRID
    function addRow() {
        debugger;
        var html = '<tr>' + '<td class="text-center">' + $("#StartDate").val() + '<input type="hidden" value="' + $("#StartDate").val() + '" name="PlanMappingList[' + counter + '].StartDate" id="PlanMappingList_' + counter + '__StartDate"' +
            '</td>' + '<td class="text-center">' + $("#EndDate").val() + '<input type="hidden" value="' + $("#EndDate").val() + '" name="PlanMappingList[' + counter + '].EndDate" id="PlanMappingList_' + counter + '__EndDate"' +
            '</td>' + '<td class="text-center">' + $("#Plan option:selected").text() + '<input type="hidden" value="' + $("#Plan option:selected").val() + '" name="PlanMappingList[' + counter + '].PlanId" id="PlanMappingList_' + counter + '__PlanId"' +
            '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        counter++;
    }
    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageId')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    @*    function saveForm() {
        debugger;
        $('#addSchoolForm').parsley().validate();

        if ($('#addSchoolForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $("#CityId").val($("#City").val());
            $.ajax({
                url: '@Url.Action("Add", "School")',
                data: $("#addSchoolForm").serialize(),
                type: 'post',
                headers: headers,
                success: function(data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "School")';
                }
            });
        } else {
            toastr.error("Mandatory fields are required");
        }
    }*@


</script>



























