﻿@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@using EduErp.BO
@model EduErp.BO.SchoolBo
@{
    ViewBag.Title = PageTitle.Create("School-Edit");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
    count = Model.PlanMappingList != null ? Model.PlanMappingList.Count : 0;
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Update  @Level.GetlabelName((int)LabelEnum.School)
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "School", FormMethod.Post, new {data_validate = "parsley", id = "editSchoolForm", enctype = "Multipart/Form-data"}))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>
        <div class="panel-body">
            <div class=" pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <a href="@Url.Action("ProfilePicture", "School", new {userId = Model.Id})" ajax-modal="ajaxModal" style="display: block; position: relative;">
                                <img id="schoolProfilePic" src="@(Model.S3key == Guid.Empty ? Url.Content("~/Content/images/gravator.png") : CommonUtil.GetUrlByKey("School/" + Model.S3key))" alt="..." class="img-thumbnail m-b text-center img-circle" height="120" width="120"/></a>
                            <a id="DeleteSchoolPic" class="fa fa-trash-o text-danger" href="javascript:void(0)" data-placement="bottom" data-toggle="" title="Delete" onclick=" deleteConfirmation(removeSchoolProfileImage); "
                               @(Model.S3key == Guid.Empty ? "style=display:none;" : "")></a>
                            @Html.HiddenFor(a => a.S3key)
                        </div>
                        <div class="form-group col-md-8 col-sm-8">

                            <div class="row">

                                <div class=" form-group col-md-6">
                                    @Html.Label("Name")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(u => u.Name, new {@id = "SchoolName", @class = "form-control", type = "string", maxlength = "200", data_parsley_required = "true", data_parsley_error_message = "Please enter school name"})
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.Label("Code")&nbsp;<span class="text-danger">*</span>
                                    @Html.TextBoxFor(u => u.Code, new {@class = "form-control", type = "number", data_parsley_required = "true", data_parsley_error_message = "Please enter code"})
                                </div>
                                <div class=" form-group col-md-6">
                                    Parent @Level.GetlabelName((int)LabelEnum.School)
                                    @Html.DropDownListFor(m => m.ParentSchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), "None", new {@class = "form-control"})
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.Label("Institute Type")
                                    @Html.DropDownListFor(m => m.InstituteTypeId, new SelectList(Model.ListOfInstituteType, "Id", "Name"), "Please Select", new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Address1")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.Address1, new {@class = "form-control", maxlength = "250", type = "alphanum", data_parsley_required = "true", data_parsley_error_message = "Please enter address"})
                        </div>

                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Address2")
                            @Html.TextBoxFor(u => u.Address2, new {@class = "form-control", maxlength = "250", data_parsley_required = "false"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("State")
                            @Html.DropDownListFor(u => u.StateId, new SelectList(Model.ListOfStates, "Value", "Text"), "Select State", new {id = "State", @class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("City")
                            <select id="City" class="form-control" required></select>
                            @Html.HiddenFor(a => a.CityId, new {@id = "CityId"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("PIN Code")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.Pin, new {@class = "form-control", type = "number", maxlenth = "6", minlength = "6", data_parsley_required = "true", data_parsley_error_message = "Please enter pin"})
                        </div>

                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("ContactNo")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.ContactNo, new {@class = "form-control", type = "number", maxlength = "10", min = "10", data_parsley_required = "true", data_parsley_error_message = "Please enter Contact No"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Owner Name")&nbsp;<span class="text-danger">*</span>
                            @Html.TextBoxFor(u => u.OwnerName, new {@id = "OwnerName", @class = "form-control", maxlength = "150", type = "string", data_parsley_required = "true", data_parsley_error_message = "Please enter owner name"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Plan Type")
                            @Html.DropDownListFor(a => a.PlanTypeId, new SelectList(Model.PlanTypeList, "Id", "Name"), "Please Select", new {@id = "PlanType", @class = "form-control"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Plan")
                            <select class="form-control" id="Plan"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Start Date")
                            @Html.TextBoxFor(u => u.StartDate, new {@id = "StartDate", @class = "form-control datepicker-input"})
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("End Date")
                            @Html.TextBoxFor(u => u.EndDate, new {@id = "EndDate", @class = "form-control datepicker-input"})
                        </div>
                        <div class=" form-group col-md-4 col-sm-4 col-xs-4" style="padding-top: 23px">
                            <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add Plan</button>
                        </div>
                    </div>
                </div>
                <div class="row scrollable" style="max-height: 250px;">
                    @if (Model.PlanMappingList != null)
                    {

                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="AddList">
                                <thead>
                                <tr>
                                    <th class="text-center">Start Date</th>
                                    <th class="text-center">End Date</th>
                                    <th class="text-center">Plan Name</th>
                                    <th class="text-center">Delete</th>

                                </tr>
                                </thead>
                                <tbody>

                                @for (int i = 0; i < Model.PlanMappingList.Count; i++)
                                {
                                    <tr>
                                        @Html.HiddenFor(a => a.PlanMappingList[i].PlanId)
                                        @Html.HiddenFor(a => a.PlanMappingList[i].StartDate)
                                        @Html.HiddenFor(a => a.PlanMappingList[i].EndDate)
                                        <td class="text-center">@Model.PlanMappingList[i].StartDate.ToFormattedDate()</td>
                                        <td class="text-center"> @Model.PlanMappingList[i].EndDate.ToFormattedDate()</td>
                                        <td class="text-center"> @Model.PlanMappingList[i].PlanName </td>
                                        <td class="text-center"><button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button> </td>
                                    </tr>
                                }


                                </tbody>
                            </table>
                        </div>
                    }
                </div>

            </div>
        </div>
        <footer class="panel-footer text-right bg-white lter">
            <input type="submit" class="btn btn-s-md btn-lightGreen" value="Update" onclick=" return $('#editSchoolForm').parsley().validate() ">
            @* <button id="btnUpdateSchool" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                <i class="fa fa-save"></i>&nbsp;Update
            </button>*@
            <a href="@Url.Action("Index", "School")" class=" btn btn-s-md btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>

    }
</section>
<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/js/aws-sdk-2.1.12.min.js"></script>
<script src="~/Content/js/FileUpload.js"></script>
<script type="text/javascript">
    var counter = '@count';
    window.schoolProfilePic = '@Url.Content("~/Content/images/gravator.png")';
    var _guid = '';
    $(document).ready(function() {
        if ('@Model.S3key' === "@Guid.Empty") {
            _guid = guid();
        } else {
            _guid = '@Model.S3key';
        }

        GetCity('@Model.StateId');

        $("#State").change(function() {
            GetCity($("#State").val());
        });

        GetPlan('@Model.PlanTypeId');


        $("#PlanType").change(function() {
            GetPlan($("#PlanType").val());
        });
        $("#SchoolName").keypress(function(key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $("#OwnerName").keypress(function(key) {
            var text = isValidText(key.charCode);
            if (!text) {
                toastr.error("Please enter only text");
                return false;
            }
        });
        $('#S3key').val(_guid);

        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true

        }).on('changeDate', function(ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        // $(".datepicker-input").val('');
        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteContact", function() {
            counter--;
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'   
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function() {
            addRow();
        });
    });

    function GetPlan(planTypeId) {
        $("#Plan").empty();
        if (planTypeId != "") {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetPlanList")', // we are calling json method
                dataType: 'json',
                data: { planTypeId: planTypeId },
                success: function (states) {
                    $.each(states, function (i, state) {

                        $("#Plan").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');
                        $("#PlanId").val($("#Plan").val());
                    });
                    $("#Plan option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                    $('#Plan option[value=""]').prop('selected', true);
                },
                error: function (ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
        return false;
}
    }
    function GetCity(value) {
        $("#City").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCityList")', // we are calling json method
            dataType: 'json',
            data: { stateId: value },
            success: function(states) {
                $.each(states, function(i, state) {

                    $("#City").append('<option value="' + state.Value + '">' +
                        state.Text + '</option>');
                    $("#CityId").val($("#City").val());
                });
                // $("#City option").eq(0).before($("<option></option>").val("").text("Please Select"));
                // $('#City option[value=""]').prop('selected', true);
            },
            error: function(ex) {
                alert('Failed to retrieve cities.' + ex);
            }
        });
        return false;
    }
    
    //ADD ROW IN MAPPING GRID
    function addRow() {
        debugger;
        var html = '<tr>' + '<td class="text-center">' + $("#StartDate").val() + '<input type="hidden" value="' + $("#StartDate").val() + '" name="PlanMappingList[' + counter + '].StartDate" id="PlanMappingList_' + counter + '__StartDate"' +
            '</td>' + '<td class="text-center">' + $("#EndDate").val() + '<input type="hidden" value="' + $("#EndDate").val() + '" name="PlanMappingList[' + counter + '].EndDate" id="PlanMappingList_' + counter + '__EndDate"' +
            '</td>' + '<td class="text-center">' + $("#Plan option:selected").text() + '<input type="hidden" value="' + $("#Plan option:selected").val() + '" name="PlanMappingList[' + counter + '].PlanId" id="PlanMappingList_' + counter + '__PlanId"' +
            '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteContact btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        counter++;
    }
    function removeSchoolProfileImage() {
        $(".loader").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemoveProfilePicture", "School")',
            dataType: 'json',
            data: { id: "@Model.Id" },
            success: function (data) {
                removeStudentProfilePic("@(Model.S3key == Guid.Empty ? string.Empty : CommonUtil.GetUrlByKey("School/" + Model.S3key))");
              }
        });
          }
</script>









