﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<EduErp.BO.SchoolBo>

@{
    ViewBag.Title = PageTitle.Create("School");
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<header class="panel-heading font-bold b-light">
    Schools
     @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.School) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
     {
         <a href="@Url.Action("Add", "School")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Add School</a>
     }
</header>
@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped" title="Schools" exportcolumn="0,1,2,3,4,5,6,7" visiblecolumn="0,1,2,3,4,5,6,7,8,9" lastunsortcount="2">
                        <thead>
                            <tr>
                                <th class="text-center">Code
                                </th>
                                <th class="text-center">Name
                                </th>
                                <th class="text-center">Parent  @Level.GetlabelName((int)LabelEnum.School)
                                </th>
                                @*<th class="text-center">Max Student Limit
                                </th>
                                <th class="text-center">Max User Limit
                                </th>
                                <th class="text-center">Validity(In Months)
                                </th>*@
                                <th class="text-center">Owner Name
                                </th>
                                <th class="text-center">Contact Number
                                </th>
                                <th class="text-center">Status
                                </th>
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.School) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                    <th class="text-center">Option
                                    </th>
                                     

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.Code)
                                    </td>

                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.Name)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.ParentSchoolName)
                                    </td>
                                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.MaxStudentLimit)
                                    </td>

                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.MaxUserLimit)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.ValidityInMonth)
                                    </td>*@
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.OwnerName)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.ContactNo)
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active" : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click to deactivate" : "Click to activate")" data-container="body" data-toggle="toolTip"
                                               id="@item.Id" onclick="setStatusConfirmation(updateStatus,'@(item.Id == (int)UserStatus.Active ? "Deactivate School" : "Activate School")','@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to deactivate school" : "Are you sure you want to activate school ")','@item.Id','@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)')">
                                            <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                                            <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                        </button>
                                    </td>
                                    @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.School) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StatusId == (int)UserStatus.Active))
                                    {
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button class=" btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                    Option<span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("Invoice","School",new{@id=item.Id})" title="Generate Invoice"><i class="fa fa-file-pdf-o"></i>&nbsp;Invoice</a>
                                                    </li>
                                                    <li><a href="@Url.Action("Edit", "School", new { @id = item.Id })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                                        <i class="fa fa-edit icon"></i>&nbsp;Edit
                                                    </a></li>
                                                    <li>
                                                        <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                            <i class=" fa fa-trash-o text-danger"></i>&nbsp;Delete
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </td>
                                    }
                                </tr> 
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, statusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "School")',
            data: { Id: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                location.reload();
            }

        });

    }

</script>











