﻿@model EduErp.BO.InvoiceBo
@using EduErp.BO
@using EduErp.Mvc.Utilities
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Invoice
            </div>
        </div>
    </header>
    <div class="panel-body">
        @if (Model != null)
        {

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="header">
                          <span style="font-size: 20px"><i class="fa fa-info-circle"></i>  @Level.GetlabelName((int)LabelEnum.School) Invoice</span>
                           <div class="box-tools pull-right">
                                <a class="btn btn-dark" href="#"><i class="fa fa-step-backward"></i>&nbsp;Back</a>
                                <a class="btn btn-primary" href="#"><i class="fa fa-file-pdf-o"></i>&nbsp;PDF</a>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table-striped table table-bordered">
                                <tbody>
                                    <tr>
                                        <th class="text-center">Total Sudent</th>
                                        <th class="text-center">Total User</th>
                                        <th class="text-center">Total Message</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">@Model.TotalStudent</td>
                                        <td class="text-center">@Model.TotalUser</td>
                                        <td class="text-center">@Model.TotalMessage</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />

