﻿@model EduErp.Web.Models.ProfileImageSelector
<style type="text/css">
    .formType1 {
        background: none repeat scroll 0 0 #fbfbfb;
        border: 1px solid #e3e3e3;
        padding: 10px;
    }

    .profileImageUpload {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .profileImageUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            -ms-opacity: 0;
            opacity: 0;
            -webkit-filter: alpha(opacity=0);
            -moz-filter: alpha(opacity=0);
            -o-filter: alpha(opacity=0);
            filter: alpha(opacity=0);
        }

    #originalProfileImage {
        max-height: 600px;
        max-width: 100%;
        border: 1px solid #AAAAAA;
    }

    .profile-image-container {
        max-height: 600px;
        max-width: 600px;
    }

    .profile-image-preview {
        overflow: hidden;
        border: 1px solid #AAAAAA;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

    .profile-image-holder {
        -moz-box-shadow: 10px 10px 5px -5px #a8a8a8;
        -webkit-box-shadow: 10px 10px 5px -5px #a8a8a8;
        -ms-box-shadow: 10px 10px 5px -5px #a8a8a8;
        box-shadow: 10px 10px 5px -5px #a8a8a8;
        border: 1px solid #dedede;
        padding: 10px;
    }

    .profile-image {
        height: 202px;
        overflow: hidden;
        width: 202px;
    }

    #smallProfilePicture {
        background-image: url("/Content/Images/ajax-loader.gif");
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
</style>
<div class="modal-dialog" id="changePicModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                Change Picture
            </h4>
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.ImageData)
        @Html.HiddenFor(a => a.X1)
        @Html.HiddenFor(a => a.X2)
        @Html.HiddenFor(a => a.Y1)
        @Html.HiddenFor(a => a.Y2)
        <div class="modal-body" id="tilesDescription" style="width: auto; min-height: 0px;
                                       max-height: none;">
            <div class="row">
                <div class="col-md-12">
                    <div class="left  formType1">
                        <span>Select the picture, crop if required.</span>
                        <div class="clear">
                        </div>
                        <div class="profileImageUpload btn btn-sm btn-primary">
                            <span>Browse for picture</span>
                            <input type="file" id="selectProfileImage" class="upload left"/>
                        </div>
                        <div class="clear">
                        </div>
                        <div class="left">
                            <span id="errorMsgProfile" class="hidden"></span><span id="selectedProfileImageName"
                                                                                   class="hidden"></span>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="left m-t-sm" style="font-size: 11px;" id="profileImgInnerContainer">
                        <div class="left profile-image-container">
                            <img class="left cropper" id="originalProfileImage" src="@(string.IsNullOrEmpty(Model.ImagePath) ? Url.Content("~/Content/Images/gravator.png") : Model.ImagePath)"/>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-md-4">
                                <div class="left left10 profile-image-preview-region hidden" id="finalPreview">
                                    <div class="profile-image-preview" style="height: 150px; width: 150px;">
                                    </div>
                                    @*<span>200 x 200</span>*@
                                </div>
                            </div>
                            <div class="col-md-6 m-l-sm hidden" id="rotateControl">
                                <button type="button" id="leftRotate" class=" btn btn-primary fa fa-rotate-left"></button>
                                <button type="button" id="rightRotate" class=" btn btn-primary fa fa-rotate-right"></button>
                            </div>
                            @*<div class="col-md-2 m-l-sm">
                                    <div class="left left10 profile-image-preview-region hidden">
                                        <div class="profile-image-preview" style="height: 100px; width: 100px;">
                                        </div>
                                        <span>100 x 100</span>
                                    </div>
                                </div>
                                <div class="col-md-2 m-l-sm">
                                    <div class="left left10 profile-image-preview-region hidden">
                                        <div class="profile-image-preview" style="height: 50px; width: 50px;">
                                        </div>
                                        <span>50 x 50</span>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-rounded btn-sm btn-primary btnoutline" data-dismiss="modal">
                Cancel
            </button>
            <button type="submit" class="btn btn-rounded btn-sm btn-primary disabled btnoutline"
                    id="btnProfilePic" onclick=" GetImageData() ">
                Set as profile picture
            </button>
            <div class="progress progress-xs progress-striped m-t-md" style="display: none;"
                 id="progressBar">
                <div class="progress-bar bg-success" id="progressBarContainer" data-toggle="tooltip"
                     data-original-title="0%" style="width: 0%">
                </div>
                <div class="tooltip fade top" role="tooltip" style="top: 14px; left: 20px; display: block;">
                    <div class="tooltip-arrow">
                    </div>
                    <div id="progressTooltip" class="tooltip-inner">
                        0%
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(a => a.UserId, new {id = "UserId"})
        @Html.ValidationSummary()
    </div>
    <!-- /.modal-content -->
</div>
<script src="~/Content/js/jquery.min.js"></script>
<script src="@Url.Content("~/Content/js/cropper/cropper.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/js/cropper/cropper.min.css")" rel="stylesheet" />

<script type="text/javascript">
    var isCropperAttached = false;
    var $image = $(".profile-image-container img");

    $(document).ready(function () {
        var existingSource = $("#ImageData").val();
        if (existingSource != '') {
            $('#originalProfileImage').attr('src', existingSource);
            AttachCropper();
        } else {
            $('.profile-image-preview-region').hide();
        }
        document.getElementById("selectProfileImage").onchange = function () {
            if (this.files[0] != null) {
                var file = this.files[0];
                if (file.size > 4194304) {
                    $("#errorMsgProfile").text("The size of image should be less than 4 MB");
                    $("#errorMsgProfile").removeClass('hidden');
                    $("#profileImgInnerContainer").addClass('hidden');
                    $("#btnProfilePic").addClass("disabled");
                } else {
                    if (!file.type.match('image')) {
                        $("#errorMsgProfile").text("Incorrect file type.Please select images only.");
                        $("#errorMsgProfile").removeClass('hidden');
                        $("#profileImgInnerContainer").addClass('hidden');
                        $("#btnProfilePic").addClass("disabled");
                        return;
                    } else {
                        $("#btnProfilePic").removeClass("disabled");
                        $("#errorMsgProfile").text("");
                        $("#errorMsgProfile").addClass('hidden');
                        $("#profileImgInnerContainer").removeClass('hidden');
                        var reader = new window.FileReader();

                        reader.onload = function (e) {
                            var src = e.target.result;
                            $('#selectedProfileImageName').text($('#selectProfileImage').val());
                            if (isCropperAttached)
                                $image.cropper("setImgSrc", src);
                            else
                                $('#originalProfileImage').attr('src', src);
                            AttachCropper();
                            $("#ImageData").val(src);
                            $('#originalProfileImage').attr('src', src);
                            $image.cropper('replace', src);

                        };
                        reader.readAsDataURL(file);
                    }
                }
            }
        };
        $("#leftRotate").click(function () {
            $image.cropper('rotate', -90);
        });
        $("#rightRotate").click(function () {
            $image.cropper('rotate', 90);
        });
    });

    function AttachCropper() {
        if (isCropperAttached)
            return;

        var $dataX = $("#data-x"),
            $dataY = $("#data-y"),
            $dataHeight = $("#data-height"),
            $dataWidth = $("#data-width");

        $('.profile-image-preview-region').removeClass('hidden');
        $('.profile-image-preview-region').css("display", "");
        $('.cropper - crop - box').css("left", "10px !important");
        $('#rotateControl').removeClass('hidden');
        $image.cropper({
            aspectRatio: 1 / 1,
            zoomable: false,
            background: false,
            autoCropArea: 1,
            data: {
                width: 180,
                height: 10
            },
            modal: false,
            preview: ".profile-image-preview",
            done: function (data) {
                $dataX.val(data.x);
                $dataY.val(data.y);
                $dataHeight.val(data.height);
                $dataWidth.val(data.width);
            }
        });
        isCropperAttached = true;
    }

    function toInt(n) { return Math.round(Number(n)); };
    function GetImageData() {
        var url = "@Url.Action("ProfilePicture", "School")";
        var token = $('[name=__RequestVerificationToken]').val();
        var data = $image.cropper("getData");
        var objKey = schoolProfileFolderName + "/" + _guid;
        $("X1").val(data.x);
        var rData = {
            "__RequestVerificationToken": token,
            "UserId": $("#UserId").val(),
            "X1": toInt(data.x),
            "Y1": toInt(data.y),
            "X2": toInt(data.x + data.width),
            "Y2": toInt(data.y + data.height),
            "Rotate": toInt(data.rotate),
            "ImageData": $('#ImageData').val(),
            "S3Key": _guid
        };
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                //Upload progress
                xhr.upload.addEventListener("progress", function (evt) {
                    $("#btnProfilePic").addClass("disabled");
                    $("#progressBar").show();
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded * 100 / evt.total;
                        percentComplete += "%";
                        //Do something with upload progress
                        //                        $("#progressTooltip").innerhtml(percentComplete);
                        $("#progressBarContainer").css("width", percentComplete);
                        $("#progressBarContainer").attr("data-original-title", percentComplete);
                    }
                }, false);
                //Download progress
                //                xhr.addEventListener("progress", function (evt) {
                //                    if (evt.lengthComputable) {
                //                        var percentComplete = evt.loaded / evt.total;
                //                        //Do something with download progress
                //                        console.log(percentComplete);
                //                    }
                //                }, false);
                return xhr;
            },
            type: "POST",
            data: rData,
            dataType: "json",
            //contentType: "application/json; charset=utf-8",
            url: url,
            success: function (msg) {
                if (msg.IsError) {
                    //location.reload();
                    $("#btnProfilePic").removeClass("disabled");
                    $("#progressBar").hide();
                    toastr.error(msg.message);
                } else {
                    $("#btnProfilePic").show();
                    $("#progressBar").hide();
                    $("#btnProfilePic").removeClass("disabled");
                    @*if ('@EduErp.Mvc.Utilities.SessionItems.UserId' == '@Model.UserId') {
                        $("#LoginImage").attr('src', msg.imagePath);
                    }*@
                    debugger ;
                    if ('@Model.UserId' === '0') {
                        $("#schoolProfilePic").attr('src', msg.message);
                    } else {
                        setImageUrl(objKey, 'schoolProfilePic');
                        $("#DeleteSchoolPic").attr("style", "display:block;");
                        toastr.success(msg.message);
                    }
                    HideModelWindow();
                }
            }

        });
        //return rData;
    }
    function HideModelWindow() {
        $('#ajaxModal').remove();
        $('.modal-backdrop').remove();
    }

    setTimeout(function () {
        $('#formProfilePicMsgDiv').fadeOut('fast');
    }, 7000);
</script>
