﻿    @using EduErp.Mvc.Utilities
@model EduErp.BO.FeeTransactionTemplateBo
                   
 <section class="panel panel-default">
               <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                         <span>@TempData["StudentName"]</span>'s  Transaction Detail
                        </div>
                    </div>
                </header>
                          <div class="panel-body">
                            @Html.AntiForgeryToken()
                          <div class="row scrollable" style="max-height: 250px;">
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Transaction Id</th>
                                            <th class="text-center">Previous Balance</th>
                                             <th class="text-center">Total Amount</th>
                                             <th class="text-center">Total Payable Amount</th>
                                            <th class="text-center">Total Deposit Fees</th>
                                         <th class="text-center">From Month</th>
                                            <th class="text-center">To Month</th>
                                             @*<th class="text-center">Balance Amount</th>*@
                                            <th class="text-center">Is Settled</th>
                                            <th class="text-center">Transaction Date</th>
                                             <th class="text-center">Print Reciept</th>
                                           @* <th class="text-center">Edit</th>*@
                                            @*<th class="text-center">Delete</th>*@
                                            <th class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model == null || Model.FeetransactionDetailList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {

                                            for (var i = 0; i < Model.FeetransactionDetailList.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";
                                                <tr>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].Id</td>
                                                      <td class="text-center">@Model.FeetransactionDetailList[i].PreviousBalance&nbsp;<i class="fa fa-inr"></i> </td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].TotalAmount&nbsp;<i class="fa fa-inr"></i> </td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].TotalPayableAmount&nbsp;<i class="fa fa-inr"></i> </td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].TotalAmountDeposit&nbsp;<i class="fa fa-inr"></i></td>
                                                      <td class="text-center">@Model.FeetransactionDetailList[i].FromMonth</td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].ToMonth</td>
                                                  @*  <td class="text-center">@Model.FeetransactionDetailList[i].BalanceAmount&nbsp;<i class="fa fa-inr"></i> </td>*@
                                                    <td class="text-center">
                                                       @if (Model.FeetransactionDetailList[i].IsSettled)
                                                       {
                                                           <span>Yes</span>
                                                       }
                                                       else
                                                       {
                                                        <span>No</span>
                                                       }
                                                    </td>
                                                    
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].TransactionDate.ToFormattedDate() </td>
                                                    <td class="text-center" title="print"><a href="@Url.Action("FeeReciept", "FeeTransaction", new {@transactionId = Model.FeetransactionDetailList[i].Id})" target="_blank"><i class="fa fa-print"></i> &nbsp;Print</a></td>
                                                   @* <td class="text-center">
                                                    <a href="@Url.Action("Edit", "FeeTransaction", new {@id = Model.FeetransactionDetailList[i].Id})" title="Edit">
                                                    <i class="fa fa-edit icon"></i>&nbsp;  Edit
                                                  </a>
                                                    </td>
                                                   <td class="text-center">
                                                    <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@Model.FeetransactionDetailList[i].Id', '@((int) EduErp.BO.UserStatus.Deleted)') ">
                                                     <i class="fa fa-trash-o text-danger"></i>&nbsp;Delete
                                                     </a>
                                                   </td>*@
                                                     <td class="text-center">
                                                   <a href="@Url.Action("Edit", "FeeTransaction", new {@id = Model.FeetransactionDetailList[i].Id})" title="Edit">
                                                    <i class="fa fa-edit icon"></i>
                                                  </a>
                                                         &nbsp;
                                                     <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@Model.FeetransactionDetailList[i].Id', '@((int) EduErp.BO.UserStatus.Deleted)') ">
                                                     <i class="fa fa-trash-o text-danger"></i>
                                                     </a>
                                                     </td>
                                                </tr>
                                              
                                            }
                                        }
                                        </tbody>
                                    </table>
                                   </div>
                            </div>
        </div>
    
    </section>        