﻿    @using EduErp.Mvc.Utilities
@model EduErp.BO.FeeTransactionTemplateBo
                       
                          <div class="row " style="max-height: 250px;">
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive ">
                                        <thead>
                                        <tr>
                                         @*<th class="text-center">Transaction Id</th>*@
                                            <th class="text-center">Student Name</th>
                                             <th class="text-center">Previous Balance</th>
                                            <th class="text-center">Total Amount</th>
                                              <th class="text-center">Fine</th>
                                            <th class="text-center">Discount</th>
                                            <th class="text-center">Total Payable Amount</th>
                                            <th class="text-center">Total Deposit Fees</th>
                                            <th class="text-center">From Month</th>
                                            <th class="text-center">To Month</th>
                                            <th class="text-center">Balance Amount</th>
                                            <th class="text-center">Is Settled</th>
                                            <th class="text-center">Transaction Date</th>
                                             <th class="text-center">View</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model.FeetransactionDetailList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="8">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {

                                            for (var i = 0; i < Model.FeetransactionDetailList.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";
                                                <tr>
                                           @* <td class="text-center">@Model.FeetransactionDetailList[i].Id</td>*@
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].StudentName</td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].PreviousBalance&nbsp; <i class="fa fa-inr"></i></td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].TotalAmount&nbsp; <i class="fa fa-inr"></i></td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].Fine&nbsp; <i class="fa fa-inr"></i></td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].Discount&nbsp; <i class="fa fa-inr"></i></td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].TotalPayableAmount&nbsp; <i class="fa fa-inr"></i></td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].TotalAmountDeposit&nbsp; <i class="fa fa-inr"></i></td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].FromMonth</td>
                                                     <td class="text-center">@Model.FeetransactionDetailList[i].ToMonth</td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].BalanceAmount &nbsp; <i class="fa fa-inr"></i></td>
                                                    <td class="text-center">
                                                        @if (Model.FeetransactionDetailList[i].IsSettled)
                                                       {
                                                           <span>Yes</span>
                                                       }
                                                       else
                                                       {
                                                        <span>No</span>
                                                       }
                                                    </td>
                                                    <td class="text-center">@Model.FeetransactionDetailList[i].TransactionDate.ToFormattedDate() </td>
                                                   <td class="text-center"><a onclick="getTransactionByStudentId('@Model.FeetransactionDetailList[i].StudentId','@Model.FeetransactionDetailList[i].StudentName')"><span class="glyphicon glyphicon-search"></span>&nbsp;View</a></td>
                                                </tr>
                                              
                                            }
                                        }
                                        </tbody>
                                    </table>
                                   </div>
                            </div>
                      
                 
                 