﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.FeeTransactionBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.TotalFine = 0;
    Model.TotalDiscount = 0;
}
<section class="panel panel-default scrollable">
   @using (Html.BeginForm("Add", "FeeTransaction", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addFeeHeadTractionForm" }))
    {
      @Html.HiddenFor(m => m.FeeHeadMappingId)
        
     <header class="panel-heading font-bold">
        Fee Transaction
          <a href='#' id="Filter" class='text-primary pull-right m-l-sm'>&nbsp;&nbsp; <i class='fa fa-filter'></i>Filter</a>
    </header>
 
         <div class="panel-body">
              <div class="row" id="visible">
                   <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    <label>@Level.GetlabelName((int)LabelEnum.Class)</label>
                    @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @id = "Class", @class = "form-control chosen-select" })
                </div>
                <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    <label>@Level.GetlabelName((int)LabelEnum.Batch)</label>
                    <select id="Section" class="form-control chosen">
                    </select>
                    @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
                </div>

             
                <div class=" form-group col-md-3 col-sm-3 col-xs-3"id="visible">
                    @Html.Label("Student")
                    <select id="Student" class="form-control chosen">
                    </select>
                    @Html.HiddenFor(a => a.StudentId, new { id = "hdnStudentId" })
                    @Html.HiddenFor(a => a.StudentName, new { id = "hdnStudentName" })
                </div>
              </div>
         </div>
       <div class="panel-body">
           <div id="TransactionListById"></div>
       </div>
           <div class="panel-body">
              <div class="row hidden" id="studentchange" >
                  <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                     @Html.Label("From Month")&nbsp;<span class="text-danger">*</span>
            
                    @Html.DropDownListFor(m => m.FromMonthId, new SelectList(Model.ListOfMonthes, "Id", "Name"), "Please Select", new { @id = "FromMonth", @class = "form-control select-chosen", data_parsley_required = "true", data_parsley_error_message = "Please Select From Month" })
                </div>
                <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                    @Html.Label("To Month")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.ToMonthId, new SelectList(Model.ListOfMonthes, "Id", "Name"), "Please Select", new { @id = "ToMonth", @class = "form-control select-chosen", data_parsley_required = "true", data_parsley_error_message = "Please Select To Month " })
                </div>
                   <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 22px">
                    <input type="submit" value="GetComponent" id="getComponentId" name="Add" formaction="@Url.Action("GetComponents")" formmethod="post" class="btn btn-lightGreen" onclick="return $('#addFeeHeadTractionForm').parsley().validate()"/>
                </div>
              </div>
         </div>
       
        <div  class="text-center">
            @Html.ValidationSummary()
            </div>
        <div class="panel-body" id="classByComponentList">
            @if (Model.FeeTransactionTemplateBo != null)
            {
                if (Model.FeeTransactionTemplateBo.ClassByComponentLists != null)
                {
                <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                            @Level.GetlabelName((int)LabelEnum.Class) Wise Component
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="row scrollable" style="max-height: 250px;">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="ClassByComponent">
                                <thead>
                                    <tr>
                                        <th class="text-center">Select</th>
                                        <th class="text-center">FeeHeadName</th>
                                        <th class="text-center">@Level.GetlabelName((int)LabelEnum.Class)</th>
                                        <th class="text-center">Month</th>
                                        <th class="text-center">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.FeeTransactionTemplateBo.ClassByComponentLists.Count == 0)
                                    {
                                        <tr>
                                            <td class="text-center" colspan="5">No record found</td>
                                        </tr>
                                    }
                                    else
                                    {

                                        for (var i = 0; i < Model.FeeTransactionTemplateBo.ClassByComponentLists.Count; i++)
                                        {
                                            var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                            Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected = true; //set default
                                            //var name = "FeeTransactionTemplateBo.ClassByComponentLists[" + i + "].FeeHeadMappingId";
                                            //var ddid = "MenuList_" + i + "__RightId";
                                        <tr>
                                            @Html.HiddenFor(a => Model.FeeTransactionTemplateBo.ClassByComponentLists[i].FeeHeadMappingId)
                                            <td class="text-center">
                                                @Html.HiddenFor(a => Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected)
                                            <div class="checkbox-inline i-checks">
                                                  <label>                                                       
                                                     <input type="checkbox" id="@id" name="@id" value="@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected"
                                                         @(Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected ? "checked=checked" : "")>
                                                      <i></i><span></span>
                                                  </label>
                                                 </div>
                                                </td>
                                            @*<td class="text-center">@Html.CheckBoxFor(a => a.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected, new { @id = "ClassByCheck" })</td>*@
                                            <td class="text-center">@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Name</td>
                                            <td class="text-center">@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].ClassName</td>
                                            <td class="text-center">@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].FeeMonthName</td>
                                            <td class="text-center" name='ClassByAmount'>@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Amount&nbsp;<i class="fa fa-inr"></i> </td>
                                        </tr>
                                              
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="col-md-2 col-md-offset-10">
                                @Html.Label("Total")
                                @Html.TextBoxFor(m => m.ClassByTotalAmount, new { @id = "ClassByTotal", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                 
                }
            }
        </div>
        <div class="panel-body" id="generalByComponentList">
            @if (Model.FeeTransactionTemplateBo != null)
            {
                if (Model.FeeTransactionTemplateBo.GeneralByComponentLists != null)
                {
                <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                            General Wise Component
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="row scrollable" style="max-height: 250px;">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="GeneralByComponent">
                                <thead>
                                    <tr>
                                        <th class="text-center">Select</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Month</th>
                                        <th class="text-center">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.FeeTransactionTemplateBo.GeneralByComponentLists.Count == 0)
                                    {
                                        <tr>
                                            <td class="text-center" colspan="4">No record found</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        for (var i = 0; i < Model.FeeTransactionTemplateBo.GeneralByComponentLists.Count; i++)
                                        {

                                            var gnid = "FeeTransactionTemplateBo_GeneralByComponentLists_" + i + "__Selected";
                                            //var gnname = "FeeTransactionTemplateBo.GeneralByComponentLists[" + i + "].FeeHeadMappingId";
                                        <tr>
                                            @Html.HiddenFor(a => Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].FeeHeadMappingId)
                                             <td class="text-center">
                                                 @Html.HiddenFor(a => Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Selected)
                                            <div class="checkbox-inline i-checks">
                                                  <label>                                                       
                                                     <input type="checkbox" id="@gnid" name="@gnid" value="@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Selected"
                                                         @(Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Selected ? "checked='checked'" : "")>
                                                      <i></i><span></span>
                                                  </label>
                                                 </div>
                                                </td>
                                           @* <td class="text-center">@Html.CheckBoxFor(a => a.FeeTransactionTemplateBo.GeneralByComponentLists[i].Selected, new { @name = "chkGeneralBy" })</td>*@
                                            <td class="text-center">@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Name</td>
                                            <td class="text-center">@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].FeeMonthName</td>
                                            <td class="text-center" name="GeneralByAmount">@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Amount&nbsp;<i class="fa fa-inr"></i> </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="col-md-2 col-md-offset-10">
                                @Html.Label("Total")
                                @Html.TextBoxFor(m => m.GeneralByTotalAmount, new { @id = "GeneralByTotal", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="Fine">
                        <header class="panel-heading font-bold">
                            <div class="row">
                                <div class="col-md-12">
                                    Add Fine
                                </div>
                            </div>
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Fine")
                                        @Html.DropDownListFor(m => m.FineFeeheadTypeId, new SelectList(Model.ListOfFineFeeheads, "Id", "Name"), "Please Select", new { @id = "ddlFine", @class = "form-control" })
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Amount")
                                        @Html.TextBoxFor(m => m.FineAmount, new { @id = "FineAmount", @class = "form-control" })
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                                        <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row scrollable" style="max-height: 250px;">
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive" id="AddList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Fine Name</th>
                                                <th class="text-center">Amount</th>
                                                <th class="text-center">Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="FineName" class="text-center"></td>
                                                <td  id="FineAmount" class="text-center"></td>
                                                <td id="Delete" class="text-center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                             <div class="col-md-2 col-md-offset-10">
                                @Html.Label("Total Fine")
                                @Html.TextBoxFor(m => m.TotalFine, new { @id = "TotalFine", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="panel-body" id="Discount">
                            <header class="panel-heading font-bold">
                                <div class="row">
                                    <div class="col-md-12">
                                        Add Discount
                                    </div>
                                </div>
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Discount Type")
                                            @Html.DropDownListFor(m => m.DiscountFeeheadTypeId, new SelectList(Model.ListOfDiscountFeeheads, "Id", "Name"), "Please Select", new { @id = "ddlDiscount", @class = "form-control" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Amount")
                                            @Html.TextBoxFor(m => m.DiscountAmount, new { @id = "DiscountAmount", @class = "form-control" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                                            <button type="button" class="btn btn-s-md btn-lightGreen " id="AddDiscountButton">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row scrollable" style="max-height: 250px;">
                                    <div class="form-group col-md-12 col-sm-12">
                                        <table class="table table-striped responsive" id="AddDiscountList">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Amount</th>
                                                    <th class="text-center">Delete</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="DiscountName" class="text-center"></td>
                                                    <td id="DiscountAmount" class="text-center"></td>
                                                    <td id="DisDelete" class="text-center"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2 col-md-offset-10">
                                @Html.Label("Total Discount")
                                @Html.TextBoxFor(m => m.TotalDiscount, new { @id = "TotalDiscount", @class = "form-control", @readonly = "readonly" })
                            </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-3 ">
                            @Html.Label("Previous Balance")
                            @Html.TextBoxFor(m => m.PreviousBalance, new { @id = "PrevBalance", @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group col-md-3 ">
                            @Html.Label("Total Amount")
                            @Html.TextBoxFor(m => m.TotalAmount, new { @id = "total", @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-3 ">
                            @Html.Label("Amount Paid")
                            @Html.TextBoxFor(m => m.TotalAmountDeposit, new { @id = "AmountPaid", @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group col-md-3 ">
                            @Html.Label("Net Balance")
                            @Html.TextBoxFor(m => m.BalanceAmount, new { @id = "NetBalance", @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                            @Html.Label("Payment Mode")
                            @Html.DropDownListFor(m => m.PaymentModeId, new SelectList(Model.ListOfPaymentMode, "Id", "Name"), "Please select", new { @id = "PaymentMode", @class = "form-control chosen-select" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Remark")
                            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                        </div>
                       <div class=" form-group col-md-1 col-sm-1 col-xs-1">
                            
                           @Html.Label("Is Settled")
                            
                            
                     @Html.CheckBoxFor(m => m.IsBalancedSettled, new { @class = "form-control" })
   
                        </div>
                       

                    </div>

                    <footer class="panel-footer text-right bg-white lter">
                        <button id="btnAddFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                            <i class="fa fa-save"></i>&nbsp;Save
                        </button>
                        <a href="@Url.Action("Index", "FeeTransaction")" class="btn btn-s-md  btn-default">
                            <i class="fa fa-ban"></i>&nbsp;Cancel
                        </a>
                    </footer>
                </div>
                }
            }

        </div>
        
        
        
        
      
    }

</section>

<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
   
    var counter = 0;
    var fineCounter=0;
    $(document).ready(function () {
        $("input[type=checkbox]").click(function () {
            //debugger;
            if ($(this).is(':checked')) {
                $("#" + $(this).attr('id')).val(true);
                //$("#" + $(this).attr('ddid')).prop("disabled", false); //.trigger("chosen:updated");
            } else {
                $("#" + $(this).attr('id')).val(false);
                //$("#" + $(this).attr('ddid')).prop("disabled", true); //.trigger("chosen:updated");
            }
        });
        //get sections onload
        //getSections(parseInt('@*@Model.ClassId*@'));

        // if ($("#hdnSection").val() != null && $("#hdnSection").val() != '')
        // getStudents(parseInt($("#hdnSection").val()));

        //toggle
        // $('#visible').slideToggle();

        //DELETE ROW FROM MAPPING GRID
        $(document).on("click", ".deleteContactFine", function () {
            debugger;
            counter--;
            removeFineAmount($(this).closest("tr").find(".fine-remove").val());
            
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'
            getTotalSumOfClassAndGeneralWise();
        });
        
       
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function () {
            debugger;
            if (document.getElementById('Fine').selectedIndex != 0 && $("#FineAmount").val() != "" && $("#ddlFine option:selected").val() !="" ) {
                addFineRow();
                getFineAmount();
                getTotalSumOfClassAndGeneralWise();
            } else {
                toastr.error("Please Select fields")
            }
        });
        //DELETE ROW FROM  discount MAPPING GRID
        $(document).on("click", ".deleteContactDiscount", function () {
            counter--;
            removeDiscountAmount($(this).closest("tr").find(".discount-remove").val());
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr' 
            getTotalSumOfClassAndGeneralWise();
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddDiscountButton").click(function () {
            debugger;
            if ($("#DiscountAmount").val() != ""  && $("#ddlDiscount option:selected").val() != "") {
                addDiscountRow();
                getDiscountAmount();
                getTotalSumOfClassAndGeneralWise();
            } else {
                toastr.error("Please Select fields")
            }
        });
        $("#Filter").click(function() {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });

        if (@Model.ClassId != 0) {
            getSections('@Model.ClassId');
        }

        if (@Model.SectionId != 0) {
            getStudents('@Model.SectionId');
        }
        if(@Model.StudentId != 0){
            getTransactionByStudentId('@Model.StudentId', '@Model.StudentName');
        }
          
      
        $("#Section").val('@Model.SectionId');
        $("#Student").val('@Model.StudentId');
        //get sections Onchange of class
        $("#Class").change(function () {
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
                $("#Section")[0].selectedIndex = 0;
                $("#Student")[0].selectedIndex = 0;
            }
        });
        //to enter only integer

      
        //get students on change of section
        $("#Section").change(function () {
            if (document.getElementById('Section').selectedIndex !== 0) {
                $("#hdnSection").val($("#Section option:selected").val());

                getStudents($("#Section option:selected").val());
                // $("#hdnStudentId").val($("#Student").val());

            }
        });
        $("#Student").change(function () {
            if (document.getElementById('Student').selectedIndex !== 0) {
                $("#hdnStudentId").val($("#Student option:selected").val());
                getTransactionByStudentId($("#Student option:selected").val(), $("#Student option:selected").html());
                $("div").removeClass("row hidden");
               
            }
            
        });

        //GET SUM OF CLASS AMOUNT
        $("#ClassByComponent").on("change", ":checkbox", function () {
            getClassSumAmount();
            getTotalSumOfClassAndGeneralWise();
        });
        $('#ClassByComponent tbody tr input:checkbox').prop('checked', true);
        getClassSumAmount();
        //getFineAmount();
       // getDiscountAmount();
        getTotalSumOfClassAndGeneralWise();
        //set bydefault all selected
       

        $("#GeneralByComponent").on("change", ":checkbox", function () {
            // $(this).parents("tr:first").css('background-color', 'yellow');
            getGeneralSumAount();
            getTotalSumOfClassAndGeneralWise();
        });

        getGeneralSumAount();
        // getTotalSumOfClassAndGeneralWise();

        //get net balance on change of paid amount
        $("#AmountPaid").change(function () {
           
            if($("#AmountPaid").val()=="")
            {
                paidAmount=0;
            }else{
                var paidAmount = $("#AmountPaid").val();
            }

            if($("#total").val()=="")
            {
                totalAmount=0;
            }else{
                var totalAmount = $("#total").val();
            }
           
          
            var netBalance = (parseFloat(totalAmount) - parseFloat(paidAmount)).toFixed(2);
            $("#NetBalance").val(netBalance);
        });

       
        //choosen true

        $('.chosen-select').chosen({
            search_contains: true
        });
    });

    //ADD ROW IN MAPPING GRID
    function addFineRow() {
        debugger;
        var html = '<tr>' + '<td class="text-center">' + $("#ddlFine option:selected").text() + '<input type="hidden" value="' + $("#ddlFine option:selected").val() + '" name="FeeTransactionTemplateBo.FineDetailList[' + counter + '].FineFeeheadId" id="FeeTransactionTemplateBo.FineDetailList_' + counter + '_FineFeeheadId"' + '</td>' 
                          + '<td class="text-center">' + $("#FineAmount").val() + '<input type="hidden" class="fine-remove" value="' + $("#FineAmount").val() + '" name="FeeTransactionTemplateBo.FineDetailList[' + counter + '].Amount" id="FeeTransactionTemplateBo.FineDetailList_' + counter + '_Amount"' + '</td>'
                          + '<td class="text-center">' + '<button type="button" id="btnDeleteFine" class="text-center deleteContactFine btn btn btn-danger btn-xs">Remove</button>' + '</td>'
                          + '</tr>';
        $(html).appendTo($("#AddList"));
        fineCounter++;
    }
    //ADD Dicount ROW IN MAPPING GRID
    function addDiscountRow() {
        debugger;
        var html = '<tr>' + '<td class="text-center">' + $("#ddlDiscount option:selected").text() + '<input type="hidden" value="' + $("#ddlDiscount option:selected").val() + '" name="FeeTransactionTemplateBo.DiscountDetailList[' + counter + '].DiscountFeeheadId" id="FeeTransactionTemplateBo.DiscountDetailList_' + counter + '_DiscountFeeheadId"' + '</td>'
                          + '<td class="text-center">' + $("#DiscountAmount").val() + '<input type="hidden" class="discount-remove" value="' + $("#DiscountAmount").val() + '" name="FeeTransactionTemplateBo.DiscountDetailList[' + counter + '].DiscountAmount" id="FeeTransactionTemplateBo.DiscountDetailList_' + counter + '_DiscountAmount"' +'</td>'
                          + '<td class="text-center">' + '<button type="button" id="btnDeleteDiscount" class="text-center deleteContactDiscount btn btn btn-danger btn-xs">Remove</button>' + '</td>'
                          + '</tr>';
        $(html).appendTo($("#AddDiscountList"));
        counter++;
    }

    //get sum of GeneralByAmount
    function getGeneralSumAount() {
        debugger;
        var sumOfGeneralAmount = 0;
        $("#GeneralByComponent tbody tr").each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked') &&
                row.find("td[name='GeneralByAmount']").html() != null) {
                var amount = row.find("td[name='GeneralByAmount']").html();
                if (amount != undefined) {
                    sumOfGeneralAmount = (parseFloat(sumOfGeneralAmount) + parseFloat(amount)).toFixed(2);
                }
            }
        });
        $('#GeneralByTotal').val(sumOfGeneralAmount);
    }

    ////sum of total amount(general+class Wise)
    function getTotalSumOfClassAndGeneralWise() {
        debugger;
        var classByAmount = $("#ClassByTotal").val();
        var generalByAmount = $("#GeneralByTotal").val();
        if($("#TotalFine").val()=="")
        {
            var fine=0;
        }else{
           var fine=$("#TotalFine").val();
        }
        if($("#TotalDiscount").val()=="")
        {
            var discount=0;
        }else{
            var discount=$("#TotalDiscount").val();
        }
        if($("#PrevBalance").val()=="")
        {
            var previousBalance=0;
        }else{
            var previousBalance=$("#PrevBalance").val();
        }
        
        //previous bal
        var totalAmount = (parseFloat(classByAmount) + parseFloat(generalByAmount)+parseFloat(previousBalance) + parseFloat(fine) - parseFloat(discount)).toFixed(2); // + previus bal 
        $("#total").val(totalAmount);
    }
    //GET SUM OF FINE
   // var sumOfFineAmount=0;
    function getFineAmount(){
        debugger;
        
        var fineAmount=(parseFloat($('#TotalFine').val()) + parseFloat($("#FineAmount").val())).toFixed(2);
        $('#TotalFine').val(fineAmount);
    }
    //REMOVE FINE AMOUNT
    function removeFineAmount(value){
        debugger;
        var remainingFine=(parseFloat($('#TotalFine').val()) - parseFloat(value)).toFixed(2);
        $('#TotalFine').val(remainingFine);
    }

    //GET SUM OF DISCOUNT
   // var sumOfDiscountAmount=0;
    function getDiscountAmount(){
        debugger;
        var discountAmount=(parseFloat($('#TotalDiscount').val()) + parseFloat($("#DiscountAmount").val())).toFixed(2);
       $('#TotalDiscount').val(discountAmount);
    }
    //REMOVE DISCOUNT
    function removeDiscountAmount(amount){
        var remainingFine=(parseFloat($('#TotalDiscount').val()) - parseFloat(amount)).toFixed(2);
        $('#TotalDiscount').val(remainingFine);

    }
    //get sum ofclassByAmount
    function getClassSumAmount() {
        debugger;
        var sumOfClassAmount = 0;
        
        $("#ClassByComponent tbody tr").each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked') &&
                row.find("td[name='ClassByAmount']").html() != null) {
                var amount = row.find("td[name='ClassByAmount']").html();
                if (amount != undefined) {
                    sumOfClassAmount = (parseFloat(sumOfClassAmount) + parseFloat(amount)).toFixed(2);
                }
            }
        });
        $('#ClassByTotal').val(sumOfClassAmount);
    }

    //get sections based on classId
    function getSections(classId) {

        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {

                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                //$('#Section option[value=""]').prop('selected', true);
                $("#Section").val('@Model.SectionId');
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    //get students Based on sectionId
    function getStudents(sectionId) {
        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
            datatype: 'json',
            data: { sectionId: sectionId },
            success: function (sections) {
                $.each(sections, function (i, sec) {
                    $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                });
                $("#Student option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                //$('#Student option[value=""]').prop('selected', true);
                $("#Student").val('@Model.StudentId');
                $("Student").trigger("liszt:updated");

                $("#Student").chosen();
            },
           
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    //get component details to show in grid
    function getComponentDetail() {
        debugger;
        $("#ClassByComponent").html("");
        //getSections($("#Class").val());
        //getStudents($("#Section").val());
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetComponentDetail", "FeeTransaction")',
            datatype: 'html',
            data: { fromMonthId: $("#FromMonth").val(), toMonthId: $("#ToMonth").val(), classId: $("#Class").val(), sectionId: $("#Section").val(), studentId: $("#Student").val() },
            success: function (data) {
                $("#ClassByComponent").html(data);
            },
            error: function (ex) {
                toastr.error('Failed to retrieve students.' + ex);
            }
        });
    }






    function saveForm() {
        debugger;
        $('#addFeeHeadTractionForm').parsley().validate();
        if ($('#addFeeHeadTractionForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;

            // ("#Section option:selected").val();
            $("#hdnStudentId").val($("#Student option:selected").val());
            $("#ToTalAmountDeposit").val($("#total").val());
            $("#BalenceAmount").val($("#NetBalance").val());
            debugger;
            $.ajax({
                url: '@Url.Action("Add", "FeeTransaction")',
                data: $("#addFeeHeadTractionForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    debugger;
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return false;
                    }
                    window.location.href = '@Url.Action("FeeReciept", "FeeTransaction")' + '?transactionId=' + data.transactionId;
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
   
    function getTransactionByStudentId(studentId, studentName) {
        debugger;
        $("#TransactionListById").html("");
        var studentName = studentName;
        $("#hdnStudentName").val(studentName);
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetFeeTransactionDetailByStudentId", "FeeTransaction")',
                datatype: 'html',
                data: { 'studentName': studentName, studentId: studentId, classId: $("#Class").val(), sectionId: $("#Section").val(), sessionId: $("#Session").val() },
                success: function (data) {
                    $("#TransactionListById").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }
</script>
@*<style type="text/css">
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

</style>*@
