﻿    @using EduErp.BO
@using EduErp.Mvc.Utilities
@model FeeTransactionBo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var finecount = 0;
    finecount = Model.FeeTransactionTemplateBo.FineDetailList != null ? Model.FeeTransactionTemplateBo.FineDetailList.Count : 0;
    var count = 0;
    count = Model.FeeTransactionTemplateBo.DiscountDetailList != null ? Model.FeeTransactionTemplateBo.DiscountDetailList.Count : 0;
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
               Update FeeTransaction
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Edit", "FeeTransaction", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "editFeeHeadTractionForm" }))
    {
        @Html.HiddenFor(m => m.FeeHeadMappingId)
       @Html.AntiForgeryToken()
        <div class="panel-body">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">
                    <div class="row">
                        <div class="col-md-12">
                            Search Session
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                            @Html.Label("Session")
                           @Html.TextBoxFor(m => m.SessionName, new { @class = "form-control", @readonly = "readonly" })
                           @Html.HiddenFor(m => m.SessionId, new { @id = "Session" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("From")
                            @Html.TextBoxFor(m => m.FromMonthName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.FromMonthId, new { @id = "FromMonth" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("To")
                            @Html.TextBoxFor(m => m.ToMonthName, new { @class = "form-control", @readonly = "readonly" })
                             @Html.HiddenFor(m => m.ToMonthId, new { @id = "ToMonth" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                           <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                            @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", @readonly = "readonly" })
                             @Html.HiddenFor(m => m.ClassId, new { @id = "Class" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>
                            @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
                           </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Student")
                            @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control", @readonly = "readonly" })
                            @* @Html.HiddenFor(a => a.StudentId , new { id="hdnStudentId"})*@
                        </div>
                        @*<div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Payment Mode")
                             @Html.TextBoxFor(m=>m.PaymentModeName,new{@class="form-control" ,@readonly="readonly"})
                          </div>*@
                         </div>
                </div>
              <div class="panel-body" id="classByComponentList">
                    @if (Model.FeeTransactionTemplateBo != null)
                    {
                       
                        <header class="panel-heading font-bold">
                            <div class="row">
                                <div class="col-md-12">
                                    Class Wise Component
                                </div>
                            </div>
                        </header>
                        <div class="panel-body">
                            <div class="row scrollable" style="max-height: 250px;">
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive" id="ClassByComponent">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Select</th>
                                            <th class="text-center">FeeHeadName</th>
                                            <th class="text-center"> @Level.GetlabelName((int)LabelEnum.Class)</th>
                                            <th class="text-center">Month</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @if (Model.FeeTransactionTemplateBo.ClassByComponentLists.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="5">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {

                                            for (var i = 0; i < Model.FeeTransactionTemplateBo.ClassByComponentLists.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";
                                                <tr>
                                                    @Html.HiddenFor(a => Model.FeeTransactionTemplateBo.ClassByComponentLists[i].FeeHeadMappingId)
                                                     <td class="text-center">
                                            <div class="checkbox-inline i-checks">
                                                  <label> 
                                                     <input type="checkbox" id="ClassByCheck"checked="@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected">
                                                      <i></i><span></span>
                                                  </label>
                                                 </div>
                                                </td>
                                                    @*<td class="text-center"> @Html.CheckBoxFor(a => a.FeeTransactionTemplateBo.ClassByComponentLists[i].Selected, new { @id = "ClassByCheck" })</td>*@
                                                    <td class="text-center">@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Name</td>
                                                    <td class="text-center">@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].ClassName</td>
                                                    <td class="text-center">@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].FeeMonthName</td>
                                                    <td class="text-center" name='ClassByAmount'>@Model.FeeTransactionTemplateBo.ClassByComponentLists[i].Amount &nbsp; <i class="fa fa-inr"></i> </td>
                                                </tr>
                                              
                                            }
                                        }
                                        </tbody>
                                    </table>
                                    <div class="col-md-2 col-md-offset-10">
                                        @Html.Label("Total")
                                        @Html.TextBoxFor(m => m.ClassByTotalAmount, new { @id = "ClassByTotal", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    </div>
                            </div>
                        </div>
                 
                    }
                </div>

                <div class="panel-body" id="generalByComponentList">
            @if (Model.FeeTransactionTemplateBo != null && Model.FeeTransactionTemplateBo.GeneralByComponentLists != null)
            {
                <header class="panel-heading font-bold">
                            <div class="row">
                                <div class="col-md-12">
                                    General Wise Component
                                </div>
                            </div>
                        </header>
                <div class="panel-body">
                    <div class="row scrollable" style="max-height: 250px;">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive" id="GeneralByComponent">
                                <thead>
                                <tr>
                                    <th class="text-center">Select</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Month</th>
                                    <th class="text-center">Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (Model.FeeTransactionTemplateBo.GeneralByComponentLists.Count == 0)
                                {
                                    <tr>
                                        <td class="text-center"colspan="4">No record found</td>
                                    </tr>
                                }
                                else
                                {
                                    for (var i = 0; i < Model.FeeTransactionTemplateBo.GeneralByComponentLists.Count; i++)
                                    {

                                        var gnid = "FeeTransactionTemplateBo_GeneralByComponentLists_" + i + "__Selected";
                                        <tr>
                                            @Html.HiddenFor(a => Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].FeeHeadMappingId)
                                            <td class="text-center">
                                                <div class="checkbox-inline i-checks">
                                                    <input type="checkbox" id="chkGeneralBy" checked="@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Selected">
                                                    <i></i><span></span>
                                                </div>
                                            </td>
                                           @* <td class="text-center"> @Html.CheckBoxFor(a => a.FeeTransactionTemplateBo.GeneralByComponentLists[i].Selected, new { @name = "chkGeneralBy" })</td>*@
                                            <td class="text-center"> @Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Name</td>
                                            <td class="text-center">@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].FeeMonthName</td>
                                            <td class="text-center" name="GeneralByAmount">@Model.FeeTransactionTemplateBo.GeneralByComponentLists[i].Amount &nbsp;<i class="fa fa-inr"></i></td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                                     <div class="col-md-2 col-md-offset-10">
                                        @Html.Label("Total")
                                        @Html.TextBoxFor(m => m.GeneralByTotalAmount, new { @id = "GeneralByTotal", @class = "form-control", @readonly = "readonly" })
                                    </div>
                        </div>
                    </div>

                    <div class="panel-body" id="Fine">
                        <header class="panel-heading font-bold">
                            <div class="row">
                                <div class="col-md-12">
                                    Add Fine
                                </div>
                            </div>
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Fine")
                                        @Html.DropDownListFor(m => m.FineFeeheadTypeId, new SelectList(Model.ListOfFineFeeheads, "Id", "Name"), "Please Select", new { @id = "Fine", @class = "form-control" })
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                        @Html.Label("Amount")
                                        @Html.TextBoxFor(m => m.FineAmount, new { @id = "FineAmount", @class = "form-control" })
                                    </div>
                                    <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                                        <button type="button" class="btn btn-s-md btn-lightGreen " id="AddButton">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row scrollable" style="max-height: 250px;">
                                @if (Model.FeeTransactionTemplateBo.FineDetailList != null)
                                {
                                <div class="form-group col-md-12 col-sm-12">
                                    <table class="table table-striped responsive" id="AddList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Fine Name</th>
                                                <th class="text-center">Amount</th>
                                                <th class="text-center">Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.FeeTransactionTemplateBo.FineDetailList.Count; i++)
                                            { 
                                            <tr>
                                                @Html.HiddenFor(a=>a.FeeTransactionTemplateBo.FineDetailList[i].Id)
                                               <td id="FineName" class="text-center">
                                                    @Model.FeeTransactionTemplateBo.FineDetailList[i].FineName
                                                    @Html.HiddenFor(a=>a.FeeTransactionTemplateBo.FineDetailList[i].FineFeeHeadId)
                                                </td>
                                                <td id="Amount" class="text-center">
                                                    @Model.FeeTransactionTemplateBo.FineDetailList[i].Amount
                                                    @Html.HiddenFor(a=>a.FeeTransactionTemplateBo.FineDetailList[i].Amount, new {@class = "fine-remove"})
                                                </td>
                                                <td id="Delete" class="text-center">
                                                    <button type="button" id="btnDeleteFine" class="text-center deleteContactFine btn btn btn-danger btn-xs">Remove</button>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                }
                            </div>
                            <div class="col-md-2 col-md-offset-10">
                                @Html.Label("Total Fine")
                                @Html.TextBoxFor(m => m.TotalFine, new { @id = "TotalFine", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="panel-body" id="Discount">
                            <header class="panel-heading font-bold">
                                <div class="row">
                                    <div class="col-md-12">
                                        Add Discount
                                    </div>
                                </div>
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Discount Type")
                                            @Html.DropDownListFor(m => m.DiscountFeeheadTypeId, new SelectList(Model.ListOfDiscountFeeheads, "Id", "Name"), "Please Select", new { @id = "Discount", @class = "form-control" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                                            @Html.Label("Amount")
                                            @Html.TextBoxFor(m => m.DiscountAmount, new { @id = "DiscountAmount", @class = "form-control" })
                                        </div>
                                        <div class=" form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 23px">
                                            <button type="button" class="btn btn-s-md btn-lightGreen " id="AddDiscountButton">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row scrollable" style="max-height: 250px;">
                                    @if (Model.FeeTransactionTemplateBo.DiscountDetailList != null) { 
                                    <div class="form-group col-md-12 col-sm-12">
                                        <table class="table table-striped responsive" id="AddDiscountList">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Amount</th>
                                                    <th class="text-center">Delete</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for(int i=0;i<Model.FeeTransactionTemplateBo.DiscountDetailList.Count;i++)
                                                {
                                                   @Html.HiddenFor(a=>a.FeeTransactionTemplateBo.DiscountDetailList[i].Id)
                                                <tr>

                                                    <td id="DiscountName" class="text-center">
                                                        @Model.FeeTransactionTemplateBo.DiscountDetailList[i].DiscountTypeName
                                                        @Html.HiddenFor(a=>a.FeeTransactionTemplateBo.DiscountDetailList[i].DiscountFeeHeadId)
                                                    </td>
                                                    <td id="DiscountAmount" class="text-center">
                                                        @Model.FeeTransactionTemplateBo.DiscountDetailList[i].DiscountAmount
                                                        @Html.HiddenFor(a=>a.FeeTransactionTemplateBo.DiscountDetailList[i].DiscountAmount, new {@class="discount-remove"})
                                                    </td>
                                                    <td id="DisDelete" class="text-center"> <button type="button" id="btnDelete" class="text-center deleteContactDiscount btn btn btn-danger btn-xs">Remove</button></td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    }
                                </div>
                                <div class="col-md-2 col-md-offset-10">
                                @Html.Label("Total Discount")
                                @Html.TextBoxFor(m => m.TotalDiscount, new { @id = "TotalDiscount", @class = "form-control", @readonly = "readonly" })
                            </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-3 ">
                            @Html.Label("Previous Balance")
                            @Html.TextBoxFor(m => m.PreviousBalance, new { @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group col-md-3 ">
                            @Html.Label("Total Amount")
                            @Html.TextBoxFor(m => m.TotalPayableAmount, new { @id = "total", @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-3 ">
                            @Html.Label("Amount Paid")
                            @Html.TextBoxFor(m => m.TotalAmountDeposit, new { @id = "AmountPaid", @class = "form-control", type = "number" })
                        </div>
                        <div class="form-group col-md-3 ">
                            @Html.Label("Net Balance")
                            @Html.TextBoxFor(m => m.BalanceAmount, new { @id = "NetBalance", @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                            @Html.Label("Payment Mode")
                            @Html.DropDownListFor(m => m.PaymentModeId, new SelectList(Model.ListOfPaymentMode, "Id", "Name"), "Please select", new { @id = "PaymentMode", @class = "form-control chosen-select" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            @Html.Label("Remark")
                            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                             
                            @Html.Label("Is Settled ")
                            @Html.CheckBoxFor(m => m.IsBalancedSettled, new { @class = "form-control" })
                           </div>
                       </div>
                    </div>
            }
        </div>
            </section>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnEditFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" validateForm(); ">
                <i class="fa fa-save"></i>&nbsp;Update
            </button>
            <a href="@Url.Action("Index", "FeeTransaction")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }

</section>

<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var counter = '@count';
    var fineCounter = '@finecount';

    $(document).ready(function () {
        debugger;
        $(document).on("click", ".deleteContactFine", function () {
            debugger;
            fineCounter--;
            removeFineAmount($(this).closest("tr").find(".fine-remove").val());
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'  
            //removeFineAmount();
            getTotalSumOfClassAndGeneralWise();
        });
        $(document).on("click", ".deleteContactDiscount", function () {
            debugger;
            counter--;
            removeDiscountAmount($(this).closest("tr").find(".discount-remove").val());
            $(this).closest("tr").remove(); // closest used to remove the respective 'tr'  
            //removeDiscountAmount();
            getTotalSumOfClassAndGeneralWise();
        });

        //ADD ROW ON CLICK ADD BUTTON
        $("#AddButton").click(function () {
            debugger;
            if (document.getElementById('Fine').selectedIndex != 0 && $("#FineAmount").val() != "" && $("#Fine option:selected").val() != "") {
                addFineRow();
                getFineAmount();
                getTotalSumOfClassAndGeneralWise();
            } else {
                toastr.error("Please Select fields")
            }
        });
        //ADD ROW ON CLICK ADD BUTTON
        $("#AddDiscountButton").click(function () {
            debugger;
            if ($("#DiscountAmount").val() != "" && $("#Discount option:selected").val() != "") {
                addDiscountRow();
                getDiscountAmount();
                getTotalSumOfClassAndGeneralWise();
            } else {
                toastr.error("Please Select fields")
            }
        });
        // getFineAmount();
        // getDiscountAmount();
        // getTotalSumOfClassAndGeneralWise()
        //get sections onload
        getSections(parseInt('@Model.ClassId'));

        if (parseInt($("#hdnSection").val()) !== 0)
            getStudents($("#hdnSection").val());

        //get sections Onchange of class
        $("#Class").change(function () {
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
                $("#Section")[0].selectedIndex = 0;
                $("#Student")[0].selectedIndex = 0;
            }
        });
        //REMOVE FINE AMOUNT
        function removeFineAmount(value) {
            debugger;
            var remainingFine = (parseFloat($('#TotalFine').val()) - parseFloat(value)).toFixed(2);
            $('#TotalFine').val(remainingFine);
        }
        //GET SUM OF FINE
        // var sumOfFineAmount=0;
        function getFineAmount() {
            debugger;

            var fineAmount = (parseFloat($('#TotalFine').val()) + parseFloat($("#FineAmount").val())).toFixed(2);
            $('#TotalFine').val(fineAmount);
        }
        //GET SUM OF DISCOUNT
        // var sumOfDiscountAmount=0;
        function getDiscountAmount() {
            debugger;
            var discountAmount = (parseFloat($('#TotalDiscount').val()) + parseFloat($("#DiscountAmount").val())).toFixed(2);
            $('#TotalDiscount').val(discountAmount);
        }
        ////sum of total amount(general+class Wise)
        function getTotalSumOfClassAndGeneralWise() {
            debugger;
            var classByAmount = $("#ClassByTotal").val();
            var generalByAmount = $("#GeneralByTotal").val();
            var fine = $("#TotalFine").val();
            var discount = $("#TotalDiscount").val();
            //previous bal
            var totalAmount = (parseFloat(classByAmount) + parseFloat(generalByAmount) + parseFloat(fine) - parseFloat(discount)).toFixed(2); // + previus bal 
            $("#total").val(totalAmount);
        }

        //get students on change of section
        $("#Section").change(function () {
            debugger;
            if (document.getElementById('Section').selectedIndex !== 0) {
                $("#hdnSection").val($("#Section").val());
                getStudents($("#Section option:selected").val());

            }
        });

        //get sum ofclassByAmount

        function getClassSumAmount() {
            var sumOfClassAmount = 0;
            $("#ClassByComponent tbody tr").each(function () {
                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked') &&
                    row.find("td[name='ClassByAmount']").html() != null) {
                    var amount = row.find("td[name='ClassByAmount']").html();
                    if (amount != undefined) {
                        sumOfClassAmount = (parseFloat(sumOfClassAmount) + parseFloat(amount)).toFixed(2);
                    }
                }
            });
            $('#ClassByTotal').val(sumOfClassAmount);
        }
        $("#ClassByComponent").on("change", ":checkbox", function () {
            getClassSumAmount();
            getTotalSumOfClassAndGeneralWise();
        });
        getClassSumAmount();
        getGeneralSumAount();
        //set bydefault all selected
        // $('#ClassByComponent tbody tr input:checkbox').prop('checked', true);



        //get sum of GeneralByAmount
        function getGeneralSumAount() {
            var sumOfGeneralAmount = 0;
            $("#GeneralByComponent tbody tr").each(function () {
                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked') &&
                    row.find("td[name='GeneralByAmount']").html() != null) {
                    var amount = row.find("td[name='GeneralByAmount']").html();
                    if (amount != undefined) {
                        sumOfGeneralAmount = (parseFloat(sumOfGeneralAmount) + parseFloat(amount)).toFixed(2);
                    }
                }
            });
            $('#GeneralByTotal').val(sumOfGeneralAmount);
        }

        $("#GeneralByComponent").on("change", ":checkbox", function () {
            // $(this).parents("tr:first").css('background-color', 'yellow');
            getGeneralSumAount();
            getTotalSumOfClassAndGeneralWise();
        });

        //get net balance on change of paid amount
        $("#AmountPaid").change(function () {
            var paidAmount = $("#AmountPaid").val();
            var totalAmount = $("#total").val();
            var netBalance = (parseFloat(totalAmount) - parseFloat(paidAmount)).toFixed(2);
            $("#NetBalance").val(netBalance);
        });

        //choosen true
        $('.chosen-select').chosen({
            search_contains: true
        });
    });

    //get sections based on classId
    function getSections(classId) {

        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $('#Section option[value=""]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }
    //REMOVE DISCOUNT
    function removeDiscountAmount(amount) {
        debugger;
        var remainingFine = (parseFloat($('#TotalDiscount').val()) - parseFloat(amount)).toFixed(2);
        $('#TotalDiscount').val(remainingFine);

    }
    //ADD ROW IN MAPPING GRID
    function addFineRow() {
        debugger;
        var html = '<tr>' + '<td class="text-center">' + $("#Fine option:selected").text() + '<input type="hidden" value="' + $("#Fine option:selected").val() + '" name="FeeTransactionTemplateBo.FineDetailList[' + counter + '].FineFeeheadId" id="FeeTransactionTemplateBo.FineDetailList_' + counter + '_FineFeeheadId"' +
     '</td>' + '<td class="text-center">' + $("#FineAmount").val() + '<input type="hidden"  class="fine-remove" value="' + $("#FineAmount").val() + '" name="FeeTransactionTemplateBo.FineDetailList[' + counter + '].Amount" id="FeeTransactionTemplateBo.FineDetailList_' + counter + '_Amount"' +
    '</td>' + '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteContactFine btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddList"));
        fineCounter++;
    }
    //ADD Dicount ROW IN MAPPING GRID
    function addDiscountRow() {
        debugger;
        var html = '<tr>' + '<td class="text-center">' + $("#Discount option:selected").text() + '<input type="hidden" value="' + $("#Discount option:selected").val() + '" name="FeeTransactionTemplateBo.DiscountDetailList[' + counter + '].DiscountFeeheadId" id="FeeTransactionTemplateBo.DiscountDetailList_' + counter + '_DiscountFeeheadId"' +
        '</td>' + '<td class="text-center">' + $("#DiscountAmount").val() + '<input type="hidden" class="discount-remove" value="' + $("#DiscountAmount").val() + '" name="FeeTransactionTemplateBo.DiscountDetailList[' + counter + '].DiscountAmount" id="FeeTransactionTemplateBo.DiscountDetailList_' + counter + '_DiscountAmount"' +
    '</td>' + '</td>' + '<td class="text-center">' + '<button type="button" id="btnDelete" class="text-center deleteContactDiscount btn btn btn-danger btn-xs">Remove</button>' + '</td>' + '</tr>';
        $(html).appendTo($("#AddDiscountList"));
        counter++;
    }
    //get students Based on sectionId
    function getStudents(sectionId) {
        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
                datatype: 'json',
                data: { sectionId: sectionId },
                success: function (sections) {
                    $.each(sections, function (i, sec) {
                        $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                    });
                    $("#Student option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                    $('#Student option[value=""]').prop('selected', true);
                },
                error: function (ex) {
                    alert('Failed to retrieve classes.' + ex);
                }
            });
        }

        //get component details to show in grid
        function getComponentDetail() {
            debugger;
            $("#ClassByComponent").html("");
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetComponentDetail", "FeeTransaction")',
            datatype: 'html',
            data: { sessionId: $("#Session").val(), fromMonthId: $("#FromMonth").val(), toMonthId: $("#ToMonth").val(), classId: $("#Class").val(), sectionId: $("#Section").val(), studentId: $("#Student").val() },
            success: function (data) {
                $("#ClassByComponent").html(data);
            },
            error: function (ex) {
                toastr.error('Failed to retrieve students.' + ex);
            }
        });
    }






    function validateForm() {
        debugger;
        $('#editFeeHeadTractionForm').parsley().validate();
        if ($('#editFeeHeadTractionForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;

            // ("#Section option:selected").val();
            $("#hdnStudentId").val($("#Student").val());
            $("#ToTalAmountDeposit").val($("#total").val());
            $("#BalenceAmount").val($("#NetBalance").val());
            $.ajax({
                url: '@Url.Action("Edit", "FeeTransaction")',
                data: $("#editFeeHeadTractionForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return false;
                    }
                    window.location.href = '@Url.Action("Index", "FeeTransaction")';
                    }
            });
            }
            else {
                toastr.error("Mandatory fields are required");
            }
        }

</script>
