﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@using EduErp.Web.Utilities
@model EduErp.BO.FeeTransactionBo
@{
    Layout = null;
    var amount = 0;
    var count = 1;
}

<section class="panel panel-default ">
    @using (Html.BeginForm("FeeReciept", "FeeTransaction", null, FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "parsley", id = "addFeeHeadTractionForm" }))
    {
        @Html.HiddenFor(m => m.FeeHeadMappingId)
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <section class="panel panel-default">
                <header class=" font-bold">
                    <div class="row">
                        <div class="col-md-6" style="padding-top: 8px">
                            <img id="imageId" src="@(Model.S3key == Guid.Empty ? Url.Content("~/Content/images/gravator.png") : CommonUtil.GetUrlByKey("School/" + Model.S3key))" alt="" width="50" title="Profile Image" height="50" class="img-circle pull-right"/>
                            @*  <img src="~/Content/images/Logo.png" class="pull-right" alt="EduErp" width="60" height="20" style="margin-left: 5px" />*@
                        </div>
                        <div class="col-md-6">
                            <h3><span>@SessionItems.SchoolName</span></h3>
                        </div>
                    </div>
                </header>
                <div class="">
                    <table class="table  table-bordered table-responsive table-condensed">
                        <tbody>
                            <tr>
                                <td>
                                    <h5><b><span>Reciept Number </span>:</b></h5>
                                </td>
                                <td>
                                    <h5><span>@Model.Id</span></h5>
                                </td>
                                <td>

                                    <h5><b><span>Reciept Date </span>:</b> </h5>

                                </td>
                                <td>
                                    <h5><span>@DateTime.Now.ToFormattedDate()</span> </h5>
                                </td>
                               
                                 <td>

                                        <h5> <b><span>Session </span>:</b> </h5>
                                    
                                </td>
                                <td>
                                     
                                    <h5><span>@Model.SessionName</span> </h5>
                                </td>
                            </tr>
                            <tr>
                                
                                
                                <td>
                                   
                                        <h5> <b><span>From Month </span>:</b> </h5>
                                    
                                </td>
                                <td>
                                     <h5><span>@Model.FromMonthName</span> </h5>
                                </td>

                                <td>
                                    
                                        <h5> <b><span>To Month </span>:</b> </h5>
                                    
                                </td>
                                <td>
                                    <h5> <span>@Model.ToMonthName</span> </h5>
                                </td>
                                <td>
                                    
                                       <h5>  <b><span>@Level.GetlabelName((int)LabelEnum.Class) </span>:</b> </h5>
                                    
                                </td>
                                <td>
                                    <h5> <span>@Model.ClassName</span> </h5>
                                </td>
                            </tr>
                            <tr>

                                

                            </tr>

                            <tr>
                                <td>
                                    
                                        <h5> <b><span>@Level.GetlabelName((int)LabelEnum.Batch) </span>:</b> </h5>
                                    
                                </td>
                                <td>
                                    <h5> <span>@Model.SectionName</span> </h5>
                                </td>


                                <td>

                                        <h5> <b><span>Student Name </span>:</b> </h5>
                                    
                                </td>
                                <td>
                                     
                                    <h5><span>@Model.StudentName</span> </h5>
                                </td>
                                 <td>
                                    
                                       <h5> <b><span>Payment Mode </span>:</b></h5>
                                    
                                </td>
                                <td>
                                   <h5> <span>@Model.PaymentModeName</span></h5>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <div class="" id="classByComponentList">
                    @if (Model.FeeTransactionTemplateBo != null)
                    {
                    <h5><b>Fees Components</b></h5>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <table class="table table-bordered responsive table-condensed">
                                    <colgroup>
                                        <col class="col-xs-1">
                                        <col class="col-xs-9">
                                        <col class="col-xs-2">
                                    </colgroup>
                                    <thead class="head-color">
                                        <tr>
                                            <th class="text-center">Sr No.</th>
                                            <th class="text-center">Component</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.FeeTransactionTemplateBo.ComponentList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            
                                            for (var i = 0; i < Model.FeeTransactionTemplateBo.ComponentList.Count; i++)
                                            {

                                                if (Model.FeeTransactionTemplateBo.ComponentList[i].FeeHeadTypeId == (int)FeeHeadType.ClassBy || Model.FeeTransactionTemplateBo.ComponentList[i].FeeHeadTypeId == (int)FeeHeadType.General)
                                                {
                                                   
                                            <tr>
                                                <td class="">@count</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Name</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Amount &nbsp; <i class="fa fa-inr"></i></td>
                                            </tr>
                                                    count++;
                                                }

                                            }
                                                                                         
                                            @*<tr class="warning">
                                                <th colspan="2" class="col-md-9  text-right">Total Amount</th>
                                                <td class="">@Model.TotalAmount</td>
                                            </tr>*@
                                        
                                        }

                                    </tbody>
                                       <tbody>
                                        @if (Model.FeeTransactionTemplateBo.ComponentList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            
                                            for (var i = 0; i < Model.FeeTransactionTemplateBo.ComponentList.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";

                                                if (Model.FeeTransactionTemplateBo.ComponentList[i].FeeHeadTypeId == (int)FeeHeadType.Fine)
                                                {
                                                   
                                            <tr>
                                                <td class="">@count</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Name</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Amount &nbsp; <i class="fa fa-inr"></i></td>
                                            </tr>
                                                    count++;
                                                }
                                            }
                                            @*<tr class="warning">
                                                <th colspan="2" class="col-md-9   text-right">Total Amount</th>
                                                <td class="">@Model.TotalFineSum</td>
                                            </tr>*@
                                        }

                                    </tbody>
                                      <tbody>
                                        @if (Model.FeeTransactionTemplateBo.ComponentList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            
                                            for (var i = 0; i < Model.FeeTransactionTemplateBo.ComponentList.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";

                                                if (Model.FeeTransactionTemplateBo.ComponentList[i].FeeHeadTypeId == (int)FeeHeadType.Discount)
                                                {
                                            <tr>
                                                <td class="">@count</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Name</td>
                                                <td class=""><b style="color:red">-</b>@Model.FeeTransactionTemplateBo.ComponentList[i].Amount &nbsp; <i class="fa fa-inr"></i></td>
                                            </tr>
                                                    count++;
                                                }
                                            }
                                            @*<tr class="warning">
                                                <th colspan="2" class="col-md-9  text-right">Total Amount</th>
                                                <td class=""><span class="fa fa-minus"></span>@Model.TotalDiscountSum</td>
                                            </tr>*@
                                            <tr class="warning">
                                                <th colspan="2" class="col-md-9  text-right">Total Amount</th>
                                                <td class="">@Model.GrandTotal</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>@*
                      <h5><b>Fine</b></h5>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <table class="table  table-bordered responsive table-condensed" id="ClassByComponent">
                                    <colgroup>
                                        <col class="col-xs-1">
                                        <col class="col-xs-9">
                                        <col class="col-xs-2">
                                    </colgroup>
                                    <thead class="head-color">
                                        <tr>
                                            <th class="text-center">Sr No.</th>
                                            <th class="text-center">Component</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.FeeTransactionTemplateBo.ComponentList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            int q = 0;
                                            for (var i = 0; i < Model.FeeTransactionTemplateBo.ComponentList.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";

                                                if (Model.FeeTransactionTemplateBo.ComponentList[i].FeeHeadTypeId == (int)FeeHeadType.Fine)
                                                {
                                                   
                                            <tr>
                                                <td class="">@( ((Int32)1) + q)</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Name</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Amount &nbsp; <i class="fa fa-inr"></i></td>
                                            </tr>
                                                    q++;
                                                }
                                            }
                                            <tr class="warning">
                                                <th colspan="2" class="col-md-9   text-right">Total Amount</th>
                                                <td class="">@Model.TotalFineSum</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>*@
                       
                        @*<h5><b>Discount</b></h5>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <table class="table  table-bordered responsive table-condensed">
                                    <colgroup>
                                        <col class="col-xs-1">
                                        <col class="col-xs-9">
                                        <col class="col-xs-2">
                                    </colgroup>
                                    <thead class="head-color">
                                        <tr>
                                            <th class="text-center">S No.</th>
                                            <th class="text-center">Component</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.FeeTransactionTemplateBo.ComponentList.Count == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">No record found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            int r = 0;
                                            for (var i = 0; i < Model.FeeTransactionTemplateBo.ComponentList.Count; i++)
                                            {
                                                var id = "FeeTransactionTemplateBo_ClassByComponentLists_" + i + "__Selected";
                                                //var ddid = "MenuList_" + i + "__RightId";

                                                if (Model.FeeTransactionTemplateBo.ComponentList[i].FeeHeadTypeId == (int)FeeHeadType.Discount)
                                                {
                                            <tr>
                                                <td class="">@( ((Int32)1) + r)</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Name</td>
                                                <td class="">@Model.FeeTransactionTemplateBo.ComponentList[i].Amount &nbsp; <i class="fa fa-inr"></i></td>
                                            </tr>
                                                    r++;
                                                }
                                            }
                                            <tr class="warning">
                                                <th colspan="2" class="col-md-9  text-right">Total Amount</th>
                                                <td class=""><span class="fa fa-minus"></span>@Model.TotalDiscountSum</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>*@

                    }
                </div>


                <div class="" >
                    <table class="table table-responsive table-bordered table-condensed">
                        <tbody>
                            <tr>
                                  <td>
                                    <label>
                                        <b><span>Previous Balance  </span>:</b>
                                    </label>
                                </td>
                                <td>
                                    <span>@Model.PreviousBalance</span>
                                </td>
                                <td>
                                    <label>
                                        <b><span>Grand Total Amount </span>:</b>
                                    </label>
                                </td>
                                <td>
                                    <span>@Model.GrandTotal</span>
                                    @* <span>@{((((decimal)Model.TotalComponentSum) + ((decimal)Model.TotalFineSum))) -((decimal) Model.TotalDiscountSum))}</span>*@
                                </td>

                                <td>
                                    <label>
                                        <b><span>Total Paid Amount  </span>:</b>
                                    </label>
                                </td>
                                <td>
                                    <span>@Model.TotalAmountDeposit</span>
                                </td>
                              
                            </tr>
                            <tr>
                                  
                                <td>
                                    <label>
                                        <b><span>Net Balance </span>:</b>
                                    </label>
                                </td>
                                <td>
                                    <span>@Model.BalanceAmount</span>
                                </td>
                                  <td>
                                    <label>
                                        <b><span>Remark </span>:</b>
                                    </label>
                                </td>
                                <td>
                                    <span>@Model.Remark</span>
                                </td>

                                <td>
                                    <label>
                                        <b><span>Is Settled </span>:</b>
                                    </label>
                                </td>
                                <td>
                                    @if (Model.IsBalancedSettled)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>

                                
                            </tr>
                            


                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-8 text-right">
                            <span>&nbsp;</span>
                        </div>
                        <div class="col-md-4 text-left" style="">
                            <h4>Signature</h4>
                        </div>
                    </div>
                </div>

                <footer class="panel-footer text-right bg-light lter text-center">
                  <input id="printpagebutton" type="button" value="Save&Print" onclick="printpage()" class="btn btn-md btn-primary"/>
                  @*  @<button type="button" id="btnprint"class="printbutton btn btn-md btn-primary">Print</button>*@
                   @* <button class=" btn btn-s-sm btn-default"  onclick="goBack()"> Back</button>*@
                    <a  id="savepagebutton" type="button"class=" btn btn-s-sm btn-success " href="@Url.Action("Index", "FeeTransaction")">Save</a>
                   
                </footer>

            </section>
        </div>

        <footer class=" text-right">
        </footer>
    }
  
    <script src="~/Content/js/jquery-2.1.3.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/MyStyle.css" rel="stylesheet" />
</section>

<script type="text/javascript">
    function printpage() {

        var printButton = document.getElementById("printpagebutton");
        printButton.style.visibility = 'hidden';
        var saveButton = document.getElementById("savepagebutton");
        saveButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again 
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
        saveButton.style.visibility = 'visible';

    }


    $(document).ready(function () {
        //GET SUM OF CLASS AMOUNT
        $("#ClassByComponent").on("change", ":checkbox", function () {
            getClassSumAmount();
            getTotalSumOfClassAndGeneralWise();
        });
        getClassSumAmount();
        getTotalSumOfClassAndGeneralWise();
        //set bydefault all selected
        $('#ClassByComponent tbody tr input:checkbox').prop('checked', true);

        $("#GeneralByComponent").on("change", ":checkbox", function () {
            // $(this).parents("tr:first").css('background-color', 'yellow');
            getGeneralSumAount();
            getTotalSumOfClassAndGeneralWise();
        });
        getGeneralSumAount();
        // getTotalSumOfClassAndGeneralWise();

        //get net balance on change of paid amount
        $("#AmountPaid").change(function () {
            var paidAmount = $("#AmountPaid").val();
            var totalAmount = $("#total").val();
            var netBalance = (parseFloat(totalAmount) - parseFloat(paidAmount)).toFixed(2);
            $("#NetBalance").val(netBalance);
        });
    });

    //get sum of GeneralByAmount
    function getGeneralSumAount() {
        debugger;
        var sumOfGeneralAmount = 0;
        $("#GeneralByComponent tbody tr").each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked') &&
                row.find("td[name='GeneralByAmount']").html() != null) {
                var amount = row.find("td[name='GeneralByAmount']").html();
                if (amount != undefined) {
                    sumOfGeneralAmount = (parseFloat(sumOfGeneralAmount) + parseFloat(amount)).toFixed(2);
                }
            }
        });
        $('#GeneralByTotal').val(sumOfGeneralAmount);
    }

    ////sum of total amount(general+class Wise)
    function getTotalSumOfClassAndGeneralWise() {
        debugger;
        var classByAmount = $("#ClassByTotal").val();
        var generalByAmount = $("#GeneralByTotal").val();
        //previous bal
        var totalAmount = (parseFloat(classByAmount) + parseFloat(generalByAmount)).toFixed(2); // + previus bal 
        $("#total").val(totalAmount);
    }

    //get sum ofclassByAmount
    function getClassSumAmount() {
        debugger;
        var sumOfClassAmount = 0;
        $('#ClassByComponent tbody tr input:checkbox').prop('checked', true);
        $("#ClassByComponent tbody tr").each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked') &&
                row.find("td[name='ClassByAmount']").html() != null) {
                var amount = row.find("td[name='ClassByAmount']").html();
                if (amount != undefined) {
                    sumOfClassAmount = (parseFloat(sumOfClassAmount) + parseFloat(amount)).toFixed(2);
                }
            }
        });
        $('#ClassByTotal').val(sumOfClassAmount);
    }
</script>
