﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.FeeTransactionBo
@{
    ViewBag.Title = PageTitle.Create("FeeTransaction");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="panel-heading font-bold b-light">
    Fee Transaction

    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.FeeTransaction) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
    {
        <a href="@Url.Action("Add", "FeeTransaction")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Fee Transaction</a>
    }
     <a href='#' id="Filter" class='text-primary m-l-sm'>
       &nbsp;&nbsp; <i class='fa fa-filter'></i>Filter</a>
</header>
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body" id="visible">
                    <div class="row">
                         @Html.HiddenFor(a => a.StudentId, new { id = "hdnStudentId" })
                        @*<div class=" form-group col-md-3 col-sm-3 col-xs-3 ">
                            @Html.Label("Session")
                            @Html.DropDownListFor(m => m.SessionId, new SelectList(Model.ListOfSessions, "Value", "Text"), new { @id = "Session", @class = "form-control chosen-select" })
                        </div>*@
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                           <label> @Level.GetlabelName((int)LabelEnum.Class)</label>
                            @Html.DropDownListFor(m => m.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new { @id = "Class", @class = "form-control chosen-select", title = "Select class to get last transactions" })
                        </div>
                        <div class=" form-group col-md-3 col-sm-3 col-xs-3">
                            <label> @Level.GetlabelName((int)LabelEnum.Batch)</label>
                            <select id="Section" class="form-control chosen" title="Select section to get last transactions">
                            </select>
                            @Html.HiddenFor(a => a.SectionId, new { id = "hdnSection" })
                        </div>
                        
                        <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-top: 22px">
                            <button id="btnGetFeeTransaction" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" getTransaction(); ">
                                Get Transactions
                            </button>
                        </div>
                    </div>
                </div>

                <div class=" scrollable" id="TransactionList">
                </div>
                <div id="TransactionListById">
                </div>



            </section>
        </div>
    </div>
</section>
<script type="text/javascript">

    $(document).ready(function () {

        // getSections(parseInt('@*@Model.ClassId*@'));

        // if ($("#hdnSection").val() != null && $("#hdnSection").val() != '')
        // getStudents(parseInt($("#hdnSection").val()));

        //get sections Onchange of class
        $("#Class").change(function () {
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
            }
        });
        //toggle
        // $('#visible').slideToggle();
        $("#Filter").click(function () {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });

        //get students on change of section
        $("#Section").change(function () {
            if (document.getElementById('Section').selectedIndex !== 0) {
                $("#hdnSection").val($("#Section").val());
                getStudents($("#Section option:selected").val());

            }
        });

    });

    function getSections(classId) {

        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
                $("#Section option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $('#Section option[value=""]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }

    //get students Based on sectionId
    function getStudents(sectionId) {
        $("#Student").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetStudentsListBySectionId")',
            datatype: 'json',
            data: { sectionId: sectionId },
            success: function (sections) {
                $.each(sections, function (i, sec) {
                    $("#Student").append('<option value="' + sec.Value + '">' + sec.Text + '</option>').prop('selected', true);
                });
                $("#Student option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                $('#Student option[value=""]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }


    function getTransaction() {
        debugger;
        $("#TransactionList").html("");

        if ($("#Class").val() !== "" && $("#Section").val() !== "") {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetTransactionDetail", "FeeTransaction")',
                datatype: 'html',
                data: { classId: $("#Class").val(), sectionId: $("#Section").val(), sessionId: $("#Session").val() },
                success: function (data) {
                    $("#TransactionList").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        } else {
            toastr.error("Select class and section");

        }
    }


    function getTransactionByStudentId(studentId, studentName) {
        debugger;
        $("#TransactionListById").html("");
        var studentName = studentName;
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetFeeTransactionDetailByStudentId", "FeeTransaction")',
                datatype: 'html',
                data: { 'studentName': studentName, studentId: studentId, classId: $("#Class").val(), sectionId: $("#Section").val(), sessionId: $("#Session").val() },
                success: function (data) {
                    $("#TransactionListById").html(data);
                },
                error: function (ex) {
                    toastr.error('Failed to retrieve students.' + ex);
                }
            });
        }

        function updateStatus(id, statusId) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("UpdateStatus", "FeeTransaction")',
                data: { id: id, statusId: statusId, "__RequestVerificationToken": token },
                type: 'post',
                success: function () {
                    //toastr.success(data);
                    location.reload();
                }
            });
        }
</script>
