﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.SubjectBo

<div class="modal fade in" id="addClassModal" style="display:block;" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 class="modal-title">
                    <span id="ClassModalTitle"> Add New Subject</span>
                </h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Add", "Subject", null, FormMethod.Post, new { data_validate = "parsley", @autocomplete = "off", @id = "addsubject" }))
                {
                    @Html.AntiForgeryToken()
         <div style="padding-top: 5px">
           <p style="margin-left: 8px">Fields with <span class="text-danger">*</span> are required. </p>
         </div>
             <div class="panel-body">
             <div class=" pull-in clearfix">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                @Html.LabelFor(m => m.Name)<span class="text-danger">*</span>
                @Html.TextBoxFor(m => m.Name, new {@id="SubjectName",@class = "form-control", data_parsley_required = "true", data_parsley_error_message = "Please enter subject", maxlength = "200"})
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label>Select @Level.GetlabelName((int)LabelEnum.Class)</label><span class="text-danger">*</span>
                @Html.DropDownListFor(a => a.ClassIdes,new SelectList(Model.ListOfClasses,"Id","Name",Model.ClassIdes), "Please Select",new{@class="chosen-select",multiple="multiple",data_parsley_required = "true",data_parsley_error_message = "Please Select", data_parsley_errors_container="#error1"})
                @*<select id="multipleChk" multiple="multiple" class="chosen-select"></select>*@
                <div id="error1"></div>
            </div>
                    
                 </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddClass" type="button" class="btn btn-lightGreen btn-s-xs" onclick="saveForm();">
                            <i class="fa fa-save"></i>&nbsp; Save
                        </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#">Cancel</a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    
    $(document).ready(function() {
        //$("#SubjectName").keypress(function (key) {
        //    var text = isValidText(key.charCode);
        //    if (!text) {
        //        toastr.error("Please enter only text");
        //        return false;
        //    }
        //});
        $('.chosen-select').chosen({
            search_contains: true
        });
       
    });
    function saveForm() {
        debugger;
        $('#addsubject').parsley().validate();
        if ($('#addsubject').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url: '@Url.Action("Add", "Subject")',
                data: $("#addsubject").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Subject")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }

    //$(function() {

    //    $('#multipleChk').multiselect({
    //        includeSelectAllOption: true

    //    });
   // });

   
</script>