﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.SubjectBo
<div class="modal fade in" id="AddSubjectModal" style="display:block" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                   <h4 class="modal-title">
                        <span class="SubjectModalTitle">Update Subject</span>
                   </h4>
                </div>

            <div class="modal-body">
                @using(Html.BeginForm("Edit","Subject",null,FormMethod.Post,new {data_validate="parsley",@id="editsubject"}))
                { 
                   @Html.AntiForgeryToken()
                    <div style="padding-top: 5px">
                  <p>Fields with <span class="text-danger">*</span> are required. </p>
                  </div>
                    <div class="modal-panel">
                        <div class="pull-in clearfix">
                       <div class="form-group col-md-12 col-sm-12">
                           @Html.LabelFor(m=>m.Name)&nbsp;<span class="text-danger">*</span>
                           @Html.TextBoxFor(m=>m.Name,new{@id="Subname", @class="form-control",data_parsley_required="true",data_parsley_error_message="Please enter subject",maxlength="200" })
                        </div>                             
                   <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label>Select @Level.GetlabelName((int)LabelEnum.Class)</label>
                      @Html.DropDownListFor(a => a.ClassIdes,new SelectList(Model.ListOfClasses,"Id","Name",Model.ClassIdes),new{@id="selectClass",@class="chosen-select",multiple="multiple",data_parsley_required = "true"})
                  </div>   
                
                </div>
            </div>
                    <div class="modal-footer">
                        <button  id="btnEditSubject" class="btn btn-lightGreen btn-s-xs" type="button" onclick="validateForm();">
                            <i class="fa fa-save">&nbsp;Update
                              </i>
                            </button>
                        <a data-dismiss="modal" class="btn btn-default" href="#" >Cancel</a>
                        </div>
                }
        </div>
    </div>
  </div>
 </div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.chosen-select').chosen({
            search_contains: true
        });

        //$("#Subname").keypress(function (key) {
        //    var text = isValidText(key.charCode);
        //    if (!text) {
        //        toastr.error("Please enter only text");
        //        return false;
        //    }
        //});
        $("#selectClass").val([@Model.ClassIds]);
        $("#selectClass").trigger('chosen:updated');
    });
   
    function validateForm() {
        debugger;
        $('#editsubject').parsley().validate();
        if ($('#editsubject').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                url:'@Url.Action("Edit","Subject")',
                data: $("#editsubject").serialize(),
                type:'post',
                headers:headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "Subject")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>