﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model EduErp.BO.StudentUploadBo
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
   }

<header class="panel-heading font-bold b-light">
    Create Export To Excel
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.StudentUpload) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
    {
        <a class="btn-sm btn-primary pull-right" href="@Url.Action("GetExportUnbilledRequestsAndExport", "StudentUpload")"><i class="fa fa-file-excel-o"></i>&nbsp;Create Excel To Export</a>
    }
         <a href='#' id="Filter" class='text-primary m-l-sm'>
       &nbsp;&nbsp; <i class='fa fa-filter'></i>Filter</a>
</header>

@using (Html.BeginForm("Index", "StudentUpload", FormMethod.Post, new {data_validate = "parsley", @id = "studentUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="panel panel-default">
        <div class="panel-body" id="visible">
            @if(Model!=null)
            {
            <div class="row">
               <div class=" col-sm-12 text-center">
                @if(TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <h5><strong>@Model.Count @TempData["Success"]</strong></h5>
                   </div>
                
                }
                </div>
                <div class="col-sm-12 text-center">
                @if(TempData["ExceedError"] != null)
                {
                    <div class="alert alert-success alert-dismissible">warning
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <h5><strong> @TempData["ExceedError"]</strong></h5>
                   </div>
                
                }
                </div>
                 
               @* <div class=" form-group col-md-3 col-sm-3">
                    @Html.Label("Session")&nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(a => a.SessionId, new SelectList(Model.ListOfSessions, "Id", "Name"), new {@class = "form-control", @id = "Session",data_parsley_required = "true",data_parsley_error_message = "Please Select Session"})
                </div>*@
                <div class=" form-group col-md-3 col-sm-3">&nbsp;<span class="text-danger">*</span>
                   <b> @Level.GetlabelName((int)LabelEnum.Class)</b>
                    @Html.DropDownListFor(a => a.ClassId, new SelectList(Model.ListOfClasses, "Id", "Name"), "Please Select", new {@class = "form-control", @id = "Class",data_parsley_required = "true",data_parsley_error_message = "Please Select Class"})
                </div>
                <div class=" form-group col-md-3 col-sm-3">
                   <b>  @Level.GetlabelName((int)LabelEnum.Batch)</b>&nbsp;<span class="text-danger">*</span>
                    <select id="Section" required="true" class="form-control chosen">
                        @Html.HiddenFor(m => m.SectionId, new {@id = "Hidden"})
                    </select>
                </div>
               
            </div>
                 <div class="text-center">@Html.ValidationSummary()</div>
                <div class="col-sm-12 callout callout-info">
                    <div class="">
                    <h4>You must follow the follwing instruction at the time of uploading record.</h4>
                    <ol>
                        <li><b>The field with red colour are required field .</b></li>
                        <li>Student Id is auto generated.</li>
                        <li>Date of birth must be less than current date</li>
                    </ol>
                        </div>
                    </div>
             }

            <div class="row" style="padding-top: 10px">
                <div class="col-md-4 form-group">
                    <label class="btn btn-primary btn-file">
                     <input type="file" id="files" name="file" required="true" onchange=" readURL(this); "/>
                    </label>
                </div>

                <div class="col-md-4 form-group">
                    <input class="btn btn-primary " type="submit"  value="Upload">
                </div>
                <div class="col-md-4 form-group">
                    <button class="btn btn-default" onclick="goBack()">Back</button>
                </div>

            </div>
        </div>

        <section>
            @if (Model != null && Model.ErrorDetailsList !=null)
              {
            <div class="row ">
                <div class="col-md-12 ">
                    <section class="panel panel-default scrollable">
                        <div class="form-group col-md-12 col-sm-12">
                            <table class="table table-striped responsive">
                                <thead>
                                <tr>
                                    <th class="text-center">StudentName</th>
                                    <th class="text-center">Error</th>
                                    <th class="text-center">Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (Model.ErrorDetailsList.Count != 0)
                                {
                                    foreach (var err in Model.ErrorDetailsList)
                                    {
                                        <tr>
                                            <td class="text-center">@err.StudentName</td>
                                            <td class="text-center"style="color:red">@err.Error</td>
                                            <td class="text-center">@err.Description</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            }
        </section>
        
        
    </section>
}
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#Class").change(function () {
            debugger;
            if (document.getElementById('Class').selectedIndex !== 0) {
                getSections($("#Class").val());
            }
        });
        $("#Section").change(function () {
            if (document.getElementById('Section').selectedIndex !== 0) {
            $("#Hidden").val($("#Section option:selected").val());
            }
        });
       // $('#visible').slideToggle();
        $("#Filter").click(function () {
            debugger;
            $('#visible').slideToggle();
            $('#Filter').html($('#Filter').text() == ' Hide Filter' ? 'Filter' : 'Hide Filter');
        });
    });
    function goBack() {
        window.history.back();
    }
    //get sections based on classId
    function getSections(classId) {
        debugger;

        $("#Section").empty();
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSectionList")',
            datatype: 'json',
            data: { classId: classId },
            success: function (classes) {

                $.each(classes, function (i, cls) {
                    $("#Section").append('<option value="' + cls.Value + '">' + cls.Text + '</option>');
                });
               
                $("#Section option").eq(0).before($("<option></option>").val("0").text(" Please Select"));
                $('#Section option[value=""]').prop('selected', true);
            },
            error: function (ex) {
                alert('Failed to retrieve classes.' + ex);
            }
        });
    }


    function readURL(input) {
        debugger;
        $('#studentUpload').parsley().validate();
        if ($('#studentUpload').parsley().isValid()) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.readAsDataURL(input.files[0]);
            }
        } else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>





