﻿@using EduErp.Mvc.Utilities
@using EduErp.BO
@model EduErp.BO.AccountFeeDtailBo
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-default scrollable">
    <header class="panel-heading font-bold">
        <div class="row">
            <div class="col-md-12">
                Add AccountFeeDetail
            </div>
        </div>
    </header>
    @using (Html.BeginForm("Add", "AccountFeeDetail", FormMethod.Post, new { enctype = "multipart/form-data", data_validate = "parsley", id = "addAccountFeeDetailForm" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top: 5px">
            <p style="margin-left: 12px">
                Fields with <span class="text-danger">*</span> are required.
            </p>
        </div>

        <div class="panel-body">
            <div class="pull-in clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Level.GetlabelName((int)LabelEnum.School)&nbsp;<span class="text-danger">*</span>
                            @Html.DropDownListFor(m => m.SchoolId, new SelectList(Model.ListOfSchools, "Value", "Text"), "Please Select", new { @id = "School", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("Plan")
                            <select id="Plan" class="form-control"></select>
                            @Html.HiddenFor(m => m.PlanId)
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Payment Date")
                            @Html.TextBoxFor(m => m.PaymentDateStr, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy" })
                        </div>

                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Payment Amount")
                            @Html.TextBoxFor(m => m.PaymentAmount, new { @class = "form-control " })
                        </div>

                        <div class="form-group col-md-4 col-sm-4">
                            @Html.Label("Payment Mode")
                            @Html.DropDownListFor(m => m.PaymentModeId, new SelectList(Model.ListOfPaymentModes, "Id", "Name"), "Please Select", new { @class = "form-control" })
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label("From Date")
                            @Html.TextBoxFor(m => m.FromDateStr, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy" })
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            @Html.Label(" To Date")
                            @Html.TextBoxFor(m => m.ToDateStr, new { @class = "form-control datepicker-input", data_date_format = "dd-mm-yyyy" })
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer text-right bg-white lter">
            <button id="btnAddAccountFeeDetail" type="button" class="btn btn-lightGreen btn-s-xs" onclick=" saveForm(); ">
                <i class="fa fa-save"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index", "AccountFeeDetail")" class="btn btn-s-md  btn-default">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
        </footer>
    }
</section>
<<script src="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.js"></script>
<link href="~/Content/js/bootstap-datepicker/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({
            search_contains: true
        });
        var currentDate = getFormattedDate(new Date());
        $('.datepicker-input').datepicker({
            format: CURRENT_DATEFORMAT,
            //startDate: currentDate,
            autoclose: true
        }).on('changeDate', function (ev) {
            if ($(".datepicker-input").hasClass("parsley-error")) {
                $(".datepicker-input").parsley().reset();
            }
        });
        $(".datepicker-input").val('');




        $("#School").change(function () {
            debugger;
            $("#Plan").empty();
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetPlanList")', // we are calling json method
                dataType: 'json',
                data: { schoolId: $("#School").val() },
                success: function (schools) {
                    $.each(schools, function (i, school) {

                        $("#Plan").append('<option value="' + school.Value + '">' +
                            school.Text + '</option>');
                    });
                    $("#Plan option").eq(0).before($("<option></option>").val("0").text("Please Select"));
                    $('#Plan option[value=""]').prop('selected', true);
                },
                error: function (ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
            return false;
        });
    });

    function saveForm() {
        debugger;
        $('#addAccountFeeDetailForm').parsley().validate();
        if ($('#addAccountFeeDetailForm').parsley().isValid()) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;
            $("#PlanId").val($("#Plan").val());
            $.ajax({
                url: '@Url.Action("Add", "AccountFeeDetail")',
                data: $("#addAccountFeeDetailForm").serialize(),
                type: 'post',
                headers: headers,
                success: function (data) {
                    if (data.isErr) {
                        toastr.error(data.errMsg);
                        return;
                    }
                    window.location.href = '@Url.Action("Index", "AccountFeeDetail")';
                }
            });
        }
        else {
            toastr.error("Mandatory fields are required");
        }
    }
</script>
