﻿@using EduErp.BO
@using EduErp.BO.Enumerators
@using EduErp.Mvc.Utilities
@model List<EduErp.BO.AccountFeeDtailBo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}
<header class="panel-heading font-bold b-light">
    Add Account FeeDetail
    @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.AccountFeeDetail) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
    {
        <a href="@Url.Action("Add", "AccountFeeDetail")" class="btn-sm btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;Account FeeDetail</a>
    }
</header>

@Html.AntiForgeryToken()
<section class="scrollable w-f">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table id="dt_userList" width="100%" class="table table-striped" title="Messages" exportcolumn="0,1,2,3,4" visiblecolumn="0,1,2,3,4,5,6" lastunsortcount="2">
                        <thead>
                            <tr>
                                <th class="text-center"> @Level.GetlabelName((int)LabelEnum.School) Name
                                </th>
                                <th class="text-center">Payment Amount 
                                </th>
                                <th class="text-center">Payment Date
                                </th>
                                <th class="text-center">Payment Mode
                                </th>
                                <th class="text-center">From Date
                                </th>
                                <th class="text-center">To Date
                                </th>
                                <th class="text-center">Status
                                </th>
                                @if (SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.AccountFeeDetail) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write))
                                {
                                     
                                    <th class="text-center">Edit
                                    </th>
                                    <th class="text-center">Delete
                                    </th>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                <tr>

                                    @*<td class="text-center">
                                        @Html.DisplayFor(model => item.Id)
                                    </td>*@
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.SchoolName)
                                    </td>

                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.PaymentAmount)
                                    </td>
                                    <td class="text-center">
                                        @if (item.PaymentDate != null)
                                        {
                                            @item.PaymentDate.Value.ToFormattedDate()
                                        }
                                    </td>
                                    <td class="text-center">
                                        @item.PaymentMode
                                    </td>
                                    <td class="text-center">
                                        @if (item.FromDate != null)
                                        {
                                            @item.FromDate.Value.ToFormattedDate()
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.ToDate != null)
                                        {
                                            @item.ToDate.Value.ToFormattedDate()
                                        }
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-default @(item.StatusId == (int)UserStatus.Active ? "btn-success active" : "")" title="@(item.StatusId == (int)UserStatus.Active ? "Click to deactivate" : "Click to activate")" data-container="body" data-toggle="toolTip"
                                            id="@item.Id" onclick=" setStatusConfirmation(updateStatus, '@(item.Id == (int)UserStatus.Active ? "Deactivate AccountFeeDetail" : "Activate AccountFeeDetail")', '@(item.StatusId == (int)UserStatus.Active ? "Are you sure you want to deactivate AccountFeeDetail " : "Are you sure you want to activate AccountFeeDetail  ")', '@item.Id', '@(item.StatusId == (int)UserStatus.Active ? (int)UserStatus.InActive : (int)UserStatus.Active)') ">
                                            <i class="fa @(item.StatusId == (int)UserStatus.Active ? "fa-check text-active" : "fa-times text-danger")"></i>
                                            <span class=@(item.StatusId == (int)UserStatus.Active ? "text-active" : "text")>@(item.StatusId == (int)UserStatus.Active ? "Active" : "Inactive")</span>
                                        </button>
                                    </td>
                                    @if ((SessionItems.UserRights.Any(a => a.MenuId == (int)MenuMasters.AccountFeeDetail) && SessionItems.UserRights.Any(a => a.RightId == (int)Right.Write)) && (item.StatusId == (int)UserStatus.Active))
                                    {
                                        <td class="text-center">
                                            <a href="@Url.Action("Edit", "AccountFeeDetail", new { @id = item.Id })" id="btnModalOpen" title="Edit" data-placement="top" data-container="body">
                                                <i class="fa fa-edit icon"></i>&nbsp;Edit
                                            </a>
                                        </td>

                                        <td class="text-center">
                                            <a title="Delete" data-placement="top" data-container="body" onclick=" deleteConfirmation(updateStatus, '@item.Id', '@((int)UserStatus.Deleted)') ">
                                                <i class=" fa fa-trash-o text-danger"></i>&nbsp;Delete
                                            </a>
                                        </td>
                                    }
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var exportColumns = $("#dt_userList > thead > tr > th").length;
        //console.log(exportColumns);
        var aTargets = [];
        for (var i = 0; i < exportColumns; i++) {
            aTargets.push(i * 1);
        }
        var visibleColumns = $("#dt_userList > thead > tr > th:not(.hidden)").length;
        //console.log(visibleColumns);
        var vTargets = [];
        for (var j = 0; j < visibleColumns; j++) {
            vTargets.push(j * 1);
        }
        $("#dt_userList").attr("exportColumn", aTargets);
        $("#dt_userList").attr("visibleColumn", vTargets);
        refreshGrid('dt_userList');
    });
    function updateStatus(id, statusId) {
        debugger;
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UpdateStatus", "AccountFeeDetail")',
            data: { Id: id, statusId: statusId, "__RequestVerificationToken": token },
            type: 'post',
            success: function (data) {
                location.reload();
            }

        });

    }

</script>

