﻿<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Hr Management, attendance management, scheduling" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/icon.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/app.v1.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/chosen-select.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ValidationStyle.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/toastr.min.css")" />
    <script src="@Url.Content("~/Content/js/jquery-2.1.3.min.js")" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/js/ie/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/Content/js/ie/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/js/ie/excanvas.min.js")"></script>
    <![endif]-->
</head>
<body class="" id="body">    
    <section class="vbox">
        @RenderBody()
    </section>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('.modalOpener').click(function () {
            if ($('div').hasClass('modal-dialog') == true) {
                $('.modal-backdrop').remove();
            }
        });

        //Handle ESC key (key code 27)
        document.addEventListener('keyup', function (e) {
            if (e.keyCode == 27) {
                if ($('div').hasClass('modal-dialog') == true) {
                    $('.modal-backdrop').remove();
                    $('.modal').css("display", "none");
                }
            }
        });

        $('#loader-wrapper').fadeOut();
        $.ajaxSetup({
            beforeSend: function () {
                showLoader();
            },
            complete: function () {
                removeLoader();
            },
            error: function () {
                removeLoader();
            }
        });

        $(document).ajaxStart(function () {
            showLoader();
        });

        $(document).ajaxComplete(function () {
            removeLoader();
        });

        $(document).ajaxError(function () {
            debugger;
            removeLoader();
        });

        function showLoader() {
            $('#loader-wrapper').show();
        }

        function removeLoader() {
            $('#loader-wrapper').hide();
        }

        $(window).load(function () {
            setTimeout(function () { $("#body").css('opacity', 1); }, 500);
        });
    </script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")" type="text/javascript"></script>
    <!-- App -->
    <script src="@Url.Content("~/Content/js/app.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/slimscroll/jquery.slimscroll.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/app.plugin.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/parsley/parsley.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/toastr.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/bootbox.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/chosen/chosen.jquery.min.js")"  type="text/javascript"></script>
    <!-- code end-->
</body>
</html>