﻿@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@{
    Html.RenderPartial("Header");
}
<section>
    <section class="hbox stretch">
        <!-- .aside -->
        @{
            Html.RenderPartial("_Menubar");
        }
        <!-- /.aside -->
        <section id="content">
            <section class="hbox stretch">
                <section>
                    <section class="vbox">
                        <section class="scrollable padder w-f">
                            <section class="row m-b-xs">
                                <div class="col-sm-6">
                                    <h4 class="m-b-xs text-black">@Html.Raw(ViewBag.Header)</h4>
                                </div>

                                <div class="col-sm-6 text-right text-left-xs m-t-sm">
                                    @*<a href="#nav, #sidebar" class="btn btn-icon b-2x btn-info btn-rounded active" data-toggle="class:nav-xs, show">
                                    <i class="fa fa-bars"></i>
                                </a>*@
                                    <a href="#nav, #sidebar" class="btn btn-sm btn-primary btn-rounded" data-toggle="class:nav-xs, show">
                                        <i class="i i-circleleft text-active"></i>
                                        <i class="i i-circleright text"></i>
                                        Schools
                                    </a>
                                </div>
                            </section>
                            @RenderBody()
                        </section>
                    </section>
                    @*@{
                        Html.RenderPartial("Footer");
                    }*@
                </section>
                <aside class="aside-md  hide" id="sidebar">
                    <section class="vbox animated fadeInRight">
                        <section class="scrollable">
                            @{
                                Html.RenderPartial("_EmployeesListTemplate");
                            }
                        </section>
                    </section>
                </aside>
            </section>
                      
        </section>
    </section>
</section>
<script src="@Url.Content("~/Content/js/jquery.formatDateTime.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function () {
        var d = new Date();
        var offset = d.getTimezoneOffset();

        $(".timeStampUtc").each(function () {
            var text = $(this).text().trim();
            var elementDate = new Date(text);

            elementDate.setMinutes(elementDate.getMinutes() - offset);
            var date = $.formatDateTime('mm/dd/yy', elementDate);
            var time = $.formatDateTime('g:ii a', elementDate);
            $(this).text(date + " at " + time);
        });
    });
</script>