﻿@*@model EduErp.BusinessObjects.TimingVM

<div class="panel">
    <div id="employeeContainer" class="panel-group m-b">
        @foreach (var item in Model.Employees)
        {
            <div class="panel panel-default">
                <div class="checkbox i-checks">
                    <label>
                        <input name="IsSelected" type="checkbox" class="empcb" onclick="ClickOnCheckbox(this)"  data-id="@item.ID" /> 
                              
                        <i></i> @item.EmployeeName
                    </label> 
                </div>
            </div>
        }
    </div>
</div>*@