﻿@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<header class="bg-light header header-md navbar navbar-fixed-top-xs box-shadow" id="appHeader">
    <div class="navbar-header aside-md">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i></a><a href="#" class="navbar-brand">
                <img src="~/Content/images/Logo.png" class="m-r-sm" alt="eduerp" style="margin-left: 5px" />
            </a><a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user"><i
                class="fa fa-cog"></i></a>
    </div>
</header>
<section>
    <section class="vbox bg-white">
        <section class="m-b-lg scrollable">
            <div class="container text-center ">
                @RenderBody()
            </div>
        </section>
    </section>
</section>