﻿@using EduErp.BO
@using EduErp.Mvc.Utilities
@model EduErp.BO.FeeStatusDetailBo
@{
    Layout = "~/Views/Shared/_GridLayout.cshtml";
    var header = string.Empty;
    var feeStatus = Model.FeeStatus;
    switch (feeStatus)
    {
        case (int)FeeStatus.Paid:header = "Paid";
            break;
        case (int)FeeStatus.Unpaid: header = "UnPaid";
            break;
    }
}

<div id="feeStatusModal" class="modal fade in" style="display: block;" aria-hidden="false">
    <div class="min-width modal-dialog " tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x</button>
                <h4 class="modal-title">
                    <span id="feestatusModalTitle">@header </span>
                </h4>
            </div>
            <div class="modal-body">
              
                <div class="table-responsive">
                    <table id="dt_FeeStatus" title="@header" exportColumn="0,1" visibleColumn="0,1"  class="table table-striped table-bordered nowrap m-b-none" data-ride="datatables" cellspacing="0" width="100%">
                        <thead>
                            <tr class="active">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Paid Amount
                                </th>
                                @if (feeStatus == (int)FeeStatus.Paid)
                                {
                                    <th>
                                        Pay Date
                                    </th>
                                }
                  
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var a in Model.FeePaidLists)
                                {
                                    <tr>
                                        <td class="v-middle">
                                            @a.StudentName
                                        </td>
                                        <td>
                                           @a.TotalAmountDeposit
                                        
                                        </td>
                                        @if (feeStatus == (int)FeeStatus.Paid)
                                        {
                                            <td>
                                                @a.TransactionDate.ToFormattedDate()

                                            </td>
                                        }
                                      
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>