﻿@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vbox">
    <section class="scrollable wrapper">
        <section class="vbox">
            <section class="scrollable" style="height: 82vh;">
                <section id="gridPanel" class="panel-default no-border">
                    @RenderBody()
                </section>
            </section>
        </section>
    </section>
</section>
<link rel="stylesheet" href="@Url.Content("~/Content/js/datatables_new/dataTables.bootstrap4.min.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/js/datatables_new/buttons.bootstrap4.min.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/js/datatables_new/responsive.bootstrap4.min.css")" type="text/css" />
@*@Scripts.Render("~/datatables")*@
<link rel="stylesheet" href="@Url.Content("~/Content/js/datatables_new/grid.min.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/dataTables.bootstrap4.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/dataTables.buttons.min.js")"></script>
<script type="text/javascript" src="@Url.Content( "~/Content/js/datatables_new/dataTables.responsive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/responsive.bootstrap4.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/buttons.bootstrap4.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/jszip.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/pdfmake.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/vfs_fonts.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/buttons.html5.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/buttons.print.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datatables_new/buttons.colVis.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/moment.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/datetime-moment.min.js")"></script>
<script type="text/javascript">
    var table;
    function refreshGrid(gridId) {
        if (typeof gridId == 'undefined') {
            gridId = ".data-responsive";
        } else {
            gridId = "#" + gridId;
        }
        var lastUnsortCount = $(gridId).attr("lastUnsortCount");
        var startUnsortCount = $(gridId).attr("startUnsortCount");
        var title = $(gridId).attr("title");

        var exportColumns = $(gridId).attr("exportColumn");
        var visibleColumns = $(gridId).attr("visibleColumn");
        if (lastUnsortCount == undefined)
            lastUnsortCount = 0;
        else
            lastUnsortCount = parseInt(lastUnsortCount);

        if (exportColumns == undefined)
            exportColumns = 0;
        else
            exportColumns = exportColumns.split(',');

        if (visibleColumns == undefined)
            visibleColumns = 0;
        else
            visibleColumns = visibleColumns.split(',');

        var aTargets = [];
        var eTargets = [];
        var vTargets = [];
        if (startUnsortCount != undefined)
            aTargets.push(parseInt(startUnsortCount));
        for (var i = 1; i <= lastUnsortCount; i++) {
            aTargets.push(i * -1);
        }
        for (var j = 0; j < exportColumns.length; j++) {
            eTargets.push(parseInt(exportColumns[j]));
        }
        for (var k = 0; k < visibleColumns.length; k++) {
            vTargets.push(parseInt(visibleColumns[k]));
        }
        $.fn.dataTable.moment('dd-MMM-yyyy');
        $.fn.dataTable.moment("dd/MM/yyyy hh:mm tt");
        table = $(gridId).DataTable({
            processing: true,
            lengthChange: false,
            deferRender: true,
            dom: 'Bfrt<"row"<"col-md-3"i><"col-md-9"p>>',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: eTargets
                    },
                    title: title
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: eTargets
                    },
                    title: title
                },
                {
                    extend: 'pdf',
                    click: function (nButton, oConfig, flash) { showLoader(); },
                    orientation: 'landscape',
                    pageSize: 'RA3',
                    exportOptions: {
                        columns: eTargets
                    },
                    title: title
                },
                {
                    extend: 'colvis',
                    columns: vTargets
                }, 'pageLength'],
            columnDefs: [{ orderable: false, targets: aTargets }],
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRow
                }
            }
        });
    }

    $(document).ready(function () {
        refreshGrid();
        $(".checkStatus").click(function (e) {
            e.preventDefault();
        });

        $('body').on({
            'touchstart': function () {
                var link = $(this).parent().attr("data-url");
                if (link != undefined) window.location.href = link;
            }
        });

        $("body").on("click", ".clickableRow td:not(.special)", function () {
            var link = $(this).parent().attr("data-url");
            if (link != undefined) window.location.href = link;
        });
    });
</script>
@RenderSection("scripts", required: false)