﻿@using EduErp.Mvc.Utilities
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@{
    Html.RenderPartial("Header");
}
<div id="loader-wrapper">
    <div id="loader">
    </div>
</div>
<section>
    <section class="hbox stretch">
        <!-- .aside -->
        @{
            Html.RenderPartial("_Menubar");
        }
        <!-- /.aside -->
        <section id="content">
            <section class="vbox">
                <div class="header b-b b-light visible-xs">
                    @Html.Raw(ViewBag.Header)
                </div>

                @RenderBody()

                @*@{
                    Html.RenderPartial("Footer");
                }*@

            </section>
        </section>
    </section>
</section>
<script src="@Url.Content("~/Content/js/jquery.formatDateTime.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(window).load(function () {
        var d = new Date();
        var offset = d.getTimezoneOffset();

        $(".timeStampUtc").each(function () {
            var text = $(this).text().trim();
            var elementDate = new Date(text);

            elementDate.setMinutes(elementDate.getMinutes() - offset);
            var date = $.formatDateTime('mm/dd/yy', elementDate);
            var time = $.formatDateTime('g:ii a', elementDate);
            $(this).text(date + " at " + time);
        });
    });

</script>
@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        $(function () {
            toastr.success('@TempData["SuccessMessage"].ToString()');
        });
    </script>
}
@if (TempData["ErrMessage"] != null)
{
    <script type="text/javascript">
        $(function () {
            toastr.error('@TempData["ErrMessage"].ToString()');
        });
    </script>
}