﻿@using EduErp.Mvc.Utilities
<aside class="bg-light lt b-r b-light aside-md hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2">

                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    @if (SessionItems.IsUserAuthenticated)
                    {
                        <ul class="nav nav-main" data-ride="collapse">
                            @foreach (var item in SessionItems.MenuItems.Where(a => a.ParentId == 0))
                            {
                                var class1 = ActiveLinks.DefaultTab.Home;
                                switch (item.Name)
                                {
                                    case "Home":
                                        class1 = ActiveLinks.DefaultTab.Home;
                                        break;
                                  case "Expenses":
                                        class1 = ActiveLinks.DefaultTab.Expenses;
                                        break;
                                   case "FeeTransaction":
                                        class1 = ActiveLinks.DefaultTab.FeeTransaction;
                                        break;
                                    case "AccountDetail":
                                        class1 = ActiveLinks.DefaultTab.AccountDetail;
                                        break;
                                    case "AccountFeeDetail":
                                        class1 = ActiveLinks.DefaultTab.AccountFeeDetail;
                                        break;
                                    case "Plan" :
                                        class1 = ActiveLinks.DefaultTab.Plan;
                                        break;
                                    case "Notification":
                                        class1 = ActiveLinks.DefaultTab.Notification;
                                        break;
                                    case "Student Upload":
                                        class1 = ActiveLinks.DefaultTab.StudentUpload;
                                        break;
                                    case "Employee":
                                        class1 = ActiveLinks.DefaultTab.Employee;
                                        break;
                                    case "StudentExam Mapping":
                                        class1 = ActiveLinks.DefaultTab.StudentExamMapping;
                                        break;
                                    case "School":
                                        class1 = ActiveLinks.DefaultTab.School;
                                        break;
                                    case "Student":
                                        class1 = ActiveLinks.DefaultTab.Student;
                                        break;
                                    case "Attendance":
                                        class1 = ActiveLinks.DefaultTab.Attendance;
                                        break;
                                    case "Message":
                                        class1 = ActiveLinks.DefaultTab.Message;
                                        break;
                                    case "Configuration":
                                        class1 = ActiveLinks.DefaultTab.Configuration;
                                        break;
                                    case "Certificate":
                                        class1 = ActiveLinks.DefaultTab.Certificate;
                                        break;
                                    case "Report":
                                        class1 = ActiveLinks.DefaultTab.Report;
                                        break;
                                                                           
                                    }
                                
                                    <li class=' @Html.GetListItemClass(class1, "active")'>
                                        <a href="@Url.Action(item.ActionName, item.Controller)" class="auto">
                                            <span class="pull-right text-muted">
                                                <i class="i i-circle-sm-o text"></i>
                                                <i class="i i-circle-sm text-active"></i>
                                            </span>
                                            <i class="@item.IconClass icon"></i><span class="font-bold">@item.Name
                                            </span>
                                        </a>
                                    </li>
                            }
                        </ul>
                    }
                    <div class="line dk hidden-nav-xs"></div>
                </nav>


                <!-- / nav -->
            </div>

        </section>

        @if (SessionItems.IsUserAuthenticated)
        {
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
                <a href="@Url.Action("Logout", "Account")"  class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
                    <i class="i i-logout"></i>
                </a>
                <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                    <i class="i i-circleleft text"></i>
                    <i class="i i-circleright text-active"></i>
                </a>
            </footer>
        }
    </section>
</aside>
