﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vbox">
    <section class="scrollable padder">
        <section class="vbox">
            <section class="scrollable padder" style="height: 82vh;">
                <div class="m-b-md">
                </div>
                <section id="gridPanel" class="panel panel-default">
                    @RenderBody()
                </section>
            </section>
        </section>
    </section>
</section>