﻿ @using EduErp.Mvc.Utilities

<header class="bg-dark header header-md navbar navbar-fixed-top-xs box-shadow">
    <div class="navbar-header aside-md dk bg-light">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
        </a>
        <a href="@Url.Action("Index", "Default")" class="navbar-brand">
            <img src="~/Content/Images/Logo.png" alt="EduErp"  width="150" height="50" style="margin-left: 5px"/>
            @*<h3>EduErp</h3>*@
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
            <i class="fa fa-cog"></i>
        </a>
    </div>
  
@*     @Html.DropDownList("SessionId", new SelectList(SessionItems.SessionLists,"Id","Name"), new {@id="Session", @class="",title="Select session "})*@
    <p class="text-center col-md-6"><span  style="font-size: 20px;color: white">Welcome!  @SessionItems.SchoolName</span></p>
     
    <div class="nav navbar-nav m-t m-l" id="headerText" style="color: white;font-size:15px;">Current Session: @SessionItems.SessionName </div>

    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
        @if (SessionItems.IsUserAuthenticated)
        {
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-left bg-white">
                        <img src="@(string.IsNullOrEmpty(SessionItems.UserImagePath) ? Url.Content("~/Content/images/gravator.png") : SessionItems.UserImagePath)" id="LoginImage" onerror="this.onerror = null; this.src = '@Url.Content("~/Content/images/gravator.png")';" alt="..." />
                    </span>@SessionItems.DisplayName <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight">
                    <li>
                        <a href="@Url.Action("Index", "MyAccount")">My Account</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("ChangePassword", "Account",new{@id=SessionItems.UserId})">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")">Logout</a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</header>

<script type="text/javascript">
    $("#Session").change(function () {
        getSessionId($("#Session option:selected").val());
    })

    function getSessionId(sessionId) {
        $.ajax({
            url: '@Url.Action("SetSessionId", "Default")',
            data: { sessionId: sessionId },
             type: 'post',
             success: function (data) {
                 if (data.isErr) {
                     toastr.error(data.errMsg);
                     return;
                 }
                 //window.location.reload(true);
                }
         });
    }
</script>